<div class="app-ocr" *ngIf="state === 'success'">


  
  <mat-form-field>
    <mat-label>OCR</mat-label>
    <textarea matInput
              [(ngModel)]="ocr.content"
              ></textarea>
  </mat-form-field>



  <button class="btn-update" (click)="updateOcr()" mat-raised-button [disabled]="state=='saving'" color="primary">
    <span>Uložit</span>
</button>

</div>

<mat-spinner *ngIf="state === 'loading'"
          [strokeWidth]="5" 
          [diameter]="60"
          class="center-spinner">
</mat-spinner>