<app-editor-field [field]="field" [title]="'editor.publisher.title'" [usage]="data.usage" [help]="data.help">
  <ng-template let-item="item" #templateContent>
   
    <mat-form-field class="app-full-width">
      <span class="app-usage">{{ data.publisher.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]="item.publisher['_']" placeholder="{{ 'editor.publisher.title' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <span class="app-usage">{{ data.dateIssued.usage }}</span>
      <input matInput [(ngModel)]='item.dateIssued["_"]' placeholder="{{ 'editor.publisher.date_issued' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <span class="app-usage">{{ data.qualifier.usage }}</span>
      <mat-select [disabled]='!item.dateIssued["_"]' [(ngModel)]='item.dateIssued["$"]["qualifier"]' placeholder="{{ 'editor.publisher.date_qualifier' | translate }}">
        <mat-option value="">-</mat-option>
        <mat-option *ngFor="let qualifier of qualifiers" [value]="qualifier">
          {{ ('editor.publisher.date_qualifier_code.' + qualifier) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <span class="app-usage">{{ data.edition.usage }}</span>
      <input matInput [(ngModel)]='item.edition["_"]' placeholder="{{ 'editor.publisher.edition' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <span class="app-usage">{{ data.issuance.usage }}</span>
      <mat-select [(ngModel)]='item.issuance["_"]' placeholder="{{ 'editor.publisher.issuance' | translate }}">
        <mat-option value="">-</mat-option>
        <mat-option *ngFor="let issuance of data.issuance.options" [value]="issuance">
          {{ ('editor.publisher.issuance_code.' + issuance) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="app-half-left">
      <span class="app-usage">{{ data.place.usage }}</span>
      <input matInput [(ngModel)]='item.place["_"]' placeholder="{{ 'editor.publisher.place' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <span class="app-usage">{{ data.eventType.usage }}</span>
      <mat-select [(ngModel)]='item.attrs["eventType"]' placeholder="{{ 'editor.publisher.event_type' | translate }}">
        <mat-option value="">-</mat-option>
        <mat-option *ngFor="let type of eventTypes" [value]="type">
          {{ ('editor.publisher.event_type_code.' + type )| translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="app-third-1">
      <span class="app-usage">{{ data.dateCreated.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]="item.dateCreated['_']" placeholder="{{ 'editor.publisher.date_created' | translate }}">
    </mat-form-field>
    <mat-form-field class="app-third-2">
      <span class="app-usage">{{ data.dateOther.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]="item.dateOther['_']" placeholder="{{ 'editor.publisher.date_other' | translate }}">
    </mat-form-field>
    <mat-form-field class="app-third-3">
      <span class="app-usage">{{ data.copyrightDate.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]="item.copyrightDate['_']" placeholder="{{ 'editor.publisher.copyright_date' | translate }}">
    </mat-form-field>


    <app-editor-field *ngIf="data.frequency" [field]="item.frequencies" [title]="'editor.publisher.frequency.title'" class="app-frequencies" [nested]='true' [usage]="data.frequency.usage">
      <ng-template let-frequency="item" #templateContent>

        <mat-form-field class="app-half-left">
          <span class="app-usage">{{ data.frequency.value.usage }}</span>
          <input autocomplete="off" matInput [(ngModel)]='frequency.modsElement["_"]' placeholder="{{ 'editor.publisher.frequency.title' | translate }}">
        </mat-form-field>
        <app-autocomplete innerClass="app-half-right" [usage]="data.frequency.authority.usage" [(value)]='frequency.attrs["authority"]' [label]="'editor.publisher.frequency.authority' | translate" [options]="data.frequency.authority.options"></app-autocomplete>
    
      </ng-template>
    </app-editor-field>


  </ng-template>
</app-editor-field>

