<app-editor-field [field]="field" [title]="'editor.chronicle.title.title'">
  <ng-template let-item="item" #templateContent>
    
    <mat-form-field class="app-full-width">
      <input autocomplete="off" matInput [(ngModel)]='item.title["_"]' placeholder="{{ 'editor.chronicle.title.title' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <input autocomplete="off" matInput [(ngModel)]='item.subTitle["_"]' placeholder="{{ 'editor.chronicle.title.subtitle' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <input autocomplete="off" matInput [(ngModel)]='item.partNumber["_"]' placeholder="{{ 'editor.chronicle.title.partnumber' | translate }}">
    </mat-form-field>

  </ng-template>
</app-editor-field>