



    .app-view-list {
      overflow: auto;
      height: calc(100% - 2px);
      margin-top:2px;
      &.app-table {
        box-shadow: none;
        .app-row {
          padding: 0px 10px;
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          .app-col-open {
            // width: 40px;
            button {
              margin-left: -10px;
            }
          }
          .app-col-model{
            width: 150px;
            text-align: right;
          }
          .app-col-label {
            padding-left: 10px;
            flex: 1;
          }
          .app-col-actions {
            text-align: right;
            margin-right: 8px;
            width: 55px;
          }
          .app-drag-handle {
            cursor: webkit-grab;
            cursor: grab;
          }
          .app-icon-top {
            margin-top: 8px;
          }
          .app-icon-star {
            opacity: 0.1;
            &.app-active {
              opacity: 0.6;
            }
          }
          &.app-selected {
            background: #4469a5;
            color: #ffffff;
            border-bottom-color: #ffffff2e;
          }
        }
      }
    }