<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  @for(message of data.message; track $index;) {
  <mat-card class="app-alert" [ngClass]="data.type === 'error' ? 'app-warn' : 'app-info' " >
    <mat-icon>{{ data.type === 'error' ? 'warning' : 'info' }}</mat-icon>
    <div class="app-text">
      {{ message }}
    </div>
  </mat-card>
}
</div>
<div mat-dialog-actions cdkFocusRegionstart>
  <button mat-stroked-button mat-dialog-close="close" >{{ 'button.close' | translate }}</button>
</div>