<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{ (data.isJob ? 'dialog.newObject.titleJob' : 'dialog.newObject.title') | translate }}</h1>
<div mat-dialog-content class="app-pt-1">
  @if (state=='saving') {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (data.isJob) {
    <mat-form-field class="app-w-100" [appearance]="settings.appearance">
      <mat-label>{{ 'desc.profileName' | translate }}</mat-label>
      <mat-select [placeholder]="'desc.profileName' | translate" [(ngModel)]="data.profile"
        (valueChange)="changeProfile($event)">
        @for(profile of data.profiles; track $index;) {
          <mat-option [value]="profile">{{ profile.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  <mat-form-field class="app-w-100" [appearance]="settings.appearance">
    <mat-label>{{ 'desc.model' | translate }}</mat-label>
    <mat-select [placeholder]="'desc.model' | translate" [(ngModel)]="data.model">
      @for(model of filteredModels; track $index;) {
        <mat-option [value]="model">{{ 'model.' + model | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (data.parentPid && !!!data.isJob) {
    <fieldset class="app-mb-4">
      <legend>{{ 'desc.objectPosition' | translate }}</legend>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="objectPosition"  color="primary">
        <mat-radio-button value="end">{{ 'desc.objectPositionEnd' | translate }}</mat-radio-button>
        <mat-radio-button value="after">{{ 'desc.objectPositionAfter' | translate }}</mat-radio-button>
      </mat-radio-group>
    </fieldset>
  }

  @if (data.customPid) {
    <mat-form-field class="app-w-100" [appearance]="settings.appearance">
      <mat-label>{{ 'desc.pid' | translate }}</mat-label>
      <input type="text" autocomplete="off" matInput [placeholder]="'desc.pid' | translate" [(ngModel)]="data.pid">
    </mat-form-field>
  }

  @if (data.customPid && !validate()) {
    <mat-card appearance="outlined" class="app-alert app-warn app-mb-4">
      <mat-card-content>
        <mat-icon>warning</mat-icon>{{ 'dialog.newObject.alert.invalidPid' | translate }}
      </mat-card-content>
    </mat-card>
  }

  <div>
    @if (!data.isJob) {
      <mat-checkbox color="primary" [(ngModel)]="data.customPid" class="app-mr-4">{{ 'desc.ownPid' | translate }}</mat-checkbox>
    }
    @if (data.parentPid && data.model === 'model:ndkperiodicalissue') {
      <mat-checkbox color="primary" [(ngModel)]="isMultiple" (click)="markRequired()">{{ 'desc.more' | translate }}</mat-checkbox>
    }
  </div>

  @if (data.parentPid && data.model === 'model:ndkperiodicalissue') {
    <div [class.app-disabled]="!isMultiple" class="app-mt-4">
      <div class="app-fxLayout app-row app-gap-4">
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <mat-label>{{ 'desc.frequency' | translate }}</mat-label>
          <mat-select [formControl]="frequency" (valueChange)="frecuencyChanged($event)" required>
            @for(fr of frequences; track $index;) {
              <mat-option [value]="fr">{{'common.frequency.' + fr | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <mat-label>{{ 'new_object.totalNumbers' | translate }}</mat-label>
          <input type="number" autocomplete="off" matInput [placeholder]="'new_object.totalNumbers' | translate" [formControl]="seriesTotalNumbers">
        </mat-form-field>
      </div>
      <div class="app-mb-4">
        <mat-checkbox color="primary" [(ngModel)]="withPartNumber" (change)="changeWithPartNumber()" >{{ 'new_object.withPartNumber' | translate }}</mat-checkbox>
      </div>
      <div>
        <mat-form-field class="app-w-100" [appearance]="settings.appearance">
          <mat-label>{{ 'desc.numberFrom' | translate }}</mat-label>
          <input type="number" autocomplete="off" matInput [placeholder]="'desc.numberFrom' | translate" required [formControl]="seriesPartNumberFrom">
        </mat-form-field>
      </div>
      <div class="app-mb-4">
        <mat-checkbox color="primary" [(ngModel)]="withDateIssued" >{{ 'new_object.withDateIssued' | translate }}</mat-checkbox>
      </div>
      <div class="app-fxLayout app-row app-gap-4" [class.app-disabled]="!withDateIssued">
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <mat-label>{{ 'desc.dateFormat' | translate }}</mat-label>
          <mat-select (valueChange)="changeFormat($event)" [(value)]="dateFormat" [disabled]="!withDateIssued || frequency.value === 'other' || frequency.value === 'd' || frequency.value === 'w' || frequency.value === 'hm'">
            @for(df of dateFormats; track $index;) {
              <mat-option [value]="df">{{df}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <input matInput [matDatepicker]="dp1" [placeholder]="'desc.dateFrom' | translate" [max]="maxDate" [formControl]="seriesDateFrom">
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1 (monthSelected)="setMonthAndYear($event, dp1, seriesDateFrom)" (yearSelected)="setYear($event, dp1, seriesDateFrom)" startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <input matInput [matDatepicker]="dp2" [placeholder]="'desc.dateTo' | translate" [max]="maxDate" [formControl]="seriesDateTo">
          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
          <mat-datepicker #dp2 (monthSelected)="setMonthAndYear($event, dp2, seriesDateTo)" (yearSelected)="setYear($event, dp2, seriesDateTo)" startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <mat-label>{{ 'desc.releasedIn' | translate }}</mat-label>
          <mat-select [(value)]="seriesDaysIncluded" multiple [disabled]="frequency.value !== 'd'">
            @for(weekDay of weekDays; track $index;) {
              <mat-option [value]="weekDay">{{ 'common.day.' + weekDay | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-fxFlex" [appearance]="settings.appearance">
          <mat-label>{{ 'desc.releasedInRange' | translate }}</mat-label>
          <mat-select [(value)]="releasedInRange" multiple [disabled]="frequency.value !=='other'">
            @for(weekDay of weekDays; track $index;) {
              <mat-option [value]="weekDay">{{ 'common.day.' + weekDay | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="app-mb-4">
        <mat-checkbox color="primary" [(ngModel)]="withSignatura" (change)="changeWithPartNumber()" >{{ 'new_object.withSignatura' | translate }}</mat-checkbox>
      </div>
      <div>
        <mat-form-field class="app-w-100" [appearance]="settings.appearance">
          <mat-label>{{ 'catalog.field.signature' | translate }}</mat-label>
          <input type="text" autocomplete="off" matInput [placeholder]="'catalog.field.signature' | translate" [disabled]="!withSignatura" [(ngModel)]="seriesSignatura" >
        </mat-form-field>
      </div>
    </div>
  }

  @if (!data.isJob) {
    <div class="app-desc" [ngClass]="data.parentPid && data.model === 'model:ndkperiodicalissue' ? null : 'app-mt-4'">{{ 'dialog.newObject.message' | translate }}</div>
  }

  @if (state=='error') {
    <mat-card appearance="outlined" class="app-alert app-warn app-mt-4">
      <mat-card-content>
        <mat-icon>warning</mat-icon>{{ 'dialog.newObject.alert.failure' | translate }}
      </mat-card-content>
    </mat-card>
  }
</div>

<div mat-dialog-actions cdkFocusRegionstart>
  <button matButton="filled" (click)="onLoadFromCatalog()">{{ 'button.loadMetadataFromCatalog' | translate }}</button>
  <button matButton="filled" (click)="onCreate()" [disabled]="!validate()">{{ 'button.create' | translate }}</button>
  <button mat-stroked-button color="default" [disabled]="state === 'saving'" mat-dialog-close="close">{{ 'button.cancel' | translate }}</button>
</div>