@if (item.available[field]) {
  <mat-form-field [class]="item.clazz[field]" appearance="outline">
    <mat-label>{{ 'mods.' + item.labelKey[field] | translate }}</mat-label>
    <app-usage [item]="item" [field]="field"></app-usage>
    <textarea  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" #ta
      matInput
      autocomplete="off" matInput [required]="item.isMandatory[field]"
      [formControl]="item.controls[field]"
    [placeholder]="'mods.' + item.labelKey[field] | translate"></textarea>
  </mat-form-field>
}
