.app-children-editor-content {
  outline: none;
  height: auto;
  overflow: auto;
}


.app-editor-content-wrapper {
  display: flex;
  flex-direction: column;
  .app-editor-toolbar {
    height: auto;
    min-height: auto;
  }
  .app-editor-content {
    flex: 1;
  }

}


    .app-view-list {
      // overflow: auto;
      // height: calc(100% - 2px);
      overflow: hidden;
      margin-top:2px;
      &.app-table {
        box-shadow: none;
        .app-row {
          padding: 0px 10px;
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          .app-col-open {
            // width: 40px;
            button {
              margin-left: -10px;
            }
          }
          .app-col-model{
            width: 150px;
            text-align: right;
          }
          .app-col-label {
            padding-left: 10px;
            flex: 1;
          }
          .app-col-actions {
            text-align: right;
            margin-right: 8px;
            width: 55px;
          }
          .app-drag-handle {
            cursor: webkit-grab;
            cursor: grab;
          }
          .app-icon-top {
            margin-top: 8px;
          }
          &.app-selected {
            background: #4469a5;
            color: #ffffff;
            border-bottom-color: #ffffff2e;
          }
        }
      }
    }


    .app-view-grid {
      width: 100%;
      overflow: hidden;
      // overflow: auto;
      // height: 100%;
      .app-grid-item-wrapper {
        padding: 3px;
        float: left;
        .app-grid-item {
          padding: 0px 6px;
          word-break: break-all;
          overflow: hidden;
          line-height: 30px;
          font-size: 15px;
          color: #444;
          height: 30px;
          background: #fff;
          border: 1px solid #0000002e;
          cursor: pointer;
          &:hover {
            background: #6794dc21;
            color: #000;
          }
        }
        &.app-selected {
          .app-grid-item {
            background: #456aa5;
            color: #fff;
          }
        }
      }
    }


    .app-view-icons {
      width: 100%;
      // height: 100%;
      overflow: hidden;
      padding:2px;
      // background: #fff;
      // overflow: auto;
      .app-item {
        float: left;
        .app-item-content {    
          padding: 3px;
          margin: 1px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          position: relative;
          .app-item-thumb {
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
            // width: 95px;
            height: 100%;
            background-position-y: top;
            background-position-x: center;
            margin-left: auto;
            margin-right: auto;
          }
          .app-item-label {
            position: absolute;
            bottom: 2px;
            left: 2px;
            background: #ffffffc2;
            color: #111;
            font-size: 13px;
            text-align: center;
            padding: 3px 3px;
          }
        }
        opacity: 0.75;
        &.app-selected {
          opacity: 1;
          .app-item-content {    
            background: #456aa5;
            .app-item-label {
              background: #456aa5c2;
              color: #fff;
            }
          }
        }
        &:hover {
          opacity: 1;
          .app-item-content {    
            background: #333;
          }        
        }
      }

      // &.app-dragging {
      //   .app-item:hover {
      //     opacity: 0.5 !important;
      //   }
      // }

      // &.app-multiple-selection {
      //   .app-item {
      //     opacity: 0.5;
      //     &.app-selected {
      //       opacity: 1;
      //     }
      //   }
      // }

    }


