<div class="app-fxLayout app-column app-fill">
  <h1 mat-dialog-title>{{ 'dialog.parent.title' | translate }}</h1>
  <div mat-dialog-content class="app-maxh-100">
    @if (state=='loading') {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <as-split direction="horizontal" [disabled]="false" class="app-border-wrapper">
      @if (data.isRepo) {
        <as-split-area [size]="30" >
          <ng-container [ngTemplateOutlet]="origTmpl"></ng-container>
        </as-split-area>
      }

      <as-split-area [size]="50" >
        <as-split style="height: calc(100% - 5px);" unit="percent" [gutterSize]="10" direction="vertical" #split="asSplit">
          <as-split-area #area1="asSplitArea" [size]="50">
            <ng-container [ngTemplateOutlet]="searchTmpl"></ng-container>
          </as-split-area>
          <as-split-area #area2="asSplitArea" [size]="50">
            <ng-container [ngTemplateOutlet]="stromTmpl"></ng-container>
          </as-split-area>
        </as-split>
      </as-split-area>

      @if (data.isRepo) {
        <as-split-area [size]="50">
          <ng-container [ngTemplateOutlet]="imageTmpl"></ng-container>
        </as-split-area>
      }
    </as-split>
  </div>

  @if (getNumOfSelected() !== 0 && state!=='loading' && isAllowed()) {
    <div class="app-mt-4">
      {{ (data.isRepo ? 'dialog.parent.alert.infoRepo' : 'dialog.parent.alert.infoImport') | translate }}:&#160;<strong>{{ selectedDestItem.label }}&#160;({{ 'model.' + selectedDestItem.model | translate}})</strong>
    </div>
  }
  <div mat-dialog-actions cdkFocusRegionstart>
    @if (data.parent) {
      <button matButton="filled" (click)="onDeleteParent()">{{ 'button.unlink' | translate }}</button>
    }
    <button matButton="filled" (click)="onSave()" [disabled]="state ==='loading' || !isAllowed()">{{ (data.isRepo ? 'button.move' : 'button.save') | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="hasChanges">{{ 'button.close' | translate }}</button>
  </div>
</div>

<ng-template #origTmpl>
  <div class="app-fxLayout app-column app-fill">
    <div class="app-fxLayout app-row app-center-v app-toolbar">
      <div class="app-toolbar-label app-text-cutter app-ml-2 app-mr-2">
        <span class="app-text">{{ 'desc.theCurrentParentObject' | translate }}: <strong [matTooltip]="data.item?.label">{{ data.item?.label }}&#160;({{ 'model.' + data.item?.model | translate}})</strong></span>
      </div>
    </div>
    <div class="app-oa-y">
      <app-user-table (selectItem)="selectOrig($event)" [colsSettingsName]="data.columnsSettings" [items]="orig" ></app-user-table>

    </div>
  </div>
</ng-template>

<ng-template #searchTmpl>
  <div class="app-fxLayout app-column app-fill">
    <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar app-mb-2 app-pl-0 app-pr-0">
      <button mat-button value="phrase"  [class.app-active]="searchMode === 'phrase'" (click)="searchMode = 'phrase'">{{ 'button.query' | translate }}</button>
      <button mat-button value="advanced" [class.app-active]="searchMode === 'advanced'" (click)="searchMode = 'advanced'">{{ 'button.advancedSearch' | translate }}</button>
    </div>

    <div class="app-fxLayout app-row app-gap-2 app-formbar app-mb-n3 app-pl-2 app-pr-2">
      <button mat-stroked-button (click)="reload()">{{ 'button.search' | translate }}</button>
      @if (searchMode === 'phrase') {
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.model' | translate }}</mat-label>
          <mat-select #modelSelect [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="settings.parentModel">
            <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
            @for(model of models; track $index;) {
              <mat-option [value]="model">{{ "model." + model | translate }}</mat-option>
            }
          </mat-select>
          @if (settings.parentModel !== this.config.defaultModel && this.searchedModel === settings.parentModel) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="settings.parentModel=this.config.defaultModel;reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.search' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.search' | translate" (keyup.enter)="reload()" [(ngModel)]="query">
          @if (query === searchedQuery && query !== '') {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="query='';searchedQuery='';reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      }

      @if (searchMode === 'advanced') {
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.model' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="settings.parentModel">
            <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
            @for(model of models; track $index;) {
              <mat-option [value]="model">{{ "model." + model | translate }}</mat-option>
            }
          </mat-select>
          @if (settings.parentModel !== this.config.defaultModel && this.searchedModel === settings.parentModel) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="settings.parentModel=this.config.defaultModel;reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.name' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.name' | translate" (keyup.enter)="reload()" [(ngModel)]="queryLabel">
          @if (queryLabel && queryLabel === searchedQueryLabel) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="queryLabel='';searchedQueryLabel='';reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.identifier' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.identifier' | translate" (keyup.enter)="reload()" [(ngModel)]="queryIdentifier">
          @if (queryIdentifier && queryIdentifier === searchedIdentifier) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="queryIdentifier='';searchedIdentifier='';reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.owner' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.owner' | translate" name="owner" [(value)]="owner">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            @for(user of users; track $index;) {
              <mat-option [value]="user.name">{{ user.name }}</mat-option>
            }
          </mat-select>
          @if (owner && owner === searchedOwner && owner !== '-') {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="owner='';searchedOwner='';reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="app-fxFlex">
          <mat-label>{{ 'desc.processor' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.processor' | translate" name="processor" [(value)]="processor">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            @for(user of users; track $index;) {
              <mat-option [value]="user.name">{{ user.name }}</mat-option>
            }
          </mat-select>
          @if (processor && processor === searchedProcessor && processor !== '-') {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="processor='';searchedProcessor='';reload()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      }
    </div>

    <div class="app-oa-y app-border-top-wrapper">
      <app-user-table (selectItem)="selectDest($event)" [colsSettingsName]="'columnsParentRight'" [items]="items" ></app-user-table>
    </div>
  </div>
</ng-template>

<ng-template #stromTmpl>
  @if (state !== 'saving' && selectedDestItem) {
    <div class="app-tree">
      <app-user-tree-table #treeTable [inSearch]="false" [treePath]="[selectedRootTreeItem.pid]" [rootTreeItem]="selectedRootTreeItem"
                  (onSelectTreeItem)="onSelectTreeItem($event)"
      ></app-user-tree-table>
    </div>
  }
</ng-template>

<ng-template #imageTmpl>
  @if (lastSelectedItemPid) {
    <app-viewer [imageInfo]="{pid: lastSelectedItemPid, dsid: 'FULL'}" [hideToolbar]="true" [idViewer]="'app-viewer-mark'"></app-viewer>
  }
</ng-template>
