<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutGap="16px">
    <h1 mat-dialog-title>{{ 'dialog.parent.title' | translate }}</h1>
  </div>

  <div mat-dialog-content fxFlex class="app-maxh-100">
    <mat-progress-bar *ngIf="state=='loading'" mode="indeterminate"></mat-progress-bar>
    <as-split direction="horizontal" [disabled]="false">
      <as-split-area *ngIf="data.isRepo" [size]="30" [order]="0">
        <ng-container [ngTemplateOutlet]="origTmpl"></ng-container>
      </as-split-area>

      <as-split-area [size]="50" [order]="1">
        <as-split style="height: calc(100% - 5px);" unit="percent" [gutterSize]="10" direction="vertical" #split="asSplit">
          <as-split-area #area1="asSplitArea" [size]="50">
            <ng-container [ngTemplateOutlet]="searchTmpl"></ng-container>
          </as-split-area>
          <as-split-area #area2="asSplitArea" [size]="50">
            <ng-container [ngTemplateOutlet]="stromTmpl"></ng-container>
          </as-split-area>
        </as-split>
      </as-split-area>

      <as-split-area *ngIf="data.isRepo" [size]="50" [order]="2">
        <ng-container [ngTemplateOutlet]="imageTmpl"></ng-container>
      </as-split-area>
    </as-split>
  </div>
  <mat-divider *ngIf="getNumOfSelected() !== 0 && state!=='loading' && isAllowed()"></mat-divider>
  <div *ngIf="getNumOfSelected() !== 0 && state!=='loading' && isAllowed()" class="app-mt-4">
    {{ (data.isRepo ? 'dialog.parent.alert.infoRepo' : 'dialog.parent.alert.infoImport') | translate }}:&#160;<strong>{{ selectedDestItem.label }}</strong>
  </div>
  <div mat-dialog-actions cdk-focus-start>
    <button mat-flat-button color="primary" *ngIf="data.parent" (click)="onDeleteParent()">{{ 'button.unlink' | translate }}</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="state ==='loading' || !isAllowed()">
      {{ (data.isRepo ? 'button.move' : 'button.save') | translate }}
    </button>
    <button mat-flat-button [mat-dialog-close]="hasChanges">{{ 'button.close' | translate }}</button>
  </div>
</div>

<ng-template #origTmpl>
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
      <div class="app-toolbar-label app-text-cutter app-mr-2">
				<span class="app-text">{{ 'desc.theCurrentParentObject' | translate }}: <strong [matTooltip]="data.item?.label">{{ data.item?.label }}</strong></span>
			</div>
    </div>
    <div class="app-oa-y">
      <table mat-table [dataSource]="origTable" class="app-striped app-hover app-resize" #table >
        <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'pid')" [style.width]="getColumnWidthLeftTable('pid')">{{'desc.pid' | translate}} </th>
          <td mat-cell *matCellDef="let element">{{ element.pid }}</td>
        </ng-container>
  
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'label')" [style.width]="getColumnWidthLeftTable('label')">{{ 'desc.name' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ data.shortLabels ? element.shortLabel : element.label }}</td>
        </ng-container>
  
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'filename')" [style.width]="getColumnWidthLeftTable('filename')">{{ 'desc.fileName' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.filename }}</td>
        </ng-container>
  
        <ng-container matColumnDef="pageType">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'pageType')" [style.width]="getColumnWidthLeftTable('pageType')">{{ 'desc.pageType' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ 'pageType.' + element.pageType | translate }}</td>
        </ng-container>
  
        <ng-container matColumnDef="pageIndex">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'pageIndex')" [style.width]="getColumnWidthLeftTable('pageIndex')">{{ 'desc.pageIndex' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.pageIndex }}</td>
        </ng-container>
  
        <ng-container matColumnDef="pageNumber">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'pageNumber')" [style.width]="getColumnWidthLeftTable('pageNumber')">{{ 'desc.pageNumber' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.pageNumber }}</td>
        </ng-container>
  
        <ng-container matColumnDef="pagePosition">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'pagePosition')" [style.width]="getColumnWidthLeftTable('pagePosition')">{{ 'desc.pagePosition' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.pagePosition }}</td>
        </ng-container>
  
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'model')" [style.width]="getColumnWidthLeftTable('model')">{{ 'desc.model' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ 'model.' + element.model | translate }}</td>
        </ng-container>
  
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'owner')" [style.width]="getColumnWidthLeftTable('owner')">{{ 'desc.owner' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
        </ng-container>
  
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'created')" [style.width]="getColumnWidthLeftTable('created')">{{ 'desc.created' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.created | date : 'dd.MM.yyyy' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'modified')" [style.width]="getColumnWidthLeftTable('modified')">{{ 'desc.modified' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.modified | date : 'dd.MM.yyyy' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesLeftTable($event, 'status')" [style.width]="getColumnWidthLeftTable('status')">{{ 'desc.status' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="data.displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; let idx = index; columns: data.displayedColumns" [class.app-selected]="row.selected" (click)="select(orig, row, idx, $event, 'dest')"></tr>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #searchTmpl> 
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-action">
      <button mat-button value="phrase"  [class.app-active]="searchMode === 'phrase'" (click)="searchMode = 'phrase'">{{ 'button.query' | translate }}</button>
      <button mat-button value="advanced" [class.app-active]="searchMode === 'advanced'" (click)="searchMode = 'advanced'">{{ 'button.advancedSearch' | translate }}</button>
    </div>

    <div class="app-formbar" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start baseline">
      <button mat-flat-button color="primary" (click)="reload()">{{ 'button.search' | translate }}</button>
      <ng-container *ngIf="searchMode === 'phrase'">
        <mat-form-field>
          <mat-select #modelSelect [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="model">
            <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
            <mat-option *ngFor="let model of models" [value]="model">{{ "model." + model | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'desc.search' | translate" (keyup.enter)="reload()" [(ngModel)]="query">
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="searchMode === 'advanced'">
        <mat-form-field>
          <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="model">
            <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
            <mat-option *ngFor="let model of models" [value]="model">{{ "model." + model | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'desc.name' | translate" (keyup.enter)="reload()" [(ngModel)]="queryLabel">
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'desc.identifier' | translate" (keyup.enter)="reload()" [(ngModel)]="queryIdentifier">
        </mat-form-field>
        <mat-form-field class="app-owner">
          <mat-select [placeholder]="'desc.owner' | translate" name="owner" [(value)]="owner">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            <mat-option *ngFor="let user of users" [value]="user.name">{{ user.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-processor">
          <mat-select [placeholder]="'desc.processor' | translate" name="processor" [(value)]="processor">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            <mat-option *ngFor="let user of users" [value]="user.name">{{ user.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>

    <div fxFlex class="app-oa-y">
      <table mat-table #searchTable [dataSource]="items" matSort class="app-striped app-hover app-resize" (matSortChange)="sortTable($event)">
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number" [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'label')" [style.width]="getColumnWidthRightTable('label')">{{ 'desc.name' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.label }}</td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'model')" [style.width]="getColumnWidthRightTable('model')">{{ 'desc.model' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ "model." + element.model | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'pid')" [style.width]="getColumnWidthRightTable('pid')">{{ 'desc.pid' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.pid }}</td>
        </ng-container>

        <ng-container matColumnDef="processor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'processor')" [style.width]="getColumnWidthRightTable('processor')">{{ 'desc.processor' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.processor }}</td>
        </ng-container>

        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'organization')" [style.width]="getColumnWidthRightTable('organization')">{{ 'desc.organization' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ 'organization.' + element.organization | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'status')" [style.width]="getColumnWidthRightTable('status')">{{ 'desc.status' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ 'editor.atm.statuses.' + element.status | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'created')" [style.width]="getColumnWidthRightTable('created')">{{ 'desc.created' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.created | appDatetime }}</td>
        </ng-container>

        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'modified')" [style.width]="getColumnWidthRightTable('modified')">{{ 'desc.modified' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.modified | appDatetime }}</td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'owner')" [style.width]="getColumnWidthRightTable('owner')">{{ 'desc.owner' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
        </ng-container>

        <ng-container matColumnDef="export">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'export')" [style.width]="getColumnWidthRightTable('export')">{{ 'desc.export' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.writeExports() }}</td>
        </ng-container>

        <ng-container matColumnDef="isLocked">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesRightTable($event, 'isLocked')" [style.width]="getColumnWidthRightTable('isLocked')"></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [matTooltip]="element.isLocked ? ('desc.locked' | translate) : ('desc.unlocked' | translate)">{{ element.isLocked ? 'lock' : 'lock_open' }}</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectItem(row)" [id]="row.pid" class="app-cursor-pointer" [class.app-selected]="row.pid == selectedInSearch?.pid"></tr>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #stromTmpl>
  <div class="app-tree" *ngIf="state !== 'saving' && selectedDestItem">
    <app-tree *ngIf="tree" [tree]="tree" (onOpen)="openFromTree($event)" (onSelect)="selectFromTree($event)" [expanded]="data.selectedTree !== undefined" [expandedPath]="expandedPath"></app-tree>
  </div>
</ng-template>

<ng-template #imageTmpl>
  <app-viewer *ngIf="lastSelectedItemPid" [pid]="lastSelectedItemPid" [hideToolbar]="true" [idViewer]="'app-viewer-mark'"></app-viewer>
</ng-template>
