@import './src/variables.scss';

.mat-dialog-title {
  margin-bottom: 8px;
}

.app-search-results {
  width: calc(80vw - 50px);
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px) !important;
  .actions {
    height: 60px;
    overflow: hidden;
    .model-filter {
      float: right;
      width: 250px;
    }
    .query-field-filter {
      float: right;
      margin-right: 10px;
      width: 200px;
    }
    .document-search {
      margin-left: 20px;
      width: calc(100% - 620px);
    }
  }
  .app-table {
    height: calc(100% - 70px);
    box-shadow: none;
    border: 1px solid #cecece;
    .app-row {
      font-size: 14px;
      &.app-active {
        background: $primary-color;
        color: #fff;
      }
      &.app-data {
        cursor: pointer;
      }
      &.app-path {
        &:hover {
          background: transparent;
        }
        .app-path-segment {
          cursor: pointer;
        }
        mat-icon {
          margin: 11px;
          color: #cccccc;
        }
      }
    }
  }
  .search-result-list {
    height: calc(100% - 60px);
    .app-header {
      flex: 1;
    }
    .result-label {
      flex: 1;
    }
    .result-model {
      width: 200px;
    }
    .result-owner {
      width: 160px;
    }
    .result-created {
      width: 150px;
    }
    .result-modified {
      width: 150px;
    }
    .result-export {
      width: 70px;
    }
    .scrollable {
      height: calc(100% - 54px);
      overflow: auto;
    }

  }
}
