
<mat-form-field *ngIf="item.available(field)" [class]="item.class(field)" [class.app-invalid]="item.invalid(field)">
  <span class="app-usage">{{ item.usage(field) }}</span>
  <input matInput [required]="item.isMandatory(field)" [formControl]="item.getControl(field)" [(ngModel)]='value' (ngModelChange)="valueChange.emit(value)" [placeholder]="item.label(field)" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option[0]">
      {{option[1]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>