
<div class="app-editor-content-wrapper">
    <div class="app-editor-toolbar" *ngIf="!notSaved">
        <div class="app-label">{{ 'metaService.bdm.editor_title' | translate }}</div>
        <div class="app-actions-right">
            <button class="app-action" (click)="onLoadFromCatalog()" [matTooltip]="'metaService.metadata.catalog' | translate" mat-icon-button>
                <mat-icon>local_library</mat-icon>
            </button>
            <button class="app-action" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>

<div class="app-editor-content" *ngIf="metaService.metadata">
  <app-editor-genre *ngIf="available('genre')" [field]="metaService.metadata.getField('genre')"></app-editor-genre>
  <app-editor-language *ngIf="available('language')" [field]="metaService.metadata.getField('language')"></app-editor-language>
  <app-editor-identifier *ngIf="available('identifier')" [field]="metaService.metadata.getField('identifier')"></app-editor-identifier>
  <app-editor-physical *ngIf="available('physicalDescription')" [field]="metaService.metadata.getField('physicalDescription')"></app-editor-physical>
  <app-editor-part *ngIf="available('part')" [field]="metaService.metadata.getField('part')"></app-editor-part>
  <app-editor-title *ngIf="available('titleInfo')" [field]="metaService.metadata.getField('titleInfo')"></app-editor-title>
  <app-editor-author *ngIf="available('name')" [field]="metaService.metadata.getField('name')"></app-editor-author>
  <app-editor-abstract *ngIf="available('abstract')" [field]="metaService.metadata.getField('abstract')"></app-editor-abstract>
  <app-editor-subject *ngIf="available('subject')" [field]="metaService.metadata.getField('subject')"></app-editor-subject>
  <app-editor-note *ngIf="available('note')" [field]="metaService.metadata.getField('note')"></app-editor-note>
  <app-editor-relatedItem *ngIf="available('relatedItem')" [field]="metaService.metadata.getField('relatedItem')"></app-editor-relatedItem>

  <!--
  <app-editor-publisher *ngIf="available('originInfo')" [field]="metaService.metadata.getField('originInfo')"></app-editor-publisher>
  <app-editor-location *ngIf="available('location')" [field]="metaService.metadata.getField('location')"></app-editor-location>
  <app-editor-classification *ngIf="available('classification')" [field]="metaService.metadata.getField('classification')"></app-editor-classification>
  <app-editor-resource *ngIf="available('typeOfResource')" [field]="metaService.metadata.getField('typeOfResource')"></app-editor-resource>
  <app-editor-tableOfContents *ngIf="available('tableOfContents')" [field]="metaService.metadata.getField('tableOfContents')"></app-editor-tableOfContents>
  <app-editor-recordInfo *ngIf="available('recordInfo')" [field]="metaService.metadata.getField('recordInfo')"></app-editor-recordInfo>
  -->

</div>

<mat-spinner *ngIf="state === 'loading'"
          [strokeWidth]="5"
          [diameter]="60"
          class="center-spinner">
</mat-spinner>



</div>
