<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
    <div fxFlex>
      <div class="app-toolbar-label">
        <span class="app-text">{{ 'editor.metadata.editor_title' | translate }}</span>
      </div>
    </div>
    <div>
      <ng-container *ngIf="!notSaved">
        <button mat-icon-button (click)="onLoadFromCatalog()" [matTooltip]="'button.metadataCatalog' | translate"
                [matTooltipPosition]="toolbarTooltipPosition">
          <mat-icon>local_library</mat-icon>
        </button>
        <button mat-icon-button (click)="onSave()" [matTooltip]="'button.save' | translate"
                [matTooltipPosition]="toolbarTooltipPosition">
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>
  <div fxFlex class="app-oa-y">
    <mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
    <div class="app-editor-content" *ngIf="metadata">
      <app-editor-genre *ngIf="available('genre')" [field]="metadata.getField('genre')"></app-editor-genre>
      <app-editor-language *ngIf="available('language')" [field]="metadata.getField('language')"></app-editor-language>
      <app-editor-identifier *ngIf="available('identifier')"
                             [field]="metadata.getField('identifier')"></app-editor-identifier>
      <app-editor-physical *ngIf="available('physicalDescription')"
                           [field]="metadata.getField('physicalDescription')"></app-editor-physical>
      <app-editor-part *ngIf="available('part')" [field]="metadata.getField('part')"></app-editor-part>
      <app-editor-title *ngIf="available('titleInfo')" [field]="metadata.getField('titleInfo')"></app-editor-title>
      <app-editor-author *ngIf="available('name')" [field]="metadata.getField('name')"></app-editor-author>
      <app-editor-abstract *ngIf="available('abstract')" [field]="metadata.getField('abstract')"></app-editor-abstract>
      <app-editor-subject *ngIf="available('subject')" [field]="metadata.getField('subject')"></app-editor-subject>
      <app-editor-note *ngIf="available('note')" [field]="metadata.getField('note')"></app-editor-note>
      <app-editor-classification *ngIf="available('classification')" [field]="metadata.getField('classification')"></app-editor-classification>
      <app-editor-location *ngIf="available('location')" [field]="metadata.getField('location')"></app-editor-location>
      <app-editor-relatedItem *ngIf="available('relatedItem')" [field]="metadata.getField('relatedItem')"></app-editor-relatedItem>
      <app-editor-recordInfo *ngIf="available('recordInfo')" [field]="metadata.getField('recordInfo')"></app-editor-recordInfo>
    </div>
  </div>
</div>
