


<div *ngIf="document" style="width: 50%; display: block; float: left; height: 100%; overflow: auto;">

    <app-editor-title [field]="document.titles"></app-editor-title>
    <app-editor-author [field]="document.authors"></app-editor-author>
    <app-editor-language [field]="document.languages"></app-editor-language>

</div>

<app-xml-view *ngIf="document" [xml]="document.toMods()" style="width: 50%; float: left; display: block; height: 100%; overflow: scroll; background:  #272b33;">

</app-xml-view>