.app-left-panel {
    width: 50%; 
    // border-right: 2px solid #ddd; 
    display: block; 
    float: left; height: 100%; 
    overflow: hidden;
}

.app-right-panel {
    width: 50%; 
    // border-right: 2px solid #ddd; 
    display: block; 
    float: left; height: 100%; 
    overflow: hidden;
}