<div class="app-fxLayout app-column app-fill">
  <div class="app-fxLayout app-row app-center-v app-toolbar app-view-atm">
    <div class="app-fxFlex">
      <app-editor-switcher class="app-fxLayout app-row app-center-v" (onChangeEditorType)="changeEditorType($event)" [panelType]="panelType()"></app-editor-switcher>
    </div>
		<div>
      <button mat-icon-button (click)="onRevert()" [matTooltip]="'common.revert' | translate"  [disabled]="!atm || !atm.hasChanged()">
        <mat-icon>replay</mat-icon>
      </button>
      <button mat-icon-button (click)="onSave()" [matTooltip]="'common.save' | translate"  [disabled]="!atm || !hasChanged()">
        <mat-icon>save</mat-icon>
      </button>
		</div>
  </div>
	<div class="app-fxFlex app-oa-y">
		<mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
		<div class="app-editor-container" *ngIf="state !== 'loading' && atm">
      <div class="app-form-wrapper app-top-level">
        <div class="app-gap-fixer"></div>
        <div class="app-form">
          <div class="app-form-content">
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.pid' | translate }}</mat-label>
              <input matInput disabled [value]="atm.pid">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.model' | translate }}</mat-label>
              <input matInput disabled [value]="'model.' + atm.model | translate">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.owner' | translate }}</mat-label>
              <input matInput disabled [value]="atm.owner">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.created' | translate }}</mat-label>
              <input matInput disabled [value]="atm.created | date : 'dd.MM.yyyy hh:mm:ss'">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.modified' | translate }}</mat-label>
              <input matInput disabled [value]="atm.modified | date : 'dd.MM.yyyy hh:mm:ss'">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.filename' | translate }}</mat-label>
              <input matInput disabled [value]="atm.filename || '-'">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.export' | translate }}</mat-label>
              <input matInput disabled [value]=" atm.exportResult || '-'">
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.device' | translate }}</mat-label>
              <mat-select [placeholder]="'editor.atm.device' | translate" name="device" [(value)]="atm.device">
                <mat-option [value]="'null'">{{ 'editor.atm.no_device' | translate }}</mat-option>
                @for(device of devices; track $index;) {
                <mat-option [value]="device.id">{{ device.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.organization' | translate }}</mat-label>
              <mat-select [disabled]="!auth.isSuperAdmin()" [placeholder]="'editor.atm.organization' | translate" name="organization" [(value)]="atm.organization">
                @for(organization of organizations; track $index;) {
                <mat-option [value]="organization">{{ 'organization.' + organization | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>  
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.userProcessor' | translate }}</mat-label>
              <mat-select [disabled]="!auth.isSuperAdmin() && !auth.isAdmin()" [placeholder]="'editor.atm.userProcessor' | translate" name="userProcessor" [(value)]="atm.userProcessor">
                @for(user of users; track $index;) {
                  <mat-option [value]="user.name">{{ user.name }}</mat-option>
                }
                <mat-option value="all">Všichni</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.status' | translate }}</mat-label>
              <mat-select [placeholder]="'editor.atm.status' | translate" name="status" [(value)]="atm.status">
                @for(status of statuses; track $index;) {
                <mat-option [value]="status">{{ 'editor.atm.statuses.' + status | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <div *ngIf="atm.isLocked" class="app-p-2 app-form">
              <strong>{{ 'search.isLocked' | translate }}</strong>
              <div class="app-fxLayout app-row app-gap-2 app-mt-1 app-mb-n2">
                <mat-form-field class="app-fxFlex" appearance="outline">
                  <mat-label>{{ 'editor.atm.lockedBy' | translate }}</mat-label>
                  <input matInput disabled [value]="atm.lockedBy || '-'">
                </mat-form-field>
                <mat-form-field class="app-fxFlex" appearance="outline">
                  <mat-label>{{ 'editor.atm.lockedDate' | translate }}</mat-label>
                  <input matInput disabled [value]="atm.lockedDate | date : 'dd.MM.yyyy'">
                </mat-form-field>
              </div>
            </div>
      
            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.donator' | translate }}</mat-label>
              <mat-select [placeholder]="'editor.atm.donator' | translate" name="donator" [(value)]="atm.donator">
                <mat-option [value]="null">{{ 'editor.atm.donators.none' | translate }}</mat-option>
                @for(donator of donators; track $index;) {
                <mat-option [value]="donator">{{ 'editor.atm.donators.' + donator | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="app-field-col" appearance="outline">
              <mat-label>{{ 'editor.atm.archivalCopies' | translate }}</mat-label>
              <input matInput [(ngModel)]="atm.archivalCopies">
            </mat-form-field>      
          </div>
        </div>
        <div class="app-gap-fixer"></div>
      </div>
    </div>
	</div>
</div>