// --- MATERIAL OVERRIDE ---

.mat-button-base {
  &.mat-button-disabled {
    color: inherit !important;
    opacity: .4;
  }

  &.mat-flat-button {
    height: $app-button-height !important;
    line-height: $app-button-height !important;
  }
}


.mat-progress-bar {
  &.app-progress-bar {
    margin-top: 1px;
  }
}