// --- MATERIAL OVERRIDE ---width

// buttons
.mat-button-base {
  &.mat-button-disabled {
    color: inherit !important;
    opacity: .2;
  }

  &.mat-flat-button {
    height: $app-button-height !important;
    line-height: $app-button-height !important;
  }

  &.mat-stroked-button {
    height: $app-button-height !important;
    line-height: $app-button-height !important;
    background-color: $app-button-bg;
    border: 1px solid $app-button-border-color;
  }
}

// mat table
.mat-table {
  &:not(.app-resize) {
    @extend .app-w-100;
  }

  // common behavior
  .mat-header-row,
  .mat-row {
    height: $app-mat-table-row-height;

    .mat-header-cell,
    .mat-cell {
      @extend .app-pr-1;

      &:first-of-type {
        @extend .app-pl-2;
      }

      &.app-col-filter {
        padding-right: 8px !important;
      
        .app-filter-wrapper {
          position: relative;
        
          input {
            width: 100%;
            border-radius: 0 !important;
            border: 0;
            background-color: transparent;
            padding-right: 20px;

            &:focus {
              outline: none;
            }
          }
        
          .app-clear {
            position: absolute;
            top: 2px;
            right: 0;
      
            &.app-select {
              right: 14px;
            }
        
            .mat-icon {
              color: var(--app-color-warn);
              font-size: 16px;
              width: 16px;
              height: 16px;
            }
          }

          .mat-select {
            width: 100%;

            .mat-select-value {
              padding-right: 10px;
            }
          }
      
          mat-label {
            position: absolute;
            left: 0;
            top: 0;
            font-weight: initial;
            font-size: 14px;
          }
        }
      }
    }
  }

  .mat-row {
    &.app-selected {
      background-color: $app-color-item-selected;
    }

    &.app-invalid {
      background-color: rgba($app-color-item-invalid, .1) !important;

      .mat-icon {
        color: $app-color-item-invalid;
      }
    }

    &.app-repre {
      font-weight: 700;
    }

    .mat-column-actions {
      @extend .app-text-right;
      width: 30px;

      .app-icon-button {
        &:not(:last-child) {
          @extend .app-mr-2;
        }
      }
    }

    .mat-cell {
      font-size: 13px;

      .mat-icon {
        @include setIcon(20, $position: sub);

        &.app-icon-copy {
          @include setIcon(16, $position: sub);
        }
      }

      .app-text-cutter-wrapper {
        display: flex;
      }

      .app-text-cutter {
        //@extend .app-pr-4;
        position: absolute;
        max-width: 100%;
        align-self: center;
      }
    }
  }

  &.app-striped {
    .mat-row {
      &:nth-child(odd) {
        &:not(.app-selected) {
          background-color: $app-color-item-bg;
        }
      }
    }
  }

  &.app-hover {
    .mat-row {
      &:hover {
        &:not(.app-selected, .app-row-detail) {
          background-color: $app-color-item-hover;
        }
      }
    }
  }

  &.app-expanded {
    .mat-row {
      &.app-row-expanded-parent {
        background-color: $app-color-item-bg;
      }

      &.app-row-detail {
        height: 0;
    
        td {
          border: 0;
    
          .app-detail {
            overflow: hidden;
          }
        }  
    
        &.app-row-expanded {
          td {
            border-bottom: 1px solid $app-table-border-color;
            background-color: $app-color-item-bg;
          }
        }
      }
    }
  }

  &.app-resize {
    table-layout: fixed;
    width: fit-content;

    &.app-resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .mat-cell,
    .mat-header-cell {
      @extend .app-pl-2, .app-pr-1, .app-text-cutter;
    }

    .mat-header-cell {
      position: relative;      
      
      // &:not(:last-child) {
        .app-resize-holder {
          cursor: col-resize;
          width: 10px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border-right: 1px solid $app-table-border-color;
          }
        }
      // }

      &:hover {
        //background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
        background-color: $app-default-bg;
      }
    }
  }
}

// progress bar
.mat-progress-bar {
  &.app-progress-bar {
    margin-top: 1px;
  }
}

// mat dialog
.mat-dialog-container {
  position: relative;

  .mat-progress-bar {
    @extend .app-m-0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mat-dialog-content {
    &.app-scrollbar-fix {
      margin-bottom: -10px;

      &:after {
        content: " ";
        display: block;
        height: 10px;
      }
    }
  }
}

// mat card
.mat-card {
  @extend .app-clean-shadow, .app-clean-radius;
  border: 1px solid $app-card-border-color;
  position: relative;

  .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.app-alert {
    @include setAlertCard();
    border-width: 1px;
    border-style: solid;
    border-color: $app-gray-3;
    display: flex;
    align-items: start;
    justify-content: center;

    .mat-icon {
      @include setIcon(18);
      flex: 1 1 26px;
      box-sizing: border-box;
      max-width: 26px;
      min-width: 26px;
    }

    .app-text {
      word-break: break-all;
    }
  }
}

// mat icon
.mat-icon {
  &.app-disabled {
    color: $app-gray-4 !important;
    cursor: default;
  }
}

// pagination
.mat-paginator {
  .app-toolbar & {
    @extend .app-clean-bg;
  }

  .app-oa-y & {
    position: sticky;
    bottom: 0;
  }
}

// radio button
.mat-radio-group {
  .mat-radio-button {
    &:not(:last-child) {
      @extend .app-mr-4;
    }

    .mat-radio-container {
      width: $app-mat-radio-button-size;
      height: $app-mat-radio-button-size;

      .mat-radio-outer-circle,
      .mat-radio-inner-circle {
        width: $app-mat-radio-button-size;
        height: $app-mat-radio-button-size;
      }

      .mat-radio-ripple {
        width: calc($app-mat-radio-button-size * 2);
        height: calc($app-mat-radio-button-size * 2);
        left: calc(50% - #{$app-mat-radio-button-size});
        top: calc(50% - #{$app-mat-radio-button-size});
      }
    }

    &.mat-accent {
      .mat-radio-outer-circle {
        border-color: $app-mat-radio-button-bg;
      }

      .mat-radio-inner-circle {
        background-color: $app-mat-radio-button-bg;
      }

      .mat-radio-ripple {          
        .mat-radio-persistent-ripple {
          background-color: $app-mat-radio-button-bg !important;
        }
      }

      .mat-radio-ripple {
        .mat-ripple-element {
          background-color: $app-mat-radio-button-bg !important;
        }
      }
    }
  }
}

// form field
.mat-form-field {
  &.app-clean-mb {
    .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }
  }

  &.app-select {
    .app-toolbar & {
      background-color: $app-color-lightnes;
      border: 1px solid $app-toolbar-border-color;
    }

    .app-toolbar & {
      //background-color: $app-color-lightnes;
      border: 1px solid $app-gray-4;
    }
    
    .mat-form-field-infix {
      @extend .app-pl-2, .app-pr-2;
      border-top: unset;
    }

    .mat-form-field-underline,
    .mat-form-field-ripple {
      @extend .app-clean-bg;
    }
  }
}

// select panel
.mat-select-panel {
  .mat-option {
    line-height: $app-mat-select-option-height !important;
    height: $app-mat-select-option-height !important;
  }
}

// menu
.mat-menu-panel {
  min-height: auto !important;

  .mat-menu-item {
    line-height: $app-mat-menu-item-height !important;
    height: $app-mat-menu-item-height !important;

    .mat-icon {
      @extend .app-mr-2;
      @include setIcon($size: 18, $position: sub);
    }
  }
}

// slide toggle
.mat-slide-toggle {
  &.app-slide-toogle {
    .mat-slide-toggle-bar {
      width: calc(36px - #{$app-mat-slide-toggle-reduction});
      height: calc(14px - #{$app-mat-slide-toggle-reduction});

      .mat-slide-toggle-thumb-container,
      .mat-slide-toggle-thumb {
        width: calc(20px - #{$app-mat-slide-toggle-reduction});
        height: calc(20px - #{$app-mat-slide-toggle-reduction});
      }
    } 
  }
}

// checkbox
.mat-checkbox {
  &.mat-checkbox-checked {
    &.mat-accent {
      .mat-checkbox-background {
        background-color: $app-mat-checkbox-bg;
      }
    }
  }

  &:not(.mat-checkbox-disabled) {
    .mat-checkbox-ripple {
      .mat-ripple-element {
        background-color: $app-mat-checkbox-bg !important; 
      }
    }
  }
}




