<div class="app-editor-content-wrapper">

    <div class="app-editor-toolbar">
        <div class="app-label">Nahrávka</div>
        <div class="app-actions-right">
        </div>
    </div>  
      
    <div class="app-editor-content">
        <div class="app-song-wrapper" *ngIf="state === 'success'">
            <div class="app-controls">
                <div class="app-track-position">
                   {{ trackPositionText }}<span *ngIf="trackDurationText !== 'Infinity'"> / {{ trackDurationText }}</span>
                </div>
                <ng-container *ngIf="playing">
                    <mat-icon class="app-button" (click)="moveBackward()">fast_rewind</mat-icon>
                    <mat-icon class="app-button" (click)="pauseTrack()">pause_circle</mat-icon>
                    <mat-icon class="app-button" (click)="moveForward()">fast_forward</mat-icon>
                </ng-container>
                <mat-icon class="app-button" (click)="playTrack()" *ngIf="!playing">play_circle</mat-icon>
            </div>
        </div>
    </div>

    <mat-spinner *ngIf="state === 'loading'"
        [strokeWidth]="5" 
        [diameter]="60"
        class="center-spinner">
    </mat-spinner>


</div>

