<div class="app-editor-content-wrapper">

  <div class="app-editor-toolbar">
    <div class="app-label">Nahrávka</div>
    <div class="app-actions-right">
    </div>
  </div>

  <div class="app-editor-content">
    @if (state === 'success') {
      <div class="app-song-wrapper">
        <div class="app-controls">
          <div class="app-track-position">
            {{ trackPositionText }}@if (trackDurationText !== 'Infinity') {
            <span> / {{ trackDurationText }}</span>
          }
        </div>
        @if (playing) {
          <mat-icon class="app-button" (click)="moveBackward()">fast_rewind</mat-icon>
          <mat-icon class="app-button" (click)="pauseTrack()">pause_circle</mat-icon>
          <mat-icon class="app-button" (click)="moveForward()">fast_forward</mat-icon>
        }
        @if (!playing) {
          <mat-icon class="app-button" (click)="playTrack()">play_circle</mat-icon>
        }
      </div>
    </div>
  }
</div>

@if (state === 'loading') {
  <mat-spinner
    [strokeWidth]="5"
    [diameter]="60"
    class="center-spinner">
  </mat-spinner>
}


</div>

