<div class="app-fxLayout app-column app-fill">
  @if (switchable) {
    <div class="app-fxLayout app-row app-center-v app-toolbar app-view-metadata">
      <div class="app-fxFlex">
        <app-editor-switcher class="app-fxLayout app-row app-center-v" (onChangeEditorType)="changeEditorType($event)" [panelType]="panelType()"></app-editor-switcher>
      </div>
      <div class="app-fxLayout app-rpw app-center-v">
        <button mat-icon-button (click)="onRevert()" [disabled]="!hasChanged()" [matTooltip]="'button.refresh' | translate" >
          <mat-icon>sync</mat-icon>
        </button>
        <button mat-icon-button (click)="addBrackets()" [disabled]="!page?.number || isInBrackets()" [matTooltip]="'common.add_brackets' | translate">
          [<mat-icon>add</mat-icon>]
        </button>
        <button mat-icon-button (click)="removeBrackets()" [disabled]="!page?.number || !isInBrackets()" [matTooltip]="'common.remove_brackets' | translate">
          [<mat-icon>remove</mat-icon>]
        </button>
        <button  mat-icon-button (click)="saveIcon()" [disabled]="!hasChanged()" [matTooltip]="'button.save' | translate" >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  }

  <div class="app-fxFlex app-oa-y">
    @if (state ==='loading') {
      <mat-progress-bar mode="indeterminate" class="app-progress-bar"></mat-progress-bar>
    }
    @if (page) {
      <div class="app-editor-container">
        <div class="app-gap-fixer"></div>
        <div class="app-form-wrapper app-top-level">
          <div class="app-form">
            <div class="app-form-content">
              <mat-form-field [appearance]="settings.appearance" class="app-field-col" [class.mat-form-field-invalid]="!page.type">
                <mat-label>{{ 'editor.page.type' | translate }}</mat-label>
                <span class="app-usage" [class.app-help-off]="true">M</span>
                <mat-select #typeSelect [placeholder]="'editor.page.type' | translate" name="type" [(value)]="page.type" [formControl]="pageTypeControl" (focusout)="removeFocus()" (keyup.enter)="enterSelect(typeSelect, 'type')">
                  <mat-option [value]="null"></mat-option>
                  @for(pageType of config.pageTypes; track $index;) {
                    <mat-option [value]="pageType">{{  pageType }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              @if (config.showPageIndex) {
                <mat-form-field [appearance]="settings.appearance" class="app-field-col" [class.mat-form-field-invalid]="!page.index">
                  <mat-label>{{ 'editor.page.index' | translate }}</mat-label>
                  <span class="app-usage" [class.app-help-off]="true">M</span>
                  <input autocomplete="off" matInput #pageIndex (focus)="setFocus('pageIndex')" (focusout)="removeFocus()" (keyup.enter)="onSaveFrom('pageIndex')" [placeholder]="'editor.page.index' | translate" [formControl]="pageIndexControl">
                </mat-form-field>
              }
              <mat-form-field [appearance]="settings.appearance" class="app-field-col" [class.mat-form-field-invalid]="!page.number">
                <mat-label>{{ 'editor.page.number' | translate }}</mat-label>
                <span class="app-usage app-suffix-exist" [class.app-help-off]="true">M</span>
                <input (focus)="setFocus('pageNumber')" (focusout)="removeFocus()" (keyup.enter)="onSaveFrom('pageNumber')" [formControl]="pageNumberControl" autocomplete="off" matInput [placeholder]="'editor.page.number' | translate" #pageNumber>
                <button matSuffix [class.app-disabled]="!page.number" [matTooltip]="isInBrackets() ? ('button.removeBrackets' | translate) : ('button.addBrackets' | translate)" 
                (click)="switchBrackets()" mat-icon-button>
                  <span class="app-text-icon">[ ]</span>
                  <!-- <mat-icon>data_array</mat-icon> -->
                </button>
              </mat-form-field>
              @if (page.isNdkPage() || page.isSttPage()) {
                <mat-form-field [appearance]="settings.appearance" class="app-field-col">
                  <mat-label>{{ 'editor.page.position' | translate }}</mat-label>
                  <span class="app-usage" [class.app-help-off]="true">O</span>
                  <mat-select [placeholder]="'editor.page.position' | translate" [formControl]="posControl" #posSelect (keyup.enter)="enterSelect(posSelect, 'position')" (focusout)="removeFocus()">
                    @for(position of positions; track $index;) {
                      <mat-option [value]="position">{{ 'editor.page.positions.' + position | translate }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @if (page.isNdkPage() || page.isSttPage()) {
                <mat-form-field [appearance]="settings.appearance" class="app-field-col" [class.mat-form-field-invalid]="!page.genre">
                  <mat-label>{{ 'editor.page.genre' | translate }}</mat-label>
                  <span class="app-usage" [class.app-help-off]="true">M</span>
                  <mat-select [placeholder]="'editor.page.genre' | translate" [formControl]="genreControl" (keyup.enter)="enterSelect(genreSelect, 'genre')" (focusout)="removeFocus()" #genreSelect>
                    @for(genre of genres; track $index;) {
                      <mat-option [value]="genre">{{ 'editor.page.genres.' + genre | translate }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              <mat-form-field [appearance]="settings.appearance" class="app-field-col">
                <mat-label>{{ 'editor.page.note' | translate }}</mat-label>
                <span class="app-usage" [class.app-help-off]="true">O</span>
                <textarea [formControl]="noteControl" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" autocomplete="off" matInput [placeholder]="'editor.page.note' | translate"></textarea>
              </mat-form-field>
              @if (config.showPageIdentifiers) {
                <div class="app-form-wrapper">
                  @for(identifier of page.identifiers; let index = $index; let last = $last; let first = $first; track $index;) {
                    <div class="app-form">
                      <div class="app-fxLayout app-row app-center-v app-form-header">
                        <div class="app-fxFlex app-text-cutter">
                          <span class="app-form-title app-pl-2">{{ 'editor.page.identifier' | translate }}</span>
                        </div>
                        <div>
                          <button mat-icon-button [matTooltip]="'editor.page.add_identifier' | translate" (click)="page.addIdentifierAfter(index)">
                            <mat-icon>add</mat-icon>
                          </button>
                          <button mat-icon-button [disabled]="first" [matTooltip]="'common.move_up' | translate" (click)="page.moveIdentifierUp(index)">
                            <mat-icon>arrow_drop_up</mat-icon>
                          </button>
                          <button mat-icon-button [disabled]="last" [matTooltip]="'common.move_down' | translate" (click)="page.moveIdentifierDown(index)">
                            <mat-icon>arrow_drop_down</mat-icon>
                          </button>
                          <button mat-icon-button [matTooltip]="'common.remove' | translate" (click)="page.removeIdentifier(index)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="app-form-content">
                        <mat-form-field [appearance]="settings.appearance" class="app-field-col">
                          <mat-label>{{ 'editor.identifier.type' | translate }}</mat-label>
                          <mat-select [(ngModel)]='identifier.type' [placeholder]="'editor.identifier.type' | translate">
                            @for(identifier of config.identifiers; track $index;) {
                              <mat-option [value]="identifier">{{ identifier }}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field [appearance]="settings.appearance" class="app-field-col">
                          <mat-label>{{ 'editor.identifier.title' | translate }}</mat-label>
                          <input autocomplete="off" matInput [(ngModel)]='identifier.value' [placeholder]="'editor.identifier.title' | translate">
                        </mat-form-field>
                      </div>
                    </div>
                  }
                  <div class="app-gap-fixer"></div>
                </div>
              }
            </div>
          </div>
          <div class="app-gap-fixer"></div>
        </div>
      </div>
    }
  </div>
</div>