.app-unsupported-page-type {
  --mat-form-field-outlined-outline-color: var(--app-color-warn);
  --mat-form-field-outlined-hover-outline-color: var(--app-color-warn);
  --mat-form-field-outlined-focus-outline-color: var(--app-color-warn);
  --mat-form-field-filled-active-indicator-color: var(--app-color-warn);
  --mat-form-field-filled-hover-active-indicator-color: var(--app-color-warn);
  --mat-form-field-filled-focus-active-indicator-color: var(--app-color-warn);
}
