<div class="breadcrumb-nav">
  <span>{{ 'settings.settings' | translate }}</span>
</div>

<div class="app-settings" [class.app-disabled]="state == 'loading'">

  <div class="app-settings-panel" *ngIf="user">

    <div class="app-settings-panel-header">{{ 'settings.profile.label' | translate }}</div>
    <div class="app-settings-panel-content">

      <div>   
        <mat-form-field>
          <input [disabled]="true" matInput [value]='user.name' placeholder="{{ 'settings.profile.username' | translate }}">
        </mat-form-field>
      </div>

      <div>   
          <mat-form-field>
            <input matInput [(ngModel)]='forename' placeholder="{{ 'settings.profile.forename' | translate }}">
          </mat-form-field>
      </div>
      <div>   
          <mat-form-field>
            <input matInput [(ngModel)]='surname' placeholder="{{ 'settings.profile.surname' | translate }}">
          </mat-form-field>
      </div>

      <div>   
        <mat-form-field>
          <input [disabled]="true" matInput [value]="user.organization ? ('organization.' + user.organization | translate) : '-'" placeholder="{{ 'settings.profile.organization' | translate }}">
        </mat-form-field>
      </div>
      <div>  
        <mat-form-field>
          <input [disabled]="true" matInput [value]='user.home' placeholder="{{ 'settings.profile.home' | translate }}">
        </mat-form-field>
      </div>
      <div>  
        <mat-form-field>
          <input [disabled]="true" matInput [value]='user.role' placeholder="{{ 'settings.profile.role' | translate }}">
        </mat-form-field>
      </div>

      <button mat-raised-button
        color="primary"
        [disabled]="!profileChanged()"
        (click)="seveProfile()">
          {{ 'common.save' | translate }}
      </button>

      <button mat-raised-button
      color="primary"
      (click)="changePassword()">
        {{ 'settings.profile.change_password' | translate }}
    </button>

    </div>
  
  </div>


</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>