<div class="breadcrumb-nav">
  <span>{{ 'settings.settings' | translate }}</span>
</div>

<div class="app-settings" [class.app-disabled]="state == 'loading'">

  <div class="app-settings-panel" *ngIf="user">

    <div class="app-settings-panel-header">{{ 'settings.profile.label' | translate }}</div>
    <div class="app-settings-panel-content">

      <div>   
        <mat-form-field>
          <input [disabled]="true" matInput [value]='user.name' placeholder="{{ 'settings.profile.username' | translate }}">
        </mat-form-field>
      </div>

      <div>   
          <mat-form-field>
            <input matInput [(ngModel)]='forename' placeholder="{{ 'settings.profile.forename' | translate }}">
          </mat-form-field>
      </div>
      <div>   
          <mat-form-field>
            <input matInput [(ngModel)]='surname' placeholder="{{ 'settings.profile.surname' | translate }}">
          </mat-form-field>
      </div>

      <div>   
        <mat-form-field>
          <input [disabled]="true" matInput [value]="user.organization ? ('organization.' + user.organization | translate) : '-'" placeholder="{{ 'settings.profile.organization' | translate }}">
        </mat-form-field>
      </div>
      <div>  
        <mat-form-field>
          <input [disabled]="true" matInput [value]='user.home' placeholder="{{ 'settings.profile.home' | translate }}">
        </mat-form-field>
      </div>
      <div>  
        <mat-form-field>
          <input [disabled]="true" matInput [value]='user.role' placeholder="{{ 'settings.profile.role' | translate }}">
        </mat-form-field>
      </div>

      <button mat-raised-button
        color="primary"
        [disabled]="!profileChanged()"
        (click)="seveProfile()">
          {{ 'common.save' | translate }}
      </button>

      <button mat-raised-button
      color="primary"
      (click)="changePassword()">
        {{ 'settings.profile.change_password' | translate }}
    </button>

    </div>
  
  </div>



  <div class="app-settings-panel app-settings-search" *ngIf="user">

    <div class="app-settings-panel-header">{{ 'settings.search.label' | translate }}</div>
    <div class="app-settings-panel-content">

      <div class="app-settings-label">{{ 'settings.search.cols' | translate }}</div>

      <div class="app-settings-toggle" *ngFor="let col of properties.availableSearchColumns">
        <mat-slide-toggle [(ngModel)]="searchCols[col]" color="primary">
          {{ 'search.' + col | translate }}
        </mat-slide-toggle>
      </div>

      <button mat-raised-button
      color="primary"
      (click)="seveSearchCols()">
        {{ 'common.save' | translate }}
    </button>

    </div>
  
  </div>




  <div class="app-settings-panel app-settings-preferred" *ngIf="user">
    <div class="app-settings-panel-header">Preferované hodnoty</div>
    <div class="app-settings-panel-content">
      <div>
        <div class="app-settings-label">Typy stran</div>
        <div>
        <strong>{{ codebook.getTopNames('PageTypes').join(", ") }}</strong>
        </div>
        <button mat-stroked-button
          style="margin-top: 8px;"
          color="primary"
          (click)="changeCodebookTops('PageTypes')">Upravit
        </button>
      </div>
      <div style="margin-top: 20px;">
        <div class="app-settings-label">Jazyky</div>
        <div>
        <strong>{{ codebook.getTopNames('Languages').join(", ") }}</strong>
        </div>
        <button mat-stroked-button
          style="margin-top: 8px;"
          color="primary"
          (click)="changeCodebookTops('Languages')">Upravit
        </button>
      </div>


      <div style="margin-top: 20px;">
        <div class="app-settings-label">Identifikátory</div>
        <div>
        <strong>{{ codebook.getTopNames('Identifiers').join(", ") }}</strong>
        </div>
        <button mat-stroked-button
          style="margin-top: 8px;"
          color="primary"
          (click)="changeCodebookTops('Identifiers')">Upravit
        </button>
      </div>

      <div style="margin-top: 20px;">
        <div class="app-settings-label">Místa uložení</div>
        <div>
        <strong>{{ codebook.getTopNames('Locations').join(", ") }}</strong>
        </div>
        <button mat-stroked-button
          style="margin-top: 8px;"
          color="primary"
          (click)="changeCodebookTops('Locations')">Upravit
        </button>
      </div>



    </div>
  </div>












</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>