<footer class="app-footer" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
  <div fxFlex class="app-left">
    ProArc © {{ currentYear }}<span class="app-pipe"></span>
    <strong>{{ 'desc.client' | translate }}:</strong>&#160;<span class="app-text-lowercase">{{ 'desc.version' | translate }}</span>&#160;1.1.2. (1.7.2022)<span class="app-pipe"></span>
    <strong>{{ 'desc.core' | translate }}:</strong>&#160;<span class="app-text-lowercase">{{ 'desc.version' | translate }}</span>&#160;{{ backendInfo.version }}&#160;-&#160;<span class="app-text-lowercase">{{ 'desc.build' | translate }}</span> {{ backendInfo.timestamp }}
  </div>
  <div class="app-right">
    Developed by <a href="https://www.inovatika.cz" title="Inovatika" target="_blank"><img src="assets/img/logo-inovatika.png" alt="Inovatika" /></a>
  </div>
</footer>
