<mat-progress-bar mode="indeterminate" *ngIf="loading" class="app-progress-bar"></mat-progress-bar>
<div fxLayout="column" fxFlexFill *ngIf="!loading">
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/import">{{ 'desc.import' | translate }}</a>
      <span class="app-separator">/</span>
      <a routerLink="/process-management">{{ 'desc.batchManagement' | translate }}</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.editing' | translate }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-h-100">
      <button mat-button (click)="onIngest()">{{ 'button.continue' | translate }}</button>
      <button mat-icon-button [matTooltip]="'navbar.layout' | translate" (click)="showLayoutAdmin()">
        <mat-icon>dashboard</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex class="app-content-wrapper app-batches" fxLayout="column">
    <div class="app-border-wrapper app-h-100">

        <as-split *ngIf="settings.importLayout" direction="horizontal" [disabled]="settings.importLayout.disabled"  (dragEnd)="onDragEnd(-1, $event)">
            <ng-template ngFor let-column [ngForOf]="settings.importLayout.columns" let-icol="index">
              <as-split-area *ngIf="column.visible" [size]="column.size">
                <as-split direction="vertical" [disabled]="settings.importLayout.disabled" (dragEnd)="onDragEnd(icol, $event)">
                  <ng-template ngFor let-row [ngForOf]="column.rows" let-irow="index">
                    <as-split-area *ngIf="row.visible"  [size]="row.size" [class.app-avoid-click]="!row.canEdit">
                      <app-panel [panel]="row" [lastSelectedItem]="layout.lastSelectedItem()"  (onIngest)="onIngest()"></app-panel>
                    </as-split-area>
                  </ng-template>
                </as-split>
              </as-split-area>
            </ng-template>
          </as-split>
    </div>
  </div>
</div>
