<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
    <div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">PDF</span>
			</div>
		</div>
  </div>
	<div fxFlex class="app-oa-y">
		<mat-progress-bar mode="indeterminate" *ngIf="state ==='loading' || state ==='head'" class="app-progress-bar"></mat-progress-bar>
		<div class="app-editor-content app-h-100 app-oh">	
			<ngx-extended-pdf-viewer #pdfViewer *ngIf="state === 'head' || state === 'ok'" 
				[src]="pdfUrl" 
				[height]="'100%'" 
				(pdfLoaded)="pdfRendered($event)" 
				[enablePrint]="false" [showOpenFileButton]="false" [showEditor]="false" 
				[language]="getLang()"
				[useBrowserLocale]="true" ></ngx-extended-pdf-viewer>

			<mat-card class="app-alert app-info app-m-4"*ngIf="state == 'empty'">
				<mat-icon>info</mat-icon>
				{{ 'alert.info.noDigitalContent' | translate }}
			</mat-card>
		</div>
	</div>
</div>