<app-editor-field [field]="field" [title]="'editor.physical.title'" usage="M">
  <ng-template let-item="item" #templateContent>

    <mat-form-field class="app-full-width">
      <span class="app-usage">RA</span>
      <input autocomplete="off" matInput [(ngModel)]='item.extent["_"]' placeholder="{{ 'editor.physical.extent' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <span class="app-usage">RA</span>
      <textarea 
      cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"
      autocomplete="off" matInput [(ngModel)]='item.note["_"]' placeholder="{{ 'editor.physical.note' | translate }}"></textarea>
    </mat-form-field>

  </ng-template>
</app-editor-field>
  