<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>

    <app-field-text field="extent" [item]="item" [(value)]="item.extent['_']" ></app-field-text>
    <app-field-textarea field="note" [item]="item" [(value)]="item.note['_']" ></app-field-textarea>

    <app-editor-field *ngIf="item.available('form')" [field]="item.forms" [nested]='true'>
      <ng-template let-form="item" #templateContent>
        <app-autocomplete field="authority" [item]="form" [(value)]='form.attrs["authority"]'></app-autocomplete>
        <app-autocomplete field="type" [item]="form" [(value)]='form.attrs["type"]'></app-autocomplete>
        <app-field-text field="value" [item]="form" [(value)]="form.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>

  </ng-template>
</app-editor-field>
  