<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/admin">{{ 'desc.userAdministration' | translate }}</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.createUser' | translate }}</span>
    </div>
  </div>
  <div fxFlex class="app-p-4 app-oa-y">
    <mat-card>
      <mat-card-content>
        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'desc.accountInformation' | translate }}</legend>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input (keyup.enter)="saveUser()" autocomplete="off" matInput [placeholder]="'desc.username' | translate" title="" [matTooltip]="'formField.users.tooltipUsername' | translate" [(ngModel)]="user.name" pattern="[a-z][a-z0-9_-]{4,}"  required #name>
              <mat-error *ngIf="!user.name">{{ 'formField.users.error.username' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input (keyup.enter)="saveUser()" autocomplete="off" matInput [placeholder]="'desc.password' | translate" title="" minlength="6" [matTooltip]="'formField.users.tooltipPassowrd' | translate" [(ngModel)]="user.password" type="password" required #password>
              <mat-error *ngIf="!user.password">{{ 'formField.users.error.password' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input (keyup.enter)="saveUser()" autocomplete="off" matInput [placeholder]="'desc.forename' | translate" [(ngModel)]="user.forename">
            </mat-form-field>
            <mat-form-field  fxFlex>
              <input (keyup.enter)="saveUser()" autocomplete="off" matInput title=""  [placeholder]="'desc.surname' | translate" [(ngModel)]="user.surname" required #surname>
              <mat-error *ngIf="!user.surname">{{ 'formField.users.error.surname' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input (keyup.enter)="saveUser()" autocomplete="off" matInput [placeholder]="'desc.email' | translate" [(ngModel)]="user.email">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <mat-select [placeholder]="'desc.organization' | translate" name="organization" [(ngModel)]="user.organization">
                <mat-option *ngFor="let organization of organizations" [value]="organization">{{ 'organization.' + organization | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-select [(ngModel)]='user.role' placeholder="{{ 'desc.role' | translate }}">
                <mat-option *ngFor="let role of roles" [value]="role">{{ 'formField.users.roles.' + role | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="app-mb-4">
            <strong>{{'desc.folder' | translate}}</strong>: <em class="app-desc">{{ user.home }}</em>
          </div>
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
            <span class="app-label">{{ 'desc.theUserIsAllowedToRunTheseFunctions' | translate }}:</span>
            <mat-checkbox color="primary" [(ngModel)]="user.changeModelFunction">{{ 'desc.conversionOfModels' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="user.updateModelFunction">{{ 'desc.updateModels' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="user.lockObjectFunction">{{ 'desc.lockingTheObject' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="user.unlockObjectFunction">{{ 'desc.unlockingTheObject' | translate }}</mat-checkbox>
          </div>
        </fieldset>
        <div>
          <button mat-flat-button color="primary" (click)="saveUser()">{{ 'button.save' | translate }}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>