@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

.mat-toolbar {
  height: $app-navbar-height;
  //border-bottom: 1px solid $app-navbar-border-color;

  .app-left {
    .app-logo {
      img,
      svg {
        @extend .app-mr-4;
        height: 16px;
        vertical-align: middle;
      }
    }
  }

  .mat-button-base {
    &:hover, &.active {
      color: inherit;
      background-color: $app-navbar-active-item-color;
    }
  }
}