<mat-toolbar class="mat-elevation-z6">
  <a routerLink="/" class="app-logo">
    <span>ProArc</span>
  </a>

  <span class="fill-remaining-space"></span>
  
  <ng-container *ngIf="auth.isLoggedIn()">
    <button (click)="onCreateNewObject()" mat-button>{{ "navbar.new_object" | translate }}</button>

    <a [routerLink]="['/search']" routerLinkActive="active" mat-button>{{ "navbar.search" | translate }}</a>
    <!-- <a [routerLink]="['/catalog']" routerLinkActive="active" mat-button>{{ "navbar.catalog" | translate }}</a> -->
    <a [routerLink]="['/import', 'history']" routerLinkActive="active" mat-button>{{ "navbar.history" | translate }}</a>
    <a [routerLink]="['/import']" routerLinkActive="active" mat-button>{{ "navbar.import" | translate }}</a>


    <a href="https://proarc.inovatika.dev/api/#workflow:%7B%22type%22:%22JOBS%22%7D" target="_empty" mat-button>{{ "navbar.workflow" | translate }}</a>

    

    <a [routerLink]="['/devices']" routerLinkActive="active" mat-button>{{ "navbar.devices" | translate }}</a>

    <button (click)="showAboutDialog()" mat-button>{{ "navbar.about" | translate }}</button>

    <a [matMenuTriggerFor]="profile_menu" mat-button>{{ "navbar.profile" | translate }}</a>
    <mat-menu #profile_menu="matMenu">
      <button mat-menu-item disabled>
        <span>{{ auth.user.name }}</span>
      </button>
      <a [routerLink]="['/settings']" routerLinkActive="active" mat-button>{{ "navbar.settings" | translate }}</a>
      <button mat-menu-item (click)="logout()">
        <span>{{ "navbar.logout" | translate }}</span>
      </button>
    </mat-menu>


  </ng-container>
  <a *ngIf="!auth.isLoggedIn()"  [routerLink]="['/login']" routerLinkActive="active" mat-button>{{ "navbar.login" | translate }}</a>
<!-- 
  <button class="btn-lang" mat-icon-button [matMenuTriggerFor]="lang">
    <img src="./assets/img/flag_{{translator.language}}.png">
  </button>

  <mat-menu #lang="matMenu">
    <button class="lang-item" mat-menu-item (click)='onLanguageChanged("en")'>
      <img src="./assets/img/flag_en.png">
      <span>English</span>
    </button>
    <button class="lang-item" mat-menu-item (click)='onLanguageChanged("cs")'>
      <img src="./assets/img/flag_cs.png">
      <span>Čeština</span>
    </button>
  </mat-menu> -->


</mat-toolbar>