<mat-toolbar class="mat-elevation-z6">
  <a routerLink="/" class="app-logo" fxLayout="row" fxLayoutAlign="start center">
    <img src="/assets/img/logo-proarc-7.svg" />
    <!-- old <span>ProArc</span> -->
  </a>

  <ng-container *ngIf="auth.isLoggedIn()">
    <a [routerLink]="['/import']" routerLinkActive="active" mat-button>{{ "navbar.import" | translate }}</a>
    <a [routerLink]="['/import', 'history']" routerLinkActive="active" mat-button>{{ "navbar.history" | translate }}</a>
    <a [routerLink]="['/search']" routerLinkActive="active" mat-button>{{ "navbar.search" | translate }}</a>
    <button (click)="onCreateNewObject()" mat-button>{{ "navbar.new_object" | translate }}</button>
    <!-- <a *ngIf="config.showWorkflow" [href]="config.workflowUrl" target="_empty" mat-button>{{ "navbar.workflow" | translate }}</a> -->
    <a *ngIf="config.showWorkflow" [routerLink]="['/workflow']" routerLinkActive="active" mat-button>{{ "navbar.workflow" | translate }}</a>
  </ng-container>

  <span class="fill-remaining-space"></span>
  
  <ng-container *ngIf="auth.isLoggedIn()">
    <a *ngIf="auth.isSuperAdmin() || auth.isAdmin()" [routerLink]="['/devices']" routerLinkActive="active" mat-button>{{ "navbar.devices" | translate }}</a>
    <a *ngIf="auth.isSuperAdmin() || auth.isAdmin()" [routerLink]="['/admin']" routerLinkActive="active" mat-button>{{ "navbar.admin" | translate }}</a>
    <!-- <a  [routerLink]="['/layout']" routerLinkActive="active" mat-button>{{ "navbar.layout" | translate }}</a> -->
    <button (click)="showAboutDialog()" mat-button>{{ "navbar.about" | translate }}</button>
    <a [matMenuTriggerFor]="profile_menu" mat-button>{{ "navbar.profile" | translate }}</a>
    <mat-menu #profile_menu="matMenu">
      <button mat-menu-item disabled>
        <span>{{ auth.user.name }}</span>
      </button>
      <a [routerLink]="['/settings']" routerLinkActive="active" mat-button>{{ "navbar.settings" | translate }}</a>
      <button mat-menu-item (click)="logout()">
        <span>{{ "navbar.logout" | translate }}</span>
      </button>
    </mat-menu>

  </ng-container>
  <a *ngIf="!auth.isLoggedIn()"  [routerLink]="['/login']" routerLinkActive="active" mat-button>{{ "navbar.login" | translate }}</a>
    <a *ngIf="translator.currentLang === 'en'" (click)="onLanguageChanged('cs')"  mat-button>CS</a>
    <a *ngIf="translator.currentLang === 'cs'" (click)="onLanguageChanged('en')"  mat-button>EN</a>

</mat-toolbar>