<mat-toolbar class="mat-elevation-z6">
  <a routerLink="/" class="app-logo">
    <span>ProArc</span>
  </a>

  <span class="fill-remaining-space"></span>
  

  <a *ngIf="auth.isLoggedIn()" [routerLink]="['/search']" routerLinkActive="active" mat-button>Hledat</a>
  <a *ngIf="auth.isLoggedIn()" [routerLink]="['/import']" routerLinkActive="active" mat-button>Import</a>
  <a *ngIf="auth.isLoggedIn()" [routerLink]="['/catalog']" routerLinkActive="active" mat-button>Katalog</a>
  <a *ngIf="auth.isLoggedIn()" [routerLink]="['/devices']" routerLinkActive="active" mat-button>Zařízení</a>
  <a *ngIf="!auth.isLoggedIn()"  [routerLink]="['/login']" routerLinkActive="active" mat-button>{{ "navbar.login" | translate }}</a>
  <a *ngIf="auth.isLoggedIn()" (click)="logout()" mat-button>{{ "navbar.logout" | translate }}</a>


  <button class="btn-lang" mat-icon-button [matMenuTriggerFor]="lang">
    <img src="/assets/img/flag_{{translator.language}}.png">
  </button>

  <mat-menu #lang="matMenu">
    <button class="lang-item" mat-menu-item (click)='onLanguageChanged("en")'>
      <img src="/assets/img/flag_en.png">
      <span>English</span>
    </button>
    <button class="lang-item" mat-menu-item (click)='onLanguageChanged("cs")'>
      <img src="/assets/img/flag_cs.png">
      <span>Čeština</span>
    </button>
  </mat-menu>


</mat-toolbar>