@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

.mat-toolbar {
  border-bottom: 1px solid #385585;

  .app-left {
    .app-logo {
      img {
        @extend .app-mr-4;
        height: 16px;
        vertical-align: middle;
      }
    }
  }
}

// old scss
/* mat-toolbar {
  position: fixed;
  z-index: 1000;
  background-color: $toolbar-color !important;
  height: $navbar-height !important;
  .app-logo {
    height: 50px;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    img {
      height: 16px;
    }
    span {
      font-weight: 400;
      font-size: 21px;
      margin-left: 5px;
      line-height: 50px;
    }
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .mat-button {
    line-height: 50px;
    color: #fff;
    border-radius: 0;
    // &.active {
    //   margin-top: 1px;
    //   border-bottom: 2px solid $primary-color;
    // }
  }
  .btn-lang {
    margin-right: 5px;
    margin-left: 5px;
    img {
      width: 40px;
      height: 40px;
    }
  }

}



.lang-item {
  img {
    height: 40px;
    width: 40px;
    margin-top: 4px;
    margin-right: 16px;
    float: left;
  }
} */
