@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

.app-row {
  @extend .app-w-100;
  height: $app-mat-table-row-height;
  border-bottom: 1px solid $app-table-border-color;
  font-size: 13px;

  &.app-parent {
    background-color: $app-color-item-active;
    color: $app-color-lightnes;

    &.app-active-tree {
      background-color: $app-color-item-active;
    }
  }

  &.app-active-tree {
    background-color: $app-color-item-selected;
  }

  &.dragoverAllowed {
    background: $app-color-item-dragover-allowed;
    color: $app-color-lightnes;
  }

  &.dragoverNotAllowed {
    background: $app-color-item-dragover-noallowed;
    color: $app-color-lightnes;
  }

  .app-expansion-cell {
    text-align: right;

    .mat-icon {
      @include setIcon($position: sub);
    }

    .mat-progress-spinner {
      display: inline;
      vertical-align: top;
    }
  }

  .app-cell {
    pointer-events: none;
    max-width: 100%;
    min-width: 20px;

    &.app-isLocked {
      $app-width: 30px;
      flex: 1 1 $app-width !important;
      max-width: $app-width !important;
      min-width: $app-width !important;
    }
  }  
}