<ng-container *ngIf="isReady">

  <!-- <app-tree [tree]="layout.tree" [inPanel]="true" 
  [selectedPid]="selectedPid" [selectedParentPid]="selectedParentPid"
  (onOpen)="openFromTree($event)" (onSelect)="selectFromTree($event)" 
  [expanded]="true" [expandedPath]="[]"></app-tree> -->


  <div *ngTemplateOutlet="rowTmpl; context:{ tree: layout.tree }"></div>

  <ng-template #rowTmpl let-tree="tree" >

    <div (click)="select(tree)" (dblclick)="open(tree)" class="app-row"
      [class.app-parent]="tree.item.pid === selectedParentPid"
      [class.app-active-tree]="(tree.item.selected  || tree.item.pid == selectedPid)"
      draggable="true" (dragenter)="dragenter(tree, $event)" (dragstart)="dragstart($event)"
      (dragend)="dragend(tree, $event)" (dragover)="dragover(tree, $event)" >
      <div class="app-expansion-cell">
        <div class="app-expansion-icon" [style.width]="(tree.level * 20 + 40) + 'px'">
          <mat-spinner *ngIf="tree.loading" [strokeWidth]="3" [diameter]="20">
          </mat-spinner>
          <mat-icon class="app-tree-expand" *ngIf="tree.expandable() && !tree.loading" (click)="toggle($event, tree)">{{
            tree.expanded ? "expand_more" : "chevron_right" }}</mat-icon>
          <span class="app-tree-expand" *ngIf="!tree.expandable() && !tree.loading" style="width: 36px;">&#160;</span>
        </div>
        <div>{{ tree.item.label }}</div>
      </div>
      <div *ngFor="let col of columns" class="app-cell">
        <ng-container *ngIf="col.visible" [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="'date'">
            {{ tree.item[col.field] | appDatetime }}
          </ng-container>
          <ng-container *ngSwitchCase="'boolean'">
            {{ (tree.item[col.field]? 'common.yes' : 'common.no') | translate }}
          </ng-container>
          <ng-container *ngSwitchCase="'translatable'">
            {{ col.prefix + '.' + tree.item[col.field] | translate }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ tree.item[col.field] }}
          </ng-container>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="tree.expanded && tree.children">
      <div *ngFor="let child of tree.children"  (drop)="drop(child, $event)" (dragenter)="dragenter(tree, $event)" (dragover)="dragover(tree, $event)" draggable="false">
        <ng-container *ngTemplateOutlet="rowTmpl; context:{ tree: child }"></ng-container>
      </div>
    </ng-container>

  </ng-template>