<ng-container *ngIf="isReady">
  
  <app-tree [tree]="layout.tree" [inPanel]="true" 
  [selectedPid]="selectedPid" [selectedParentPid]="selectedParentPid"
  (onOpen)="openFromTree($event)" (onSelect)="selectFromTree($event)" 
  [expanded]="true" [expandedPath]="[]"></app-tree>

  <!-- <app-tree [tree]="layout.tree" [inPanel]="true" 
  [selectedPid]="selectedPid" [selectedParentPid]="selectedParentPid"
  (onOpen)="openFromTree($event)" (onSelect)="selectFromTree($event)" 
  [expanded]="true" [expandedPath]="layout.expandedPath"></app-tree> -->