<div class="app-panel-header">
    
    <mat-select [(ngModel)]='content' class="app-panel-select app-panel-select1">
        <mat-option value="biblio">{{ 'editor.type.biblio' | translate }}</mat-option>
        <mat-option value="relations">{{ 'editor.type.relations' | translate }}</mat-option>
        <mat-option value="atm">ATM</mat-option>
        <mat-option value="ocr">OCR</mat-option>
        <mat-option value="image">Obrázek</mat-option>
        <mat-option value="note">Poznámka</mat-option>
    </mat-select>

    <mat-select *ngIf="content == 'biblio'" [(ngModel)]='subcontent' class="app-panel-select app-panel-select2">
        <mat-option *ngIf="content == 'biblio'" value="biblioEditor">Editor</mat-option>
        <mat-option *ngIf="content == 'biblio'" value="biblioMods">MODS</mat-option>
        <mat-option *ngIf="content == 'biblio'" value="biblioDc">DC</mat-option>
    </mat-select>

</div>
<div class="app-panel-content">
    <app-mods-editor *ngIf="content == 'biblio' && subcontent == 'biblioEditor'" [document]="document"></app-mods-editor>
    <app-xml-view *ngIf="content == 'biblio' && subcontent == 'biblioMods'" [xml]="document.toMods()" [xmlOriginal]="document.originalMods"></app-xml-view>
    <app-xml-view *ngIf="content == 'biblio' && subcontent == 'biblioDc'" [xml]="document.toDc()" [xmlOriginal]="document.originalDc"></app-xml-view>
    <app-relations *ngIf="content == 'relations'"></app-relations>
    <app-atm *ngIf="content == 'atm'"></app-atm>
    <app-ocr *ngIf="content == 'ocr'"></app-ocr>
    <app-viewer *ngIf="content == 'image'"></app-viewer>
    <app-note *ngIf="content == 'note'"></app-note>
</div>