<div class="" style="height: 45px; background: #35526b">
    
    <mat-select [(ngModel)]='content' style="width: 200px; margin-right: 20px; display: inline-block; line-height: 45px; margin-left: 20px;">
        <mat-option value="biblio">Bibliografická metadata</mat-option>
    </mat-select>

    <mat-select [(ngModel)]='subcontent' style="width: 70px; display: inline-block; line-height: 45px; margin-left: 20px;">
        <mat-option *ngIf="content == 'biblio'" value="biblioEditor">Editor</mat-option>
        <mat-option *ngIf="content == 'biblio'" value="biblioMods">MODS</mat-option>
        <mat-option *ngIf="content == 'biblio'" value="biblioDc">DC</mat-option>
    </mat-select>

</div>
<div class="" style="height: calc(100% - 45px); overflow: auto;">
    <app-mods-editor *ngIf="content == 'biblio' && subcontent == 'biblioEditor'" [document]="document"></app-mods-editor>
    <app-xml-view *ngIf="content == 'biblio' && subcontent == 'biblioMods'" [xml]="document.toMods()" [xmlOriginal]="document.originalMods"></app-xml-view>
    <app-xml-view *ngIf="content == 'biblio' && subcontent == 'biblioDc'" [xml]="document.toDc()" [xmlOriginal]="document.originalDc"></app-xml-view>
</div>