<div class="app-editor-wrapper" *ngIf="editor.ready">

    <div class="app-editor-saving" *ngIf="editor.state === 'loading' || editor.state === 'saving'"></div>


<div class="app-panel app-panel-left">
  <div class="app-toolbar">
    <div class="app-label">
      <div class="app-label-title">{{ editor.document.label }}</div>
      <div class="app-label-model">{{ 'model.' + editor.document.model | translate }}</div>
    </div>

    <div class="app-actions">
<!-- 
        <button matTooltip="{{ 'common.save' | translate }}" (click)="editor.save()" mat-icon-button>
          <mat-icon>save</mat-icon>
        </button> -->

        <button matTooltip="{{ 'editor.toolbar.nav_prev' | translate }}" (click)="editor.goToPreviousObject()" mat-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button matTooltip="{{ 'editor.toolbar.nav_up' | translate }}" (click)="editor.goToParentObject()" mat-icon-button>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button matTooltip="{{ 'editor.toolbar.nav_next' | translate }}" (click)="editor.goToNextObject()" mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
  </div>
  <div class="app-content">

    <app-editor-children [items]="editor.document.children"></app-editor-children>

  </div>
</div>

<div class="app-panel app-panel-right" *ngIf="editor.child">



    <div class="app-toolbar">
        <div class="app-label">
          <div class="app-label-title">{{ editor.child.label }}</div>
          <div class="app-label-model">{{ 'model.' + editor.child.model | translate }}</div>
        </div>
    </div>


    <div class="app-content">

        <app-viewer [pid]="editor.child.pid"></app-viewer>
    
      </div>


</div>

</div>

<mat-spinner *ngIf="editor.state === 'loading' || editor.state === 'saving'"
          [strokeWidth]="5" 
          [diameter]="60"
          class="center-spinner">
</mat-spinner>

