<div class="app-editor-wrapper" *ngIf="editor.ready">

    <div class="app-editor-saving" *ngIf="editor.state === 'loading' || editor.state === 'saving'"></div>


<div class="app-panel app-panel-left">
  <div class="app-toolbar">
    <div class="app-label">
      <div class="app-label-title">{{ editor.document.label }}</div>
      <div class="app-label-model">{{ 'model.' + editor.document.model | translate }}</div>
    </div>

    <div class="app-actions">
<!-- 
        <button matTooltip="{{ 'common.save' | translate }}" (click)="editor.save()" mat-icon-button>
          <mat-icon>save</mat-icon>
        </button> -->

        <button matTooltip="{{ 'editor.toolbar.nav_prev' | translate }}" (click)="editor.goToPreviousObject()" mat-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button matTooltip="{{ 'editor.toolbar.nav_up' | translate }}" (click)="editor.goToParentObject()" mat-icon-button>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button matTooltip="{{ 'editor.toolbar.nav_next' | translate }}" (click)="editor.goToNextObject()" mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
  </div>
  <div class="app-content">

    <app-editor-children [items]="editor.document.children"></app-editor-children>

  </div>
</div>

<div class="app-panel app-panel-right" *ngIf="editor.child">



    <div class="app-toolbar">
        <div class="app-label">
          <div class="app-label-title">{{ editor.child.label }}</div>
          <div class="app-label-model">{{ 'model.' + editor.child.model | translate }}</div>
        </div>
        <div class="app-context">
              <button matTooltip="{{ 'editor.toolbar.editor_mods' | translate }}" [class.app-inactive]="editor.rightEditorType != 'mods'" (click)="editor.switchRightEditor('mods')" mat-icon-button>
                <mat-icon>code</mat-icon>
              </button>
              <button matTooltip="{{ 'editor.toolbar.editor_comment' | translate }}" [class.app-inactive]="editor.rightEditorType != 'comment'" (click)="editor.switchRightEditor('comment')" mat-icon-button>
                <mat-icon>comment</mat-icon>
              </button>
              <button matTooltip="{{ 'editor.toolbar.editor_ocr' | translate }}" [class.app-inactive]="editor.rightEditorType != 'ocr'" (click)="editor.switchRightEditor('ocr')" mat-icon-button>
                <mat-icon>title</mat-icon>
              </button>
              <button matTooltip="{{ 'editor.toolbar.editor_image' | translate }}" [class.app-inactive]="editor.rightEditorType != 'image'" (click)="editor.switchRightEditor('image')" mat-icon-button>
                <mat-icon>image</mat-icon>
              </button>
        </div>

    </div>


    <div class="app-content">

        <app-viewer *ngIf="editor.rightEditorType == 'image'" [pid]="editor.child.pid"></app-viewer>
        <app-editor-ocr *ngIf="editor.rightEditorType == 'ocr'" [pid]="editor.child.pid"></app-editor-ocr>
        <app-editor-mods *ngIf="editor.rightEditorType == 'mods'" [pid]="editor.child.pid"></app-editor-mods>
        <app-editor-comment *ngIf="editor.rightEditorType == 'comment'" [pid]="editor.child.pid"></app-editor-comment>
      </div>


</div>

</div>

<mat-spinner *ngIf="editor.state === 'loading' || editor.state === 'saving'"
          [strokeWidth]="5" 
          [diameter]="60"
          class="center-spinner">
</mat-spinner>

