<ng-container *ngIf="material.type === 'DIGITAL_OBJECT'">
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.pid' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.pid' | translate" [(ngModel)]="material.pid">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.note' | translate }}</mat-label>
      <!-- <input matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka"> -->
      <textarea matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka" rows="4"></textarea>
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="material.type === 'FOLDER'">
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.path' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.path' | translate" [(ngModel)]="material.path">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.note' | translate }}</mat-label>
      <!-- <input matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka"> -->
      <textarea matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka" rows="4"></textarea>
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="material.type === 'PHYSICAL_DOCUMENT'">
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.source' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.source' | translate" [(ngModel)]="material.source">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.barcode' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.barcode' | translate" [(ngModel)]="material.barcode">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.field001' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.field001' | translate" [(ngModel)]="material.field001">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.sigla' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.sigla' | translate" [(ngModel)]="material.sigla">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.signature' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.signatura' | translate" [(ngModel)]="material.signatura">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.detail' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.detail' | translate" [(ngModel)]="material.detail">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.edition' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.edition' | translate" [(ngModel)]="material.edice">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.number' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.number' | translate" [(ngModel)]="material.cislo">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.vintage' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.vintage' | translate" [(ngModel)]="material.rocnik">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.year' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.year' | translate" [(ngModel)]="material.rok">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.rdczid' | translate }}</mat-label>
      <input matInput [placeholder]="'desc.rdczid' | translate" [(ngModel)]="material.rdczid">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.note' | translate }}</mat-label>
      <!-- <input matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka"> -->
      <textarea matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.note" rows="4"></textarea>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>{{ 'desc.metadata' | translate }}</mat-label>
      <textarea matInput [placeholder]="'desc.metadata' | translate" [(ngModel)]="material.metadata" rows="4"></textarea>
    </mat-form-field>
  </div>
</ng-container>

<button mat-stroked-button (click)="save()" class="app-bg-color-lightnes">{{ 'button.save' | translate }}</button>
