<div class="app-editor-container">
  <div class="app-gap-fixer"></div>

  @if (material.type === 'DIGITAL_OBJECT') {
    <div class="app-form-wrapper app-top-level">
      <div class="app-form">
        <div class="app-form-content">
          <mat-form-field  class="app-field-col">
            <mat-label>{{ 'desc.pid' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.pid' | translate" [(ngModel)]="material.pid">
          </mat-form-field>
          <mat-form-field  class="app-field-col">
            <mat-label>{{ 'desc.note' | translate }}</mat-label>
            <textarea matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka" rows="4"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="app-gap-fixer"></div>
    </div>
  }

  @if (material.type === 'FOLDER') {
    <div class="app-form-wrapper app-top-level">
      <div class="app-form">
        <div class="app-form-content">
          <mat-form-field  class="app-field-col">
            <mat-label>{{ 'desc.path' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.path' | translate" [(ngModel)]="material.path">
          </mat-form-field>
          <mat-form-field  class="app-field-col">
            <mat-label>{{ 'desc.note' | translate }}</mat-label>
            <textarea matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.poznamka" rows="4"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="app-gap-fixer"></div>
    </div>
  }

  @if (material.type === 'PHYSICAL_DOCUMENT') {
    <div class="app-form-wrapper app-top-level">
      <div class="app-form">
        <div class="app-form-content">
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.source' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.source' | translate" [(ngModel)]="material.source">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.barcode' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.barcode' | translate" [(ngModel)]="material.barcode">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.field001' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.field001' | translate" [(ngModel)]="material.field001">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.sigla' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.sigla' | translate" [(ngModel)]="material.sigla">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.signature' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.signature' | translate" [(ngModel)]="material.signature">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.detail' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.detail' | translate" [(ngModel)]="material.detail">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.edition' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.edition' | translate" [(ngModel)]="material.edition">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-4">
            <mat-label>{{ 'desc.number' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.number' | translate" [(ngModel)]="material.cislo">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-3">
            <mat-label>{{ 'desc.vintage' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.vintage' | translate" [(ngModel)]="material.rocnik">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-3">
            <mat-label>{{ 'desc.year' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.year' | translate" [(ngModel)]="material.rok">
          </mat-form-field>
          <mat-form-field  class="app-field-col app-field-col-3">
            <mat-label>{{ 'desc.rdczid' | translate }}</mat-label>
            <input matInput [placeholder]="'desc.rdczid' | translate" [(ngModel)]="material.rdczid">
          </mat-form-field>
          <mat-form-field  class="app-field-col">
            <mat-label>{{ 'desc.note' | translate }}</mat-label>
            <textarea matInput [placeholder]="'desc.note' | translate" [(ngModel)]="material.note" rows="4"></textarea>
          </mat-form-field>
          <mat-form-field  class="app-field-col">
            <mat-label>{{ 'desc.metadata' | translate }}</mat-label>
            <textarea matInput [placeholder]="'desc.metadata' | translate" [(ngModel)]="material.metadata" rows="4"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="app-gap-fixer"></div>
    </div>
  }

  <div class="app-fxLayout app-row app-gap-2 app-pl-2 app-pr-2 app-pb-2">
    <button mat-stroked-button (click)="save()" class="app-bg-color-lightnes">{{ 'button.save' | translate }}</button>
    @if (material.type === 'PHYSICAL_DOCUMENT') {
      <button mat-stroked-button (click)="editMetadata()" class="app-bg-color-lightnes">{{ 'button.editMetadata' | translate }}</button>
    }
  </div>
</div>


