<h1 mat-dialog-title>{{ 'CZIDLO' | translate }}</h1>
<div mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="8px">
        <ng-container *ngIf="!(showSuccessor || showNewRegistration) && !responseData">
            <button mat-flat-button color="primary" (click)="onSuccessor()">{{ 'dialog.czidlo.successor' | translate
                }}</button>
            <button mat-flat-button color="primary" (click)="invalidateLocal()">{{ 'dialog.czidlo.invalidate' |
                translate }}</button>
            <button mat-flat-button color="primary" (click)="onNewRegistration()">{{ 'dialog.czidlo.newRegistration' |
                translate }}</button>
        </ng-container>

            <div *ngIf="showSuccessor || showNewRegistration">
                <mat-form-field class="app-w-100">
                    <mat-select [placeholder]="'desc.registrar' | translate" [(ngModel)]="selectedRegistrar"
                        [disabled]="formDisabled()">
                        <mat-option *ngFor="let registrar of registrars" [value]="registrar">{{ registrar.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="app-oa-y">
                <table *ngIf="responseData" mat-table [dataSource]="responseData" class="app-striped app-hover">
                    <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef>{{ 'desc.description' | translate }}</th>
                        <td mat-cell *matCellDef="let row">
                            <div class="app-text-cutter-wrapper">
                                <div class="app-text-cutter" [matTooltip]="row.label">
                                    {{ row.label }}
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef>{{ 'desc.model' | translate }}</th>
                        <td mat-cell *matCellDef="let row">{{ "model." + row.model | translate }}</td>
                    </ng-container>

                    <ng-container matColumnDef="statusType">
                        <th mat-header-cell *matHeaderCellDef>{{ 'desc.error' | translate }}</th>
                        <td mat-cell *matCellDef="let row">{{ row.statusType }}</td>
                    </ng-container>

                    <ng-container matColumnDef="warning">
                        <th mat-header-cell *matHeaderCellDef>{{ 'desc.state' | translate }}</th>
                        <!-- <td mat-cell *matCellDef="let row">{{ row.hasOwnProperty('warning') ? (row.warning ? ':-|' : ':-(') : ':-)' }}</td> -->
                        <td mat-cell *matCellDef="let row">
                            <mat-icon
                                [ngClass]="row.hasOwnProperty('warning') ? (row.warning ? 'app-mood_bad' : 'app-sentiment_satisfied') : 'app-mood'">
                                {{ row.hasOwnProperty('warning') ? (row.warning ? 'mood_bad' : 'sentiment_satisfied') :
                                'mood' }}
                            </mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pid">
                        <th mat-header-cell *matHeaderCellDef>PID</th>
                        <td mat-cell *matCellDef="let row">{{ row.pid }}</td>
                    </ng-container>

                    <ng-container matColumnDef="urnnbn">
                        <th mat-header-cell *matHeaderCellDef>URN:NBN</th>
                        <td mat-cell *matCellDef="let row">{{ row.urnnbn }}</td>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <th mat-header-cell *matHeaderCellDef>{{ 'desc.message' | translate }}</th>
                        <td mat-cell *matCellDef="let row">
                            <div class="app-text-cutter-wrapper">
                                <div class="app-text-cutter" [matTooltip]="row.message">
                                    {{ row.message }}
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="selectRow(row)"
                        [class.app-selected]="row.pid === selectedRow"></tr>
                </table>
            </div>

            <mat-card *ngIf="message" class="app-alert"
                [ngClass]="(state == 'error' ? 'app-warn' : false) || (selectedRowWarning ? 'app-info' : 'app-warn')">
                <mat-icon>{{ state == 'error' || !selectedRowWarning ? 'warning' : 'info' }}</mat-icon> {{ message }}
            </mat-card>
    </div>
</div>
<div mat-dialog-actions cdkFocusRegionstart>
    <button *ngIf="showNewRegistration" mat-flat-button color="primary" [disabled]="formDisabled()" (click)="newRegistration()">{{ 'dialog.czidlo.newRegistration' | translate }}</button>
    <button *ngIf="showSuccessor" mat-flat-button color="primary" [disabled]="formDisabled()" (click)="successor()">{{ 'button.successor' | translate }}</button>
    <button mat-stroked-button mat-dialog-close="close">{{ 'button.close' | translate }}</button>
    <button *ngIf="log" mat-flat-button color="warn" (click)="showErrorDetail(log)">{{ 'button.viewErrorOutput' | translate }}</button>
</div>