<div class="app-fxLayout app-column app-fill">
  <h1 mat-dialog-title [innerHtml]="'dialog.layoutSettings.title' | translate : {value: ('dynamic.' + data.layout | translate)}"></h1>
  <div mat-dialog-content class="app-fxFlex">
    <div class="app-fxLayout app-column app-fill app-gap-4">
      <div class="app-fxLayout app-row app-gap-4">
        <div class="app-fxFlex app-desc">
          <h3 class="app-mb-0">{{ 'desc.help' | translate }}</h3>
        <ul class="app-m-0">
          <li>{{ 'dialog.layoutSettings.help.1' | translate }}</li>
          <li>{{ 'dialog.layoutSettings.help.2' | translate }}</li>
          <li>{{ 'dialog.layoutSettings.help.3' | translate }}</li>
          <li>{{ 'dialog.layoutSettings.help.4' | translate }}</li>
          <li>{{ 'dialog.layoutSettings.help.5' | translate }}</li>
        </ul>
        </div>
        <div class="app-fxFlex app-fxLayout app-row app-gap-1 app-layout-controller" [matTooltip]="'dialog.layoutSettings.tooltipPanel' | translate">
          @for(c of config.columns; track $index;) {
            <div [style]="'flex: 1 1 100%; box-sizing: border-box; max-width: ' + c.size+'%'"><!--[fxFlex]="c.size+'%'"-->
              <div class="app-fxLayout app-column app-fill app-gap-1">
                @for(r of c.rows; track $index;) {
                  <div [style]="'flex: 1 1 100%; box-sizing: border-box; max-height: ' + r.size+'%'" (click)="toggleColumnVisibility(r)" class="app-fxLayout app-column app-center-v app-center-h app-layout-item" [ngClass]="r.visible ? 'app-selected' : 'app-not-selected'"><!--[fxFlex]="r.size+'%'"-->
                    <mat-icon *ngIf="!r.visible">not_interested</mat-icon>
                    <div class="app-text-center">{{ 'dynamic.' + r.type | translate }}</div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
      <div class="app-fxFlex app-layout-preview">
        <as-split *ngIf="config" direction="horizontal" [disabled]="config.disabled" (dragEnd)="onDragEnd(-1, $event)">
          @for(column of config.columns; track $index; let icol = $index) {
            <as-split-area *ngIf="column.visible" [size]="column.size">
              <as-split direction="vertical" [disabled]="config.disabled" (dragEnd)="onDragEnd(icol, $event)">
                @for(row of column.rows; track $index; let irow = $index) {
                  <as-split-area *ngIf="row.visible" [size]="row.size">
                    <div class="app-fxLayout app-column app-fill">
                      <mat-form-field>
                        <mat-select [(ngModel)]="row.type" (selectionChange)="refreshColumnVisibility()">
                          @for(type of types; track $index;) {
                            <mat-option [value]="type">
                              {{ 'dynamic.' + type | translate }}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <div class="app-fxFlex app-fxLayout app-column app-center-v app-center-h">
                        <div class="app-area-name app-p-4 app-text-center">{{ 'dynamic.' + row.type  | translate }}</div>
                      </div>
                    </div>
                  </as-split-area>
              }
              </as-split>
            </as-split-area>
        }
        </as-split>
      </div>
    </div>
  </div>
  <div mat-dialog-actions cdkFocusRegionstart>
    <button mat-flat-button color="primary" (click)="save()">{{ 'common.save' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="saved">{{ 'common.close' | translate }}</button>
  </div>
</div>