<h1 mat-dialog-title>{{ 'editor.children.select_columns' | translate }}</h1>
<div mat-dialog-content>

  <mat-card fxFlex >
    <mat-card-content *ngIf="properties.colsEditingRepo">
         
        <div class="app-label">{{ 'pages.settings.editingRepo.label' | translate }}</div>
        <mat-form-field class="app-w-100">
          <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="modelForColumns" >
            <mat-option *ngFor="let model of models" [value]="model">{{ 'model.' + model | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngFor="let column of properties.colsEditingRepo[modelForColumns]">
          <mat-checkbox [name]="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
        </div>

    </mat-card-content>
    
    <div>
      <mat-checkbox name="colsEditModeParent" [(ngModel)]="colsEditModeParent">{{ 'pages.settings.colsEditModeParent' | translate }}</mat-checkbox>
    </div>
  </mat-card>
  

</div>
<div mat-dialog-actions cdk-focus-start> 
   
  <button mat-flat-button color="primary" (click)="setSelectedColumnsEditingRepo()" >{{ 'button.save' | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="false" >{{ 'button.close' | translate }}</button>
</div>