<div class="breadcrumb-nav">
  <span>{{ 'history.title' | translate }}</span>
</div>

<div class="app-history" *ngIf="state=='success'">

  <div class="actions">

    <ng-container *ngIf="view == 'overview'">
      <mat-form-field class="app-history-states">
        <mat-select [placeholder]="'history.state' | translate" [(ngModel)]="selectedState" (selectionChange)="onStateChanged()">
          <mat-option *ngFor="let state of batchStates" [value]="state">{{ 'history.states.' + state | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="default" (click)="reload()">
        <mat-icon style="margin-right:8px;">sync</mat-icon>
        {{ 'history.refresh' | translate }}
      </button>
      <mat-checkbox style="margin-right:8px;" [(ngModel)]="autoRefresh" (change)="setRefresh()">Automaticky obnovit</mat-checkbox>

      <button mat-raised-button color="default" (click)="changeView('queue')">
        Zobrazit frontu načítání
      </button>

      <button mat-raised-button color="primary" (click)="onReloadBatch()" 
        *ngIf="selectedBatch && (selectedBatch.state === 'LOADING_FAILED' || selectedBatch.state === 'LOADED')">
        {{ 'history.reload' | translate }}
      </button>

      <button mat-raised-button color="primary" (click)="onIngestBatch()" 
        *ngIf="selectedBatch && selectedBatch.state === 'LOADED'">
        {{ 'history.ingest' | translate }}
      </button>

      <button mat-raised-button color="primary" (click)="onEditBatchObject()" 
        *ngIf="selectedBatch && selectedBatch.state === 'INGESTED' && selectedBatch.parentPid">
        {{ 'history.edit' | translate }}
      </button>

    </ng-container>

    <ng-container *ngIf="view == 'queue'">

      <button mat-raised-button color="default" (click)="reload()">
        <mat-icon style="margin-right:8px;">sync</mat-icon>
        {{ 'history.refresh' | translate }}
      </button>

      <button mat-raised-button color="default" (click)="changeView('overview')">
        Zpět na seznam všech procesů
      </button>

    </ng-container>


  </div>

  <div class="filters" *ngIf="view == 'overview'">
    <mat-form-field class="app-filter">
      <input matInput [matTooltip]="'history.desc_tooltip' | translate" [placeholder]="'history.desc' | translate" (keyup.enter)="reload()" [(ngModel)]="description">
    </mat-form-field>

    <mat-form-field class="app-filter">
      <input matInput [matDatepicker]="dp1" [placeholder]="'history.createFrom' | translate" [(ngModel)]="createFrom" (keyup.enter)="reload()">
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="app-filter">
      <input matInput [matDatepicker]="dp2" [placeholder]="'history.createTo' | translate" [(ngModel)]="createTo" (keyup.enter)="reload()">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="app-filter">
      <input matInput [matDatepicker]="dp3" [placeholder]="'history.modifiedFrom' | translate" [(ngModel)]="modifiedFrom" (keyup.enter)="reload()">
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="app-filter">
      <input matInput [matDatepicker]="dp4" [placeholder]="'history.modifiedTo' | translate" [(ngModel)]="modifiedTo" (keyup.enter)="reload()">
      <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
      <mat-datepicker #dp4></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="app-filter">
      <mat-select [placeholder]="'history.user' | translate" name="user" [(value)]="user" (keyup.enter)="reload()">
        <mat-option value="">Vše</mat-option>
        <mat-option *ngFor="let user of users" [value]="user.userId">{{ user.name }}</mat-option>
      </mat-select>
    </mat-form-field>


    <button mat-raised-button color="default" (click)="reload()" matTooltip="{{'history.filter' | translate}}">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>


  <div class="app-table" *ngIf="view == 'overview'">
  <div class="batch-list">
    <div class="app-row app-header">
      <div class="batch-folder">{{ 'history.folder' | translate }}</div>
      <div class="batch-created">{{ 'history.created' | translate }}</div>
      <div class="batch-modified">{{ 'history.modified' | translate }}</div>
      <div class="batch-state">{{ 'history.state' | translate }}</div>
      <div class="batch-user">{{ 'history.user' | translate }}</div>
      <div class="batch-actions"></div>

    </div>
    <div class="scrollable">
      <div *ngFor="let batch of batches" [class.app-selected]="batch == selectedBatch" class="app-row app-pointer" (click)="selectBatch(batch)" (dblclick)="openBatch(batch)">
        <div class="batch-folder" [matTooltip]="batch.description">{{ batch.description }}</div>
        <div class="batch-created">{{ batch.create | appDatetime }}</div>
        <div class="batch-modified">{{ batch.timestamp | appDatetime }}</div>
        <div class="batch-state">{{ 'history.states.' + batch.state | translate }}</div>
        <div class="batch-user">{{ batch.user }}</div>
        <div class="batch-actions">
          <button (click)="onShowLog(batch);$event.preventDefault();$event.stopPropagation()" *ngIf="batch.failure" mat-icon-button color="default" [matTooltip]="'history.show_log' | translate" matTooltipPosition="below">
            <mat-icon>error_outline</mat-icon>
          </button>
          <span *ngIf="batch.isLoading()">{{ batchProgress(batch) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="app-paginator">
    <mat-paginator [length]="resultCount"
                  hidePageSize="true"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  (page)="onPageChanged($event)">
    </mat-paginator>
    </div>
</div>


<div class="app-table" *ngIf="view == 'queue'">
  <div class="batch-list">
    <div class="app-row app-header">
      <div class="batch-folder">{{ 'history.folder' | translate }}</div>
      <div class="batch-created">{{ 'history.created' | translate }}</div>
      <div class="batch-modified">{{ 'history.modified' | translate }}</div>
      <div class="batch-user">{{ 'history.user' | translate }}</div>
      <div class="batch-pages">Počet stran</div>
      <div class="batch-pages">Stav</div>

    </div>
    <div class="scrollable" style="height: calc(100% - 5px);">
      <div *ngFor="let batch of queue" class="app-row">
        <div class="batch-folder" [matTooltip]="batch.description">{{ batch.description }}</div>
        <div class="batch-created">{{ batch.create | appDatetime }}</div>
        <div class="batch-modified">{{ batch.timestamp | appDatetime }}</div>
        <div class="batch-user">{{ batch.user }}</div>
        <div class="batch-pages">{{ batch.pageCount }}</div>
        <div class="batch-pages">{{ batchProgress(batch) || "Čeká" }}</div>

      </div>
    </div>
  </div>
</div>

</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>