.app-history {
  .app-formbar {
    .mat-form-field {
      &.app-resized {
        $app-size: 120px;
        flex: 1 1 $app-size;
        max-width: $app-size;
        min-width: $app-size;
      }
    }
  }

  .mat-table {
    .mat-row {
      .mat-column-actions {
        width: 60px;
      }
    }
  }
}