@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

// new
.app-history {
  @extend .app-p-4;

  .app-formbar {
    .mat-form-field {
      &.app-resized {
        $app-size: 120px;
        flex: 1 1 $app-size;
        max-width: $app-size;
        min-width: $app-size;
      }
    }
  }
}