



  <app-editor-field [field]="field" [title]="'editor.geo.title'" [collapsable]="false">


    <ng-template let-item="item" #templateMenu>
      <div class="app-header-divider"></div>
      <button color="primary" class="app-action" (click)="onSearch(item)" [matTooltip]="'editor.geo.search' | translate" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    
      <button color="primary" class="app-action" (click)="onSearch(item, true)" [matTooltip]="'editor.geo.map_search' | translate" mat-icon-button>
        <mat-icon>place</mat-icon>
      </button>

    </ng-template>



    <ng-template let-item="item" #templateContent>
        

      <mat-form-field class="app-half-left">
        <mat-select [(ngModel)]='item.attrs["authority"]' placeholder="{{ 'editor.geo.type' | translate }}">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ 'editor.geo.' + type | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    <mat-form-field class="app-half-right">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.stat["_"]' placeholder="{{ 'editor.geo.stat' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.kraj_1960["_"]' placeholder="{{ 'editor.geo.kraj_1960' | translate }}">
    </mat-form-field>
  
    <mat-form-field class="app-half-right">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.region_soudrznosti["_"]' placeholder="{{ 'editor.geo.region_soudrznosti' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.okres["_"]' placeholder="{{ 'editor.geo.okres' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.vusc["_"]' placeholder="{{ 'editor.geo.vusc' | translate }}">
    </mat-form-field>
  
    <mat-form-field class="app-half-left">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.orp["_"]' placeholder="{{ 'editor.geo.orp' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.pou["_"]' placeholder="{{ 'editor.geo.pou' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.obec["_"]' placeholder="{{ 'editor.geo.obec' | translate }}">
    </mat-form-field>
  
    <mat-form-field class="app-half-right">
      <input disabled="true"  autocomplete="off" matInput [(ngModel)]='item.zsj["_"]' placeholder="{{ 'editor.geo.zsj' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.katastralni_uzemi["_"]' placeholder="{{ 'editor.geo.katastralni_uzemi' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <input disabled="true"  autocomplete="off" matInput [(ngModel)]='item.cast_obce["_"]' placeholder="{{ 'editor.geo.cast_obce' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-left">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.ulice["_"]' placeholder="{{ 'editor.geo.ulice' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.adresni_misto["_"]' placeholder="{{ 'editor.geo.adresni_misto' | translate }}">
    </mat-form-field> 


    <mat-form-field class="app-full-width">
      <input disabled="true" autocomplete="off" matInput [(ngModel)]='item.coordinates["_"]' placeholder="{{ 'editor.geo.coordinates' | translate }}">
    </mat-form-field> 





    </ng-template>
  </app-editor-field>