<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>

    <app-field-dropdown field="descriptionStandard" [item]="item" [(value)]="item.descriptionStandard['_']" ></app-field-dropdown>
    <app-field-dropdown field="recordOrigin" [item]="item" [(value)]="item.recordOrigin['_']" ></app-field-dropdown>
@if (item.available['recordContentSource']) {
    <app-editor-field [field]="item.recordContentSources" [nested]='true'>
      <ng-template let-recordContentSource="item" #templateContent>
        <app-field-dropdown field="authority" [item]="recordContentSource" [(value)]='recordContentSource.attrs["authority"]'></app-field-dropdown>
        <app-field-text field="value" [item]="recordContentSource" [(value)]="recordContentSource.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>
  }
  @if (item.available['recordCreationDate']) {
    <app-editor-field [field]="item.recordCreationDates" [nested]='true'>
      <ng-template let-recordCreationDate="item" #templateContent>
        <app-field-dropdown field="encoding" [item]="recordCreationDate" [(value)]='recordCreationDate.attrs["encoding"]'></app-field-dropdown>
        <app-field-text field="value" [item]="recordCreationDate" [(value)]="recordCreationDate.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>
  }
@if (item.available['recordChangeDate']) {
    <app-editor-field [field]="item.recordChangeDates" [nested]='true'>
      <ng-template let-recordChangeDate="item" #templateContent>
        <app-field-dropdown field="encoding" [item]="recordChangeDate" [(value)]='recordChangeDate.attrs["encoding"]'></app-field-dropdown>
        <app-field-text field="value" [item]="recordChangeDate" [(value)]="recordChangeDate.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>
  }
  @if (item.available['recordIdentifier']) {
    <app-editor-field [field]="item.recordIdentifiers" [nested]='true'>
      <ng-template let-recordIdentifier="item" #templateContent>
        <app-field-text field="source" [item]="recordIdentifier" [(value)]='recordIdentifier.attrs["source"]'></app-field-text>
        <app-field-text field="value" [item]="recordIdentifier" [(value)]="recordIdentifier.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>
  }
  @if (item.available['languageOfCataloging']) {
    <app-editor-field [field]="item.languageOfCatalogings" [nested]='true'>
      <ng-template let-languageOfCataloging="item" #templateContent>
        <app-field-codebook prefix="lang" field="language" [item]="languageOfCataloging" [options]="codebook.languages" [(value)]='languageOfCataloging.language["_"]' [showCode]="true"></app-field-codebook>
      </ng-template>
    </app-editor-field>
  }
  </ng-template>
</app-editor-field>
