::ng-deep {
  .mat-mdc-dialog-content {
    app-editor-metadata {

      &>#new {
        border: 1px solid var(--app-default-border-color);
      }
    }
  }
}

::ng-deep .mat-mdc-dialog-surface {
  resize: both;
}