<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.settings' | translate }}</span>
    </div>
    <div fxFlex class="app-h-100">
      <button mat-button (click)="changeView('localSettings')" [class.app-active]="view == 'localSettings'">{{ 'pages.settings.tabs.localSettings' | translate }}</button>
      <button mat-button (click)="changeView('personalSettings')" [class.app-active]="view == 'personalSettings'">{{ 'pages.settings.tabs.personalSettings' | translate }}</button>
    </div>
    <button mat-button color="warn" (click)="resetSettings()" *ngIf="view == 'localSettings'"><mat-icon class="app-mr-1">delete_forever</mat-icon><span>{{ 'button.resetAllLocalSettings' | translate }}</span></button>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="state =='loading'" class="app-progress-bar"></mat-progress-bar>

  <div fxFlex class="app-settings app-content-wrapper" fxLayout="column" *ngIf="state !== 'loading' && user">
    <div fxFlex *ngIf="view == 'personalSettings'" class="app-oa-y">
      <mat-card >
        <mat-card-content>
          <fieldset class="app-p-4 app-mb-4">
            <legend>{{ 'desc.profile' | translate }}</legend>
            <div fxLayout="row">
              <mat-form-field fxFlex>
                <input [disabled]="true" matInput [value]='user.name' [placeholder]="'desc.username' | translate">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16px">
              <mat-form-field fxFlex>
                <input matInput [(ngModel)]='forename' [placeholder]="'desc.forename' | translate">
              </mat-form-field>
              <mat-form-field  fxFlex>
                <input matInput [(ngModel)]='surname' [placeholder]="'desc.surname' | translate">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16px">
              <mat-form-field fxFlex>
                <input [disabled]="true" matInput [value]="user.organization ? ('organization.' + user.organization | translate) : '-'" [placeholder]="'desc.organization' | translate">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input [disabled]="true" matInput [value]='user.role' [placeholder]="'desc.role' | translate">
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-form-field fxFlex>
                <input [disabled]="true" matInput [value]='user.home' [placeholder]="'desc.folder' | translate">
              </mat-form-field>
            </div>
          </fieldset>
          <button mat-stroked-button [disabled]="!profileChanged()" (click)="seveProfile()" class="app-mr-2">{{ 'button.save' | translate }}</button>
          <button mat-stroked-button (click)="changePassword()">{{ 'button.changePassword' | translate }}</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex *ngIf="view == 'localSettings'" class="app-oa-y">
      <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4">
        <mat-card fxFlex="35%" >
          <mat-card-content>
            <fieldset class="app-p-4 app-mb-4">
              <legend>{{ 'desc.preferredValues' | translate }}</legend>
              <div class="app-label">{{ 'desc.typesOfParties' | translate }}</div>
              <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4" fxLayoutAlign="start end">
                <span fxFlex>{{ codebook.getTopNames('PageTypes').join(", ") }}</span>
                <button mat-stroked-button (click)="changeCodebookTops('PageTypes')">{{ 'button.edit' | translate }}</button>
              </div>
              <mat-divider class="app-mb-4"></mat-divider>
              <span class="app-label">{{ 'desc.languages' | translate }}</span>
              <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4" fxLayoutAlign="start end">
                <span fxFlex>{{ codebook.getTopNames('Languages').join(", ") }}</span>
                <button mat-stroked-button (click)="changeCodebookTops('Languages')">{{ 'button.edit' | translate }}</button>
              </div>
              <mat-divider class="app-mb-4"></mat-divider>
              <span class="app-label">{{ 'desc.identifiers' | translate }}</span>
              <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4" fxLayoutAlign="start end">
                <div fxFlex>
                  <span>{{ codebook.getTopNames('Identifiers').join(", ") }}</span>
                  <em *ngIf="codebook.getTopNames('Identifiers')?.length === 0" class="app-text-lowercase">{{ 'desc.noValue' | translate }}</em>
                </div>
                <button mat-stroked-button (click)="changeCodebookTops('Identifiers')">{{ 'button.edit' | translate }}</button>
              </div>
              <!-- <mat-divider class="app-mb-4"></mat-divider>
              <span class="app-label">{{ 'desc.storageLocations' | translate }}</span>
              <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4" fxLayoutAlign="start end">
                <span fxFlex>{{ codebook.getTopNames('Locations').join(", ") }}</span>
                <button mat-stroked-button (click)="changeCodebookTops('Locations')">{{ 'button.edit' | translate }}</button>
              </div> -->
              <mat-divider class="app-mb-4"></mat-divider>
              <span class="app-label">{{ 'desc.expandingTheForm' | translate }}</span>
              <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4" fxLayoutAlign="start end">
                <span fxFlex>{{ codebook.getTopNames('ExpandedModels').join(", ") }}</span>
                <button mat-stroked-button (click)="changeCodebookTops('ExpandedModels')">{{ 'button.edit' | translate }}</button>
              </div>
              <mat-divider class="app-mb-4"></mat-divider>
              <span class="app-label">{{ 'desc.formBorderHighlighting' | translate }}</span>
              <div fxLayout="row" fxLayoutGap="16px" class="app-mb-4" fxLayoutAlign="start end">
                <mat-checkbox fxFlex name="formHighlighting" [(ngModel)]="formHighlighting">{{ 'desc.highlighttheForm' | translate }}</mat-checkbox>
                <button mat-stroked-button (click)="highlightForm()">{{ 'button.save' | translate }}</button>
              </div>
            </fieldset>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex >
          <mat-card-content>
            <fieldset class="app-p-4 app-mb-4">
              <legend>{{ 'pages.settings.search.legend' | translate }}</legend>
              <div class="app-label app-mb-2">{{ 'pages.settings.search.label' | translate }}</div>
              <div *ngFor="let column of properties.searchColumns">
                <mat-checkbox name="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
              </div>
            </fieldset>
            <button mat-stroked-button (click)="setSelectedColumnsSearch()">{{ 'button.save' | translate }}</button>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex >
          <mat-card-content>
            <fieldset class="app-p-4 app-mb-4" cdkDropList (cdkDropListDropped)="drop($event, properties.searchColumnsTree)">
              <legend>{{ 'pages.settings.searchTree.legend' | translate }}</legend>
              <div class="app-label app-mb-2">{{ 'pages.settings.searchTree.label' | translate }}</div>
              <div *ngFor="let column of properties.searchColumnsTree" cdkDropListOrientation="vertical" cdkDrag>
                <mat-checkbox name="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
              </div>
            </fieldset>
            <button mat-stroked-button (click)="setSelectedColumnsSearchTree()">{{ 'button.save' | translate }}</button>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-content *ngIf="properties.colsEditingRepo">
            <fieldset class="app-p-4 app-mb-3">
              <legend>{{ 'pages.settings.editingRepo.legend' | translate }}</legend>        
              <div class="app-label app-mb-3">{{ 'pages.settings.editingRepo.label' | translate }}</div>
              <mat-form-field class="app-w-100">
                <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="modelForColumns" (selectionChange)="getColumnsForModel()">
                  <mat-option *ngFor="let model of models" [value]="model">{{ 'model.' + model | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngFor="let column of properties.colsEditingRepo[modelForColumns]">
                <mat-checkbox [name]="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
              </div>
            </fieldset>
            <div class="app-mb-3">
              <mat-checkbox name="colsEditModeParent" [(ngModel)]="colsEditModeParent">{{ 'pages.settings.colsEditModeParent' | translate }}</mat-checkbox>
            </div>
            <button mat-stroked-button (click)="setSelectedColumnsEditingRepo()">{{ 'button.save' | translate }}</button>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-content>
            <fieldset class="app-p-4 app-mb-4">
              <legend>{{ 'pages.settings.editingImport.legend' | translate }}</legend>
              <div class="app-label app-mb-2">{{ 'pages.settings.editingImport.label' | translate }}</div>
              <div *ngFor="let column of selectedColumnsEditingImport">
                <mat-checkbox name="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
              </div>
            </fieldset>
            <button mat-stroked-button (click)="setSelectedColumnsEditingImport()">{{ 'button.save' | translate }}</button>
          </mat-card-content>
        </mat-card>
         <mat-card fxFlex>
          <mat-card-content>
            <fieldset class="app-p-4 app-mb-4">
              <legend>{{ 'pages.settings.processManagementOverview.legend' | translate }}</legend>
              <div class="app-label app-mb-2">{{ 'pages.settings.processManagementOverview.label' | translate }}</div>
              <ng-container *ngFor="let column of properties.procMngColumns">
                <div *ngIf="column.field !== 'actions'">
                  <mat-checkbox name="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
                </div>
              </ng-container>
            </fieldset>
            <button mat-stroked-button (click)="setSelectedColumnsProcMng()">{{ 'button.save' | translate }}</button>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-content>
            <fieldset class="app-p-4 app-mb-4">
              <legend>{{ 'pages.settings.processManagementQueue.legend' | translate }}</legend>
              <div class="app-label app-mb-2">{{ 'pages.settings.processManagementQueue.label' | translate }}</div>
              <div *ngFor="let column of properties.queueColumns">
                <mat-checkbox name="column.field" [(ngModel)]="column.selected">{{ 'search.' + column.field | translate }}</mat-checkbox>
              </div>
            </fieldset>
            <button mat-stroked-button (click)="setSelectedColumnsQueue()">{{ 'button.save' | translate }}</button>
          </mat-card-content>
        </mat-card> 
      </div>
    </div>
  </div>
</div>