/* .app-settings {
  height: calc(100% - 51px);
  padding: 19px 20px 0px;
  margin-top: 1px;
  overflow: auto;
  .app-settings-panel {
    background: #fff;
    margin-bottom: 20px;
    .app-settings-panel-header {
      line-height: 30px;
      padding-top: 12px;
      padding-left: 16px;
    }
    .app-settings-panel-content {
      padding: 16px;
      mat-form-field {
        max-width: 90%;
        width: 500px;
        margin-right: 16px;
      }
      .app-settings-label {
        color: #666;
        font-size: 13px;
        margin-bottom: 8px;
      }
      button {
        margin-right: 16px;
      }
    }
    &.app-settings-search {
      .app-settings-toggle {
        margin-bottom: 5px;
      }
      button {
        margin-top: 16px;
      }
    }
  }
  &.app-disabled {
    opacity: 0.4;
    pointer-events: none;
    user-select: none; 
  }
} */
