<h1 mat-dialog-title>Validace</h1>
<div mat-dialog-content [style.width]="'600px'">
    <ng-container *ngIf="state == 'running'">
        {{ index + 1 }} / {{ count }}
        <mat-progress-bar
                color="primary"
                mode="buffer"
                [value]="(index/count) * 100"
                [bufferValue]="0">
        </mat-progress-bar>
    </ng-container>

    <ng-container *ngIf="state == 'done'">
        <div class="app-message" *ngIf="numberOfInvalid == 0">
            Všechny objekty jsou validní. Celkem: {{ numberOfValid }}
        </div>
        <div class="app-message app-error-message" *ngIf="numberOfInvalid > 0">
            Počet nevalidních objektů {{ numberOfInvalid }} z {{ count }}
        </div>
    </ng-container>

</div>

<div mat-dialog-actions cdk-focus-start>
    <button *ngIf="state == 'done'" mat-raised-button color="primary" mat-dialog-close="done">Zavřít</button>
  </div>