
<div class="app-editor-content-wrapper">

  <div class="app-editor-toolbar">
      <div class="app-label">{{ 'editor.page.title' | translate }}</div>
      <div class="app-actions-right">
      <button class="app-action" [class.app-disabled]="!page || !page.hasChanged()" (click)="onRevert()" [matTooltip]="'common.revert' | translate" mat-icon-button>
          <mat-icon>replay</mat-icon>
      </button>
      <div class="app-divider"></div>

      <button class="app-action" [class.app-disabled]="!page || !page.hasChanged()" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
          <mat-icon>save</mat-icon>
      </button>
    </div>

    </div>  
      
    <div class="app-editor-content" *ngIf="state === 'success'">


      <div class="app-editor-field app-usages">
        <div class="app-card" style="padding: 8px;">
          <div class="app-card-content">
      

          
            <mat-form-field class="app-page-number" [class.app-invalid]="!page.number">
              <span class="app-usage" [class.app-help-off]="true">M</span>
              <input (focusout)="removeFocus()" (keyup.enter)="onSaveFrom('pageNumber')" autocomplete="off" matInput [placeholder]="'editor.page.number' | translate" [(ngModel)]="page.number" #pageNumber>

              <button class="app-brackets" [class.app-disabled]="!page.number" [matTooltip]="isInBrackets() ? 'Odebrat závorky' : 'Vložit do závorek'" (click)="switchBrackets()" mat-icon-button>
                <span class="app-text-icon">[ ]</span>
              </button>

            </mat-form-field>

            <mat-form-field class="app-half-left" *ngIf="config.showPageIndex" [class.app-invalid]="!page.index">
              <span class="app-usage" [class.app-help-off]="true">M</span>
              <input (focusout)="removeFocus()" (keyup.enter)="onSaveFrom('pageIndex')" autocomplete="off" matInput [placeholder]="'editor.page.index' | translate" [(ngModel)]="page.index" #pageIndex>
            </mat-form-field>

            <mat-form-field [ngClass]="config.showPageIndex ? 'app-half-right' : 'app-full-width'" [class.app-invalid]="!page.type">
              <span class="app-usage" [class.app-help-off]="true">M</span>
              <mat-select [placeholder]="'editor.page.type' | translate" name="type" [(value)]="page.type">
                <mat-option *ngFor="let pageType of codebook.pageTypes" [value]="pageType.code">{{ pageType.name }}</mat-option>
              </mat-select>
            </mat-form-field> 

 

            <mat-form-field class="app-half-left" *ngIf="page.isNdkPage()">
              <span class="app-usage" [class.app-help-off]="true">O</span>
              <mat-select [(ngModel)]='page.position' placeholder="{{ 'editor.page.position' | translate }}">
                <mat-option *ngFor="let position of positions" [value]="position">{{ 'editor.page.positions.' + position | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="app-half-right" *ngIf="page.isNdkPage()" [class.app-invalid]="!page.genre">
              <span class="app-usage" [class.app-help-off]="true">M</span>
              <mat-select [(ngModel)]='page.genre' placeholder="{{ 'editor.page.genre' | translate }}">
                <mat-option *ngFor="let genre of genres" [value]="genre">{{ 'editor.page.genres.' + genre | translate }}</mat-option>
              </mat-select>
            </mat-form-field>





            <mat-form-field class="app-full-width">
              <span class="app-usage" [class.app-help-off]="true">O</span>
              <textarea 
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"
              autocomplete="off" matInput [(ngModel)]='page.note' placeholder="{{ 'editor.page.note' | translate }}"></textarea>
            </mat-form-field>
    


          <ng-container *ngIf="config.showPageIdentifiers">
            <div class="app-card app-identifier" *ngFor="let identifier of page.identifiers; index as index; last as last; first as first;">
              <div class="app-card-header">
                <span class="app-card-title">{{ 'editor.page.identifier' | translate }}</span>
          
                <button matTooltip="{{ 'common.remove' | translate }}" color="primary" (click)="page.removeIdentifier(index)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>

                <button [disabled]="last" matTooltip="{{ 'common.move_down' | translate }}" color="primary" (click)="page.moveIdentifierDown(index)" mat-icon-button>
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <button [disabled]="first" matTooltip="{{ 'common.move_up' | translate }}" color="primary" (click)="page.moveIdentifierUp(index)" mat-icon-button>
                  <mat-icon>arrow_drop_up</mat-icon>
                </button>
            
                <button matTooltip="{{ 'editor.page.add_identifier' | translate }}" color="primary" (click)="page.addIdentifierAfter(index)" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>

  
          
              </div>
              <div class="app-card-content">


                <mat-form-field class="app-identifier-type">
                  <mat-select [(ngModel)]='identifier.type' placeholder="{{ 'editor.identifier.type' | translate }}">
                    <mat-option *ngFor="let identifier of codebook.identifiers" [value]="identifier.code">{{ identifier.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="app-identifier-value">
                  <input autocomplete="off" matInput [(ngModel)]='identifier.value' placeholder="{{ 'editor.identifier.title' | translate }}">
                </mat-form-field>





                </div>
              </div>
            </ng-container>











          </div>
        </div>
      </div>
    















    </div>
    
    <mat-spinner *ngIf="state === 'loading'"
              [strokeWidth]="5" 
              [diameter]="60"
              class="center-spinner">
    </mat-spinner>


  
  </div>  
    


