<div class="breadcrumb-nav">
  <span>Import</span>
  <!-- <mat-select [placeholder]="'import.profile' | translate" [(ngModel)]="selectedProfile" (selectionChange)="onProfileChanged()">
    <mat-option *ngFor="let profile of profiles" [value]="profile">{{ profile.label }}</mat-option>
  </mat-select>
  <div class="app-actions-right">

  </div> -->

</div>

<div class="app-import">

  <div class="app-actions">

    <button mat-raised-button color="primary" (click)="onLoad()" [disabled]="!importService.anyFolderSelected()">
      {{ 'import.load' | translate }}
    </button>

    <mat-form-field class="app-import-profiles">
      <mat-select [placeholder]="'import.profile' | translate" [(ngModel)]="selectedProfile" (selectionChange)="onProfileChanged()">
        <mat-option *ngFor="let profile of profiles" [value]="profile">{{ profile.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="app-import-devices">
      <mat-select [placeholder]="'import.device' | translate" [(ngModel)]="selectedDevice">
        <mat-option *ngFor="let device of devices" [value]="device">{{ device.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox color="primary" class="app-import-index" [(ngModel)]="generateIndex">{{ 'import.generate_index' | translate }}</mat-checkbox>

  </div>

  <div class="app-table app-items">
    <div class="app-scrollable">
      <app-import-tree [tree]="tree"></app-import-tree>
    </div>
  </div>

  
</div>
