
<div class="app-editor-content-wrapper">
    <div class="app-editor-toolbar">
        <div class="app-label">{{ 'editor.geo.editor_title' | translate }}</div>
        <div class="app-actions-right">
            <button class="app-action" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>  

<div class="app-editor-content" *ngIf="metadata">
    <app-editor-subject-geo *ngIf="available('subject_geo')" [field]="metadata.getField('subject_geo')"></app-editor-subject-geo>
</div>

</div>  
