

    
<div>
  <mat-radio-group class="app-text-supplement" aria-label="'standard'" [(ngModel)]="field.getItems()[0].attrs['type']">
      <mat-radio-button value="peer-reviewed">peer-reviewed</mat-radio-button>
      <mat-radio-button value="none">none</mat-radio-button>
  </mat-radio-group>
</div>

<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>

    <app-autocomplete [(value)]='item.attrs["authority"]' field="authority" [item]="item"></app-autocomplete>
    <app-field-dropdown [(value)]='item.attrs["type"]' field="type" [item]="item"></app-field-dropdown>
    <app-field-text [(value)]='item.attrs["lang"]' field="lang" [item]="item"></app-field-text>
    <app-autocomplete field="value" [item]="item" [(value)]="item.modsElement['_']" ></app-autocomplete>

  </ng-template>
</app-editor-field>
