<app-editor-field [field]="field" [title]="'editor.genre.title'" usage="M">
  <ng-template let-item="item" #templateContent>

    <app-autocomplete innerClass="app-full-width" [usage]="'MA'" [(value)]='item.attrs["authority"]' [label]="'editor.genre.authority' | translate" [options]="authorities"></app-autocomplete>

    <mat-form-field class="app-full-width">
      <span class="app-usage">M</span>
      <input autocomplete="off" matInput [(ngModel)]='item.modsElement["_"]' placeholder="{{ 'editor.genre.title' | translate }}">
    </mat-form-field>

  </ng-template>
</app-editor-field>
  