
<div class="app-p-2" *ngIf="showGenreSwitch">
  <mat-radio-group aria-label="'standard'" [(ngModel)]="field.isPeerReviewed" [formControl]="field.getItems()[0].controls['peer-reviewed']" color="primary" (change)="switchChanged($event)">
      <mat-radio-button [value]="true">Recenzovaný článek</mat-radio-button>
      <mat-radio-button [value]="false">Nerecenzovaný článek</mat-radio-button>
  </mat-radio-group>
</div>
<app-editor-field [field]="field" [showGenreSwitch]="showGenreSwitch">
  <ng-template let-item="item" #templateContent>
      <app-autocomplete [(value)]='item.attrs["authority"]' field="authority" [item]="item"></app-autocomplete>
      <app-field-dropdown [(value)]='item.attrs["type"]' field="type" [item]="item"></app-field-dropdown>
      <app-field-text [(value)]='item.attrs["lang"]' field="lang" [item]="item"></app-field-text>
      <app-autocomplete field="value" [item]="item" [(value)]="item.modsElement['_']" ></app-autocomplete>
  </ng-template>
</app-editor-field>
