@if (state ==='saving') {<mat-progress-bar mode="indeterminate" class="app-progress-bar"></mat-progress-bar>}
<h1 mat-dialog-title>{{ 'dialog.export.title' | translate }}</h1>
<div mat-dialog-content class="app-scrollbar-fix">
  <mat-form-field class="app-w-100">
    <mat-select [placeholder]="'desc.exportType' | translate" [(ngModel)]="selectedType" [disabled]="formDisabled()">
      @for(type of types; track $index;) {
      <mat-option [value]="type">{{ "dialog.export.type." + type | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (selectedType=='kramerius' || selectedType==='ndk_psp_upload_kramerius' || selectedType ===
  'ndk_oldprint_upload_kramerius' || selectedType === 'ndk_sip_upload_kramerius') {
  <mat-form-field class="app-w-100">
    <mat-select [placeholder]="'desc.krameriusInstances' | translate" name="instance" [(ngModel)]="importInstance">
      @for(ins of instances; track $index;) {
      <mat-option [value]="ins">{{ ins.krameriusInstanceName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (importInstance && importInstance.krameriusInstanceLicenses) {
  <mat-form-field class="app-w-100">
    <mat-select [placeholder]="'desc.krameriusLicenses' | translate" name="instance" [(ngModel)]="licenseName">
      @for(lic of importInstance.krameriusInstanceLicenses; track $index;) {
      <mat-option [value]="lic.krameriusInstanceLicenseName">{{ lic.krameriusInstanceLicenseDescription }} -
        ({{lic.krameriusInstanceLicenseName}})</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }

  }

@if ((selectedType=='kramerius_bagit' || selectedType=='kramerius' || selectedType=='kwis' || selectedType==='ndk_psp_upload_kramerius' || selectedType==='ndk_oldprint_upload_kramerius'  || selectedType === 'ndk_sip_upload_kramerius') && importInstance && !importInstance.krameriusInstanceLicenses) {
  <mat-checkbox [disabled]="formDisabled()" color="primary" [(ngModel)]="policyPublic">{{ 'desc.publiclyAvailable' | translate }}</mat-checkbox>
}
@if (selectedType=='ndk_psp_upload_cesnet' || selectedType=='ndk_oldprint_upload_cesnet') {
  <mat-form-field class="app-w-100">
    <input type="text" autocomplete="off" matInput [placeholder]="'desc.ltpToken' | translate"
      [(ngModel)]="cesnetLtpToken">
  </mat-form-field>
}
@if (selectedType=='archive_extended' || selectedType==='archive_stt_extended' || selectedType === 'archive_extended_bagit' || selectedType === 'archive_stt_extended_bagit') {
  <mat-radio-group aria-label="'standard'" [(ngModel)]="extendedType" class="app-ml-3">
    <mat-radio-button value="snkd">Skeny nejsou k dispozici</mat-radio-button>
    <mat-radio-button value="pi">Přidat Informaci</mat-radio-button>
    <mat-radio-button value="bv">Bez výběru</mat-radio-button>
  </mat-radio-group>
}
@if (extendedType=='snkd') {
  <mat-form-field class="app-w-100">
    <input required type="text" autocomplete="off" matInput
      [placeholder]="'Skeny nejsou k dispozici message' | translate" [(ngModel)]="noTifMessage">
  </mat-form-field>
}
@if (extendedType=='pi') {
  <mat-form-field class="app-w-100">
    <input required type="text" autocomplete="off" matInput [placeholder]="'Přidat Informaci' | translate"
      [(ngModel)]="addInfoMessage">
  </mat-form-field>
}
@if (state=='saving') {
  <mat-card class="app-alert app-info app-mt-4">
    <mat-icon>info</mat-icon>
    {{ 'dialog.export.alert.exporting' | translate }}
  </mat-card>
} @else if (state==='error') {

  <mat-card class="app-alert app-warn app-mt-4" fxLayout="column" fxLayoutGap="8px">
    <div>{{ 'dialog.export.alert.error' | translate }}</div>
    @for(error of errors; track $index;) {
    <button (click)="showErrorDetail(error)" mat-flat-button color="warn">
      {{ 'button.viewErrorDetail' | translate }}
    </button>
    }
  </mat-card>
} @else if (state==='done') {
  <mat-card class="app-alert app-success" 
    [class.app-mt-4]="selectedType=='kramerius' || selectedType=='kwis'">
    <mat-icon>check_circle</mat-icon>
    {{ 'dialog.export.alert.done' | translate }}
  </mat-card>
}
</div>

<div mat-dialog-actions cdkFocusRegionstart>
  @if (!canContinue && state !== 'error') {
  <button mat-flat-button color="primary" [disabled]="formDisabled()"
    (click)="onExport(false)">{{ 'button.startExport' | translate }}</button>
  }
  @if (canContinue) {
  <button mat-flat-button color="primary" [disabled]="formDisabled()" (click)="onExport(true)">{{
    'button.exportAnyway' | translate }}</button>
  }
  <button mat-stroked-button mat-dialog-close="close">{{ 'button.close' | translate }}</button>
</div>