.mat-dialog-content {
  width:470px;
  min-height:70px;
  .app-export-selection {
    display: block;
  }

  .app-export-message {
    margin: 8px 0 10px;
    font-size: 14px;
    color: #666;
  }

  .app-export-error {
    color: #b74f47;
    font-size: 14px;
    overflow: auto;
    line-height: 40px;
    button {
      float: right;
    }
  }
  mat-checkbox {
    height: 35px;
    display: block;
  }
}