@if (state ==='saving') {<mat-progress-bar mode="indeterminate" class="app-progress-bar"></mat-progress-bar>}
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{ 'dialog.export.title' | translate }}</h1>
<div mat-dialog-content class="app-scrollbar-fix">
  <mat-form-field class="app-w-100" [appearance]="settings.appearance">
    <mat-select [placeholder]="'desc.exportType' | translate" [(ngModel)]="selectedType" [disabled]="formDisabled()">
      @for(type of types; track $index;) {
        <mat-option [value]="type">{{ "dialog.export.type." + type | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (selectedType=='kramerius' || selectedType==='ndk_psp_upload_kramerius' || selectedType === 'ndk_oldprint_upload_kramerius' || selectedType === 'ndk_sip_upload_kramerius') {
    <mat-form-field class="app-w-100" [appearance]="settings.appearance">
      <mat-select [placeholder]="'desc.krameriusInstances' | translate" name="instance" [(ngModel)]="importInstance"
        [disabled]="formDisabled()" (selectionChange)="onKrameriusInstanceChange()">
        @for(ins of instances; track $index;) {
        <mat-option [value]="ins">{{ ins.krameriusInstanceName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (importInstance && importInstance.krameriusInstanceLicenses) {
      <mat-form-field class="app-w-100" [appearance]="settings.appearance">
        <mat-select [placeholder]="'desc.krameriusLicenses' | translate" name="license" [(ngModel)]="licenseName"
          [disabled]="formDisabled()">
          @for(lic of importInstance.krameriusInstanceLicenses; track $index;) {
          <mat-option [value]="lic.krameriusInstanceLicenseName">{{ lic.krameriusInstanceLicenseDescription }} -
            ({{lic.krameriusInstanceLicenseName}})</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (importInstance?.krameriusInstanceCollections?.length) {
      <div class="app-collections">
        <div class="app-collection-picker">
          <div class="app-collection-filter">
            <mat-icon>search</mat-icon>
            <input type="search" autocomplete="off"
              [attr.aria-label]="'desc.filterKrameriusCollections' | translate"
              [placeholder]="'desc.filterKrameriusCollections' | translate"
              [(ngModel)]="collectionFilter" [disabled]="formDisabled() || updateMods">
            @if (collectionFilter) {
              <button mat-icon-button type="button" (click)="collectionFilter = ''"
                [disabled]="formDisabled() || updateMods"
                [attr.aria-label]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </div>
          <div class="app-collection-list" role="group" [attr.aria-label]="'desc.krameriusCollections' | translate">
            @for(collection of filteredCollections; track collection.pid) {
              <mat-checkbox color="primary" [checked]="collectionSelected(collection.pid)"
                [disabled]="formDisabled() || updateMods"
                (change)="setCollectionSelected(collection.pid, $event.checked)">
              <span class="app-collection-label">
                {{ collectionLabel(collection) }}
              </span>
              </mat-checkbox>
            } @empty {
              <div class="app-collection-empty">{{ 'desc.noKrameriusCollections' | translate }}</div>
            }
          </div>
        </div>
        @if (selectedCollectionLabels.length) {
          <mat-card appearance="outlined" class="app-alert app-info app-collection-summary">
            <mat-card-content>
              <mat-icon>info</mat-icon>
              <div class="app-collection-summary-content">
                <div>{{ selectedCollectionsSummaryKey | translate: {count: selectedCollectionLabels.length} }}</div>
                <ul>
                  @for(collection of selectedCollectionItems; track collection.pid) {
                    <li>
                      <div class="app-collection-summary-row">
                        <span>{{ collectionLabel(collection) }}</span>
                        <button mat-icon-button type="button"
                          (click)="setCollectionSelected(collection.pid, false)"
                          [disabled]="formDisabled() || updateMods"
                          [matTooltip]="'desc.removeKrameriusCollection' | translate:
                            {name: collectionName(collection)}"
                          [attr.aria-label]="'desc.removeKrameriusCollection' | translate:
                            {name: collectionName(collection)}">
                          <mat-icon>close</mat-icon>
                        </button>
                      </div>
                    </li>
                  }
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>
    }
  }
<div class="app-mb-2">
  <mat-checkbox [disabled]="formDisabled()" color="primary" [(ngModel)]="nightOnly">{{ 'desc.nightOnly' | translate }}</mat-checkbox>
</div>
  @if ((selectedType=='kramerius_bagit' || selectedType=='kramerius' || selectedType=='kwis')) {
    <div class="app-mb-2">
      <mat-radio-group [(ngModel)]="updateMods" color="primary" [disabled]="formDisabled()"
        (change)="onUpdateModsChange()"
        [attr.aria-label]="'desc.importMode' | translate">
        <mat-radio-button [value]="false" [matTooltip]="'desc.fullImportHint' | translate">
          {{ 'desc.fullImport' | translate }}
        </mat-radio-button>
        <mat-radio-button [value]="true" [matTooltip]="'desc.updateModsHint' | translate">
          {{ 'desc.updateMods' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  }


@if ((selectedType=='kramerius_bagit' || selectedType=='kramerius' || selectedType=='kwis') && importInstance && !importInstance.krameriusInstanceLicenses) {
  <mat-checkbox [disabled]="formDisabled()" color="primary" [(ngModel)]="policyPublic">{{ 'desc.publiclyAvailable' | translate }}</mat-checkbox>
}


@if (selectedType=='ndk_psp_upload_cesnet' || selectedType=='ndk_oldprint_upload_cesnet') {
  <mat-form-field class="app-w-100" [appearance]="settings.appearance">
    <input type="text" autocomplete="off" matInput [placeholder]="'desc.ltpToken' | translate"
      [(ngModel)]="cesnetLtpToken">
  </mat-form-field>
}
@if (selectedType=='archive_extended' || selectedType==='archive_stt_extended' || selectedType === 'archive_extended_bagit' || selectedType === 'archive_stt_extended_bagit') {
  <div class="app-mb-4">
    <mat-radio-group aria-label="'standard'" [(ngModel)]="extendedType">
      <mat-radio-button value="snkd">Skeny nejsou k dispozici</mat-radio-button>
      <mat-radio-button value="pi">Přidat Informaci</mat-radio-button>
      <mat-radio-button value="bv">Bez výběru</mat-radio-button>
    </mat-radio-group>
  </div>
}
@if (extendedType=='snkd') {
  <mat-form-field class="app-w-100" [appearance]="settings.appearance">
    <input required type="text" autocomplete="off" matInput
      [placeholder]="'Skeny nejsou k dispozici message' | translate" [(ngModel)]="noTifMessage">
  </mat-form-field>
}
@if (extendedType=='pi') {
  <mat-form-field class="app-w-100" [appearance]="settings.appearance" >
    <input required type="text" autocomplete="off" matInput [placeholder]="'Přidat Informaci' | translate"
      [(ngModel)]="addInfoMessage">
  </mat-form-field>
}
@if (state=='saving') {
  <mat-card class="app-alert app-info app-mt-4">
    <mat-card-content>
      <mat-icon>info</mat-icon>
      {{ 'dialog.export.alert.exporting' | translate }}
    </mat-card-content>
  </mat-card>
} @else if (state==='error') {

  <mat-card class="app-alert app-warn app-mt-4 app-fxLayout app-column app-gap-4">
    <mat-card-content>
      <div>{{ 'dialog.export.alert.error' | translate }}</div>
      @for(error of errors; track $index;) {
      <button (click)="showErrorDetail(error)" mat-flat-button color="warn">
        {{ 'button.viewErrorDetail' | translate }}
      </button>
      }
    </mat-card-content>
  </mat-card>
} @else if (state==='done' || state==='done_nightOnly') {
  <mat-card class="app-alert app-success" [class.app-mt-4]="selectedType=='kramerius' || selectedType=='kwis'">
    <mat-card-content>
      <mat-icon>check_circle</mat-icon>
      {{ ('dialog.export.alert.done' + (nightOnly ? '_nightOnly' : '')) | translate }}
    </mat-card-content>
  </mat-card>
}
</div>

<div mat-dialog-actions cdkFocusRegionstart>
  @if (!canContinue && state !== 'error') {
  <button matButton="filled" [disabled]="formDisabled()"
    (click)="onExport(false)">{{ 'button.startExport' | translate }}</button>
  }
  @if (canContinue) {
  <button matButton="filled" [disabled]="formDisabled()" (click)="onExport(true)">{{
    'button.exportAnyway' | translate }}</button>
  }
  <button mat-stroked-button mat-dialog-close="close">{{ 'button.close' | translate }}</button>
</div>


