.app-import {
  height: calc(100% - 50px);
  padding: 10px 20px;
  .actions {
    height: 60px;
    overflow: hidden;
    .app-import-profiles {
      margin-left: 16px;
      margin-right: 16px;
    }
    .app-import-devices {
      margin-right: 16px;
    }
  }
  .app-table {
    height: calc(100% - 60px);
  }
  .folder-list {
    height: calc(100% - 60px);
    .app-header {
      flex: 1;
    }
    .folder-name {
      flex: 1;
    }
    .folder-state {
      width: 150px;
    }
    .scrollable {
      height: calc(100% - 54px);
      overflow: auto;
    }
  }
  .app-path {
    &:hover {
      background: transparent;
    }
    .app-path-segment {
      cursor: pointer;
    }
    mat-icon {
      margin: 11px;
    }
  }
}