<div class="breadcrumb-nav">
  <span>Import</span>
</div>

<div class="app-import" *ngIf="state=='success'">

  <div class="actions">


    <a mat-raised-button color="default" [routerLink]="['/import', 'history']" class="app-import-history">
      {{ 'history.title' | translate }}
    </a>


    <button mat-raised-button color="primary" (click)="onContinue()" [disabled]="!canBeLoaded()">
      <mat-icon style="margin-right:8px;">arrow_right_alt</mat-icon>
      {{ 'import.continue' | translate }}
    </button>

    <button mat-raised-button color="primary" (click)="reload()">
      <mat-icon style="margin-right:8px;">sync</mat-icon>
      {{ 'history.refresh' | translate }}
    </button>

    <mat-form-field class="app-import-profiles">
      <mat-select [placeholder]="'import.profile' | translate" [(ngModel)]="selectedProfile" (selectionChange)="onProfileChanged()">
        <mat-option *ngFor="let profile of profiles" [value]="profile">{{ profile.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="app-import-devices">
      <mat-select [placeholder]="'import.device' | translate" [(ngModel)]="selectedDevice">
        <mat-option *ngFor="let device of devices" [value]="device">{{ device.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox color="primary" class="app-import-index" [(ngModel)]="generateIndex">{{ 'import.generate_index' | translate }}</mat-checkbox>


  </div>



  <div class="app-table">
  <div class="folder-list">
      <!-- <div class="app-row app-header">
        <div class="folder-name">Název</div>
        <div class="folder-state">Stav</div>
      </div> -->

      <div *ngIf="path" class="app-row app-path">
        <span class="app-path-segment" (click)="openPath('/')">Kořenový adresář</span>
        <ng-container *ngFor="let segment of path.split('/'); let index = index;">
          <ng-container *ngIf="segment">
            <mat-icon>chevron_right</mat-icon>
            <span class="app-path-segment" (click)="openFolderAtPathIndex(index + 1)">{{ segment }}</span>
          </ng-container>
        </ng-container>
      </div>


    <div class="scrollable">
      <div *ngFor="let folder of folders" [class.app-selected]="folder == selectedFolder" class="app-row app-pointer" (click)="selectFolder(folder)" (dblclick)="openFolder(folder)">
        <div class="folder-name">{{ folder.name }}</div>
        <div class="folder-state">{{ "import.state." + folder.state | translate }}</div>
      </div>
    </div>
  </div>

  <div class="paginator-wrapper">
    <mat-paginator [length]="resultCount"
                  hidePageSize="true"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  (page)="onPageChanged($event)">
    </mat-paginator>
    </div>
</div>


</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>