.app-import {
  height: calc(100% - 50px);
  padding: 10px 20px;
  .actions {
    height: 60px;
    overflow: hidden;
    button {
      margin-right: 16px;
    }
    .app-import-profiles {
      margin-right: 16px;
      width: 200px;
    }
    .app-import-devices {
      margin-right: 16px;
      width: 200px;
    }
    .app-import-history {
      float: right;
      display: block;
      margin-top: 12px;
    }
  }
  .app-table {
    height: calc(100% - 60px);
    width: calc(50% - 5px);
    float: left;
    font-size: 14px;
    .folder-list {
      height: calc(100% - 60px);
      .app-row {
        height: 40px;
        line-height: 40px;;
      }
      &.app-disabled {
        opacity: 0.4;
        pointer-events: none;
        user-select: none; 
      }
      .app-header {
        flex: 1;
      }
      .folder-name {
        flex: 1;
      }
      .folder-state {
        width: 150px;
      }
      .scrollable {
        height: calc(100% - 0px);
        overflow: auto;
      }
    }
    &.app-table-left {
      margin-right: 10px;
    }
    &.app-table-right {
      .folder-list {
        height: calc(100% - 0px);
      }

    }
  }
  .app-path {
    &:hover {
      background: transparent;
    }
    .app-path-segment {
      cursor: pointer;
    }
    mat-icon {
      margin: 11px;
      color: #cccccc;
    }
  }
}