<div class="app-fxLayout app-column app-fill app-form-field-dens-6">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/admin">{{ 'desc.userAdministration' | translate }}</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.userEditing' | translate }}</span>
    </div>
  </div>

  <div class="app-fxFlex app-content-wrapper app-oa-y app-edit-user">
    @if (selectedUser) {
      <fieldset class="app-p-4 app-mb-4">
        <legend>{{ 'desc.accountInformation' | translate }}</legend>
        <div class="app-fxLayout app-row app-gap-4">
          <mat-form-field  class="app-fxFlex">
            <mat-label>{{ 'desc.username' | translate }}</mat-label>
            <input (keyup.enter)="save()" autocomplete="off" matInput [placeholder]="'desc.username' | translate" title=""
              [matTooltip]="'formField.users.tooltipUsername' | translate" [(ngModel)]="selectedUser.name" type="text"
              pattern="[a-z][a-z0-9_\-]{4,}"  required #name />
              @if (!selectedUser.name) {
                <mat-error>{{ 'formField.users.error.username' | translate }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="app-fxFlex">
              <mat-label>{{ 'desc.password' | translate }}</mat-label>
              <input (keyup.enter)="save()" autocomplete="off" matInput [placeholder]="'desc.password' | translate" title="" minlength="6" [matTooltip]="'formField.users.tooltipPassowrd' | translate" [(ngModel)]="selectedUser.password" type="password" required #password>
              @if (!selectedUser.password) {
                <mat-error>{{ 'formField.users.error.password' | translate }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="app-fxFlex">
              <mat-label>{{ 'desc.forename' | translate }}</mat-label>
              <input (keyup.enter)="save()" autocomplete="off" matInput [placeholder]="'desc.forename' | translate" [(ngModel)]="selectedUser.forename">
            </mat-form-field>
            <mat-form-field  class="app-fxFlex">
              <mat-label>{{ 'desc.surname' | translate }}</mat-label>
              <input (keyup.enter)="save()" autocomplete="off" matInput title=""  [placeholder]="'desc.surname' | translate" [(ngModel)]="selectedUser.surname" required #surname>
              @if (!selectedUser.surname) {
                <mat-error>{{ 'formField.users.error.surname' | translate }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="app-fxFlex">
              <mat-label>{{ 'desc.email' | translate }}</mat-label>
              <input (keyup.enter)="save()" autocomplete="off" matInput [placeholder]="'desc.email' | translate" [(ngModel)]="selectedUser.email">
            </mat-form-field>
          </div>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field  class="app-fxFlex">
              <mat-label>{{ 'desc.organization' | translate }}</mat-label>
              <mat-select [placeholder]="'desc.organization' | translate" name="organization" [(ngModel)]="selectedUser.organization">
                <mat-option [value]="null">--</mat-option>
                @for(organization of organizations; track $index;) {
                  <mat-option [value]="organization">{{ 'organization.' + organization | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field  class="app-fxFlex">
              <mat-label>{{ 'desc.role' | translate }}</mat-label>
              <mat-select [(ngModel)]='selectedUser.role' [placeholder]="'desc.role' | translate">
                @for(role of roles; track $index;) {
                  <mat-option [value]="role">{{ 'formField.users.roles.' + role | translate }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="app-mb-4">
            <strong>{{'desc.folder' | translate}}</strong>: <em class="app-desc">{{ selectedUser.home }}</em>
          </div>
          <div class="app-mb-2">
            <span class="app-label">{{ 'desc.theUserIsAllowedToRunTheseFunctions' | translate }}:</span>
          </div>
          <div class="app-fxLayout app-row app-center-v app-gap-4">
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.changeModelFunction">{{ 'desc.conversionOfModels' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.updateModelFunction">{{ 'desc.updateModels' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.lockObjectFunction">{{ 'desc.lockingTheObject' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.unlockObjectFunction">{{ 'desc.unlockingTheObject' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.importToProdFunction">{{ 'desc.importToProdFunction' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.czidloFunction">{{ 'desc.czidloFunction' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.importToCatalogFunction">{{ 'desc.importToCatalogFunction' | translate }}</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.wfDeleteJobFunction">{{ 'desc.wfDeleteJobFunction' | translate }}</mat-checkbox>
          </div>
        </fieldset>
        <div class="app-mb-2">
          <button mat-stroked-button (click)="save()">{{ 'button.save' | translate }}</button>
        </div>
      }
    </div>
  </div>
