<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon> Home</a>
      <span class="app-separator">/</span>
      <a routerLink="/admin">{{ 'desc.userAdministration' | translate }}</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.userEditing' | translate }}</span>
    </div>
  </div>
</div>