<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>
    
    <mat-form-field class="app-half-left">
      <mat-select [(ngModel)]='item.modsElement["_"]' placeholder="{{ 'editor.chronicle.genre.genre' | translate }}">
        <mat-option *ngFor="let genre of genres" [value]="genre.code">
          {{ genre.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <input autocomplete="off" matInput [(ngModel)]='item.attrs["lang"]' placeholder="{{ 'editor.chronicle.genre.number' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <mat-select [(ngModel)]='item.attrs["type"]' placeholder="{{ 'editor.chronicle.genre.content_type' | translate }}">
        <mat-option *ngFor="let type of contentTypes" [value]="type.code">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </ng-template>
</app-editor-field>
  