<div class="app-fxLayout app-column app-fill app-form-field-dens-6">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/devices">{{ 'device.devices' | translate }}</a>
      <span class="app-separator">/</span>
      <ng-container *ngIf="mode == 'new'">
        <span class="app-last">{{ 'device.newDevice' | translate }}</span>
      </ng-container>
      <ng-container *ngIf="mode == 'edit' && device">
        <a [routerLink]="['/devices', device.id]">{{ deviceName }}</a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'device.deviceModification' | translate }}</span>
      </ng-container>
    </div>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'" class="app-progress-bar"></mat-progress-bar>

  <div class="app-fxFlex app-fxLayout app-column app-content-wrapper app-devices app-oa-y">
    <mat-card appearance="outlined" *ngIf="state=='success' || state=='saving'">
      <mat-card-content>
        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'device.general' | translate }}</legend>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex" *ngIf="mode == 'new'">
              <mat-label>{{ 'device.typeOfDevice' | translate}}</mat-label>
              <mat-select required [placeholder]="'device.typeOfDevice' | translate" name="model" [(value)]="device.model">
                <mat-option *ngFor="let model of models" [value]="model">{{ 'model.' + model | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{'device.name' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.name' | translate" [disabled]="state=='saving'" [(ngModel)]='device.label' name="label" required>
            </mat-form-field>
          </div>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{'device.imageProducer' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.imageProducer' | translate" [disabled]="state=='saving'" [(ngModel)]='device.imageProducer' name="imageProducer" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{'device.captureDevice' | translate }}</mat-label>
              <mat-select [placeholder]="'device.captureDevice' | translate" name="captureDevice" [(value)]="device.captureDevice">
                <mat-option *ngFor="let captureDevice of captureDevices" [value]="captureDevice">{{ captureDevice }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </fieldset>

        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'device.scanner' | translate }}</legend>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.manufacturer' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.manufacturer' | translate" [disabled]="state=='saving'" [(ngModel)]='device.scannerManufacturer' name="scannerManufacturer" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.scannerSensor' | translate }}</mat-label>
              <mat-select required [placeholder]="'device.scannerSensor' | translate" name="scannerSensor" [(value)]="device.scannerSensor">
                <mat-option *ngFor="let sensor of sensors" [value]="sensor">{{ sensor }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.modelName' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.modelName' | translate" [disabled]="state=='saving'" [(ngModel)]='device.scannerModelName' name="scannerModelName" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.modelNumber' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.modelNumber' | translate" [disabled]="state=='saving'" [(ngModel)]='device.scannerModelNumber' name="scannerModelNumber" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.modelSerialNumber' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.modelSerialNumber' | translate" [disabled]="state=='saving'" [(ngModel)]='device.scannerModelSerialNo' name="scannerModelSerialNo" required>
            </mat-form-field>
          </div>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'X - ' + ('device.opticalResolution' | translate) }}</mat-label>
              <input type="number" step="1" matInput autocomplete="off" [placeholder]="'X - ' + ('device.opticalResolution' | translate)" [disabled]="state=='saving'" [(ngModel)]='device.xOpticalResolution' name="xOpticalRsolution" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'Y - ' + ('device.opticalResolution' | translate) }}</mat-label>
              <input type="number" step="1" matInput autocomplete="off" [placeholder]="'Y - ' + ('device.opticalResolution' | translate)" [disabled]="state=='saving'" [(ngModel)]='device.yOpticalResolution' name="yOpticalRsolution" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.opticalResolutionUnit' | translate }}</mat-label>
              <mat-select required [placeholder]="'device.opticalResolutionUnit' | translate" name="opticalResolutionUnit" [(value)]="device.opticalResolutionUnit">
                <mat-option *ngFor="let resolutionUnit of resolutionUnits" [value]="resolutionUnit">{{ resolutionUnit }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.softwareName' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.softwareName' | translate" [disabled]="state=='saving'" [(ngModel)]='device.scanningSoftwareName' name="scanningSoftwareName" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.softwareVersion' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.softwareVersion' | translate" [disabled]="state=='saving'" [(ngModel)]='device.scanningSoftwareVersionNo' name="scanningSoftwareVersionNo" required>
            </mat-form-field>
          </div>
        </fieldset>

        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'device.digitalCamera' | translate }}</legend>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.manufacturer' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.manufacturer' | translate" [disabled]="state=='saving'" [(ngModel)]='device.digitalCameraManufacturer' name="digitalCameraManufacturer">
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.cameraSensor' | translate }}</mat-label>
              <mat-select [placeholder]="'device.cameraSensor' | translate" name="cameraSensor" [(value)]="device.cameraSensor">
                <mat-option *ngFor="let sensor of sensors" [value]="sensor">{{ sensor }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="app-fxLayout app-row app-gap-4">
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.modelName' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.modelName' | translate" [disabled]="state=='saving'" [(ngModel)]='device.digitalCameraModelName' name="digitalCameraModelName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.modelNumber' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.modelNumber' | translate" [disabled]="state=='saving'" [(ngModel)]='device.digitalCameraModelNumber' name="digitalCameraModelNumber">
            </mat-form-field>
            <mat-form-field appearance="outline" class="app-fxFlex">
              <mat-label>{{ 'device.modelSerialNumber' | translate }}</mat-label>
              <input type="text" matInput autocomplete="off" [placeholder]="'device.modelSerialNumber' | translate" [disabled]="state=='saving'" [(ngModel)]='device.digitalCameraModelSerialNo' name="digitalCameraModelSerialNo">
            </mat-form-field>
          </div>
        </fieldset>
        <button (click)="onSubmit()" mat-stroked-button [disabled]="state=='saving'">
          {{ mode=='new' ? ('device.button.create' | translate) : ('device.button.edit' | translate) }}
         </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
