<div class="app-fxLayout app-column app-fill app-form-field-dens-6">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.userAdministration' | translate }}</span>
    </div>
  </div>

  <div class="app-fxFlex app-fxLayout app-column app-content-wrapper app-admin">
    <div class="app-formbar app-mb-2">
      @if (auth.user.createUserFunction) {
      <button mat-stroked-button routerLink="/admin/new-user" class="app-mr-2">{{ 'button.createNewUser' | translate }}</button>
      }
      @if (auth.user.changeObjectsOwnerFunction) {
        <button mat-stroked-button [matTooltip]="'button.changeOwnerTooltip' | translate" (click)="changeOwner()" class="app-mr-2">{{ 'button.changeOwner' | translate }}</button>
      }
    </div>
    <div class="app-fxFlex app-oa-y app-border-wrapper">
      <table mat-table [dataSource]="users" class="app-striped app-hover app-resize">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'name')" [style.width]="getColumnWidth('name')">{{ 'desc.username' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="forename">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'forename')" [style.width]="getColumnWidth('forename')">{{ 'desc.forename' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.forename }}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'surname')" [style.width]="getColumnWidth('surname')">{{ 'desc.surname' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'email')" [style.width]="getColumnWidth('email')">{{ 'desc.email' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'organization')" [style.width]="getColumnWidth('organization')">{{ 'desc.organization' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.organization }}</td>
        </ng-container>

        <ng-container matColumnDef="home">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'home')" [style.width]="getColumnWidth('home')">{{ 'desc.folder' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.home }}</td>
        </ng-container>

        <ng-container matColumnDef="changeModelFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'changeModelFunction')" [style.width]="getColumnWidth('changeModelFunction')">{{ 'desc.conversionOfModels' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.changeModelFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="lockObjectFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'lockObjectFunction')" [style.width]="getColumnWidth('lockObjectFunction')">{{ 'desc.lockingTheObject' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.lockObjectFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="unlockObjectFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'unlockObjectFunction')" [style.width]="getColumnWidth('unlockObjectFunction')">{{ 'desc.unlockingTheObject' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.unlockObjectFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="importToProdFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'importToProdFunction')" [style.width]="getColumnWidth('importToProdFunction')">{{ 'desc.importToProdFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.importToProdFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="czidloFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'czidloFunction')" [style.width]="getColumnWidth('czidloFunction')">{{ 'desc.czidloFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.czidloFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="importToCatalogFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'importToCatalogFunction')" [style.width]="getColumnWidth('importToCatalogFunction')">{{ 'desc.importToCatalogFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.importToCatalogFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="wfDeleteJobFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'wfDeleteJobFunction')" [style.width]="getColumnWidth('wfDeleteJobFunction')">{{ 'desc.wfDeleteJobFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.wfDeleteJobFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="changeObjectsOwnerFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'changeObjectsOwnerFunction')" [style.width]="getColumnWidth('changeObjectsOwnerFunction')">{{ 'desc.changeObjectsOwnerFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.changeObjectsOwnerFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="deviceFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'deviceFunction')" [style.width]="getColumnWidth('deviceFunction')">{{ 'desc.deviceFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.deviceFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="changePagesFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'changePagesFunction')" [style.width]="getColumnWidth('changePagesFunction')">{{ 'desc.changePagesFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.changePagesFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="wfCreateJobFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'wfCreateJobFunction')" [style.width]="getColumnWidth('wfCreateJobFunction')">{{ 'desc.wfCreateJobFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.wfCreateJobFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="createUserFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'createUserFunction')" [style.width]="getColumnWidth('createUserFunction')">{{ 'desc.createUserFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.createUserFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="updateUserFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'updateUserFunction')" [style.width]="getColumnWidth('updateUserFunction')">{{ 'desc.updateUserFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.updateUserFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="deleteUserFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'deleteUserFunction')" [style.width]="getColumnWidth('deleteUserFunction')">{{ 'desc.deleteUserFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.deleteUserFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="solrFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'solrFunction')" [style.width]="getColumnWidth('solrFunction')">{{ 'desc.solrFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.solrFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="deleteActionFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'deleteActionFunction')" [style.width]="getColumnWidth('deleteActionFunction')">{{ 'desc.deleteActionFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.deleteActionFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="allObjectsFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'allObjectsFunction')" [style.width]="getColumnWidth('allObjectsFunction')">{{ 'desc.allObjectsFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.allObjectsFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="prepareBatchFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'prepareBatchFunction')" [style.width]="getColumnWidth('prepareBatchFunction')">{{ 'desc.prepareBatchFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.prepareBatchFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="sysAdminFunction">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'sysAdminFunction')" [style.width]="getColumnWidth('sysAdminFunction')">{{ 'desc.sysAdminFunction' | translate }}</th>
          <td mat-cell *matCellDef="let element"><mat-checkbox color="primary" [checked]="element.sysAdminFunction" [disabled]="true"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event, 'action')" [style.width]="getColumnWidth('action')"></th>
          <td mat-cell *matCellDef="let element">
            <div class="app-fxLayout app-row app-center-v app-jc-end">
              @if (auth.user.updateUserFunction) {
              <button mat-icon-button color="primary" [routerLink]="['/admin/' + element.userId  + '/edit-user']" [matTooltip]="'button.edit' | translate"><mat-icon>edit_note</mat-icon></button>
              }
              @if (auth.user.deleteUserFunction) {
              <button mat-icon-button color="warn" (click)="deleteUser(element)" [matTooltip]="'button.delete' | translate"><mat-icon>delete</mat-icon></button>
              }
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
