<div class="app-fxLayout app-column app-fill app-form-field-dens-6">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'search.title' | translate }}</span>
    </div>
    <button mat-button value="phrase"  [class.app-active]="searchMode === 'phrase'" (click)="searchMode = 'phrase'">{{ 'button.query' | translate }}</button>
    <button mat-button value="advanced" [class.app-active]="searchMode === 'advanced'" (click)="searchMode = 'advanced'">{{ 'button.advancedSearch' | translate }}</button>
    <button mat-button value="deleted" [class.app-active]="searchMode === 'deleted'" (click)="searchMode = 'deleted'">{{ 'button.searchInDeleted' | translate }}</button>
  </div>

  <div class="app-fxLayout app-column app-fxFlex app-content-wrapper app-search-results">
    <div class="app-fxLayout app-row app-gap-2 app-formbar app-mb-n3">
      <button mat-stroked-button (click)="filter()">
        {{ 'button.search' | translate }}
      </button>
      @if (searchMode === 'phrase') {
        <mat-form-field  class="app-model">
          <mat-label>{{ 'desc.model' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="model">
            <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
            @for(model of config.models; track $index;) {
              <mat-option [value]="model">{{ "model." + model | translate }}</mat-option>
            }
          </mat-select>
          @if (model !== this.config.defaultModel && settings.searchModel === model) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="model=this.config.defaultModel; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-fxFlex">
          <mat-label>{{ 'desc.search' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.search' | translate" (keyup.enter)="filter()" [(ngModel)]="query">
          @if (urlParams?.query) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="query=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      }
      @if (searchMode !== 'phrase') {
        <mat-form-field  class="app-model">
          <mat-label>{{ 'desc.model' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="model">
            <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
            @for(model of config.models; track $index;) {
              <mat-option [value]="model">{{ "model." + model | translate }}</mat-option>
            }
          </mat-select>
          @if (model !== this.config.defaultModel && settings.searchModel === model) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="model=this.config.defaultModel; filter(); $event.stopPropagation();" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-fxFlex">
          <mat-label>{{ 'desc.name' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.name' | translate" (keyup.enter)="filter()" [(ngModel)]="queryLabel">
          @if (urlParams?.queryLabel) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="queryLabel=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-fxFlex">
          <mat-label>{{ 'desc.identifier' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.identifier' | translate" (keyup.enter)="filter()" [(ngModel)]="queryIdentifier">
          @if (urlParams?.queryIdentifier) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="queryIdentifier=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-fxFlex">
          <mat-label>{{ 'desc.creator' | translate }}</mat-label>
          <input matInput [placeholder]="'desc.creator' | translate" (keyup.enter)="filter()" [(ngModel)]="queryCreator">
          @if (urlParams?.queryCreator) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="queryCreator=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-organization">
          <mat-label>{{ 'desc.organization' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.organization' | translate" name="organization" [(value)]="organization">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            @for(org of config.organizations; track $index;) {
              <mat-option [value]="org">{{ 'organization.' + org | translate }}</mat-option>
            }
          </mat-select>
          @if (organization !=='-' && settings.searchOrganization === organization) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="organization='-'; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-owner">
          <mat-label>{{ 'desc.owner' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.owner' | translate" name="owner" [(value)]="owner">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            @for(user of users; track $index;) {
              <mat-option [value]="user.name">{{ user.name }}</mat-option>
            }
          </mat-select>
          @if (owner !== '-' && settings.searchOwner === owner) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="owner='-'; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field  class="app-processor">
          <mat-label>{{ 'desc.processor' | translate }}</mat-label>
          <mat-select [placeholder]="'desc.processor' | translate" name="processor" [(value)]="processor">
            <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
            @for(user of users; track $index;) {
              <mat-option [value]="user.name">{{ user.name }}</mat-option>
            }
          </mat-select>
          @if (processor !== '-' &&  settings.searchProcessor === processor) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="processor='-'; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      }
    </div>
    <div class="app-fxFlex app-oh app-border-wrapper">
      <as-split [gutterSize]="10" direction="vertical" (dragEnd)="splitDragEnd($event)">
        <as-split-area  [size]="splitArea1Width">
          @if (items) {
            <div class="app-fxLayout app-column app-fill">
              <div class="app-fxLayout app-row app-center-v app-gap-4 app-toolbar" [class.app-disabled]="state === 'loading'">
                <div class="app-fxFlex app-fxLayout app-row app-center-v">
                  <button (click)="reload()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <app-search-actions class="app-fxLayout app-row app-center-v" [items]="items" [selectedItem]="selectedItem" [selectedTreeItem]="selectedTreeItem" [treeItems]="treeItems" (reload)="reload()" [(state)]="state" [forTree]="false"></app-search-actions>
                </div>
                <div>
                  <mat-paginator [length]="resultCount" hidePageSize="true" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="onPageChanged($event)"></mat-paginator>
                </div>
              </div>
              <div class="app-oa-y">
                @if (state === 'loading') {
                  <mat-progress-bar mode="indeterminate" class="app-progress-bar"></mat-progress-bar>
                }
                <app-user-table (sortBy)="sortBy($event)" (selectItem)="selectRow($event)"  (openItem)="openItem($event)"  (getValidationError)="getValidationError($event)" [colsSettingsName]="'columnsSearch'" [items]="items" ></app-user-table>
              </div>
            </div>
          }
        </as-split-area>

        <as-split-area [size]="splitArea2Width">
          @if (selectedTreeItem) {
            <div class="app-fxLayout app-column app-fill">
              <div class="app-fxLayout app-row app-center-v app-gap-4 app-toolbar">
                <div class="app-fxFlex app-fxLayout app-row app-center-v">
                  <button (click)="selectItem(selectedItem)" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button (click)="expandAllInTree()" mat-button>{{ 'button.unpack' | translate }}</button>
                  <app-search-actions class="app-fxLayout app-row app-center-v" [items]="items" [selectedItem]="selectedItem" [selectedTreeItem]="selectedTreeItem" [treeItems]="treeItems" (reload)="reload($event)" (reloadTree)="reloadTree($event)" [(state)]="state" [forTree]="true"></app-search-actions>
                </div>
                @for(i of object.keys(tree_info); track $index;) {
                  <div class="app-mr-2">{{ 'model.' + i | translate }}: {{ tree_info[i] }}</div>
                }
                @if (batchInfo) {
                  <button mat-icon-button color="primary" (click)="onShowLog(batchInfo);" [matTooltip]="'button.viewErrorDetail' | translate" matTooltipPosition="below" class="app-icon-button">
                    <mat-icon>error_outline</mat-icon>
                  </button>
                }
              </div>
              <div class="app-fxFlex app-fxLayut app-column app-fill app-oa-y app-tree">
                <app-user-tree-table #treeTable [inSearch]="true" [treePath]="[selectedRootTreeItem.pid]" [rootTreeItem]="selectedRootTreeItem"
                  (onSelectTreeItem)="onSelectTreeItem($event)"
                  (onTreeItemsChanged)="onTreeItemsChanged($event)"
                (treeInfo)="treeInfoChanged($event)"></app-user-tree-table>
              </div>
            </div>
          }
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>
