<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
      <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
        <a routerLink="/"><mat-icon>home</mat-icon></a>
        <span class="app-separator">/</span>
        <span class="app-last">{{ 'search.title' | translate }}</span>
      </div>
      <button mat-button value="phrase"  [class.app-active]="searchMode === 'phrase'" (click)="searchMode = 'phrase'">{{ 'button.query' | translate }}</button>
      <button mat-button value="advanced" [class.app-active]="searchMode === 'advanced'" (click)="searchMode = 'advanced'">{{ 'button.advancedSearch' | translate }}</button>
      <button mat-button value="deleted" [class.app-active]="searchMode === 'deleted'" (click)="searchMode = 'deleted'">{{ 'button.searchInDeleted' | translate }}</button>
    </div>
  
    
  
    <div fxFlex class="app-content-wrapper app-search-results" fxLayout="column">
      <div class="app-formbar" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start baseline">
        <button mat-stroked-button (click)="filter()">
          {{ 'button.search' | translate }}
        </button>
        <ng-container *ngIf="searchMode === 'phrase'">
          <mat-form-field class="app-model">
            <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="model">
              <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
              <mat-option *ngFor="let model of config.models" [value]="model">{{ "model." + model | translate }}</mat-option>
            </mat-select>
            <button *ngIf="model !== this.config.defaultModel && settings.searchModel === model" matSuffix mat-icon-button aria-label="Clear" (click)="model=this.config.defaultModel; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [placeholder]="'desc.search' | translate" (keyup.enter)="filter()" [(ngModel)]="query">
            <button *ngIf="urlParams?.query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="searchMode !== 'phrase'">
          <mat-form-field class="app-model">
            <mat-select [placeholder]="'desc.model' | translate" name="model" [(ngModel)]="model">
              <mat-option value="all">{{ 'desc.all' | translate }}</mat-option>
              <mat-option *ngFor="let model of config.models" [value]="model">{{ "model." + model | translate }}</mat-option>
            </mat-select>
            <button *ngIf="model !== this.config.defaultModel && settings.searchModel === model" matSuffix mat-icon-button aria-label="Clear" (click)="model=this.config.defaultModel; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [placeholder]="'desc.name' | translate" (keyup.enter)="filter()" [(ngModel)]="queryLabel">
            <button *ngIf="urlParams?.queryLabel" matSuffix mat-icon-button aria-label="Clear" (click)="queryLabel=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [placeholder]="'desc.identifier' | translate" (keyup.enter)="filter()" [(ngModel)]="queryIdentifier">
            <button *ngIf="urlParams?.queryIdentifier" matSuffix mat-icon-button aria-label="Clear" (click)="queryIdentifier=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput [placeholder]="'desc.creator' | translate" (keyup.enter)="filter()" [(ngModel)]="queryCreator">
            <button *ngIf="urlParams?.queryCreator" matSuffix mat-icon-button aria-label="Clear" (click)="queryCreator=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-select [placeholder]="'desc.organization' | translate" name="organization" [(value)]="organization">
              <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
              <mat-option *ngFor="let org of config.organizations" [value]="org">{{ 'organization.' + org | translate }}</mat-option>
            </mat-select>
            <button *ngIf="organization !=='-' && settings.searchOrganization === organization" matSuffix mat-icon-button aria-label="Clear" (click)="organization='-'; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="app-owner">
            <mat-select [placeholder]="'desc.owner' | translate" name="owner" [(value)]="owner">
              <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
              <mat-option *ngFor="let user of users" [value]="user.name">{{ user.name }}</mat-option>
            </mat-select>
            <button *ngIf="owner !== '-' && settings.searchOwner === owner" matSuffix mat-icon-button aria-label="Clear" (click)="owner='-'; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="app-processor">
            <mat-select [placeholder]="'desc.processor' | translate" name="processor" [(value)]="processor">
              <mat-option value="-">{{ 'desc.all' | translate }}</mat-option>
              <mat-option *ngFor="let user of users" [value]="user.name">{{ user.name }}</mat-option>
            </mat-select>
            <button *ngIf="processor !== '-' &&  settings.searchProcessor === processor" matSuffix mat-icon-button aria-label="Clear" (click)="processor='-'; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ng-container>
      </div>
      <div fxFlex class="app-oh app-border-wrapper">
        <as-split [gutterSize]="10" direction="vertical" (dragEnd)="splitDragEnd($event)">
          <as-split-area  [size]="splitArea1Width">
            <div *ngIf="items" fxLayout="column" fxFlexFill>
              <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="app-toolbar" [class.app-disabled]="state === 'loading'">
                <div fxFlex fxLayout="row" fxFlexFill>
                  <button (click)="reload()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <app-search-actions [items]="items" [selectedItem]="selectedItem" [selectedTreeItem]="selectedTreeItem" [treeItems]="treeItems"
                  (reload)="reload()" [(state)]="state" [forTree]="false"></app-search-actions>
                </div>
                <div>
                  <mat-paginator [length]="resultCount" hidePageSize="true" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="onPageChanged($event)"></mat-paginator>
                </div>
              </div>
              <div class="app-oa-y">
                <mat-progress-bar mode="indeterminate" *ngIf="state === 'loading'" class="app-progress-bar"></mat-progress-bar>
                <table mat-table #table [dataSource]="items" matSort class="app-striped app-hover app-resize"  *ngIf="state!=='loading'"
                [matSortActive]="sortField" [matSortDirection]="sortAsc ? 'asc' : 'desc'"
                (matSortChange)="sortTable($event)">
  
                <ng-container *ngFor="let c of displayedColumns; let idx = index;" [matColumnDef]="c">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event,c)"
                    [style.width]="colsWidth[c]">
                    <span *ngIf="c !== 'isLocked'" mat-sort-header>{{'search.' + c | translate}}</span>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="columnTypes[c]">
                      <ng-container *ngSwitchCase="'date'">
                        {{ element[c] | date : 'dd.MM.yyyy hh:mm:ss'}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'list'">
                        {{ listValue(c, element[c])}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'translated'">
                        {{ prefixes[c] + element[c] | translate }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'boolean'">
                        <mat-icon [matTooltip]="element.isLocked ? ('desc.locked' | translate) : ('desc.unlocked' | translate)">{{ element.isLocked ? 'lock' : 'lock_open' }}</mat-icon>
                        &#160;
                        <a *ngIf="element.validationStatus === 'ERROR'" (click)="getValidationError(element.validationProcess);" [matTooltip]="'button.viewErrorDetail' | translate" matTooltipPosition="below" class="app-icon-button">
                          <mat-icon>error_outline</mat-icon>
                        </a>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <ng-container *ngIf="c !== 'validationStatus'">
                        <a *ngIf="c === 'pid'" class="app-icon-copy app-mr-1" (click)="copyTextToClipboard(element.pid)" [matTooltip]="'button.copyTextToClipboard' | translate"><mat-icon class="app-icon-copy">content_copy</mat-icon></a>
                        {{ element[c] }}
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </td>
                </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns; let idx=index"
                  #matrow  [id]="'tr_'+idx"
                   (click)="selectItem(row, $event, idx)" (dblclick)="openItem(row)" class="app-cursor-pointer" [class.app-selected]="row.selected"></tr>
                </table>
              </div>
            </div>
          </as-split-area>
  
          <as-split-area [size]="splitArea2Width">
            <div style="position: relative; top: 0px;">
              <mat-progress-bar mode="indeterminate" *ngIf="loadingTree" class="app-progress-bar" style="position: absolute; top: 0px;"></mat-progress-bar>
            </div>
  
            <div  fxLayout="column" fxFlexFill>
              <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="app-toolbar">
                <div fxFlex *ngIf="selectedTreeItem" fxLayout="row" fxFlexFill>
                  <button (click)="selectItem(selectedItem)" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button (click)="expandAllInTree()" [disabled]="totalSelectedTree > 1" mat-button>{{ 'button.unpack' | translate }}</button>
                  <app-search-actions [items]="items" [selectedItem]="selectedItem" [selectedTreeItem]="selectedTreeItem" [treeItems]="treeItems"
                  (reload)="reload($event)" (reloadTree)="reloadTree($event)" [(state)]="state" [forTree]="true"></app-search-actions>
                  <!-- <button [disabled]="totalSelectedTree > 1" (click)="onExport(false)" mat-button>{{ 'button.export' | translate }}</button>
                  <button [disabled]="totalSelectedTree > 1" (click)="onUrnnbn(false)" mat-button>URN:NBN</button>
                  <button *ngIf="!selectedTreeItem.isLocked && (auth.user.lockObjectFunction  || auth.isSuperAdmin())" [disabled]="totalSelectedTree > 1" (click)="onLock(selectedTreeItem, true)" mat-button>{{ 'button.lockIt' | translate }}</button>
                  <button *ngIf="selectedTreeItem.isLocked && (auth.user.unlockObjectFunction || auth.isSuperAdmin())" [disabled]="totalSelectedTree > 1" (click)="onLock(selectedTreeItem, false)" mat-button>{{ 'button.unlock' | translate }}</button>
                  <button [disabled]="totalSelectedTree > 1" mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuMore="matMenu">
                    <button mat-menu-item (click)="showFoxml(selectedTreeItem)">FOXML</button>
                    <button mat-menu-item *ngIf="canChangeModel(selectedTreeItem)" (click)="changeModel(selectedTreeItem)">{{ 'button.conversionsOfModels' | translate }}</button>
                    <button mat-menu-item (click)="updateObjects(selectedTreeItem)">{{ 'button.updateAllObjects' | translate }}</button>
                    <button mat-menu-item *ngIf="isAkubra && auth.isSuperAdmin()" (click)="reindex(selectedTreeItem)">{{ 'button.toIndex' | translate }}</button>
                    <button mat-menu-item *ngIf="auth.user.changeModelFunction || auth.isSuperAdmin()" (click)="showConvertDialog(selectedTreeItem)">{{ 'button.convertPages' | translate }}</button>
                    <button mat-menu-item *ngIf="auth.user.czidloFunction || auth.isSuperAdmin()" (click)="czidlo(selectedTreeItem)">{{ 'button.czidloFunction' | translate }}</button>
                    <button mat-menu-item *ngIf="config.updateInSource && (auth.user.importToCatalogFunction || auth.isSuperAdmin()) && canUpdateInSource(selectedTreeItem)" (click)="updateInSource(selectedTreeItem)">{{ 'button.updateInSource' | translate }}</button>
                    <button mat-menu-item (click)="validateObject(selectedTreeItem)">{{ 'button.validateObject' | translate }}</button>
                    <button mat-menu-item (click)="selectColumnsTree('searchTree')" >{{'editor.children.select_columns' | translate}}</button>
                  </mat-menu> -->
                </div>
                  <div *ngFor="let i of object.keys(tree_info)" class="app-mr-2">{{ 'model.' + i | translate }}: {{ tree_info[i] }}</div>
                  <!-- <button *ngIf="batchInfo" mat-icon-button color="primary" (click)="onShowLog(batchInfo);" [matTooltip]="'button.viewErrorDetail' | translate" matTooltipPosition="below" class="app-icon-button">
                    <mat-icon>error_outline</mat-icon>
                  </button> -->
              </div>
              <div fxFlex class="app-oa-y app-tree" fxLayout="column" fxFlexFill >
                <table  mat-table [dataSource]="visibleTreeItems" class="app-striped app-hover app-resize" matSort  #treeTable>
  
                    <ng-container *ngFor="let c of treeColumns; let idx = index;" [matColumnDef]="c">
                      <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveTreeColumnsSizes($event,c)"
                        [style.width]="treeColumnsSizes[c]">
                        <span>{{'search.' + c | translate}}</span>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="idx === 0" [style.margin-left]="(element.level * 15) + 'px'">
                          <mat-icon *ngIf="element.expandable || true" (click)="toggleTree($event, element)">{{ element.expanded ? "expand_more" : "chevron_right" }}</mat-icon>
                        </span>
                        <ng-container [ngSwitch]="columnTypes[c]">
                          <ng-container *ngSwitchCase="'date'">
                            {{ element[c] | date : 'dd.MM.yyyy hh:mm:ss'}}
                          </ng-container>
                          <ng-container *ngSwitchCase="'list'">
                            {{ listValue(c, element[c])}}
                          </ng-container>
                          <ng-container *ngSwitchCase="'translated'">
                            {{ prefixes[c] + element[c] | translate }}
                          </ng-container>
                          <ng-container *ngSwitchCase="'boolean'">
                            <mat-icon [matTooltip]="element.isLocked ? ('desc.locked' | translate) : ('desc.unlocked' | translate)">{{ element.isLocked ? 'lock' : 'lock_open' }}</mat-icon>
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <a *ngIf="c === 'pid'" class="app-icon-copy app-mr-1" (click)="copyTextToClipboard(element.pid)" [matTooltip]="'button.copyTextToClipboard' | translate"><mat-icon class="app-icon-copy">content_copy</mat-icon></a>
                            {{ element[c] }}
                          </ng-container>
                        </ng-container>
                      </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="treeColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: treeColumns; let idx = index"
                     (dblclick)="openTreeItem($event, row)" (click)="selectTreeItem($event, row, idx)" [class.app-selected]="row.selected"></tr>
                  </table>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </div>
  