@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

// new
.app-search-results {
  @extend .app-p-4;

  .mat-table {
    .mat-column-label {
      width: 25%;
    }

    .mat-column-model {
      width: 12%;
    }

    .mat-column-pid {
      width: 18%;
    }

    .mat-column-organization {
      width: 9%;
    }

    .mat-column-status {
      width: 9%;
    }

    .mat-column-created,
    .mat-column-modified {
      width: 8%;
    }

    .mat-column-isLocked {
      width: 22px;
      padding: 0;
    }
  }
}


.mat-table {
  table-layout: fixed;
  width: 100%;
  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: col-resize;
  }
  .mat-cell {
    span {       
      display: block; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mat-header-cell {
    position: relative;      
    &:not(:last-child) {
      .resize-holder {
        cursor: col-resize;
        width: 20px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 1;
      }
    }
  }
  .mat-cell,
  .mat-header-cell {
    &:not(:nth-child(1)) {
      padding: 0 10px;
    }
  }
}
