<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon> Home</a>
      <span class="app-separator">/</span>
      <a routerLink="/devices">{{ 'desc.devices' | translate }}</a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ device.label }}</span>
    </div>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'" class="app-progress-bar"></mat-progress-bar>
  
  <div fxFlex class="app-device app-p-4 app-oa-y" fxLayout="column">
    <mat-card *ngIf="state === 'success'">
      <mat-card-content>
        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'desc.general' | translate }}</legend>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.name' | translate" disabled [(ngModel)]='device.label'>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.imageProducer' | translate" disabled [(ngModel)]='device.imageProducer'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.captureDevice' | translate" disabled [(ngModel)]='device.captureDevice'>
            </mat-form-field>
          </div>        
        </fieldset>

        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'desc.scanner' | translate }}</legend>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.manufacturer' | translate" disabled [(ngModel)]='device.scannerManufacturer'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.scannerSensor' | translate" disabled [(ngModel)]='device.scannerSensor'>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.modelName' | translate" disabled [(ngModel)]='device.scannerModelName'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.modelNumber' | translate" disabled [(ngModel)]='device.scannerModelNumber'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.modelSerialNumber' | translate" disabled [(ngModel)]='device.scannerModelSerialNo'>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="number" step="1" matInput [placeholder]="'X - ' + ('desc.opticalResolution' | translate)" disabled [(ngModel)]='device.xOpticalResolution'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="number" step="1" matInput [placeholder]="'Y - ' + ('desc.opticalResolution' | translate)" disabled [(ngModel)]='device.yOpticalResolution'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.opticalResolutionUnit' | translate" disabled [(ngModel)]='device.opticalResolutionUnit'>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.softwareName' | translate" disabled [(ngModel)]='device.scanningSoftwareName'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.softwareVersion' | translate" disabled [(ngModel)]='device.scanningSoftwareVersionNo'>
            </mat-form-field>
          </div>
        </fieldset>

        <fieldset class="app-p-4 app-mb-4">
          <legend>{{ 'desc.digitalCamera' | translate }}</legend>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.manufacturer' | translate" disabled [(ngModel)]='device.digitalCameraManufacturer'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.cameraSensor' | translate" disabled [(ngModel)]='device.cameraSensor'>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex>
              <input type="text" matInput [placeholder]="'desc.modelName' | translate" disabled [(ngModel)]='device.digitalCameraModelName'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput autocomplete="off" [placeholder]="'desc.modelNumber' | translate" disabled [(ngModel)]='device.digitalCameraModelNumber'>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input type="text" matInput autocomplete="off" [placeholder]="'desc.modelSerialNumber' | translate" disabled [(ngModel)]='device.digitalCameraModelSerialNo'>
            </mat-form-field>
          </div>
        </fieldset>

        <fieldset class="app-p-4 app-mb-4" *ngIf="device.isAudio()">
          <legend>{{ 'desc.informationAboutAudioFiles' | translate }}</legend>
          <table mat-table [dataSource]="device.audioDevices" class="app-hover app-striped">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.name' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.type' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>

            <ng-container matColumnDef="manufacturer">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.manufacturer' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.manufacturer }}</td>
            </ng-container>

            <ng-container matColumnDef="serialNumber">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.serialNumber' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.serialNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="settings">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.settings' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.settings }}</td>
            </ng-container>

            <ng-container matColumnDef="identifierType">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.identifierType' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.identifierType }}</td>
            </ng-container>

            <ng-container matColumnDef="identifierValue">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.identifierValue' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.identifierValue }}</td>
            </ng-container>

            <ng-container matColumnDef="identifierRole">
              <th mat-header-cell *matHeaderCellDef>{{ 'desc.identifierRole' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.identifierRole }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index">
                <a (click)="removeAudioDevice(i)" [matTooltip]="'button.deleteInfoForAudioFiles' | translate" matTooltipPosition="below" class="app-icon-button app-color-warn">
                  <mat-icon>delete</mat-icon>
                </a>
                <a [routerLink]="['/devices', device.id, 'audio', i + 1, 'edit']"  [matTooltip]="'button.editInfoForAudioFiles' | translate" matTooltipPosition="below" class="app-icon-button">
                  <mat-icon>edit</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </fieldset>

        <button mat-flat-button color="primary" [routerLink]="['/devices', device.id, 'edit']" class="app-mr-2">
          {{ 'button.editDevice' | translate }}
        </button>
        <button mat-flat-button color="warn" (click)="removeDevice()" class="app-mr-2">
          {{ 'button.removeDevice' | translate }}
        </button>
        <button mat-flat-button color="primary" *ngIf="device.isAudio()" [routerLink]="['/devices', device.id, 'audio', 'new']">
          {{ 'button.addInfoToAudioFiles' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>