<div class="breadcrumb-nav">
  <div *ngIf="device">
      <a [routerLink]="['/devices']">{{ 'device.devices' | translate }}</a>
      <mat-icon>chevron_right</mat-icon>
      <span>{{device.label}}</span>
  </div>
</div>
<div class="app-device" *ngIf="state === 'success'">

  <div class="app-device-label">{{ device.label }}</div>

  <div class="app-detail-key-value">Typ: <strong>{{ 'device.models.' + device.model | translate }}</strong></div>
  <div class="app-detail-key-value">Image Producer: <strong>{{ device.imageProducer }}</strong></div>
  <div class="app-detail-key-value">Capture Device: <strong>{{ device.captureDevice }}</strong></div>

  <div class="app-detail-label">Scanner</div>

  <div class="app-detail-key-value">Manufacturer: <strong>{{ device.scannerManufacturer }}</strong></div>
  <div class="app-detail-key-value">Scanner Sensor: <strong>{{ device.scannerSensor }}</strong></div>
  <div class="app-detail-key-value">Model Name: <strong>{{ device.scannerModelName }}</strong></div>
  <div class="app-detail-key-value">Model Number: <strong>{{ device.scannerModelNumber }}</strong></div>
  <div class="app-detail-key-value">Model Serial No.: <strong>{{ device.scannerModelSerialNo }}</strong></div>

  <div class="app-detail-key-value">X Optical Resolution: <strong>{{ device.xOpticalResolution }}</strong></div>
  <div class="app-detail-key-value">Y Optical Resolution: <strong>{{ device.yOpticalResolution }}</strong></div>
  <div class="app-detail-key-value">Optical Resolution Unit: <strong>{{ device.opticalResolutionUnit }}</strong></div>

  <div class="app-detail-key-value">Scanning Software Name: <strong>{{ device.scanningSoftwareName }}</strong></div>
  <div class="app-detail-key-value">Scanning Software Version No.: <strong>{{ device.scanningSoftwareVersionNo }}</strong></div>


  <div class="app-detail-label">Digital Camera</div>
  <div class="app-detail-key-value">Manufacturer: <strong>{{ device.digitalCameraManufacturer }}</strong></div>
  <div class="app-detail-key-value">Camera Sensor: <strong>{{ device.cameraSensor }}</strong></div>

  <div class="app-detail-key-value">Model Name: <strong>{{ device.digitalCameraModelName }}</strong></div>
  <div class="app-detail-key-value">Model Number: <strong>{{ device.digitalCameraModelNumber }}</strong></div>
  <div class="app-detail-key-value">Model Serial No.: <strong>{{ device.digitalCameraModelSerialNo }}</strong></div>

  <div *ngIf="device.isAudio()">
    <div class="app-detail-label">Informace ke zvukovým souborům</div>
    <div class="audio-device-list">
      <div class="app-table">
        <div class="app-row app-header">
          <div class="device-name">Agent Name</div>
          <div class="device-type">Agent Type</div>
          <div class="device-manufacturer">Manufacturer</div>
          <div class="device-serial-number">Serial Number</div>
          <div class="device-settings">Agent Type</div>
          <div class="device-id-type">Id. Type</div>
          <div class="device-id-value">Id. Value</div>
          <div class="device-id-role">Id. Role</div>
          <div class="device-actions"></div>
          


        </div>
        <div *ngFor="let audio of device.audioDevices; let i = index;" class="app-row">
          <div class="device-name">{{ audio.name }}</div>
          <div class="device-type">{{ audio.type }}</div>
          <div class="device-manufacturer">{{ audio.manufacturer }}</div>
          <div class="device-serial-number">{{ audio.serialNumber }}</div>
          <div class="device-settings">{{ audio.settings }}</div>
          <div class="device-id-type">{{ audio.identifierType }}</div>
          <div class="device-id-value">{{ audio.identifierValue }}</div>
          <div class="device-id-role">{{ audio.identifierRole }}</div>

          <div class="device-actions">
            <button (click)="removeAudioDevice(i)" mat-icon-button color="warn" matTooltip="Smazat info ke zvukovém souborům" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
            </button>
            <a [routerLink]="['/devices', device.id, 'audio', i + 1, 'edit']"  mat-icon-button color="primary" matTooltip="Upravit info ke zvukovém souborům" matTooltipPosition="below">
              <mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> 



  <div class="actions">
      <a color="primary"
          [routerLink]="['/devices', device.id, 'edit']" 
          mat-raised-button>
              <mat-icon style="margin-right:8px;">edit</mat-icon>
              {{ 'device.edit' | translate }}
      </a>
      <button mat-raised-button
        color="warn"
        class="action-button"
        (click)="removeDevice()">
        <mat-icon style="margin-right:8px;">delete</mat-icon>
          {{ 'device.delete' | translate }}
      </button>
      <a color="primary" *ngIf="device.isAudio()"
          [routerLink]="['/devices', device.id, 'audio', 'new']" 
          mat-raised-button>
              <mat-icon style="margin-right:8px;">add</mat-icon>
              Přidat info ke zvukovém souborům
      </a>
  </div>
</div>

<mat-spinner *ngIf="state === 'loading'"
          [strokeWidth]="5" 
          [diameter]="60" 
          class="center-spinner">
</mat-spinner>