<app-editor-field [field]="field" [title]="'editor.subject.title'" [usage]="data.usage" [help]="data.help">
  
  
  <ng-template let-item="item" #templateMenu>
    <div class="app-header-divider"></div>
    <button (click)="onLoadFromCatalog(item)" [matTooltip]="'editor.metadata.catalog' | translate" mat-icon-button>
      <mat-icon>local_library</mat-icon>
    </button>
  </ng-template>
  
  
  <ng-template let-item="item" #templateContent>
    
    <mat-form-field class="app-full-width">
      <span class="app-usage">{{ data.authority.usage }}</span>
      <input matInput [(ngModel)]='item.attrs["authority"]' placeholder="{{ 'editor.subject.authority' | translate }}" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let authority of authorities" [value]="authority">
          {{ authority }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <span class="app-usage">{{ data.topic.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]='item.topic["_"]' placeholder="{{ 'editor.subject.topic' | translate }}">
    </mat-form-field>
    <mat-form-field class="app-full-width">
      <span class="app-usage">{{ data.geographic.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]='item.geographic["_"]' placeholder="{{ 'editor.subject.geographic' | translate }}">
    </mat-form-field>
    <mat-form-field class="app-full-width">
      <span class="app-usage">{{ data.temporal.usage }}</span>
      <input autocomplete="off" matInput [(ngModel)]='item.temporal["_"]' placeholder="{{ 'editor.subject.temporal' | translate }}">
    </mat-form-field>
  </ng-template>
</app-editor-field>