<div class="app-fxLayout app-column app-fill app-form-field-dens-6">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'navbar.process-management' | translate }}</span>
    </div>
  </div>

  @if (state=='loading') {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  @if (state=='success') {
    <div class="app-fxFlex app-fxLayout app-column app-content-wrapper app-process-management">
      <div class="app-fxLayout app-row app-gap-2 app-baseline app-formbar app-mb-n3">
        @if (view == 'overview') {
          <mat-form-field  class="app-state">
            <mat-label>{{ 'desc.state' | translate }}</mat-label>
            <mat-select [placeholder]="'desc.state' | translate" [(ngModel)]="selectedState" (selectionChange)="onStateChanged()" name="state">
              @for(state of batchStates; track $index;) {
                <mat-option [value]="state">{{ 'states.' + state | translate }}</mat-option>
              }
            </mat-select>
            @if (selectedState !== 'ALL') {
              <button (click)="selectedState = 'ALL'; onStateChanged()" matSuffix mat-icon-button aria-label="Clear" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <button mat-stroked-button (click)="reload()">
            {{ 'button.refresh' | translate }}
          </button>
          <mat-checkbox [(ngModel)]="autoRefresh" (change)="setRefresh()" name="autoRefresh">{{ 'desc.automaticallyRestore' | translate }}</mat-checkbox>
          <button mat-stroked-button (click)="changeView('loadingQueue')">
            {{ 'button.showLoadingQueue' | translate }}
          </button>
          @if (selectedBatch && (selectedBatch.state === 'LOADING_FAILED' || selectedBatch.state === 'LOADED' || selectedBatch.state === 'STOPPED') && !isExportProfile(selectedBatch.profile)) {
            <button mat-stroked-button (click)="onReloadBatch()">
              {{ 'button.reload' | translate }}
            </button>
          }
          @if (selectedBatch && selectedBatch.state === 'LOADED') {
            <button mat-stroked-button (click)="onIngestBatch()">
              {{ 'button.continue' | translate }}
            </button>
          }
          @if (selectedBatch && selectedBatch.state === 'INGESTED' && selectedBatch.parentPid) {
            <button mat-stroked-button (click)="onEditBatchObject()">
              {{ 'button.goToObject' | translate }}
            </button>
          }
          @if (selectedBatch && (selectedBatch.state === 'EXPORT_FAILED' || selectedBatch.state === 'STOPPED') && isExportProfile(selectedBatch.profile)) {
            <button mat-stroked-button (click)="onReexport()">
              {{ 'button.reexport' | translate }}
            </button>
          }
          @if (selectedBatch && selectedBatch.state === 'LOADING_CONFLICT') {
            <button mat-stroked-button (click)="onResolveConflict()">
              {{ 'button.resolveconflict' | translate }}
            </button>
          }
          @if (canStopProcess()) {
            <button mat-stroked-button (click)="stopBatch(selectedBatch)">
              {{ 'button.stopProcess' | translate }}
            </button>
          }
        }
        @if (view == 'loadingQueue') {
          <button mat-stroked-button (click)="reload()">
            {{ 'button.refresh' | translate }}
          </button>
          <button mat-stroked-button (click)="changeView('overview')">
            {{ 'button.backToTheListOfAllProcesses' | translate }}
          </button>
        }
      </div>
      @if (view == 'overview') {
        <div class="app-fxLayout app-row app-gap-2 app-formbar app-mb-n3">
          <mat-form-field  class="app-pid">
            <mat-label>{{ 'formField.folderNamePid.placeholder' | translate }}</mat-label>
            <input matInput [matTooltip]="'formField.folderNamePid.tooltip' | translate" [placeholder]="'formField.folderNamePid.placeholder' | translate" (keyup.enter)="filter()" [(ngModel)]="description" name="description">
            @if (description) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="description=''; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-datepicker">
            <mat-label>{{ 'desc.createFrom' | translate }}</mat-label>
            <input matInput [matDatepicker]="dp1" [placeholder]="'desc.createFrom' | translate" [(ngModel)]="createFrom" name="createFrom" (keyup.enter)="filter()">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
            @if (createFrom) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="createFrom=null; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-datepicker">
            <mat-label>{{ 'desc.createTo' | translate }}</mat-label>
            <input matInput [matDatepicker]="dp2" [placeholder]="'desc.createTo' | translate" [(ngModel)]="createTo" name="createTo" (keyup.enter)="filter()">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
            @if (createTo) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="createTo=null; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-datepicker">
            <mat-label>{{ 'desc.modifiedFrom' | translate }}</mat-label>
            <input matInput [matDatepicker]="dp3" [placeholder]="'desc.modifiedFrom' | translate" [(ngModel)]="modifiedFrom" name="modifiedFrom" (keyup.enter)="filter()">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
            @if (modifiedFrom) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="modifiedFrom=null; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-datepicker">
            <mat-label>{{ 'desc.modifiedTo' | translate }}</mat-label>
            <input matInput [matDatepicker]="dp4" [placeholder]="'desc.modifiedTo' | translate" [(ngModel)]="modifiedTo" name="modifiedTo" (keyup.enter)="filter()">
            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
            <mat-datepicker #dp4></mat-datepicker>
            @if (modifiedTo) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="modifiedTo=null; filter()" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-fxFlex">
            <mat-label>{{ 'desc.user' | translate }}</mat-label>
            <mat-select [placeholder]="'desc.user' | translate" name="user" [(ngModel)]="user" name="user" (keyup.enter)="filter()">
              <mat-option value="">{{ 'desc.all' | translate }}</mat-option>
              @for(user of users; track $index;) {
                <mat-option [value]="user.userId+''">{{ user.name }}</mat-option>
              }
            </mat-select>
            @if (user) {
              <button (click)="user=''; filter()" matSuffix mat-icon-button aria-label="Clear" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-priority">
            <mat-label>{{ 'desc.priority' | translate }}</mat-label>
            <mat-select [placeholder]="'desc.priority' | translate" name="priority" [(value)]="priority" (keyup.enter)="filter()">
              <mat-option value="">{{ 'desc.all' | translate }}</mat-option>
              @for(priority of priorities; track $index;) {
                <mat-option [value]="priority">{{ 'formField.priorities.' + priority | translate }}</mat-option>
              }
            </mat-select>
            @if (priority) {
              <button (click)="priority=''; filter()" matSuffix mat-icon-button aria-label="Clear" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <mat-form-field  class="app-fxFlex">
            <mat-label>{{ 'desc.profile' | translate }}</mat-label>
            <mat-select [placeholder]="'desc.profile' | translate" name="profile" [(value)]="profile" (keyup.enter)="filter()">
              <mat-option value="">{{ 'desc.all' | translate }}</mat-option>
              @for(profile of config.profiles; track $index;) {
                <mat-option [value]="profile">{{ 'formField.profiles.' + profile | translate }}</mat-option>
              }
            </mat-select>
            @if (profile) {
              <button (click)="profile=''; filter()" matSuffix mat-icon-button aria-label="Clear" color="warn" [matTooltip]="'button.removeThisFilter' | translate">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <button mat-stroked-button (click)="filter()">
            {{ 'button.filter' | translate }}
          </button>
        </div>
      }
      @if (view == 'overview') {
        <div class="app-fxFlex app-oa-y app-border-wrapper">
        <app-user-table (selectItem)="selectRow($event)"  (openItem)="openBatch($event)" [colsSettingsName]="'procMngColumns'" [items]="batches" ></app-user-table>
        <mat-paginator [length]="resultCount" hidePageSize="true" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="onPageChanged($event)"></mat-paginator>
      </div>
    }
    @if (view == 'loadingQueue') {
      <div class="app-fxFlex app-oa-y app-mt-4 app-border-wrapper">
        <table mat-table #table [dataSource]="queue" class="app-striped app-hove app-resize">
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesQueue($event, 'description')" [style.width]="getColumnWidthQueue('description')">{{ 'desc.folderNamePid' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="create">
            <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesQueue($event, 'create')" [style.width]="getColumnWidthQueue('create')">{{ 'desc.created' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.create | date : 'dd.MM.yyyy hh:mm:ss' }}</td>
          </ng-container>
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesQueue($event, 'timestamp')" [style.width]="getColumnWidthQueue('timestamp')">{{ 'desc.modified' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.timestamp | date : 'dd.MM.yyyy hh:mm:ss' }}</td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesQueue($event, 'state')" [style.width]="getColumnWidthQueue('state')">{{ 'desc.state' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="app-badge" [ngClass]="batchProgress(element) === '0%' ? 'app-WAITING' : 'app-' + element.state">
                {{ batchProgress(element) === '0%' ? ('states.WAITING' | translate) : ('states.' + element.state | translate) }}@if (element.isLoading()) {
                <strong class="app-ml-2">{{ batchProgress(element) }}</strong>
              }
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="pageCount">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesQueue($event, 'pageCount')" [style.width]="getColumnWidthQueue('pageCount')">{{ 'desc.numberOfPages' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.pageCount }}</td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesQueue($event, 'user')" [style.width]="getColumnWidthQueue('user')">{{ 'desc.user' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.user }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsQueue; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsQueue;" class="app-cursor-pointer" [class.app-selected]="row == selectedBatch" (click)="selectBatch(row)" (dblclick)="openBatch(row)"></tr>
      </table>
    </div>
  }
</div>
}
</div>
