<mat-progress-bar mode="indeterminate" *ngIf="!layout.ready" class="app-progress-bar"></mat-progress-bar>
<div fxLayout="column" fxFlexFill *ngIf="layout.ready">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
            <a routerLink="/"><mat-icon>home</mat-icon></a>
            <span class="app-separator">/</span>
            <a routerLink="/workflow">{{ 'navbar.workflow' | translate }}</a>
            <span class="app-separator">/</span>
            <span class="app-last">{{ (onlyMyTasks ? 'navbar.my_tasks' : 'navbar.tasks') | translate }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="app-h-100">
            <!-- <button mat-icon-button [matTooltip]="'navbar.layout' | translate" (click)="showLayoutAdmin()">
        <mat-icon>dashboard</mat-icon>
      </button> -->
        </div>
    </div>
    <div fxFlex class="app-oh app-p-4" fxLayout="column">
        <div class="app-border-wrapper app-h-100">
            <as-split direction="horizontal">
                <as-split-area [size]="40">
                    <div fxLayout="column" fxFlexFill>
                        <div class="app-toolbar" *ngIf="!id">
                            <button (click)="getTasks()" mat-icon-button
                                [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                            <button *ngIf="this.totalSelected > 1" mat-button (click)="editTasks()" >{{'workflow.multipleJobsEdit' | translate}}</button>
                            <button mat-icon-button [matMenuTriggerFor]="menuMoreTasks" [matTooltip]="'button.more' | translate">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menuMoreTasks="matMenu">
                              <button mat-menu-item (click)="selectColumns('tasks')" >{{'editor.children.select_columns' | translate}}</button>
                            </mat-menu>
                        </div>
                        <div class="app-oa-y" *ngIf="tasks.length > 0">
                            <table mat-table [dataSource]="tasks" class="app-striped app-hover app-resize" matSort
                                [matSortActive]="tasksSortField" [matSortDirection]="tasksSortDir"
                                (matSortChange)="sortTasksTable($event)">

                                <ng-container *ngFor="let c of selectedColumns" [matColumnDef]="c + '-filter'">
                      
                                    <th mat-header-cell *matHeaderCellDef [style.width]="colsWidthTasks[c]+'px'">
                                      <ng-container [ngSwitch]="columnTypes[c]">
                                        <ng-container *ngSwitchCase="'date'">
                                        
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'list'">
                                            <mat-select [(ngModel)]="filterFields[c]" (ngModelChange)="filter(c, filterFields[c])">
                                                <mat-option [value]="''"> </mat-option>
                                                <mat-option *ngFor="let s of lists[c]" [value]="s.code">{{ s.value }}</mat-option>
                                              </mat-select> 
                                              <button mat-icon-button matIconSuffix color="warn" *ngIf="filterFields[c]" (click)="filter(c, ''); filterFields[c] = ''; $event.stopPropagation();"><mat-icon>clear</mat-icon></button>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                          <input type="text" [id]="c + 'Filter'" [(ngModel)]="filterFields[c]" (change)="filter(c, filterFields[c])" />
                                          <button mat-icon-button matIconSuffix color="warn" *ngIf="filterFields[c]" (click)="filter(c, ''); filterFields[c] = ''"><mat-icon>clear</mat-icon></button>
                                        </ng-container>
                                      </ng-container>
                                      </th>
                                  </ng-container>   
                                  <ng-container *ngFor="let c of selectedColumns" [matColumnDef]="c">
                                    
                                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event,c)" [style.width]="colsWidthTasks[c]"><span mat-sort-header>{{'desc.' + c | translate}}</span></th>
                                    
                                      <ng-container [ngSwitch]="columnTypes[c]">
                                        <ng-container *ngSwitchCase="'date'">
                                          <td mat-cell *matCellDef="let element">{{ element[c] | date : 'dd.MM.yyyy'}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'list'">
                                          <td mat-cell *matCellDef="let element">{{ listValue(c, element[c])}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'translated'">
                                          <td mat-cell *matCellDef="let element">{{ element[translatedField(c)] }}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                          <td mat-cell *matCellDef="let element">{{ element[c] }}</td>
                                        </ng-container>
                                      </ng-container>
                                      
                                  </ng-container>

                                <tr mat-header-row *matHeaderRowDef="filterTasksColumns; sticky: true"></tr>
                                <tr mat-header-row *matHeaderRowDef="selectedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: selectedColumns; let idx=index;" 
                                    [class.app-selected]="row.selected"
                                    (click)="taskClick(row, $event, idx)"></tr>
                            </table>
                        </div>
                    </div>


                </as-split-area>
                <as-split-area [size]="60">

                    <as-split direction="vertical">
                        <as-split-area>
                            <div class="app-toolbar-old"  *ngIf="totalSelected === 1">
                                <button  (click)="getTask(task.id)" mat-button>{{'common.refresh' | translate }}</button>
                                <button  [routerLink]="['/workflow/jobs', task.jobId]" mat-button>{{'workflow.job' | translate }}</button>
                                <button (click)="saveTask()" mat-button>{{'common.save' | translate }}</button>
                            </div>
                            <div class="app-detail" *ngIf="task && totalSelected === 1">
                                <h3>{{ task.jobLabel }}</h3>
                                <div>

                                    <mat-form-field>
                                        <mat-label>{{ 'desc.state' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="task.state" [placeholder]="'desc.state' | translate">
                                            <mat-option *ngFor="let o of statesAll"
                                                [value]="o.code">{{o.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>{{ 'desc.priority' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="task.priority" [placeholder]="task.priority">
                                            <mat-option *ngFor="let o of priorities"
                                                [value]="o.code">{{o.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>{{ 'desc.user' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="task.ownerId" [placeholder]="task.ownerName">
                                            <mat-option *ngFor="let s of users" [value]="s.userId">{{ s.name
                                                }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div >
                                    <mat-form-field>
                                        <mat-label>{{ 'workflow.task' | translate }}</mat-label>
                                        <input matInput disabled readonly="true" [value]="task.profileLabel">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>{{ 'desc.created' | translate }}</mat-label>
                                        <input matInput disabled readonly="true" [value]="task.created | date : 'dd.MM.yyyy HH:mm'">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>{{ 'desc.modified' | translate }}</mat-label>
                                        <input matInput disabled readonly="true" [value]="task.modified | date : 'dd.MM.yyyy HH:mm'">
                                    </mat-form-field>
                                </div>
                                <div >
                                    <mat-form-field class="app-w-100">
                                        <mat-label>{{ 'desc.note' | translate }}</mat-label>
                                        <textarea [(ngModel)]="task.note" matInput [placeholder]="'desc.note' | translate"></textarea>
                                    </mat-form-field>
                                </div>
                                <div >
                                    <ng-container *ngFor="let param of parameters">
                                        <ng-container [ngSwitch]="param.displayType">

                                            <mat-form-field *ngSwitchCase="'TEXT'">
                                                <mat-label>{{ param.profileLabel }}</mat-label>
                                                <input matInput [(ngModel)]="param.value" [id]="'param_' + param.profileName" [type]="param.valueType.toLowerCase()" [required]="param.required">
                                            </mat-form-field>

                                            <mat-checkbox *ngSwitchCase="'CHECKBOX'" color="primary"
                                                [(ngModel)]="param.value">{{ param.profileHint}}</mat-checkbox>

                                            <mat-form-field *ngSwitchCase="'COMBOBOX'">
                                                <mat-label>{{ param.profileLabel }}</mat-label>
                                                <mat-select [(ngModel)]="param.value">
                                                    <mat-option *ngFor="let o of getValueMap(param.valueMapId)"
                                                        [value]="o.value">{{o.value}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <span *ngSwitchDefault>{{param.displayType}}</span>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </as-split-area>
                        <as-split-area>
                            <div fxLayout="column" fxFlexFill>
                                <div class="app-oa-y" *ngIf="totalSelected === 1">
                                    <table mat-table [dataSource]="material" multiTemplateDataRows
                                        class="app-expanded app-hover">
                                        <ng-container matColumnDef="{{column}}"
                                            *ngFor="let column of materialColumnsToDisplay">
                                            <th mat-header-cell *matHeaderCellDef>{{ 'dynamic.workFlow.' + column |
                                                translate }}</th>
                                            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="expand">
                                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                            <td mat-cell *matCellDef="let element" class="app-text-right">
                                                <a
                                                    (click)="(materialExpandedElement = materialExpandedElement === element ? null : element); $event.stopPropagation()">
                                                    <mat-icon
                                                        *ngIf="materialExpandedElement !== element">keyboard_arrow_down</mat-icon>
                                                    <mat-icon
                                                        *ngIf="materialExpandedElement === element">keyboard_arrow_up</mat-icon>
                                                </a>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="expandedDetail">
                                            <td mat-cell *matCellDef="let element"
                                                [attr.colspan]="materialColumnsToDisplayWithExpand.length">
                                                <div class="app-detail"
                                                    [@detailExpand]="element == materialExpandedElement ? 'expanded' : 'collapsed'">
                                                    <div class="app-pt-2 app-pb-2">
                                                        <app-material-edit [material]="element"></app-material-edit>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row
                                            *matHeaderRowDef="materialColumnsToDisplayWithExpand; sticky: true"></tr>
                                        <tr mat-row
                                            *matRowDef="let element; columns: materialColumnsToDisplayWithExpand;"
                                            [class.app-row-expanded-parent]="materialExpandedElement === element"
                                            (click)="materialExpandedElement = materialExpandedElement === element ? null : element">
                                        </tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                            class="app-row-detail"
                                            [class.app-row-expanded]="materialExpandedElement === row"></tr>
                                    </table>
                                </div>
                            </div>
                        </as-split-area>
                    </as-split>
                </as-split-area>
            </as-split>
        </div>
    </div>
</div>