pre {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

code {
  padding: 10px;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: -30px;
  //background: #f0f0f0;
  overflow-x: initial;
}

.app-toggle-original {
  position: absolute;
  right: 5px;
  bottom: 5px;

}