.input-partname {
  flex-grow: 1;
}
.input-partnumber {
  flex-grow: 1;
  margin-left: 16px;
}

.mat-select {
  border-bottom: none;
}

.title-prefix {
  margin-right: 10px;
}
button {
  float: right;
  margin-right: 20px;
}