<div class="app-fxLayout app-column app-fill">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'device.devices' | translate }}</span>
    </div>
  </div>

  @if (state=='loading') {
    <mat-progress-bar mode="indeterminate" class="app-progress-bar"></mat-progress-bar>
  }

  <div class="app-fxFlex app-fxLayout app-column app-content-wrapper app-devices">
    <div class="app-fxLayout app-row app-gap-2 app-formbar app-mb-2">
      <button mat-stroked-button [routerLink]="['/devices', 'new']">{{ 'device.button.addDevice' | translate }}</button>
    </div>

    <div class="app-fxFlex app-oa-y app-border-wrapper">
      <app-user-table (sortBy)="sortBy($event)" (selectItem)="selectRow($event)" (openItem)="openItem($event)" [colsSettingsName]="'devicesColumns'" [actions]="actions" [items]="devices"></app-user-table>
    </div>
  </div>
</div>
