<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'device.devices' | translate }}</span>
    </div>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'" class="app-progress-bar"></mat-progress-bar>

  <div fxFlex class="app-devices app-p-4" fxLayout="column">
    <div class="app-formbar" class="app-mb-4">
      <a mat-flat-button color="primary" [routerLink]="['/devices', 'new']">
        {{ 'device.button.addDevice' | translate }}
      </a>
    </div>

    <div fxFlex class="app-oh app-oa-y">
      <table mat-table [dataSource]="devices" class="app-hover app-striped">
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef>{{ 'device.type' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ 'model.' + element.model | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef>{{ 'device.name' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.label }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/devices', row.id]" class="app-cursor-pointer"></tr>
      </table>
    </div>
  </div>
</div>
