pre {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;

  .app-mods-editing {
    border: 2px solid var(--app-color-darknes);
    background-color: var(--app-color-lightnes);
  }
}

code {
  padding: 10px;
  font-size: 14px;
  overflow-x: initial;
}

textarea {
  margin: 0px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: var(--app-color-lightnes);
  padding: 10px;
  font-size: 13px;
  color: var(--app-color-darknes);
}