<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" class="app-toolbar app-view-metadata">
		<div fxFlex>
			<!-- <app-editor-switcher (onChangeEditorType)="changeEditorType($event)" [editorType]="editorType"></app-editor-switcher> -->
			<ng-container *ngIf="item">
				<button mat-icon-button [class.app-active]="realtime" (click)="setRealtime(true)" [matTooltip]="'editor.mods.realtime_on' | translate" >
						<mat-icon>timer</mat-icon>
				</button>
				<button  mat-icon-button [class.app-active]="!realtime" (click)="setRealtime(false)" [matTooltip]="'editor.mods.realtime_off' | translate" >
						<mat-icon>timer_off</mat-icon>
				</button>
			</ng-container>
			<button mat-icon-button (click)="onRefresh()" [disabled]="editting || realtime" (click)="onRefresh()" [matTooltip]="'editor.mods.refresh' | translate" >
					<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button (click)="onEdit()" [disabled]="editting || realtime" (click)="onEdit()" [matTooltip]="'common.edit' | translate" >
				<mat-icon>edit</mat-icon>
			</button>
		</div>
		<div>
			<button mat-icon-button (click)="onClear()" [disabled]="!editting || realtime" [matTooltip]="'common.cancel' | translate" >
				<mat-icon>clear</mat-icon>
			</button>
			<button mat-icon-button (click)="onSave()" [disabled]="!anyChange || realtime" [matTooltip]="'button.save' | translate" >
				<mat-icon>save</mat-icon>
			</button>
		</div>
  </div>
	<div fxFlex class="app-oa-y">
		<mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
		<div class="app-editor-content" *ngIf="state !=='loading'">
			<pre *ngIf="editting && !realtime" class="app-xml-content app-mods-editing" #editingPre><code class="app-mods-editing" (input)="checkChanged()" contenteditable="true" [highlightAuto]="mods.original"></code></pre> 
			<pre *ngIf="!editting && !realtime" class="app-xml-content" #originalPre><code [highlightAuto]="mods.original"></code></pre> 
			<!-- <pre *ngIf="!editting && realtime" class="app-xml-content"><code [highlightAuto]="layout.lastSelectedItemMetadata.toMods()"></code></pre>  -->
		</div>
	</div>
</div>