mat-checkbox  {
  margin-bottom: 20px;
}
.app-editor-content {
  overflow: auto;
}
.app-numbering-example {
  padding-bottom: 12px;
  .app-numbering-label {
    margin-bottom: 5px;
    font-size: 12px;
    color: #999;
  }
  .app-numbering-value {
    color: #0c0c0c;
    font-size: 15px;
  }
}

