mat-checkbox  {
  margin-bottom: 20px;
}
.app-editor-content {
  overflow: auto;
  .app-brackets {
    float: right;
    margin-right: -10px;
    color: #777;
    &.app-active {
     color: #456aa5;
     font-weight: 600;
    }
  }
  .app-page-prefix {
    width: calc(100% - 35px);
  }
}
.app-numbering-example {
  padding-bottom: 12px;
  .app-numbering-label {
    margin-bottom: 5px;
    font-size: 12px;
    color: #999;
  }
  .app-numbering-value {
    color: #0c0c0c;
    font-size: 15px;
  }
}
input.app-input-invalid {
  color: red;
}

