<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
    <div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">{{ 'editor.pages.title' | translate }}</span>
			</div>
		</div>
		<div>
			<button mat-icon-button (click)="addBrackets()" [disabled]="canSave()" [matTooltip]="'common.add_brackets' | translate" [matTooltipPosition]="toolbarTooltipPosition">
        [<mat-icon>add</mat-icon>]
      </button>
      <button mat-icon-button (click)="removeBrackets()" [disabled]="canSave()" [matTooltip]="'common.remove_brackets' | translate" [matTooltipPosition]="toolbarTooltipPosition">
        [<mat-icon>remove</mat-icon>]
      </button>
      <button mat-icon-button (click)="onSave()" [disabled]="!canSave()" [matTooltip]="'button.save' | translate" [matTooltipPosition]="toolbarTooltipPosition">
        <mat-icon>save</mat-icon>
      </button>
		</div>
  </div>
  <div fxFlex>
    <mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
    <div class="app-editor-content" *ngIf="state !=='loading'">
      <div class="app-editor-field">
        <div class="app-card">
          <div class="app-card-content">
            <mat-checkbox color="primary" [(ngModel)]="holder.editType" >{{ 'editor.pages.edit_page_type' | translate }}</mat-checkbox>
            <mat-form-field>
              <mat-select [disabled]="!holder.editType" [placeholder]="'editor.pages.page_type' | translate" name="type" [(value)]="holder.pageType" (keyup.enter)="enterSelect(typeSelect)" #typeSelect [formControl]="pageTypeControl">
                <mat-option *ngFor="let pageType of codebook.pageTypes" [value]="pageType.code">{{ pageType.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="app-card">
          <div class="app-card-content">
            <mat-checkbox color="primary" [(ngModel)]="holder.editIndex">{{ 'editor.pages.edit_page_index' | translate }}</mat-checkbox>
            <mat-form-field class="app-full-width" [class.app-disabled]="!holder.editIndex">
              <input (keyup.enter)="onSave()" [readonly]="!holder.editIndex" type="number" step="1" min="0" autocomplete="off" matInput [placeholder]="'editor.pages.index_from' | translate" [(ngModel)]="holder.pageIndex" [formControl]="pageIndexControl">
            </mat-form-field>
          </div>
        </div>
  
        <div class="app-card">
          <div class="app-card-content">
            <button class="app-brackets" [disabled]="!holder.editNumber" [class.app-active]="holder.useBrackets" [matTooltip]="holder.useBrackets ? 'Nevkládat do závorek' : 'Vkládat do závorek'" (click)="holder.useBrackets = !holder.useBrackets" mat-icon-button>
              <span class="app-text-icon">[ ]</span>
            </button>
            <mat-checkbox color="primary" [(ngModel)]="holder.editNumber">{{ 'editor.pages.edit_page_number' | translate }}</mat-checkbox>
            <mat-form-field class="app-page-width"  [class.app-disabled]="!holder.editNumber">
              <input (keyup.enter)="onSave()" [readonly]="!holder.editNumber" type="text" autocomplete="off" matInput [placeholder]="'editor.pages.number_prefix' | translate" [(ngModel)]="holder.pageNumberPrefix"  [formControl]="pageNumberPrefixControl">
            </mat-form-field>
            <mat-form-field class="app-full-width" [class.app-disabled]="!holder.editNumber">
              <input (keyup.enter)="onSave()" [readonly]="!holder.editNumber" type="text" autocomplete="off" matInput [placeholder]="'editor.pages.number_from' | translate" [(ngModel)]="holder.pageNumberFrom"  [formControl]="pageNumberControl" [class.app-input-invalid]="!holder.numberFromValid()">
            </mat-form-field>
            <mat-form-field class="app-full-width" [class.app-disabled]="!holder.editNumber">
              <input (keyup.enter)="onSave()" [readonly]="!holder.editNumber" type="number" step="1" min="0" autocomplete="off" matInput [placeholder]="'editor.pages.number_increment' | translate"  [formControl]="pageNumberIncrementControl" [(ngModel)]="holder.pageNumberIncrement">
            </mat-form-field>
            <mat-form-field class="app-full-width" [class.app-disabled]="!holder.editNumber">
              <input (keyup.enter)="onSave()" [readonly]="!holder.editNumber" type="text" autocomplete="off" matInput [placeholder]="'editor.pages.number_suffix' | translate" [(ngModel)]="holder.pageNumberSuffix"  [formControl]="pageNumberSuffixControl">
            </mat-form-field>
            <mat-form-field>
              <mat-select #numSelect [disabled]="!holder.editNumber" [placeholder]="'editor.pages.number_numbering' | translate" name="type" [(value)]="holder.pageNumberNumbering" (keyup.enter)="enterSelect(numSelect)" [formControl]="numberingTypesControl">
                <mat-option *ngFor="let type of holder.numberingTypes;" [value]="type">{{ type.label }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox color="primary" [class.app-disabled]="!holder.editNumber" [(ngModel)]="holder.doubleColumns">{{ 'editor.pages.doubleColumns' | translate }}</mat-checkbox>
            <div class="app-numbering-example">
              <div class="app-numbering-label">{{ 'editor.pages.number_example' | translate }}</div>
              <div class="app-numbering-value">{{ holder.getNumberingExample() }}</div>
            </div>
          </div>
        </div>
  
        <div class="app-card">
          <div class="app-card-content">
            <mat-checkbox color="primary" [(ngModel)]="holder.editPosition" >{{ 'editor.pages.edit_page_position' | translate }}</mat-checkbox>
            <mat-form-field class="app-full-width">
              <mat-select #posSelect [disabled]="!holder.editPosition" [placeholder]="'editor.pages.page_position' | translate" name="type" [(value)]="holder.pagePosition" (keyup.enter)="enterSelect(posSelect)"  [formControl]="posControl">
                <mat-option *ngFor="let pagePosition of config.pagePositions" [value]="pagePosition">{{ 'editor.pages.page_position_' + pagePosition | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="app-card">
          <div class="app-card-content">
            <div class="app-apply-to">
              <mat-form-field>
                <mat-select [placeholder]="'editor.pages.apply' | translate" name="apply" [(value)]="holder.applyTo"  [disabled]="!canSave()" (keyup.enter)="enterSelect(applySelect)" #applySelect  [formControl]="applyControl">
                  <mat-option *ngFor="let num of holder.applyOptions;" [value]="num">{{'editor.pages.apply_to' + (num > 1 ? '2' : '0') | translate: { num: num } }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-checkbox [disabled]="holder.applyTo == 1" color="primary" [(ngModel)]="holder.applyToFirst">{{ 'editor.pages.apply_to_first' | translate }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>