<h1 mat-dialog-title>{{ "dialog.importDialog.title" | translate }}</h1>
<div mat-dialog-content class="app-oh app-oa-y">
	<ng-container *ngIf="state == 'loading'">
		<mat-progress-bar *ngIf="count > 0" color="primary" mode="buffer" [value]="(done/count) * 100" [bufferValue]="0"></mat-progress-bar>
		<div *ngIf="count === 0">{{ "dialog.importDialog.messagePreparing" | translate }}</div>
		<div *ngIf="count > 0" [innerHtml]="'dialog.importDialog.messageLoading' | translate: { done: done, count: count }"></div>
	</ng-container>

	<mat-card class="app-alert app-success" *ngIf="state=='success'">
		<mat-icon>info</mat-icon> {{ "dialog.importDialog.alert.success" | translate }}
	</mat-card>

	<mat-card class="app-alert app-warn" *ngIf="state=='failure'">
		<mat-icon>warning</mat-icon> {{ "dialog.importDialog.alert.failure" | translate }}
	</mat-card>

	<pre class="app-ws-pw" *ngIf="state=='failure'">{{ failureMessage }}</pre>
</div>

<div mat-dialog-actions cdk-focus-start>
	<button *ngIf="state == 'success'" mat-flat-button color="primary" mat-dialog-close="open">{{ 'button.continueToPrepareMetadata' | translate }}</button>
	<button mat-stroked-button mat-dialog-close="close" >{{ 'button.close' | translate }}</button>
</div>