<h1 mat-dialog-title>{{ "dialog.importDialog.title" | translate }}</h1>
<div mat-dialog-content class="app-oh app-oa-y">
  @if (state == 'loading') {
    @if (count > 0) {
      <mat-progress-bar color="primary" mode="buffer" [value]="(done/count) * 100" [bufferValue]="0"></mat-progress-bar>
    }
    @if (count === 0) {
      <div>{{ "dialog.importDialog.messagePreparing" | translate }}</div>
    }
    @if (count > 0) {
      <div [innerHtml]="'dialog.importDialog.messageLoading' | translate: { done: done, count: count }"></div>
    }
  }

  @if (state=='success') {
    <mat-card class="app-alert app-success">
      <mat-icon>info</mat-icon> {{ "dialog.importDialog.alert.success" | translate }}
    </mat-card>
  }

  @if (state=='failure') {
    <mat-card class="app-alert app-warn">
      <mat-icon>warning</mat-icon> {{ "dialog.importDialog.alert.failure" | translate }}
    </mat-card>
  }

  @if (state=='failure') {
    <pre class="app-ws-pw">{{ failureMessage }}</pre>
  }
</div>

<div mat-dialog-actions cdkFocusRegionstart>
  @if (state == 'success') {
    <button mat-flat-button color="primary" mat-dialog-close="open">{{ 'button.continueToPrepareMetadata' | translate }}</button>
  }
  <button mat-stroked-button mat-dialog-close="close" >{{ 'button.close' | translate }}</button>
</div>