<table mat-table #table #childrenList [dataSource]="items()" matSort
  class="app-dragable-table app-striped app-hover app-resize" [matSortActive]="sortField"
  [matSortDirection]="sortAsc ? 'asc' : 'desc'" (matSortChange)="sortTable($event)" cdkDropList
  (cdkDropListDropped)="drop($event)" cdkDropListData="items()">


  <ng-container *ngIf="withFilters()">
    <ng-container *ngFor="let c of selectedColumns" [matColumnDef]="c.field + '-filter'">
      <th mat-header-cell *matHeaderCellDef [style.width]="c.width+'px'" class="app-col-filter">
        <ng-container [ngSwitch]="c.type">
          <ng-container *ngSwitchCase="'date'"></ng-container>
          <ng-container *ngSwitchCase="'list'">
            <div class="app-filter-wrapper">
              <mat-label *ngIf="!filterFields[c.field]">{{ 'desc.select' | translate }} ...</mat-label>
              <mat-select [(ngModel)]="filterFields[c.field]" (ngModelChange)="filter(c.field, filterFields[c.field])">
                <mat-option [value]="''"> </mat-option>
                <mat-option *ngFor="let s of lists[c.field]" [value]="s.code">{{ s.value }}</mat-option>
              </mat-select>
              <a matSuffix *ngIf="filterFields[c.field]"
                (click)="filter(c.field, ''); filterFields[c.field] = ''; $event.stopPropagation();"
                class="app-clear app-select"><mat-icon>clear</mat-icon></a>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="app-filter-wrapper">
              <input type="text" [id]="c + 'Filter'" [(ngModel)]="filterFields[c.field]"
                (change)="filter(c.field, filterFields[c.field])"
                [placeholder]="('desc.enterText' | translate) + '...'" />
              <a *ngIf="filterFields[c.field]" (click)="filter(c.field, ''); filterFields[c.field] = ''"
                class="app-clear"><mat-icon>clear</mat-icon></a>
            </div>
          </ng-container>
        </ng-container>
      </th>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let c of selectedColumns; let idx = index; let last = last;" [matColumnDef]="c.field">
    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event,c.field)"
      [style.width]="c.width + 'px'" class="app-pr-0">
      <span *ngIf="!last" mat-sort-header>{{'search.' + c.field | translate}}</span>
      <div *ngIf="last" class="app-fxLayout app-row app-center-v">
        <span *ngIf="c.field !== 'isLocked' && c.type !== 'action'" mat-sort-header class="app-fxFlex">{{ 'search.' +
          c.field | translate }}</span>
        <button (click)="setColumns()" mat-icon-button color="primary"
          [matTooltip]="'editor.children.select_columns' | translate" class="app-mr-0">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container [ngSwitch]="c.type">
        <ng-container *ngSwitchCase="'date'">
          {{ element[c.field] | date : 'dd.MM.yyyy hh:mm:ss'}}
        </ng-container>
        <ng-container *ngSwitchCase="'list'">
          {{ listValue(c.field, element[c.field])}}
        </ng-container>
        <ng-container *ngSwitchCase="'translated'">
          {{ prefixes[c.field] + element[c.field] | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'boolean'">
          <div class="app-fxLayout app-row app-center-v">
            <button mat-icon-button color="primary"
              [matTooltip]="element.isLocked ? ('desc.locked' | translate) : ('desc.unlocked' | translate)">
              <mat-icon>{{ element.isLocked ? 'lock' : 'lock_open' }}</mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="element.validationStatus === 'ERROR'"
              (click)="onGetValidationError(element.validationProcess);"
              [matTooltip]="'button.viewErrorDetail' | translate" matTooltipPosition="below">
              <mat-icon>error_outline</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'action'">
          <button mat-icon-button color="primary" *ngFor="let a of actions()" (click)="a.action(element)"
            [matTooltip]="a.tooltip | translate">
            <mat-icon>{{ a.icon }}</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngIf="c.field !== 'validationStatus'">
            <div class="app-fxLayout app-row app-center-v">
              <button mat-icon-button color="primary" *ngIf="c.field === 'pid'" class="app-icon-copy app-mr-1"
                (click)="ui.copyTextToClipboard(element.pid)" [matTooltip]="'button.copyTextToClipboard' | translate">
                <mat-icon class="app-16">content_copy</mat-icon>
              </button>
              <span>{{ element[c.field] }}</span>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <ng-container *ngIf="withFilters()">
    <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let idx=index" #matrow [id]="'tr_'+row.pid"
    (click)="onSelectItem(row, $event, idx)" (dblclick)="onOpenItem(row, $event)" class="app-cursor-pointer"
    [class.app-selected]="row.selected" [class.app-invalid]="row.invalid"
    [class.app-repre]="row.pageRepre === 'reprePage'"
    [title]="row.label + ' (' + ('model.' + row.model | translate) + ')'" cdkDrag [cdkDragData]="row"
    [cdkDragDisabled]="!draggable()" [cdkDragPreviewContainer]="'parent'"></tr>
</table>