@import './src/sass/app-variables.scss';
@import "./src/sass/app-mixins";
@import './src/sass/app-global.scss';

.app-desc {
  @extend .app-p-4;
  border: 1px solid rgba(silver, .6);
  background-color: rgba(silver, .1);
}

.app-layout-controller {
  width: 500px;
  min-height: 160px;

  .app-item {
    @extend .app-cursor-pointer;
    position: relative;

    &.app-active {
      $app-color: green;
      background-color: rgba($app-color, .15);
      color: $app-color;
    }
  
    &.app-disabled {
      $app-color: red;
      background-color: rgba($app-color, .1);
      color: $app-color;

      .mat-icon {
        position: absolute;
        top: auto;
        left: auto;
        right: auto;

        opacity: .1;
        $app-size: 50px;
        @include setIcon(50);
      }
    }
  }
}

.app-layout-preview {
  background-color: rgba(silver, .25);

  .as-split-area {
    .mat-form-field {
      width: 100%;
      margin-bottom: -1.34375em;
    }

    .app-area-name {
      font-size: 32px;
      font-weight: 900;
      opacity: .15;
    }
  } 
}

// split override
::ng-deep {
  .as-split-gutter {
    background-color: white !important;
  }
}