<div class="app-fxLayout app-column app-fill app-form-field-dens-6">
  <div class="app-fxLayout app-row app-center-v app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'desc.import' | translate }}</span>
    </div>
  </div>

  <div class="app-fxLayout app-column app-fxFlex app-content-wrapper app-import">
    <div class="app-fxLayout app-row app-gap-2 app-formbar app-mb-n3">
      <button mat-stroked-button (click)="onLoad()" [disabled]="selectedDevice?.model === 'none' && !(selectedProfile.id === 'profile.default_archive_import' || selectedProfile.id === 'profile.default_ndk_import')">
        {{ 'import.load' | translate }}
      </button>
      <mat-form-field  class="app-fxFlex">
        <mat-label>{{ 'import.profile' | translate }}</mat-label>
        <mat-select [placeholder]="'import.profile' | translate" [(ngModel)]="selectedProfile" (selectionChange)="onProfileChanged()">
          @for(profile of profiles; track $index;) {
            <mat-option [value]="profile">{{ profile.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="app-fxFlex">
        <mat-label>{{ 'desc.priority' | translate }}</mat-label>
        <mat-select [placeholder]="'desc.priority' | translate" [(ngModel)]="selectedPriority">
          @for(priority of priorities; track $index;) {
            <mat-option [value]="priority">{{ 'formField.priorities.' + priority  | translate}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="app-fxFlex">
        <mat-label>{{ 'import.device' | translate }}</mat-label>
        <mat-select [placeholder]="'import.device' | translate" [(ngModel)]="selectedDevice" [disabled]="selectedProfile.id === 'profile.default_archive_import' || selectedProfile.id === 'profile.default_ndk_import'">
          @for(device of devices; track $index;) {
            <mat-option [value]="device">{{ device.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="app-import-index" [(ngModel)]="generateIndex">{{ 'import.generate_index' | translate }}</mat-checkbox>
    </div>

    <div class="app-fxFlex app-tree app-oh app-oa-y app-border-wrapper">
      @for(f of folders; let idx = $index; track $index;) {
        @if (!f.hidden) {
          <div class="app-fxLayout app-row app-center-v app-gap-1">
            <div class="app-cell" style="width: 50px; padding-left: 3px;">
              @if (f.state === 'IMPORTED') {
                <span class="app-disabled">{{ 'import.state.' + f.state.toLowerCase() | translate }}</span>
              }
            </div>
            <div class="app-fxLayout app-row app-center-v app-cell">
              <span [style.margin-left]="f.level*10 + 'px'"> </span>
              @if (f.canExpand) {
                <mat-icon (click)="toggleFolder(f, idx+1)">{{ f.expanded ? "expand_more" : "chevron_right" }}</mat-icon>
              }
              @if (!f.canExpand) {
                <mat-icon>none</mat-icon>
              }
              <mat-icon [class.app-disabled]="!canSelect(f)" class="app-mr-1" (click)="toggleSelected(f)" [color]="f.selected ? 'primary' : null">{{ f.selected ? "check_box" : "check_box_outline_blank" }}</mat-icon>
              @if (canReread(f)) {
                <mat-icon class="app-mr-1" title="Připravit ke znovunačtení" (click)="reRead(f)">refresh</mat-icon>
              }
              <span [class.app-disabled]="f.state === 'IMPORTED'">{{ f.name }}</span>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
