<h1 mat-dialog-title>{{ 'dialog.about.title' | translate }}</h1>
<div mat-dialog-content *ngIf="backendInfo">
  <p [innerHTML]="'dialog.about.message' | translate"></p>
  <div class="app-mb-4">
    <h3 class="app-m-0">{{ 'desc.client' | translate }}</h3>
    <ng-container *ngIf="clientInfo">
      <span class="app-label app-mr-1">{{ 'desc.version' | translate }}:</span><strong>{{ clientInfo.tag }}</strong> ({{ clientInfo.date | date : 'dd.MM.yyyy'}})
    </ng-container>
  </div>
  <div class="app-mb-4">
    <h3 class="app-m-0">{{ 'desc.core' | translate }}</h3>
    <span class="app-label app-mr-1">{{ 'desc.version' | translate }}:</span><strong>{{ backendInfo.version }}</strong><br />
    <span class="app-label app-mr-1">{{ 'desc.build' | translate }}:</span><strong>{{ backendInfo.timestamp }}</strong><br />
    <span class="app-label app-mr-1">{{ 'desc.revision' | translate }}:</span><strong>{{ backendInfo.revision }}</strong><br />
    <span class="app-label app-mr-1">RDflow:</span><strong>{{ backendInfo.rdflowVersion }}</strong><br />
  </div>
  <div class="app-mb4">
    <h3 class="app-m-0">{{ 'desc.storage' | translate }}</h3>
    <span class="app-label app-mr-1">{{ 'desc.storage' | translate }}:</span><strong>{{ backendInfo.storage }}</strong><br/>
    <span class="app-label app-mr-1">{{ 'desc.database' | translate }}:</span><strong>{{ backendInfo.database}}</strong><br/>
  </div>
</div>
<div mat-dialog-actions cdkFocusRegionstart>
  <button mat-stroked-button color="default" mat-dialog-close="close">{{ 'button.close' | translate }}</button>
</div>
