<app-editor-field [field]="field" [title]="'editor.chronicle.author.title'">

  <ng-template let-item="item" #templateContent>

    <div>
      <mat-form-field class="app-half-left">
        <input autocomplete="off" matInput [(ngModel)]='item.given["_"]' placeholder="{{ 'editor.chronicle.author.given' | translate }}">
      </mat-form-field>
      <mat-form-field class="app-half-right">
        <input autocomplete="off" matInput [(ngModel)]='item.family["_"]' placeholder="{{ 'editor.chronicle.author.family' | translate }}">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="app-full-width">
        <input autocomplete="off" matInput [(ngModel)]='item.date["_"]' placeholder="{{ 'editor.chronicle.author.date' | translate }}">
      </mat-form-field>
    </div>

    <app-editor-field [field]="item.roles" [title]="'editor.author.role.title'" class="app-roles" [nested]='true'>
      <ng-template let-role="item" #templateContent>
        <mat-select class="app-no-placeholder" [(ngModel)]='role.role["_"]' placeholder="{{ 'editor.author.role.title' | translate }}">
          <mat-option *ngFor="let role of roles" [value]="role.code">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </ng-template>
    </app-editor-field>

  </ng-template>
</app-editor-field>
