<div mat-dialog-content class="app-catalog-wrapper">


    <div class="app-actions" *ngIf="catalogs">
  
      <mat-form-field class="app-catalog" *ngIf="catalogs && catalogs.length > 0">
        <mat-select (selectionChange)="onCatalogChanged($event.value)" placeholder="Katalog" name="catalog" [(ngModel)]="activeCatalog" [disabled]="state=='loading'  || state=='saving'">
          <mat-option *ngFor="let catalog of catalogs" [value]="catalog">{{ catalog.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="app-field" *ngIf="activeCatalog" >
        <mat-select placeholder="Pole" name="field" [(ngModel)]="activeField" [disabled]="state=='loading'  || state=='saving'">
          <mat-option *ngFor="let field of activeCatalog?.fileds" [value]="field">{{ field.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="app-query">
        <input matInput placeholder="Dotaz" (keyup.enter)="search()" [(ngModel)]="activeQuery" [disabled]="state=='loading'  || state=='saving'">
      </mat-form-field>
  
      <a mat-raised-button class="app-search" color="primary" (click)="search()" [disabled]="!activeQuery || state=='loading'  || state=='saving'">
        <mat-icon style="margin-right:8px;">search</mat-icon>
        {{ 'catalog.search' | translate }}
      </a>
    </div>
  
  
    <div class="app-results" *ngIf="results && results.length > 0">
      <div class="app-table">
        <div *ngFor="let entry of results; let i = index" class="app-row" [class.app-active]="i == activeIndex" (click)="selectEntry(i)">
          <div class="entry">{{ entry.title }}</div>
        </div>
      </div>
      <div class="app-detail" *ngIf="activeIndex >= 0">
        <div [innerHTML]="results[activeIndex].preview"></div>
      </div>
    </div>
    <div class="app-no-results" *ngIf="message">{{ 'catalog.' + message | translate }}</div>
  
    








</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>

<div mat-dialog-actions cdk-focus-start>
  
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="activeIndex < 0 || state=='loading'  || state=='saving'" >{{ 'catalog.save' | translate }}</button>
  <button mat-raised-button color="default" mat-dialog-close="close" >{{ 'common.cancel' | translate }}</button>
  <mat-spinner *ngIf="state=='saving'"
    style="margin-left: auto"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>
</div>