<div class="editor">

  <div class="app-card" *ngFor="let item of field.items; index as index; last as last; first as first;">
    <div class="app-card-header">
      <span class="app-card-title">{{ 'editor.note.note' | translate }}</span>

      <button matTooltip="{{ 'common.remove' | translate }}" color="primary" (click)="field.remove(index)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>

      <button [disabled]="last" matTooltip="{{ 'common.move_down' | translate }}" color="primary" (click)="field.moveDown(index)" mat-icon-button>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <button [disabled]="first" matTooltip="{{ 'common.move_up' | translate }}" color="primary" (click)="field.moveUp(index)" mat-icon-button>
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
   
        <button class="app-collapse" *ngIf="item.collapsed" matTooltip="{{ 'common.expand' | translate }}" color="primary" (click)="item.switchCollapsed()" mat-icon-button>
           <mat-icon>expand_more</mat-icon>
         </button>
         <button class="app-collapse" *ngIf="!item.collapsed" matTooltip="{{ 'common.collapse' | translate }}" color="primary" (click)="item.switchCollapsed()" mat-icon-button>
           <mat-icon>expand_less</mat-icon>
         </button>

      <button matTooltip="{{ 'editor.note.add_btn' | translate }}" color="primary" (click)="field.addAfter(index)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>

    </div>

    <div class="app-card-content" [class.app-collapsed]="item.collapsed">

      <mat-form-field class="app-full-width">
        <input matInput [(ngModel)]='item.attrs["type"]' placeholder="{{ 'editor.note.type' | translate }}" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <textarea autocomplete="off" matInput [(ngModel)]='item.modsElement["_"]' placeholder="{{ 'editor.note.note' | translate }}"></textarea>
      </mat-form-field>


    </div>

  </div>

</div>