<div class="app-panel">

<div class="app-toolbar" *ngIf="switchable">
  <div class="app-toolbar" *ngIf="layout.getNumOfSelected() > 1">
    <div class="app-label">
      <div class="app-label-title">{{ 'editor.children.multiple_selection_label' | translate }}</div>
      <div class="app-label-model">{{ ('editor.children.multiple_selection_count' + countPlurals() ) | translate: { count:
        layout.getNumOfSelected() } }}</div>
    </div>
  </div>
  <div class="app-context" *ngIf="!layout.showPagesEditor()">
    <button matTooltip="{{ 'editor.toolbar.editor_metadata' | translate }}"
      [class.app-inactive]="editorType != 'metadata'" (click)="editorType = 'metadata'"
      mat-icon-button>
      <span class="app-text-icon">M</span>
    </button>
    <button *ngIf="layout.selectedItem && layout.selectedItem.isPage()"
      matTooltip="{{ 'editor.toolbar.editor_image' | translate }}"
      [class.app-inactive]="editorType != 'image'" (click)="editorType = 'image'"
      mat-icon-button>
      <mat-icon>image</mat-icon>
    </button>
    <!-- <button *ngIf="editor.selectedItem.isSong() && !editor.doubleRight"
      matTooltip="{{ 'editor.toolbar.editor_song' | translate }}"
      [class.app-inactive]="editorType != 'song'" (click)="editorType = 'song'"
      mat-icon-button>
      <mat-icon>audiotrack</mat-icon>
    </button> -->
    <!-- <button *ngIf="editor.selectedItem.canContainPdf() && !editor.doubleRight"
      matTooltip="{{ 'editor.toolbar.editor_pdf' | translate }}"
      [class.app-inactive]="editorType != 'pdf'" (click)="editorType = 'pdf'"
      mat-icon-button>
      <mat-icon>picture_as_pdf</mat-icon>
    </button> -->
    <button matTooltip="{{ 'editor.toolbar.editor_mods' | translate }}"
      [class.app-inactive]="editorType !== 'mods'" (click)="editorType = 'mods'"
      mat-icon-button>
      <mat-icon>code</mat-icon>
    </button>
    <button *ngIf="layout.selectedItem && layout.selectedItem.isPage()" matTooltip="{{ 'editor.toolbar.editor_ocr' | translate }}"
      [class.app-inactive]="editorType != 'ocr'" (click)="editorType = 'ocr'"
      mat-icon-button>
      <mat-icon>title</mat-icon>
    </button>
    <button matTooltip="{{ 'editor.toolbar.editor_atm' | translate }}"
      [class.app-inactive]="editorType != 'atm'" (click)="editorType = 'atm'"
      mat-icon-button>
      <mat-icon>scanner</mat-icon>
    </button>
    <button *ngIf="config.showCommentEditor" matTooltip="{{ 'editor.toolbar.editor_comment' | translate }}"
      [class.app-inactive]="editorType != 'comment'" (click)="editorType = 'comment'"
      mat-icon-button>
      <mat-icon>format_quote</mat-icon>
    </button>
    <button *ngIf="layout.selectedItem.isPage()" matTooltip="{{ 'editor.toolbar.editor_aes' | translate }}"
      [class.app-inactive]="editorType != 'aes'" (click)="editorType = 'aes'"
      mat-icon-button>
      <mat-icon>text_format</mat-icon>
    </button>

    <!-- <button *ngIf="!editor.doubleRight && editor.mode == 'children'" (click)="editor.enterDoubleRight()"
      mat-icon-button matTooltip="{{ 'editor.toolbar.editor_enter_double_right' | translate }}">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button> -->
  </div>

</div>

<div class="app-content" [ngSwitch]="editorType" style="height:100%;">
  <app-editor-structure *ngSwitchCase="'structure-list'" [viewMode]="'list'" [items]="layout.items"></app-editor-structure>
  <app-editor-structure *ngSwitchCase="'structure-grid'" [viewMode]="'grid'" [items]="layout.items"></app-editor-structure>
  <app-editor-structure *ngSwitchCase="'structure-icons'" [viewMode]="'icons'" [items]="layout.items"></app-editor-structure>
  <!-- <app-editor-children *ngSwitchCase="'children'" [items]="data"></app-editor-children> -->
  <ng-container *ngSwitchCase="'image'" >
    <app-viewer *ngIf="layout.lastSelectedItem && layout.lastSelectedItem.isPage()" [pid]="layout.lastSelectedItem.pid" ></app-viewer>
  </ng-container>
  <ng-container *ngIf="layout.selectedItem">
    <app-editor-mods *ngSwitchCase="'mods'"  [pid]="layout.selectedItem.pid"></app-editor-mods>
    <app-editor-ocr *ngSwitchCase="'ocr'"  [pid]="layout.selectedItem.pid"></app-editor-ocr>
    <app-editor-comment *ngSwitchCase="'comment'"  [pid]="layout.selectedItem.pid"></app-editor-comment>
    <app-editor-atm *ngSwitchCase="'atm'"  [pid]="layout.selectedItem.pid"></app-editor-atm>
  </ng-container>
  <ng-container *ngSwitchCase="'metadata'">
    <app-editor-pages *ngIf="layout.showPagesEditor()"></app-editor-pages>
    <ng-container *ngIf="layout.selectedItem && !layout.showPagesEditor()">
      <app-editor-page *ngIf="layout.selectedItem.isPage()" [model]="layout.selectedItem.model" [pid]="layout.selectedItem.pid" > </app-editor-page>
      <app-editor-song *ngIf="layout.selectedItem.isSong()" [model]="layout.selectedItem.model" [pid]="layout.selectedItem.pid"> </app-editor-song>
      <app-editor-chronicle *ngIf="layout.selectedItem.isChronicle()" [pid]="layout.selectedItem.pid"></app-editor-chronicle>
      <app-editor-bdm *ngIf="layout.selectedItem.isBdm()" [pid]="layout.selectedItem.pid"></app-editor-bdm>
      <app-editor-metadata *ngIf="!layout.selectedItem.isPage() && !layout.selectedItem.isChronicle() && !layout.selectedItem.isBdm()" 
          [pid]="layout.selectedItem.pid">
      </app-editor-metadata>
    </ng-container>
  </ng-container>

  <app-editor-geo *ngSwitchCase="'geo'" [pid]="layout.selectedItem.pid"></app-editor-geo>

  <!-- <app-editor-metadata *ngIf="editor.leftEditorType == 'geo'" [pid]="editor.left.pid"></app-editor-metadata> -->

</div>
</div>