<div fxLayout="column" fxFlexFill>
  
  <div fxFlex [ngSwitch]="editorType">
    <div class="app-editor-content app-tree"  *ngSwitchCase="'tree'">
      <app-editor-tree ></app-editor-tree>
    </div>
    <app-editor-structure *ngSwitchCase="'structure-list'" [viewMode]="'list'" [panel]="panel" (onIngest)="passOnIngest()"></app-editor-structure>
    <app-editor-structure *ngSwitchCase="'structure-grid'" [viewMode]="'grid'" [panel]="panel" (onIngest)="passOnIngest()"></app-editor-structure>
    <app-editor-structure *ngSwitchCase="'structure-icons'" [viewMode]="'icons'" [panel]="panel" (onIngest)="passOnIngest()"></app-editor-structure>
    <ng-container *ngSwitchCase="'image'" >
      <app-viewer *ngIf="layout.lastSelectedItem && layout.lastSelectedItem.isPage()" [pid]="layout.lastSelectedItem.pid" ></app-viewer>
      <div *ngIf="!(layout.lastSelectedItem && layout.lastSelectedItem.isPage())">{{'Image not available' | translate}}</div>
    </ng-container>
    <ng-container *ngSwitchCase="'media'" >
      <app-media *ngIf="layout.lastSelectedItem" [pid]="layout.lastSelectedItem.pid"></app-media>
    </ng-container>
    <ng-container *ngSwitchCase="'song'" >
      <app-song *ngIf="layout.lastSelectedItem" [pid]="layout.lastSelectedItem.pid"></app-song>
    </ng-container>
    <ng-container *ngIf="layout.lastSelectedItem">
      <app-editor-mods *ngSwitchCase="'mods'"  [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-mods>
      <app-editor-ocr *ngSwitchCase="'ocr'"  [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-ocr>
      <app-editor-comment *ngSwitchCase="'comment'"  [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-comment>
      <app-editor-atm *ngSwitchCase="'atm'"  [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-atm>
      <ng-container *ngSwitchCase="'premis'">
        <app-editor-premis *ngIf="layout.getNumOfSelected() < 2"  [pid]="layout.lastSelectedItem.pid"></app-editor-premis>
        <app-editor-premis-multiple  *ngIf="layout.getNumOfSelected() > 1" ></app-editor-premis-multiple>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'metadata'">
      <app-editor-pages *ngIf="layout.showPagesEditor()"></app-editor-pages>
      <app-editor-audioPages *ngIf="layout.showAudioPagesEditor()"></app-editor-audioPages>
      <ng-container *ngIf="layout.lastSelectedItem && !layout.showPagesEditor() && !layout.showAudioPagesEditor()">
        <app-editor-page *ngIf="layout.lastSelectedItem.isPage()" [model]="layout.lastSelectedItem.model" [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"> </app-editor-page>
        <app-editor-audioPage *ngIf="layout.lastSelectedItem.isAudioPage()" [model]="layout.lastSelectedItem.model" [pid]="layout.lastSelectedItem.pid"> </app-editor-audioPage>
        <!-- <app-editor-chronicle *ngIf="layout.lastSelectedItem.isChronicle()" [pid]="layout.lastSelectedItem.pid" 
        [metadata]="layout.lastSelectedItemMetadata" [model]="layout.lastSelectedItem.model"></app-editor-chronicle> -->
        <!-- <app-editor-bdm *ngIf="layout.lastSelectedItem.isBdm()" 
          [model]="layout.lastSelectedItem.model" [metadata]="layout.lastSelectedItemMetadata"></app-editor-bdm> -->
        <app-editor-metadata *ngIf="!layout.lastSelectedItem.isPage() && !layout.lastSelectedItem.isAudioPage()" 
          [metadata]="layout.lastSelectedItemMetadata" [model]="layout.lastSelectedItem.model" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)">
        </app-editor-metadata>
      </ng-container>
    </ng-container>
    <!-- <app-editor-geo *ngSwitchCase="'geo'" [pid]="layout.lastSelectedItem.pid"></app-editor-geo> -->
  </div>
</div>