<div fxLayout="column" fxFlexFill [class.app-form-highlighting]="formHighlighting">
  <div fxFlex [ngSwitch]="editorType">
    <div class="app-editor-content app-tree"  *ngSwitchCase="'tree'">
      <app-editor-tree  [panel]="panel" ></app-editor-tree>
    </div>
    <app-editor-structure *ngSwitchCase="'structure-list'" [viewMode]="'list'" [panel]="panel" (onIngest)="passOnIngest()"></app-editor-structure>
    <app-editor-structure *ngSwitchCase="'structure-grid'" [viewMode]="'grid'" [panel]="panel" (onIngest)="passOnIngest()"></app-editor-structure>
    <app-editor-structure *ngSwitchCase="'structure-icons'" [viewMode]="'icons'" [panel]="panel" (onIngest)="passOnIngest()"></app-editor-structure>
    <ng-container *ngSwitchCase="'image'" >
      <app-viewer *ngIf="layout.lastSelectedItem &&  itemModel === 'page'" [imageInfo]="{pid: layout.lastSelectedItem.pid, dsid: 'FULL'}" ></app-viewer>
      <div *ngIf="!(layout.lastSelectedItem &&  itemModel === 'page')" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
        <mat-card class="app-alert app-info"><mat-icon>info</mat-icon>{{ 'alert.info.theImageIsNotAvailable' | translate }}</mat-card>
      </div>
    </ng-container>
    <!-- <ng-container *ngSwitchCase="'image'" >
      <app-media *ngIf="layout.lastSelectedItem" [pid]="layout.lastSelectedItem.pid"></app-media>
    </ng-container> -->
    <ng-container *ngSwitchCase="'media'" >
      <app-media *ngIf="layout.lastSelectedItem" [pid]="layout.lastSelectedItem.pid"></app-media>
    </ng-container>
    <ng-container *ngSwitchCase="'song'" >
      <app-song *ngIf="layout.lastSelectedItem" [pid]="layout.lastSelectedItem.pid"></app-song>
    </ng-container>
    <ng-container *ngIf="layout.lastSelectedItem">
      <app-editor-mods *ngSwitchCase="'mods'"  [pid]="layout.lastSelectedItem.pid" [panel]="panel"
       [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-mods>
      <app-editor-ocr *ngSwitchCase="'ocr'"  [panel]="panel" [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-ocr>
      <app-editor-comment *ngSwitchCase="'comment'" [panel]="panel"  [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-comment>
      <app-editor-atm *ngSwitchCase="'atm'" [panel]="panel"  [pid]="layout.lastSelectedItem.pid" [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"></app-editor-atm>
      <ng-container *ngSwitchCase="'premis'">
        <app-editor-premis *ngIf="numOfSelected < 2"  [pid]="layout.lastSelectedItem.pid"></app-editor-premis>
        <app-editor-premis-multiple  *ngIf="numOfSelected > 1" ></app-editor-premis-multiple>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'metadata'">
      <app-editor-pages *ngIf="showPagesEditor" [panel]="panel"></app-editor-pages>
      <app-editor-audioPages *ngIf="showAudioPagesEditor" [panel]="panel"></app-editor-audioPages>
      <ng-container *ngIf="layout.lastSelectedItem && !showPagesEditor && !showAudioPagesEditor">
        <app-editor-page *ngIf="itemModel === 'page'"  [panel]="panel" [model]="layout.lastSelectedItem.model" [pid]="layout.lastSelectedItem.pid" 
        [editorType]="editorType" (onChangeEditorType)="changeEditorType($event)"> </app-editor-page>
        <app-editor-audioPage *ngIf="itemModel === 'song'" [panel]="panel" [model]="layout.lastSelectedItem.model" [pid]="layout.lastSelectedItem.pid"> </app-editor-audioPage>
        <!-- <app-editor-chronicle *ngIf="layout.lastSelectedItem.isChronicle()" [pid]="layout.lastSelectedItem.pid" 
        [metadata]="layout.lastSelectedItemMetadata" [model]="layout.lastSelectedItem.model"></app-editor-chronicle> -->
        <!-- <app-editor-bdm *ngIf="layout.lastSelectedItem.isBdm()" 
          [model]="layout.lastSelectedItem.model" [metadata]="layout.lastSelectedItemMetadata"></app-editor-bdm> -->
        <app-editor-metadata *ngIf="itemModel !== 'page' && itemModel !== 'song'"  [panel]="panel"
          [model]="layout.lastSelectedItem.model" [editorType]="editorType"
          [data]="layout.lastSelectedItemMetadata" (onChangeEditorType)="changeEditorType($event)">
        </app-editor-metadata>
      </ng-container>
    </ng-container>
    <!-- <app-editor-geo *ngSwitchCase="'geo'" [pid]="layout.lastSelectedItem.pid"></app-editor-geo> -->
  </div>
</div>