<!-- <mat-icon class="app-dialog-close">push_pin</mat-icon> -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content class="app-scrollbar-fix">
    @if (data.message) {
      <mat-card appearance="outlined" class="app-alert" [ngClass]="data.alertClass ? data.alertClass : null">
        <mat-card-content>
          @if (data.alertClass === 'app-warn' || data.alertClass === 'app-info') {
            <mat-icon>{{ data.alertClass === 'app-warn' ? 'warning' : 'info' }}</mat-icon>
          }
          {{ data.message }}
        </mat-card-content>
      </mat-card>
    }
    @if (data.checkbox) {
      <mat-checkbox color="primary" [(ngModel)]="data.checkbox.checked" class="app-mt-4">{{ data.checkbox.label }}</mat-checkbox>
    }
    @if (data.numberInput || data.textInput || data.textAreaInput) {
      <div class="app-fxLayout app-row app-gap-2 app-mt-4">
        @if (data.numberInput) {
          <mat-form-field [appearance]="settings.appearance" class="app-fxFlex">
            <mat-label>{{ data.numberInput.label }}</mat-label>
            <input type="number" step="1" [min]="data.numberInput.min" [max]="data.numberInput.max" autocomplete="off" matInput [placeholder]="data.numberInput.label" [(ngModel)]="data.numberInput.value">
          </mat-form-field>
        }
        @if (data.textInput) {
          <mat-form-field [appearance]="settings.appearance" class="app-fxFlex">
            <mat-label>{{ data.textInput.label }}</mat-label>
            <input type="text" step="1" matInput [placeholder]="data.textInput.label" [(ngModel)]="data.textInput.value">
          </mat-form-field>
        }
        @if (data.textAreaInput) {
          <mat-form-field [appearance]="settings.appearance" class="app-fxFlex">
            <mat-label>{{ data.textAreaInput.label }}</mat-label>
            <textarea [rows]="data.rows ? data.rows : 5" matInput [placeholder]="data.textAreaInput.label" [(ngModel)]="data.textAreaInput.value"></textarea>
          </mat-form-field>
        }
      </div>
    }
  </div>
  <div mat-dialog-actions cdkFocusRegionstart>
    <button matButton="filled" [class]="data.btn1.color" [mat-dialog-close]="data.btn1.value" [disabled]="!btnEnabled()" cdkFocusInitial>{{ data.btn1.label }}</button>
    @if (data.btn2) {
      <button matButton="outlined" [color]="data.btn2.color" [mat-dialog-close]="data.btn2.value">{{ data.btn2.label }}</button>
    }
  </div>
</div>
