<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="app-scrollbar-fix">
  <mat-card class="app-alert" [ngClass]="data.alertClass ? data.alertClass : null">
    <mat-icon *ngIf="data.alertClass === 'app-warn'">warning</mat-icon>{{ data.message }}
  </mat-card>
  <mat-checkbox *ngIf="data.checkbox" color="primary" [(ngModel)]="data.checkbox.checked" class="app-mt-4">{{ data.checkbox.label }}</mat-checkbox>
  <mat-form-field *ngIf="data.numberInput">
    <input type="number" step="1" [min]="data.numberInput.min" [max]="data.numberInput.max" autocomplete="off" matInput [placeholder]="data.numberInput.label" [(ngModel)]="data.numberInput.value">
  </mat-form-field>
</div>
<div mat-dialog-actions cdk-focus-start>
  <button mat-flat-button [color]="data.btn1.color" [mat-dialog-close]="data.btn1.value" [disabled]="!btnEnabled()" cdkFocusInitial>{{ data.btn1.label }}</button>
  <button *ngIf="data.btn2" mat-flat-button [color]="data.btn2.color" [mat-dialog-close]="data.btn2.value" >{{ data.btn2.label }}</button>
</div>