.app-editor-content {
  height: 100%;
  overflow: auto;
}

.app-label {
  .app-label-circle {
    border-radius: 50%;
    background: #ffffff82;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    margin-left: 7px;
    display: inline-block;
  }
  .app-label-sub {
    color: #ffffff82;
    padding-left: 10px;
  }
}