
<div class="app-editor-content-wrapper">
    <div class="app-editor-toolbar">
        <div class="app-label">{{ 'editor.metadata.editor_title' | translate }}</div>
        <div class="app-actions-right">
            <button class="app-action" (click)="onLoadFromCatalog()" [matTooltip]="'editor.metadata.catalog' | translate" mat-icon-button>
                <mat-icon>local_library</mat-icon>
            </button>
            <div class="app-divider"></div>
            <button class="app-action" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>  

<div class="app-editor-content" *ngIf="editor.metadata">
    <app-editor-title *ngIf="editor.template.titleInfo" [data]="editor.template.titleInfo" [field]="editor.metadata.getField('titleInfo')"></app-editor-title>
    <app-editor-author *ngIf="editor.template.name" [data]="editor.template.name" [field]="editor.metadata.getField('name')"></app-editor-author>
    <app-editor-publisher *ngIf="editor.template.originInfo" [data]="editor.template.originInfo" [field]="editor.metadata.getField('originInfo')"></app-editor-publisher>
    <app-editor-location [field]="editor.metadata.getField('location')"></app-editor-location>
    <app-editor-subject [field]="editor.metadata.getField('subject')"></app-editor-subject>
    <app-editor-language [field]="editor.metadata.getField('language')"></app-editor-language>
    <app-editor-abstract [field]="editor.metadata.getField('abstract')" [title]="'editor.abstract.title'"></app-editor-abstract>
    <app-editor-physical *ngIf="editor.template.physicalDescription" [data]="editor.template.physicalDescription" [field]="editor.metadata.getField('physicalDescription')"></app-editor-physical>
    <app-editor-note [field]="editor.metadata.getField('note')"></app-editor-note>
    <app-editor-genre *ngIf="editor.template.genre" [data]="editor.template.genre" [field]="editor.metadata.getField('genre')"></app-editor-genre>
    <app-editor-identifier [field]="editor.metadata.getField('identifier')"></app-editor-identifier>
    <app-editor-classification [field]="editor.metadata.getField('classification')"></app-editor-classification>
    <app-editor-resource *ngIf="editor.template.typeOfResource" [data]="editor.template.typeOfResource" [field]="editor.metadata.getField('typeOfResource')"></app-editor-resource>
</div>
    
<mat-spinner *ngIf="state === 'loading'"
          [strokeWidth]="5" 
          [diameter]="60"
          class="center-spinner">
</mat-spinner>



</div>  
