
<div class="app-editor-content-wrapper">
    <div class="app-editor-toolbar">
        <div class="app-label">{{ 'editor.metadata.editor_title' | translate }}
            <ng-container *ngIf="repo.metadata[pid]">
                <span class="app-label-circle"></span>
                <span class="app-label-sub">{{ repo.metadata[pid].standard }}</span>
            </ng-container>
        </div>
        <div class="app-actions-right" *ngIf="!notSaved">
            <button class="app-action" (click)="onLoadFromCatalog()" [matTooltip]="'repo.metadata[pid].catalog' | translate" mat-icon-button>
                <mat-icon>local_library</mat-icon>
            </button>
            <div class="app-divider"></div>
            <button class="app-action" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>

<div class="app-editor-content" *ngIf="repo.metadata[pid]">
    <app-editor-title *ngIf="available('titleInfo')" [field]="repo.metadata[pid].getField('titleInfo')"></app-editor-title>
    <app-editor-publisher *ngIf="available('originInfo')" [field]="repo.metadata[pid].getField('originInfo')"></app-editor-publisher>
    <app-editor-author *ngIf="available('name')" [field]="repo.metadata[pid].getField('name')"></app-editor-author>
    <app-editor-location *ngIf="available('location')" [field]="repo.metadata[pid].getField('location')"></app-editor-location>
    <app-editor-subject *ngIf="available('subject')" [field]="repo.metadata[pid].getField('subject')"></app-editor-subject>
    <app-editor-part *ngIf="available('part')" [field]="repo.metadata[pid].getField('part')"></app-editor-part>
    <app-editor-language *ngIf="available('language')" [field]="repo.metadata[pid].getField('language')"></app-editor-language>
    <app-editor-abstract *ngIf="available('abstract')" [field]="repo.metadata[pid].getField('abstract')"></app-editor-abstract>
    <app-editor-physical *ngIf="available('physicalDescription')" [field]="repo.metadata[pid].getField('physicalDescription')"></app-editor-physical>
    <app-editor-note *ngIf="available('note')" [field]="repo.metadata[pid].getField('note')"></app-editor-note>
    <app-editor-genre *ngIf="available('genre')" [field]="repo.metadata[pid].getField('genre')"></app-editor-genre>
    <app-editor-classification *ngIf="available('classification')" [field]="repo.metadata[pid].getField('classification')"></app-editor-classification>
    <app-editor-resource *ngIf="available('typeOfResource')" [field]="repo.metadata[pid].getField('typeOfResource')"></app-editor-resource>
    <app-editor-tableOfContents *ngIf="available('tableOfContents')" [field]="repo.metadata[pid].getField('tableOfContents')"></app-editor-tableOfContents>
    <app-editor-identifier *ngIf="available('identifier')" [field]="repo.metadata[pid].getField('identifier')"></app-editor-identifier>
    <app-editor-recordInfo *ngIf="available('recordInfo')" [field]="repo.metadata[pid].getField('recordInfo')"></app-editor-recordInfo>
    <app-editor-relatedItem *ngIf="available('relatedItem')" [field]="repo.metadata[pid].getField('relatedItem')"></app-editor-relatedItem>

</div>

<mat-spinner *ngIf="state === 'loading'"
          [strokeWidth]="5"
          [diameter]="60"
          class="center-spinner">
</mat-spinner>



</div>
