<h1 mat-dialog-title>{{ 'button.changeOwnerTooltip' | translate }}</h1>
<div mat-dialog-content>
    <mat-progress-bar *ngIf="state=='loading'" mode="indeterminate"></mat-progress-bar>
    <div fxFlex class="app-mr-4">
        <mat-form-field class="app-w-100">
            <mat-select [placeholder]="'desc.oldOwner' | translate" [(ngModel)]="oldOwner">
                <mat-option *ngFor="let c of data" [value]="c.name">{{ c.name}} ({{c.organization}})</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex>
        <mat-form-field class="app-w-100">
            <mat-select [placeholder]="'desc.newOwner' | translate" [(ngModel)]="newOwner">
                <mat-option *ngFor="let c of data" [value]="c.name">{{ c.name }} ({{c.organization}})</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions cdkFocusRegionstart>
    <button mat-flat-button color="primary" [disabled]="!oldOwner || !newOwner || state=='loading'" (click)="changeOwner()"
        [matTooltip]="'button.changeOwner' | translate">{{ 'button.changeOwner' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="false">{{ 'button.close' | translate }}</button>
</div>