
<div class="app-funds-search">
  <div class="actions">
    <mat-form-field class="app-search-input" [appearance]="settings.appearance">
      <input matInput [placeholder]="'editor.chronicle.location.fund_dialog.search' | translate" (ngModelChange)="onChange($event)" [(ngModel)]="query" cdkFocusRegionstart>
    </mat-form-field>
  </div>

  @if (state=='results') {
    <div class="app-table">
      <div class="search-result-list">
        <div class="scrollable">
          @for(fund of funds; track $index;) {
            <div (click)="selectedFund = fund" [class.app-selected]="fund == selectedFund" class="app-row">
              <div class="result-label">{{ fund.name }}</div>
            </div>
          }
        </div>
      </div>
    </div>
  }

  @if (state=='empty') {
    <div class="app-message">
      {{ 'editor.chronicle.location.fund_dialog.no_results' | translate }}
    </div>
  }

  @if (state=='none') {
    <div class="app-message">
      {{ 'editor.chronicle.location.fund_dialog.short_query' | translate }}
    </div>
  }

</div>

<div mat-dialog-actions>
  <button  mat-raised-button color="primary" (click)="onApprove()" [disabled]="!selectedFund" >{{ 'editor.geo.use' | translate }}</button>
  <button mat-raised-button color="default" mat-dialog-close="close" >{{ 'common.cancel' | translate }}</button>
</div>