
<div class="app-funds-search">

  <div class="actions">
    <mat-form-field class="app-search-input">
      <input matInput [placeholder]="'editor.chronicle.location.fund_dialog.search' | translate" (ngModelChange)="onChange($event)" [(ngModel)]="query" cdkFocusRegionstart>
    </mat-form-field>
  </div>

  <div class="app-table" *ngIf="state=='results'">
  <div class="search-result-list">
    <div class="scrollable">
      @for(fund of funds; track $index;) {
        <div (click)="selectedFund = fund" [class.app-selected]="fund == selectedFund" class="app-row">
          <div class="result-label">{{ fund.name }}</div>
        </div>
      }
    </div>
  </div>
</div>

<div *ngIf="state=='empty'" class="app-message">
  {{ 'editor.chronicle.location.fund_dialog.no_results' | translate }}
</div>

<div *ngIf="state=='none'" class="app-message">
  {{ 'editor.chronicle.location.fund_dialog.short_query' | translate }}
</div>

</div>


<div mat-dialog-actions>
  <button  mat-raised-button color="primary" (click)="onApprove()" [disabled]="!selectedFund" >{{ 'editor.geo.use' | translate }}</button>
  <button mat-raised-button color="default" mat-dialog-close="close" >{{ 'common.cancel' | translate }}</button>
</div>