@import './src/theme.scss';

.app-funds-search {
  max-width: 90vw;
  width: 800px;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px) !important;
  .actions {
    height: 60px;
    overflow: hidden;
    .app-search-input {
      width: 100%;
    }
    .app-search-check {
      margin-left: 16px;
    }
  }
  .app-table {
    height: calc(100% - 70px);
    box-shadow: none;
    .app-row {
      cursor: pointer;
      padding: 0 8px;
      &.app-active {
        background: $primary-color;
        color: #fff;
      }
    }
  }
  .app-message {
    margin-top: calc(40vh - 20px);
    text-align: center;
    color: #888;
  }
  .search-result-list {
    height: calc(100% - 0px);
    .result-label {
      flex: 1;
    }
    .scrollable {
      height: calc(100% - 0px);
      overflow: auto;
    }
  }
}
