<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>
    
<!--    <app-field-codebook field="physicalLocation" [item]="item" [options]="codebook.locations" [(value)]='item.physicalLocation["_"]'></app-field-codebook>-->
<!--    <app-field-text field="physicalLocation" [item]="item"  [(value)]='item.physicalLocation["_"]'></app-field-text>-->
    <app-editor-field *ngIf="item.available['physicalLocation']" [field]="item.physicalLocations" [nested]='true'>
      <ng-template let-physicalLocation="item" #templateContent>
        <app-field-text field="displayLabel" [item]="physicalLocation" [(value)]="physicalLocation.attrs['displayLabel']"></app-field-text>
        <app-field-text field="authority" [item]="physicalLocation" [(value)]="physicalLocation.attrs['authority']"></app-field-text>
        <app-field-text field="value" [item]="physicalLocation" [(value)]="physicalLocation.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.available['shelfLocator']" [field]="item.shelfLocators" [nested]='true'>
      <ng-template let-shelfLocator="item" #templateContent>
        <app-field-text field="value" [item]="shelfLocator" [(value)]="shelfLocator.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.available['url']" [field]="item.urls" [nested]='true'>
      <ng-template let-url="item" #templateContent>
        <app-field-dropdown field="usage" [item]="url" [(value)]='url.attrs["usage"]'></app-field-dropdown>
        <app-field-text field="note" [item]="url" [(value)]='url.attrs["note"]'></app-field-text>
        <app-field-text field="value" [item]="url" [(value)]="url.modsElement['_']"></app-field-text>
      </ng-template>
    </app-editor-field>

  </ng-template>
</app-editor-field>
