<mat-progress-bar mode="indeterminate" *ngIf="loading" class="app-progress-bar"></mat-progress-bar>
<div *ngIf="!loading" class="app-fxLayout app-column app-fill app-editor-wrapper">
  <div class="app-fxLayout app-row app-center-v app-gap-4 app-breadcrumbsbar">
    <div class="app-fxLayout app-row app-center-v app-inner app-view-border-right app-pr-4">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/workflow">{{ 'navbar.workflow' | translate }}</a>
    </div>
  </div>
  <div class="app-fxFlex app-oh app-content-wrapper">
    <div class="app-border-wrapper app-h-100">
      <as-split direction="horizontal">
        <as-split-area [size]="40">
          <as-split direction="vertical">
            <!-- Zamery -->
            <as-split-area> 
              <div class="app-fxLayout app-column app-fill">
                <div class="app-fxLayout app-row app-toolbar">
                  <div class="app-fxFlex app-fxLayout app-row app-center-v">
                    <button (click)="getWorkflow(false)" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                    <button *ngIf="selectedProfile && selectedProfile.subjob.length > 0" mat-button (click)="createSubJob(selectedJob)">{{ "workflow.create_new_subjob" | translate }}</button>
                    <button (click)="createJob(profiles, profiles[0], -1)" mat-button>{{'workflow.create_new' | translate }}</button>
                    <ng-container *ngIf="selectedProfile">
                      <button mat-button [disabled]="hasObject" [matMenuTriggerFor]="object_menu">{{ "workflow.create_new_object" | translate }}</button>
                      <mat-menu #object_menu="matMenu">
                        <button mat-menu-item *ngFor="let model of selectedProfile.model" (click)="createNewObject(model.name)">{{ 'model.' + model.name | translate}}</button>
                      </mat-menu>
                    </ng-container>
                  </div>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuMore="matMenu">
                      <button *ngIf="auth.user.wfDeleteJobFunction || auth.isSuperAdmin()" mat-menu-item (click)="removeJobs(false)" >{{'workflow.remove_job' | translate}}</button>
                      <button *ngIf="this.totalSelected > 1" mat-menu-item (click)="editJobs()" >{{'workflow.multipleJobsEdit' | translate}}</button>
                      <button *ngIf="hasMetadata" mat-menu-item (click)="editMetadata()" >{{'button.editMetadata' | translate}}</button>
                    </mat-menu>
                  </div>
                </div>
                <div class="app-fxFlex app-oa-y">
                  <div class="app-editor-content">
                    <app-user-table [withFilters]="true" (sortBy)="sortJobsTable($event)" (selectItem)="jobClick($event)" (onFilter)="filter($event)" [colsSettingsName]="'columnsWorkFlow'" [items]="jobs" ></app-user-table>
                  </div>  
                </div>
              </div>
            </as-split-area>

            <!-- Podzamery -->
            <as-split-area>
              <div *ngIf="selectedJob" class="app-fxLayout app-column app-fill">
                <mat-card *ngIf="visibleSubJobs.length === 0" appearance="outlined" class="app-alert app-info">
                  <mat-card-content>
                    <mat-icon>info</mat-icon>{{ 'alert.info.noItemsToDisplay' | translate }}
                  </mat-card-content>
                </mat-card>
                <div class="app-fxLayout app-column app-fill">
                  <div *ngIf="subJobs.length > 0" class="app-fxLayout app-row app-toolbar">
                    <div class="app-fxFlex app-fxLayout app-row app-center-v">
                      <button (click)="refreshSubJobs()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                      <button *ngIf="selectedSubJob?.expandable" mat-button (click)="createSubJob(selectedSubJob)">{{ "workflow.create_new_subjob" | translate }}</button>
                      <ng-container *ngIf="selectedSubJobProfile">
                        <button mat-button [disabled]="hasObject" [matMenuTriggerFor]="object_menu">{{ "workflow.create_new_object" | translate }}</button>
                        <mat-menu #object_menu="matMenu">
                          <button mat-menu-item *ngFor="let model of selectedSubJobProfile.model" (click)="createNewObject(model.name)">{{ 'model.' + model.name | translate}}</button>
                        </mat-menu>
                      </ng-container>
                    </div>
                    <div>
                      <button mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menuMore="matMenu">
                        <button *ngIf="auth.user.wfDeleteJobFunction || auth.isSuperAdmin()" mat-menu-item (click)="removeJobs(true)" >{{'workflow.remove_job' | translate}}</button>
                      </mat-menu>
                    </div>
                  </div>
                  <div class="app-fxFlex app-oa-y">
                    <div class="app-editor-content">
                      <app-user-tree-table #treeTable [type]="'TreeWorkFlow'" [inSearch]="false" [treePath]="[selectedJob.id + '']" [rootTreeItem]="selectedJob" (onSelectTreeItem)="selectSubJob($event)" (onTreeItemsChanged)="visibleSubJobs = $event"></app-user-tree-table>
                    </div>
                  </div>
                </div> 
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>

        <as-split-area [size]="60">
          <as-split direction="vertical">
            <as-split-area [size]="30">
              <div class="app-fxLayout app-column app-fill">
                <div class="app-fxLayout app-row app-toolbar">
                  <div class="app-fxFlex app-fxLayout app-row app-center-v">
                    <button (click)="getDetail()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                    <button (click)="saveDetail()" mat-button>{{'button.save' | translate }}</button>
                  </div>
                </div>
                <div class="app-fxFlex app-oa-y">
                  <div class="app-editor-container">
                    <div class="app-gap-fixer"></div>

                    <div class="app-form-wrapper app-top-level" *ngIf="activeJob">
                      <div class="app-form">
                        <div class="app-form-content">
                          <mat-form-field appearance="outline" class="app-field-col">
                            <mat-label>{{ 'desc.name' | translate }}</mat-label>
                            <input autocomplete="off" matInput [placeholder]="'desc.name' | translate" [(ngModel)]="activeJob.label">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="app-field-col app-field-col-3">
                            <mat-label>{{ 'desc.state' | translate }}</mat-label>
                            <mat-select [(ngModel)]="activeJob.state" [placeholder]="'desc.state' | translate">
                              <mat-option *ngFor="let o of states" [value]="o.code">{{o.value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="app-field-col app-field-col-3">
                            <mat-label>{{ 'desc.priority' | translate }}</mat-label>
                            <mat-select [(ngModel)]="activeJob.priority" [placeholder]="'desc.priority' | translate">
                              <mat-option *ngFor="let o of priorities" [value]="o.code">{{o.value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="app-field-col app-field-col-3">
                            <mat-label>{{ 'desc.profile' | translate }}</mat-label>
                            <input autocomplete="off" matInput [placeholder]="'desc.profile' | translate" [(ngModel)]="activeJob.profileName" readonly>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="app-field-col app-field-col-3">
                            <mat-label>{{ 'desc.owner' | translate }}</mat-label>
                            <input autocomplete="off" matInput [placeholder]="'desc.owner' | translate" [(ngModel)]="activeJob.ownerName" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="app-field-col app-field-col-3">
                            <mat-label>{{ 'desc.financed' | translate }}</mat-label>
                            <input autocomplete="off" matInput [placeholder]="'desc.financed' | translate" [(ngModel)]="activeJob.financed">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="app-field-col app-field-col-3">
                            <mat-label>{{ 'id' | translate }}</mat-label>
                            <input autocomplete="off" matInput [placeholder]="'id' | translate" [(ngModel)]="activeJob.id" readonly>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="app-field-col app-field-col-2">
                            <mat-label>{{ 'desc.created' | translate }}</mat-label>
                            <input matInput [placeholder]="'desc.created' | translate" [value]="activeJob.created | date : 'dd.MM.yyyy HH:mm'" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="app-field-col app-field-col-2">
                            <mat-label>{{ 'desc.modified' | translate }}</mat-label>
                            <input autocomplete="off" matInput [placeholder]="'desc.modified' | translate" [value]="activeJob.modified | date : 'dd.MM.yyyy HH:mm'" readonly>
                          </mat-form-field>

                           <mat-form-field appearance="outline" class="app-field-col">
                            <mat-label>{{ 'desc.note' | translate }}</mat-label>
                            <textarea [(ngModel)]="activeJob.note" matInput [placeholder]="'desc.note' | translate"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="app-gap-fixer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </as-split-area>













            <as-split-area [size]="40">
              <div fxLayout="column" fxFlexFill *ngIf="selectedProfile">
                <div class="app-toolbar" >
                  <button mat-button [matMenuTriggerFor]="menuAddStep" [matTooltip]="'workflow.add_step' | translate">
                    {{ 'workflow.add_step' | translate }}
                  </button>
                  <mat-menu #menuAddStep="matMenu">
                    <button *ngFor="let profile of selectedProfile.task" mat-menu-item (click)="addStep(profile.name)" >{{ profile.title }}</button>
                  </mat-menu>
                </div>
                <div class="app-oa-y" *ngIf="selectedProfile">
                  <app-user-table 
                  (sortBy)="sortTasksTable($event)" 
                  (selectItem)="openTask($event)"
                  [colsSettingsName]="'columnsWorkFlowTasks'" [items]="tasks" ></app-user-table>
                </div>
              </div>
            </as-split-area>
            <as-split-area>
              <div fxLayout="column" fxFlexFill>
                <div class="app-oa-y">
                  <table mat-table [dataSource]="materials" multiTemplateDataRows class="app-expanded app-hover">
                    <ng-container matColumnDef="{{column}}" *ngFor="let column of materialColumnsToDisplay">
                      <th mat-header-cell *matHeaderCellDef>{{ 'dynamic.workFlow.' + column | translate }}</th>
                      <td mat-cell *matCellDef="let element">
                        <a *ngIf="column === 'label' && element['type'] === 'DIGITAL_OBJECT'" class="app-icon-copy app-mr-1" (click)="copyTextToClipboard(element.pid)" [matTooltip]="'button.copyTextToClipboard' | translate"><mat-icon class="app-icon-copy">content_copy</mat-icon></a>
                        {{ element[column] }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="expand">
                      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                      <td mat-cell *matCellDef="let element" class="app-text-right">
                        <a (click)="(materialExpandedElement = materialExpandedElement === element ? null : element); $event.stopPropagation()">
                          <mat-icon *ngIf="materialExpandedElement !== element">keyboard_arrow_down</mat-icon>
                          <mat-icon *ngIf="materialExpandedElement === element">keyboard_arrow_up</mat-icon> 
                        </a>
                      </td>
                    </ng-container>
    
                    <ng-container matColumnDef="expandedDetail">
                      <td mat-cell *matCellDef="let element" [attr.colspan]="materialColumnsToDisplayWithExpand.length">
                        <div class="app-detail" [@detailExpand]="element == materialExpandedElement ? 'expanded' : 'collapsed'">
                          <div class="app-pt-2 app-pb-2">
                            <app-material-edit [material]="element" [workflow]="activeJob" (onRefresh)="getWorkflow(true)"></app-material-edit>
                          </div>
                        </div>     
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="materialColumnsToDisplayWithExpand; sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: materialColumnsToDisplayWithExpand;" [class.app-row-expanded-parent]="materialExpandedElement === element" (click)="materialExpandedElement = materialExpandedElement === element ? null : element"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="app-row-detail" [class.app-row-expanded]="materialExpandedElement === row"></tr>
                  </table>
                </div>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>

  