<mat-progress-bar mode="indeterminate" *ngIf="!layout.ready" class="app-progress-bar"></mat-progress-bar>
<div fxLayout="column" fxFlexFill *ngIf="layout.ready">
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/workflow">{{ 'navbar.workflow' | translate }}</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-h-100">
      <!-- <button mat-icon-button [matTooltip]="'navbar.layout' | translate" (click)="showLayoutAdmin()">
        <mat-icon>dashboard</mat-icon>
      </button> -->
    </div>
  </div>
  <div fxFlex class="app-oh app-p-2" fxLayout="column">
    <div class="app-border-wrapper app-h-100">
      <mat-progress-bar mode="indeterminate" *ngIf="state=='loading'"></mat-progress-bar>
      <as-split direction="horizontal">
        <as-split-area [size]="40">
          <as-split direction="vertical">
            <!-- Zamery -->
            <as-split-area> 
              <div fxLayout="column" fxFlexFill>
                <div class="app-toolbar">
                  <button (click)="getWorkflow(false)" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button *ngIf="selectedProfile && selectedProfile.subjob.length > 0" mat-button (click)="createSubJob(selectedJob)">{{ "workflow.create_new_subjob" | translate }}</button>
                  <button (click)="createJob(profiles, profiles[0], -1)" mat-button>{{'workflow.create_new' | translate }}</button>
                  <ng-container *ngIf="selectedProfile">
                    <button mat-button [disabled]="hasObject" [matMenuTriggerFor]="object_menu">{{ "workflow.create_new_object" | translate }}</button>
                    <mat-menu #object_menu="matMenu">
                      <button mat-menu-item *ngFor="let model of selectedProfile.model" (click)="createNewObject(model.name)">{{ 'model.' + model.name | translate}}</button>
                    </mat-menu>
                  </ng-container>
            
                  <button mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuMore="matMenu">
                    <button mat-menu-item (click)="selectColumns('jobs')" >{{'editor.children.select_columns' | translate}}</button>
                    <button *ngIf="auth.user.wfDeleteJobFunction || auth.isSuperAdmin()" mat-menu-item (click)="removeJobs(false)" >{{'workflow.remove_job' | translate}}</button>
                    <button *ngIf="this.totalSelected > 1" mat-menu-item (click)="editJobs()" >{{'workflow.multipleJobsEdit' | translate}}</button>
                    <button *ngIf="hasMetadata" mat-menu-item (click)="editMetadata()" >{{'button.editMetadata' | translate}}</button>
                  </mat-menu>

                </div>
                <div class="app-oa-y">
                  <table mat-table [dataSource]="jobs" class="app-striped app-hover app-resize" matSort 
                  [matSortActive]="layout.workflowJobsSort.field" [matSortDirection]="layout.workflowJobsSort.direction" (matSortChange)="sortJobsTable($event)">

                    <ng-container *ngFor="let c of workFlowColumns" [matColumnDef]="c + '-filter'">
                      
                      <th mat-header-cell *matHeaderCellDef [style.width]="colsWidth[c]+'px'">
                        <ng-container [ngSwitch]="columnTypes[c]">
                          <ng-container *ngSwitchCase="'date'">
                          
                          </ng-container>
                          <ng-container *ngSwitchCase="'list'">
                              <mat-select [(ngModel)]="filterFields[c]" (ngModelChange)="filter(c, filterFields[c])">
                                  <mat-option [value]="''"> </mat-option>
                                  <mat-option *ngFor="let s of lists[c]" [value]="s.code">{{ s.value }}</mat-option>
                                </mat-select> 
                                <button mat-icon-button matIconSuffix color="warn" *ngIf="filterFields[c]" (click)="filter(c, ''); filterFields[c] = ''; $event.stopPropagation();"><mat-icon>clear</mat-icon></button>
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <input type="text" [id]="c + 'Filter'" [(ngModel)]="filterFields[c]" (change)="filter(c, filterFields[c])" />
                            <button mat-icon-button matIconSuffix color="warn" *ngIf="filterFields[c]" (click)="filter(c, ''); filterFields[c] = ''"><mat-icon>clear</mat-icon></button>
                          </ng-container>
                        </ng-container>
                        </th>
                    </ng-container>   
                    <ng-container *ngFor="let c of workFlowColumns" [matColumnDef]="c">
                      <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizes($event,c)" 
                        [class.app-activeSort]="c === layout.workflowJobsSort.field"
                        [style.width]="colsWidth[c]"><span mat-sort-header>{{'desc.' + c | translate}}</span></th>
                      <td mat-cell *matCellDef="let element" >
                        <ng-container [ngSwitch]="columnTypes[c]">
                          <ng-container *ngSwitchCase="'date'">
                            {{ element[c] | date : 'dd.MM.yyyy'}}
                          </ng-container>
                          <ng-container *ngSwitchCase="'list'">
                            {{ listValue(c, element[c])}}
                          </ng-container>
                          <ng-container *ngSwitchCase="'translated'">
                            {{ element[translatedField(c)] }}
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            {{ element[c] }}
                          </ng-container>
                        </ng-container>
                      </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="filterWorkFlowColumns; sticky: true"></tr>
                    <tr mat-header-row *matHeaderRowDef="workFlowColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: workFlowColumns; let idx=index"  [id]="'w_'+row.id"
                        (click)="jobClick(row, $event, idx)" [class.app-selected]="row.selected"></tr>
                  </table>
                </div>
              </div>            
            </as-split-area>
            <!-- Podzamery -->
            <as-split-area>
              <div fxLayout="column" fxFlexFill [fxLayoutAlign]="visibleSubJobs.length === 0 ? 'center center' : 'start'">
                <mat-card *ngIf="visibleSubJobs.length === 0" class="app-alert app-info"><mat-icon>info</mat-icon>{{ 'alert.info.noItemsToDisplay' | translate }}</mat-card>
                
                <div class="app-toolbar" *ngIf="subJobs.length > 0">
                  <button (click)="refreshSubJobs()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button *ngIf="selectedSubJob?.expandable" mat-button (click)="createSubJob(selectedSubJob)">{{ "workflow.create_new_subjob" | translate }}</button>
                  <ng-container *ngIf="selectedSubJobProfile">
                    <button mat-button [disabled]="hasObject" [matMenuTriggerFor]="object_menu">{{ "workflow.create_new_object" | translate }}</button>
                    <mat-menu #object_menu="matMenu">
                      <button mat-menu-item *ngFor="let model of selectedSubJobProfile.model" (click)="createNewObject(model.name)">{{ 'model.' + model.name | translate}}</button>
                    </mat-menu>
                  </ng-container>
            
                  <button mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuMore="matMenu">
                    <button mat-menu-item (click)="selectColumns('subjobs')" >{{'editor.children.select_columns' | translate}}</button>
                    <button *ngIf="auth.user.wfDeleteJobFunction || auth.isSuperAdmin()" mat-menu-item (click)="removeJobs(true)" >{{'workflow.remove_job' | translate}}</button>
                  </mat-menu>

                </div>

                <div class="app-oa-y">
                  <table  mat-table [dataSource]="visibleSubJobs" class="app-striped app-hover app-resize" matSort  #subJobsTable 
                    [matSortActive]="layout.workflowSubjobsSort.field" [matSortDirection]="layout.workflowSubjobsSort.direction" >
                    
                    <ng-container *ngFor="let c of workFlowColumnsSubJobs; let idx = index;" [matColumnDef]="c">
                      <th mat-header-cell *matHeaderCellDef 
                        [resizeColumn]="true" (columnResized)="saveColumnsSizesSubJobs($event,c)" 
                        [style.width]="colsWidthSubJobs[c]+'px'">
                        <span >{{'desc.' + c | translate}}</span>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="idx === 0" [style.margin-left]="(element.level * 15) + 'px'">
                          <mat-icon *ngIf="element.expandable" (click)="toggle($event, element)">{{ element.expanded ? "expand_more" : "chevron_right" }}</mat-icon>
                        </span>
                        <ng-container [ngSwitch]="columnTypes[c]">
                          <ng-container *ngSwitchCase="'date'">
                            {{ element[c] | date : 'dd.MM.yyyy'}}
                          </ng-container>
                          <ng-container *ngSwitchCase="'list'">
                            {{ listValue(c, element[c])}}
                          </ng-container>
                          <ng-container *ngSwitchCase="'translated'">
                            {{ element[translatedField(c)] }}
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            {{ element[c] }}
                          </ng-container>
                        </ng-container>
                      </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="workFlowColumnsSubJobs; sticky: true"></tr>
                    
                    <tr mat-row *matRowDef="let row; columns: workFlowColumnsSubJobs; let idx=index"  [id]="'w_'+row.id"
                        (click)="subJobClick(row, $event, idx)" [class.app-selected]="row.selected"></tr>

                    <!-- <tr mat-row *matRowDef="let row; columns: workFlowColumnsSubJobs;" (click)="selectSubJob(row)" [class.app-selected]="row.id === selectedSubJob?.id"></tr> -->
                  </table>
                </div>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area [size]="60">
          <as-split direction="vertical">
            <as-split-area [size]="30">
              <div fxLayout="column" fxFlexFill>
                <div class="app-toolbar" >
                  <button (click)="getDetail()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button (click)="saveDetail()" mat-button>{{'button.save' | translate }}</button>
                </div>
                <div class="app-oa-y app-p-2">
                  <ng-container *ngIf="activeJob">
                    <mat-form-field class="app-w-100">
                      <mat-label>{{ 'desc.name' | translate }}</mat-label>
                      <input autocomplete="off" matInput [placeholder]="'desc.name' | translate" [(ngModel)]="activeJob.label">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.state' | translate }}</mat-label>
                        <mat-select [(ngModel)]="activeJob.state" [placeholder]="'desc.state' | translate">
                          <mat-option *ngFor="let o of states" [value]="o.code">{{o.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.priority' | translate }}</mat-label>
                        <mat-select [(ngModel)]="activeJob.priority" [placeholder]="'desc.priority' | translate">
                          <mat-option *ngFor="let o of priorities" [value]="o.code">{{o.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.profile' | translate }}</mat-label>
                        <input autocomplete="off" matInput [placeholder]="'desc.profile' | translate" [(ngModel)]="activeJob.profileName" readonly>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.owner' | translate }}</mat-label>
                        <input autocomplete="off" matInput [placeholder]="'desc.owner' | translate" [(ngModel)]="activeJob.ownerName" readonly>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.financed' | translate }}</mat-label>
                        <input autocomplete="off" matInput [placeholder]="'desc.financed' | translate" [(ngModel)]="activeJob.financed">
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'id' | translate }}</mat-label>
                        <input autocomplete="off" matInput [placeholder]="'id' | translate" [(ngModel)]="activeJob.id" readonly>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.created' | translate }}</mat-label>
                        <input matInput [placeholder]="'desc.created' | translate" [value]="activeJob.created | date : 'dd.MM.yyyy HH:mm'" readonly>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <mat-label>{{ 'desc.modified' | translate }}</mat-label>
                        <input autocomplete="off" matInput [placeholder]="'desc.modified' | translate" [value]="activeJob.modified | date : 'dd.MM.yyyy HH:mm'" readonly>
                      </mat-form-field>
                    </div>
                    <mat-form-field class="app-w-100">
                      <mat-label>{{ 'desc.note' | translate }}</mat-label>
                      <textarea [(ngModel)]="activeJob.note" matInput [placeholder]="'desc.note' | translate"></textarea>
                    </mat-form-field>
                  </ng-container>
                </div>
              </div>
            </as-split-area>
            <as-split-area [size]="40">
              <div fxLayout="column" fxFlexFill *ngIf="selectedProfile">
                <div class="app-toolbar" >
                  <button mat-button [matMenuTriggerFor]="menuAddStep" [matTooltip]="'workflow.add_step' | translate">
                    {{ 'workflow.add_step' | translate }}
                  </button>
                  <mat-menu #menuAddStep="matMenu">
                    <button *ngFor="let profile of selectedProfile.task" mat-menu-item (click)="addStep(profile.name)" >{{ profile.title }}</button>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="menuMoreTasks" [matTooltip]="'button.more' | translate">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuMoreTasks="matMenu">
                    <button mat-menu-item (click)="selectColumns('tasks')" >{{'editor.children.select_columns' | translate}}</button>
                  </mat-menu>
                  <!-- <button mat-icon-button (click)="filterMyTasks()" [matTooltip]="'workflow.my_tasks' | translate">
                    {{ 'workflow.my_tasks' | translate }}
                  </button> -->
                </div>
                <div class="app-oa-y" *ngIf="selectedProfile">
                  <table mat-table [dataSource]="tasks" class="app-striped app-hover app-resize" matSort 
                  [matSortActive]="tasksSortField" [matSortDirection]="tasksSortDir" (matSortChange)="sortTasksTable($event)">

                  <ng-container *ngFor="let c of workFlowColumnsTasks; let idx = index;" [matColumnDef]="c">
                    <th mat-header-cell *matHeaderCellDef 
                      [resizeColumn]="true" (columnResized)="saveColumnsSizesTasks($event,c)" 
                      [style.width]="colsWidthTasks[c]+'px'">
                      <span >{{'desc.' + c | translate}}</span>
                    </th>
                    <td mat-cell *matCellDef="let element">

                      <ng-container [ngSwitch]="columnTypes[c]">
                        <ng-container *ngSwitchCase="'date'">
                          {{ element[c] | date : 'dd.MM.yyyy'}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'list'">
                          {{ listValue(c, element[c])}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'translated'">
                          {{ element[translatedField(c)] }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ element[c] }}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>

                    <!-- <ng-container matColumnDef="label">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.task' | translate }}</th>
                      <td mat-cell *matCellDef="let row">{{row.profileLabel}}</td>
                    </ng-container>
                    <ng-container matColumnDef="user">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.user' | translate }}</th>
                      <td mat-cell *matCellDef="let row">{{row.ownerName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="state">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.state' | translate }}</th>
                      <td mat-cell *matCellDef="let row">{{row.state}}</td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="workFlowColumnsTasks; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: workFlowColumnsTasks;" (click)="openTask(row.id)"  ></tr>
                  </table>
                </div>
              </div>
            </as-split-area>
            <as-split-area>
              <div fxLayout="column" fxFlexFill>
                <div class="app-oa-y">
                  <table mat-table [dataSource]="materials" multiTemplateDataRows class="app-expanded app-hover">
                    <ng-container matColumnDef="{{column}}" *ngFor="let column of materialColumnsToDisplay">
                      <th mat-header-cell *matHeaderCellDef>{{ 'dynamic.workFlow.' + column | translate }}</th>
                      <td mat-cell *matCellDef="let element">
                        <a *ngIf="column === 'label' && element['type'] === 'DIGITAL_OBJECT'" class="app-icon-copy app-mr-1" (click)="copyTextToClipboard(element.pid)" [matTooltip]="'button.copyTextToClipboard' | translate"><mat-icon class="app-icon-copy">content_copy</mat-icon></a>
                        {{ element[column] }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="expand">
                      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                      <td mat-cell *matCellDef="let element" class="app-text-right">
                        <a (click)="(materialExpandedElement = materialExpandedElement === element ? null : element); $event.stopPropagation()">
                          <mat-icon *ngIf="materialExpandedElement !== element">keyboard_arrow_down</mat-icon>
                          <mat-icon *ngIf="materialExpandedElement === element">keyboard_arrow_up</mat-icon> 
                        </a>
                      </td>
                    </ng-container>
    
                    <ng-container matColumnDef="expandedDetail">
                      <td mat-cell *matCellDef="let element" [attr.colspan]="materialColumnsToDisplayWithExpand.length">
                        <div class="app-detail" [@detailExpand]="element == materialExpandedElement ? 'expanded' : 'collapsed'">
                          <div class="app-pt-2 app-pb-2">
                            <app-material-edit [material]="element" [workflow]="activeJob" (onRefresh)="getWorkflow(true)"></app-material-edit>
                          </div>
                        </div>     
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="materialColumnsToDisplayWithExpand; sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: materialColumnsToDisplayWithExpand;" [class.app-row-expanded-parent]="materialExpandedElement === element" (click)="materialExpandedElement = materialExpandedElement === element ? null : element"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="app-row-detail" [class.app-row-expanded]="materialExpandedElement === row"></tr>
                  </table>
                </div>
              </div>
           
              <!-- <div class="app-detail" *ngIf="material">
                <mat-card *ngFor="let m of material">
                  <div>
                    <button mat-button (click)="m.details = !m.details">{{m.details ? '-' : '+'}}</button><span>{{ m.profileLabel }}</span><span>{{m.ownerName}}</span><span>{{m.state}}</span>
                  </div>
                  <ng-container *ngIf="m.details">
                    <app-material-edit [material]="m"></app-material-edit>
                   </ng-container>
                </mat-card>
              </div> -->
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>

  