
.app-div-header {
    position:relative;
}

.app-resize-holder {
    cursor: col-resize;
    width: 20px;
    height: 100%;
    position: absolute;
    display: inline;
    right: 0;
    top: 0;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-right: 1px solid #636363;
    }
  }

  .app-context-menu {
    padding: 16px 8px;
    background-color: white;
  
    .cdk-menu-item {
      padding: 0 8px;
  
      &:focus {
        outline-style: solid;
        outline-width: 1px;
        outline-color: gray;
        background-color: lightgray;
      }
    }
  }