<div class="app-content-wrapper">
  <h1>Alerts</h1>
  <mat-card>
    <h4>Info</h4>
    <mat-card class="app-alert app-info app-mb-4">
      <mat-icon>info</mat-icon>
      config.defaultModel -> {{ config.defaultModel }}
    </mat-card>
    <h4>Warning</h4>
    <mat-card class="app-alert app-warn app-mb-4">
      <mat-icon>warning</mat-icon>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula tortor sapien, at tempus ante elementum quis.
    </mat-card>
    <h4>Success</h4>
    <mat-card class="app-alert app-success app-mb-4">
      <mat-icon>check_circle</mat-icon>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula tortor sapien, at tempus ante elementum quis.
    </mat-card>
    <!-- <h4>Message</h4>
    <mat-card class="app-alert app-message app-mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula tortor sapien, at tempus ante elementum quis.
    </mat-card> -->
    <strong>Examples:</strong><br />
    <a href="https://getbootstrap.com/docs/4.0/components/alerts/" target="_blank">Bootstrap</a><br />
    <a href="https://daemonite.github.io/material/docs/4.0/components/alerts/" target="_blank">Material</a>
  </mat-card>
</div>
