@if (item.available[field]) {
  <mat-form-field [class]="item.clazz[field]" >
    <mat-label>{{ 'mods.' + item.labelKey[field] | translate }}</mat-label>
    <app-usage [item]="item" [field]="field"></app-usage>
    <mat-select [required]="item.isMandatory[field]" [formControl]="item.controls[field]"
      [placeholder]="'mods.' + item.labelKey[field] | translate">
      @for(option of item.options(field); track $index;) {
        <mat-option [value]="option[0]">
          {{ 'mods.option.' + option[0] | translate }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
}
