<div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
    <a routerLink="/"><mat-icon>home</mat-icon> Home</a>
    <span class="app-separator">/</span>
    <span class="app-last">{{ 'desc.devices' | translate }}</span>
  </div>
</div>

<div class="devices" *ngIf="state=='success'">
  <div class="actions">
    <a mat-raised-button 
        color="primary"
        [routerLink]="['/devices', 'new']">
        {{ 'device.add_device' | translate }}
    </a>
  </div>
  <div class="device-list">
    <div class="app-table">
      <div class="app-row app-header">
        <div class="device-model">{{ 'device.model' | translate }}</div>
        <div class="device-name">{{ 'device.name' | translate }}</div>
      </div>
    </div>
    <div class="scrollable app-table">
      <a *ngFor="let device of devices" [routerLink]="['/devices', device.id]" class="app-row">
        <div class="device-model">{{ 'device.models.' + device.model | translate }}</div>
        <div class="device-name">{{ device.label }}</div>
      </a>
    </div>
  </div>
</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner"></mat-spinner>