<div class="breadcrumb-nav">
  <span>Zařízení</span>
</div>

<div class="devices" *ngIf="state=='success'">

  <div class="actions">
    <a mat-raised-button 
        color="primary"
        [routerLink]="['/devices', 'new']">
        Přidat zařízení
    </a>
  </div>


  <div class="device-list">
    <div class="app-table">
      <div class="app-row app-header">
        <div class="device-model">Model</div>
        <div class="device-name">Název</div>
      </div>
    </div>
    <div class="scrollable app-table">
      <a *ngFor="let device of devices" [routerLink]="['/devices', device.id]" class="app-row">
        <div class="device-model">{{ 'device.model.' + device.model | translate }}</div>
        <div class="device-name">{{ device.label }}</div>
      </a>
    </div>
  </div>

</div>

<mat-spinner *ngIf="state=='loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>