
<div class="app-editor-content-wrapper">

    <div class="app-editor-toolbar">
        <div class="app-label">OCR</div>
        <div class="app-actions-right">
            <button class="app-action" [class.app-disabled]="editting" (click)="onEdit()" [matTooltip]="'common.edit' | translate" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>

            <button class="app-action" [class.app-disabled]="!editting" (click)="onClear()" [matTooltip]="'common.cancel' | translate" mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
            <div class="app-divider"></div>

            <button class="app-action" [class.app-disabled]="!anyChange" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
        </div>

    
    </div>  
      
    <div class="app-editor-content" *ngIf="state === 'success'">

          <textarea *ngIf="editting" [(ngModel)]="ocr.content" (input)="onChange($event)"></textarea>

          <pre *ngIf="!editting" class="app-text-content">{{ ocr.original }}</pre>
        
    </div>

    <mat-spinner *ngIf="state === 'loading'"
        [strokeWidth]="5" 
        [diameter]="60"
        class="center-spinner">
    </mat-spinner>


</div>





