<h1 mat-dialog-title>{{ 'dialog.preferredTops.title.' + data | translate }}</h1>
<div mat-dialog-content>
  <div *ngFor="let item of items">
    <mat-checkbox color="primary" [(ngModel)]="checked[item.code]">{{ item.name }}</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions cdk-focus-start>
  <button mat-flat-button color="primary" (click)="onSave()" >{{ 'button.save' | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="'close'" >{{ 'button.close' | translate }}</button>
</div>