<div style="position: relative; top: 0px;z-index: 200;">
	@if (loadingTree) {
	<mat-progress-bar mode="indeterminate" class="app-progress-bar"
		style="position: absolute; top: 0px;"></mat-progress-bar>
	}
</div>

<table mat-table [dataSource]="visibleTreeItems" class="app-striped app-hover app-resize" matSort
	[matSortActive]="sortField" [matSortDirection]="sortAsc ? 'asc' : 'desc'" (matSortChange)="sortTable($event)"
	#treeTable>
	@for(c of treeColumns; let idx = $index; let last = $last; track $index;) {
	<ng-container [matColumnDef]="c">
		<th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveTreeColumnsSizes($event,c)"
			[style.width]="treeColumnsSizes[c]">
			@if (c !== 'isLocked') {
			@if(sortable()) {
			<span mat-sort-header>{{'search.' + c | translate}}</span>
			} @else {
			<span>{{'search.' + c | translate}}</span>
			}
			}
			@if (last) {
			<button (click)="setColumns()" mat-icon-button [matTooltip]="'editor.children.select_columns' | translate"
				color="primary" style="float: right">
				<mat-icon>view_column</mat-icon>
			</button>
			}
		</th>
		<td mat-cell *matCellDef="let element">
			@if (idx === 0) {
			<span [style.margin-left]="(element.level * 15) + 'px'">
				<mat-icon (click)="toggleTree($event, element)">{{ element.expanded ? "expand_more" : "chevron_right"
					}}</mat-icon>
			</span>
			}
			<ng-container [ngSwitch]="columnTypes[c]">
				<ng-container *ngSwitchCase="'date'">
					{{ element[c] | date : 'dd.MM.yyyy hh:mm:ss'}}
				</ng-container>
				<ng-container *ngSwitchCase="'list'">
					{{ listValue(c, element[c])}}
				</ng-container>
				<ng-container *ngSwitchCase="'translated'">
					{{ prefixes[c] + element[c] | translate }}
				</ng-container>
				<ng-container *ngSwitchCase="'boolean'">
					<span class="app-pl-1 app-lr-2">
						<mat-icon
							[matTooltip]="element.isLocked ? ('desc.locked' | translate) : ('desc.unlocked' | translate)">{{
							element.isLocked ? 'lock' : 'lock_open' }}</mat-icon>
					</span>
				</ng-container>
				<ng-container *ngSwitchDefault>
					@if (c === 'pid') {
					<a class="app-icon-copy app-mr-1" (click)="ui.copyTextToClipboard(element.pid)"
						[matTooltip]="'button.copyTextToClipboard' | translate">
						<mat-icon class="app-icon-copy">content_copy</mat-icon>
					</a>
					}
					{{ element[c] }}
				</ng-container>
			</ng-container>
		</td>
	</ng-container>
	}
	<tr mat-header-row *matHeaderRowDef="treeColumns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: treeColumns; let idx = index" (dblclick)="openTreeItem($event, row)"
		(click)="selectTreeItem($event, row, idx)" [class.app-selected]="row.selected"
		[class.app-repre]="row.pageRepre === 'reprePage'"></tr>
</table>