<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>

    <app-autocomplete class="app-half-left" [(value)]='item.attrs["authority"]' field="authority" [item]="item"></app-autocomplete>
    <app-autocomplete class="app-half-right" [(value)]='item.attrs["edition"]' field="edition" [item]="item"></app-autocomplete>

    <app-field-text class="app-full-width" field="value" [item]="item" [(value)]="item.modsElement['_']" ></app-field-text>
    
  </ng-template>
</app-editor-field>
  