<div class="editor">

<div class="app-card" *ngFor="let item of field.items; index as index; last as last; first as first;">
  <div class="app-card-header">
    <span class="app-card-title">{{ 'editor.publisher.publisher' | translate }}</span>

    <button matTooltip="{{ 'common.remove' | translate }}" color="primary" (click)="field.remove(index)" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>

    <button [disabled]="last" matTooltip="{{ 'common.move_down' | translate }}" color="primary" (click)="field.moveDown(index)" mat-icon-button>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <button [disabled]="first" matTooltip="{{ 'common.move_up' | translate }}" color="primary" (click)="field.moveUp(index)" mat-icon-button>
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
 
      <button class="app-collapse" *ngIf="item.collapsed" matTooltip="{{ 'common.expand' | translate }}" color="primary" (click)="item.switchCollapsed()" mat-icon-button>
         <mat-icon>expand_more</mat-icon>
       </button>
       <button class="app-collapse" *ngIf="!item.collapsed" matTooltip="{{ 'common.collapse' | translate }}" color="primary" (click)="item.switchCollapsed()" mat-icon-button>
         <mat-icon>expand_less</mat-icon>
       </button>


    <button matTooltip="{{ 'editor.publisher.add_btn' | translate }}" color="primary" (click)="field.addAfter(index)" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>

  </div>

  <div class="app-card-content" [class.app-collapsed]="item.collapsed">


    <mat-form-field class="app-full-width">
      <input autocomplete="off" matInput [(ngModel)]="item.publisher['_']" placeholder="{{ 'editor.publisher.publisher' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <mat-select [(ngModel)]='item.attrs["eventType"]' placeholder="{{ 'editor.publisher.event_type' | translate }}">
        <mat-option *ngFor="let type of eventTypes" [value]="type.code">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="app-half-left">
      <input matInput [(ngModel)]='item.dateIssued["_"]' placeholder="{{ 'editor.publisher.date' | translate }}">
    </mat-form-field>


    <mat-form-field class="app-half-right">
      <mat-select [(ngModel)]='item.dateIssued["$"]["qualifier"]' placeholder="{{ 'editor.publisher.date_qualifier' | translate }}">
        <mat-option *ngFor="let qualifier of qualifiers" [value]="qualifier.code">
          {{ qualifier.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="app-half-left">
      <input matInput [(ngModel)]='item.edition["_"]' placeholder="{{ 'editor.publisher.edition' | translate }}">
    </mat-form-field>

    <mat-form-field class="app-half-right">
      <mat-select [(ngModel)]='item.issuance["_"]' placeholder="{{ 'editor.publisher.issuance' | translate }}">
        <mat-option *ngFor="let issuance of issuances" [value]="issuance.code">
          {{ issuance.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  

    <mat-form-field class="app-full-width">
      <input matInput [(ngModel)]='item.place["_"]' placeholder="{{ 'editor.publisher.place' | translate }}">
     </mat-form-field>

  </div>
</div>
</div>

