@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

.mat-table {
  .mat-cell {
    .mat-icon {
      @include setStateColor('icon');
      @include setIcon(24);
    }

    &.mat-column-label {
      width: 20%;
    }

    &.mat-column-pid {
      width: 290px;
    }

    &.mat-column-urnnbn {
      width: 180px;
    }
  }
}