<h1 mat-dialog-title>{{ 'urnnbn.title' | translate }}</h1>

<div mat-dialog-content>

  <div class="app-urnnbn-message">{{ 'urnnbn.message' | translate }}</div>

  <mat-form-field class="app-urnnbn-registrar">
    <mat-select [placeholder]="'urnnbn.resolver' | translate" [(ngModel)]="selectedRegistrar" [disabled]="formDisabled()">
      <mat-option *ngFor="let registrar of registrars" [value]="registrar">{{ registrar.name }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions cdk-focus-start>
  
  <button mat-raised-button color="primary" [disabled]="formDisabled()" (click)="onRegister()">{{ 'urnnbn.register' | translate }}</button>
  <button mat-raised-button color="default" mat-dialog-close="close" >{{ 'common.cancel' | translate }}</button>
  <mat-spinner *ngIf="state=='saving'"
    style="margin-left: auto"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>
</div>


