<h1 mat-dialog-title>{{ 'urnnbn.title' | translate }}</h1>

<div mat-dialog-content>

  <button *ngIf="log" class="app-log-btn" mat-stroked-button color="primary" (click)="showErrorDetail(log)">Zobrazit chybový výstup</button>

  <mat-form-field class="app-urnnbn-registrar">
    <mat-select [placeholder]="'urnnbn.resolver' | translate" [(ngModel)]="selectedRegistrar" [disabled]="formDisabled()">
      <mat-option *ngFor="let registrar of registrars" [value]="registrar">{{ registrar.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <table *ngIf="responseData" mat-table [dataSource]="responseData" style="width: 100%">
      <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Popis</th>
      <td mat-cell *matCellDef="let row">{{row.label}}</td>
      </ng-container>

      <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let row">{{ "model." + row.model | translate }}</td>
      </ng-container>

      <ng-container matColumnDef="statusType">
      <th mat-header-cell *matHeaderCellDef>Chyba</th>
      <td mat-cell *matCellDef="let row">{{row.statusType}}</td>
      </ng-container>

      <ng-container matColumnDef="warning">
      <th mat-header-cell *matHeaderCellDef>Stav</th>
      <td mat-cell *matCellDef="let row">{{ row.hasOwnProperty('warning') ? (row.warning ? ':-|' : ':-(') : ':-)' }}</td>
      </ng-container>

      <ng-container matColumnDef="pid">
      <th mat-header-cell *matHeaderCellDef>PID</th>
      <td mat-cell *matCellDef="let row">{{row.pid}}</td>
      </ng-container>

      <ng-container matColumnDef="urnnbn">
      <th mat-header-cell *matHeaderCellDef>URN:NBN</th>
      <td mat-cell *matCellDef="let row">{{row.urnnbn}}</td>
      </ng-container>

      <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>message</th>
      <td mat-cell *matCellDef="let row">{{row.message}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="selectRow(row)" [class.active]="row.pid === selectedRow"></tr>

  </table>
  <div *ngIf="message" class="app-urnnbn-message" [class.app-error]="state == 'error'">{{ message}}</div>

</div>

<div mat-dialog-actions cdk-focus-start>
  
  <button mat-raised-button color="primary" [disabled]="formDisabled()" (click)="onRegister()">{{ 'urnnbn.register' | translate }}</button>
  <button mat-raised-button color="default" mat-dialog-close="close" >{{ 'common.close' | translate }}</button>
  <mat-spinner *ngIf="state=='saving'"
    style="margin-left: auto"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>
</div>


