.mat-dialog-title {
  margin: 0 0 15px;
}
.mat-dialog-content {
  width:470px;
  min-height:70px;
  .app-urnnbn-registrar {
    display: block;
  }
  .app-urnnbn-message {
    margin: 0px 0 15px;
    font-size: 14px;
    color: #666;
    &.app-error {
      color: #d83e3e;
    }
  }
  .app-log-btn {
    margin: 2px 0 15px;
  }
}
