<div class="breadcrumb-nav">
  <div *ngIf="mode == 'new'">
      <a [routerLink]="['/devices']">Zařízení</a>
      <mat-icon>chevron_right</mat-icon>
      <span>Nové zařízení</span>
  </div>
  <div *ngIf="mode == 'edit' && device">
      <a [routerLink]="['/devices']">Zařízení</a>
      <mat-icon>chevron_right</mat-icon>
      <a [routerLink]="['/devices', device.id]">{{ deviceName }}</a>
      <mat-icon>chevron_right</mat-icon>
      <span>Úprava zařízení</span>
  </div>
</div>


<div class="app-edit-device" *ngIf="state=='success' || state=='saving'">
  <div class="app-card">
          <div class="app-card-content">
              <mat-form-field >
                  <input type="text" matInput autocomplete="off" placeholder="Název" [disabled]="state=='saving'"
                      [(ngModel)]='device.name' name="name" required>
              </mat-form-field>


              <mat-form-field class="form-left">
                <input type="text" matInput autocomplete="off" placeholder="Image Producer" [disabled]="state=='saving'"
                    [(ngModel)]='device.imageProducer' name="imageProducer" required>
              </mat-form-field>


              <mat-form-field class="form-right">
                <mat-select placeholder="Capture Device" name="captureDevice" [(value)]="device.captureDevice">
                    <mat-option *ngFor="let captureDevice of captureDevices" [value]="captureDevice">{{ captureDevice }}</mat-option>
                </mat-select>
            </mat-form-field>



              <div class="app-card-label">Scanner</div>



            <mat-form-field class="form-left">
                <mat-select required placeholder="Manufacturer" name="scannerManufacturer" [(value)]="device.scannerManufacturer">
                    <mat-option *ngFor="let scannerManufacturer of scannerManufacturers" [value]="scannerManufacturer">{{ scannerManufacturer }}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="form-right">
                <mat-select required placeholder="Scanner Sensor" name="scannerSensor" [(value)]="device.scannerSensor">
                    <mat-option *ngFor="let sensor of sensors" [value]="sensor">{{ sensor }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-col1">
                <input type="text" matInput autocomplete="off" placeholder="Model Name" [disabled]="state=='saving'"
                    [(ngModel)]='device.scannerModelName' name="scannerModelName" required>
              </mat-form-field>

              <mat-form-field class="form-col2">
                <input type="text" matInput autocomplete="off" placeholder="Model Number" [disabled]="state=='saving'"
                    [(ngModel)]='device.scannerModelNumber' name="scannerModelNumber" required>
              </mat-form-field>


              <mat-form-field class="form-col3">
                <input type="text" matInput autocomplete="off" placeholder="Model Serial No." [disabled]="state=='saving'"
                    [(ngModel)]='device.scannerModelSerialNo' name="scannerModelSerialNo" required>
              </mat-form-field>

              <mat-form-field class="form-col1">
                <input type="text" matInput autocomplete="off" placeholder="X Optical Resolution" [disabled]="state=='saving'"
                    [(ngModel)]='device.xOpticalResolution' name="xOpticalRsolution" required>
              </mat-form-field>

              <mat-form-field class="form-col2">
                <input type="text" matInput autocomplete="off" placeholder="Y Optical Resolution" [disabled]="state=='saving'"
                    [(ngModel)]='device.yOpticalResolution' name="yOpticalRsolution" required>
              </mat-form-field>

              <mat-form-field class="form-col3">
                <mat-select required placeholder="Optical Resolution Unit" name="opticalResolutionUnit" [(value)]="device.opticalResolutionUnit">
                    <mat-option *ngFor="let resolutionUnit of resolutionUnits" [value]="resolutionUnit">{{ resolutionUnit }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-left">
                <input type="text" matInput autocomplete="off" placeholder="Software Name" [disabled]="state=='saving'"
                    [(ngModel)]='device.scanningSoftwareName' name="scanningSoftwareName" required>
              </mat-form-field>

              <mat-form-field class="form-right">
                <input type="text" matInput autocomplete="off" placeholder="Software Version" [disabled]="state=='saving'"
                    [(ngModel)]='device.scanningSoftwareVersionNo' name="scanningSoftwareVersionNo" required>
              </mat-form-field>


              <div class="app-card-label">Digital Camera</div>



              <mat-form-field class="form-left">
                <input type="text" matInput autocomplete="off" placeholder="Manufacturer" [disabled]="state=='saving'"
                    [(ngModel)]='device.digitalCameraManufacturer' name="digitalCameraManufacturer">
              </mat-form-field>
  
  
              <mat-form-field class="form-right">
                  <mat-select placeholder="Camera Sensor" name="cameraSensor" [(value)]="device.cameraSensor">
                      <mat-option *ngFor="let sensor of sensors" [value]="sensor">{{ sensor }}</mat-option>
                  </mat-select>
              </mat-form-field>
  
              <mat-form-field class="form-col1">
                  <input type="text" matInput autocomplete="off" placeholder="Model Name" [disabled]="state=='saving'"
                      [(ngModel)]='device.digitalCameraModelName' name="digitalCameraModelName">
                </mat-form-field>
  
                <mat-form-field class="form-col2">
                  <input type="text" matInput autocomplete="off" placeholder="Model Number" [disabled]="state=='saving'"
                      [(ngModel)]='device.digitalCameraModelNumber' name="digitalCameraModelNumber">
                </mat-form-field>
  
  
                <mat-form-field class="form-col3">
                  <input type="text" matInput autocomplete="off" placeholder="Model Serial No." [disabled]="state=='saving'"
                      [(ngModel)]='device.digitalCameraModelSerialNo' name="digitalCameraModelSerialNo">
                </mat-form-field>
  



          </div>
          <div class="app-actions">
              <button (click)="onSubmit()" mat-raised-button [disabled]="state=='saving'" color="primary">
                  <span *ngIf="mode=='new'">Vytvořit zařízení</span>
                  <span *ngIf="mode=='edit'">Upravit zařízení</span>
              </button>

              <mat-spinner *ngIf="state=='saving'" [strokeWidth]="3" [diameter]="30">
              </mat-spinner>
          </div>
  </div>
</div>


<mat-spinner *ngIf="state === 'loading'" [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>