<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
    <div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">Media</span>
			</div>
		</div>
		<div class="app-breadcrumbsbar">
      <mat-form-field>
        <mat-select name="profiles" [(ngModel)]="streamProfile">
          <mat-option *ngFor="let p of streamProfiles" [value]="p">{{ 'streamProfile.' + p.dsid | translate }}</mat-option>
        </mat-select>
      </mat-form-field> 
			<button mat-icon-button  [matTooltip]="'viewer.tooltip.lockPanel' | translate" (click)="changeLockPanel()" [class.app-active]="isLocked">
				<mat-icon>push_pin</mat-icon>
			</button>   
		</div>
  </div>
	<div fxFlex class="app-oa-y">
		<!-- <mat-progress-bar mode="indeterminate" *ngIf="state ==='loading' || state ==='head'" class="app-progress-bar"></mat-progress-bar> -->
		<div class="app-editor-content app-h-100" *ngIf="streamProfile">
      <app-pdf *ngIf="isPdf()" [stream]="streamProfile.dsid" [pid]="currentPid"></app-pdf>
      <app-viewer *ngIf="isImage()" [idViewer]="'app-viewer-media'" [stream]="streamProfile.dsid" [pid]="currentPid"></app-viewer>
      <app-song *ngIf="isAudio()" [pid]="currentPid"></app-song>
    	<div *ngIf="isUnsupported()" class="app-empty">Digitální obsah ne podporovan ({{streamProfile.mime}})</div>
		</div>
    <div *ngIf="!streamProfile" class="app-empty">Žádný digitální obsah</div>
	</div>
</div>