<div fxLayout="column" fxFlexFill >
  <h1 mat-dialog-title>{{ 'workflow.multipleTasksEdit' | translate }}: {{ this.data.tasks.length }}</h1>
  <div fxFlex mat-dialog-content class="app-clean-max-height">
    <div class="app-oa-y app-p-2">
      <div fxLayout="row" fxLayoutGap="16px">

        <mat-form-field>
          <mat-label>{{ 'desc.state' | translate }}</mat-label>
          <mat-select [(ngModel)]="state" [placeholder]="'desc.state' | translate">
            @for(o of data.states; track $index;) {
              <mat-option [value]="o.code">{{o.value}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'desc.priority' | translate }}</mat-label>
          <mat-select [(ngModel)]="priority" [placeholder]="priority">
            @for(o of data.priorities; track $index;) {
              <mat-option [value]="o.code">{{o.value}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'desc.user' | translate }}</mat-label>
          <mat-select [(ngModel)]="ownerId" >
            @for(s of data.users; track $index;) {
              <mat-option [value]="s.userId">{{ s.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (isSelectionSameType) {
        <h3>Parametry ({{ data.tasks[0].profileLabel}})</h3>
        @for(param of data.parameters; track $index;) {
          <div fxLayout="row" fxLayoutGap="16px">
            @switch (param.displayType) {
              @case ('TEXT') {
                <mat-form-field>
                  <mat-label>{{ param.profileLabel }}</mat-label>
                  <input matInput [(ngModel)]="param.value">
                </mat-form-field>
              }
              @case ('CHECKBOX') {
                <mat-checkbox color="primary"
                [(ngModel)]="param.value">{{ param.profileHint}}</mat-checkbox>
              }
              @case ('COMBOBOX') {
                <mat-form-field>
                  <mat-label>{{ param.profileLabel }}</mat-label>
                  <mat-select [(ngModel)]="param.value"
                    [placeholder]="param.profileLabel">
                    @for(o of config.getValueMap(param.valueMapId); track $index;) {
                      <mat-option [value]="o.code">{{o.value}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @default {
                <span>{{param.displayType}}</span>
              }
            }
          </div>
        }
      }
    </div>
  </div>

  <div mat-dialog-actions cdkFocusRegionstart>
    <button mat-flat-button color="primary" (click)="onSave()">{{ 'button.save' | translate }}</button>
    <button mat-flat-button (click)="onClose()">{{ 'button.close' | translate }}</button>
  </div>
</div>