<div fxLayout="column" fxFlexFill >
    <h1 mat-dialog-title>{{ 'workflow.multipleTasksEdit' | translate }}: {{ this.data.tasks.length }}</h1>
    <div fxFlex mat-dialog-content class="app-clean-max-height">
        <div class="app-oa-y app-p-2">
            <div fxLayout="row" fxLayoutGap="16px">

                <mat-form-field>
                    <mat-label>{{ 'desc.state' | translate }}</mat-label>
                    <mat-select [(ngModel)]="state" [placeholder]="'desc.state' | translate">
                        <mat-option *ngFor="let o of data.states"
                            [value]="o.code">{{o.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'desc.priority' | translate }}</mat-label>
                    <mat-select [(ngModel)]="priority" [placeholder]="priority">
                        <mat-option *ngFor="let o of data.priorities"
                            [value]="o.code">{{o.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'desc.user' | translate }}</mat-label>
                    <mat-select [(ngModel)]="ownerId" >
                        <mat-option *ngFor="let s of data.users" [value]="s.userId">{{ s.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container  *ngIf="isSelectionSameType">
                <h3>Parametry ({{ data.tasks[0].profileLabel}})</h3>
                <div *ngFor="let param of data.parameters" fxLayout="row" fxLayoutGap="16px">
                    <ng-container [ngSwitch]="param.displayType">

                        <mat-form-field *ngSwitchCase="'TEXT'">
                            <mat-label>{{ param.profileLabel }}</mat-label>
                            <input matInput [(ngModel)]="param.value">
                        </mat-form-field>

                        <mat-checkbox *ngSwitchCase="'CHECKBOX'" color="primary"
                            [(ngModel)]="param.value">{{ param.profileHint}}</mat-checkbox>

                        <mat-form-field *ngSwitchCase="'COMBOBOX'">
                            <mat-label>{{ param.profileLabel }}</mat-label>
                            <mat-select [(ngModel)]="param.value"
                                [placeholder]="param.profileLabel">
                                <mat-option *ngFor="let o of config.getValueMap(param.valueMapId)"
                                    [value]="o.code">{{o.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span *ngSwitchDefault>{{param.displayType}}</span>
                    </ng-container>
                </div>
            </ng-container>
          </div>
    </div>
    
    <div mat-dialog-actions cdkFocusRegionstart>
      <button mat-flat-button color="primary" (click)="onSave()">{{ 'button.save' | translate }}</button>
      <button mat-flat-button (click)="onClose()">{{ 'button.close' | translate }}</button>
    </div>
  </div>