<div class="app-fxLayout app-column app-fill">
  <h1 mat-dialog-title>{{ 'workflow.multipleTasksEdit' | translate }}: {{ this.data.tasks.length }}</h1>
  @if (loadingParameters) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <div mat-dialog-content class="app-fxFlex app-clean-max-height">
    <div class="app-oa-y app-p-2">
      <div class="app-fxLayout app-row app-gap-4">
        <mat-form-field>
          <mat-label>{{ 'desc.state' | translate }}</mat-label>
          <mat-select [(ngModel)]="state" [placeholder]="'desc.state' | translate">
            @for(o of data.states; track $index;) {
              <mat-option [value]="o.code">{{o.value}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'desc.priority' | translate }}</mat-label>
          <mat-select [(ngModel)]="priority" [placeholder]="priority">
            @for(o of data.priorities; track $index;) {
              <mat-option [value]="o.code">{{o.value}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'desc.user' | translate }}</mat-label>
          <mat-select [(ngModel)]="ownerId" >
            @for(s of data.users; track $index;) {
              <mat-option [value]="s.userId">{{ s.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (isSelectionSameType) {
        <h3>Parametry ({{ data.tasks[0].profileLabel}})</h3>
        @for(param of parameters; track $index;) {
          <div class="app-fxLayout app-row app-gap-4">
            @switch (param.displayType) {
              @case ('TEXT') {
                <mat-form-field>
                  <mat-label>{{ param.profileLabel }}</mat-label>
                  <input matInput id="profileLabel" [(ngModel)]="param.value" />
                </mat-form-field>
              }
              @case ('CHECKBOX') {
                <mat-checkbox color="primary" name="profileHint"
                [(ngModel)]="param.value">{{ param.profileHint}}</mat-checkbox>
              }
              @case ('COMBOBOX') {
                <mat-form-field>
                  <mat-label>{{ param.profileLabel }}</mat-label>
                  <mat-select [(ngModel)]="param.value" name="combo"
                    [placeholder]="param.profileLabel">
                    @for(o of config.getValueMap(param.valueMapId); track $index;) {
                      <mat-option [value]="getValueMapOptionValue(param, o)">{{ getValueMapOptionDisplay(param, o) }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @default {
                <span>{{param.displayType}}</span>
              }
            }
          </div>
        }
      }
    </div>
  </div>

  <div mat-dialog-actions cdkFocusRegionstart>
    <button matButton="filled" (click)="onSave()" [disabled]="loadingParameters">{{ 'button.save' | translate }}</button>
    <button matButton (click)="onClose()">{{ 'button.close' | translate }}</button>
  </div>
</div>
