<div class="app-fxLayout app-column app-fill">
	<div class="app-fxLayout app-row app-center-v app-toolbar app-view-description">
		<div class="app-fxFlex app-pl-2">
			<div class="app-toolbar-label">
				<span class="app-text">XML</span>
			</div>
		</div>
		<div>
			<button matIconButton (click)="onRefresh()" [disabled]="editting || realtime" [matTooltip]="'editor.mods.refresh' | translate">
				<mat-icon>refresh</mat-icon>
			</button>
			<button matIconButton (click)="onEdit()" [disabled]="editting || realtime" [matTooltip]="'common.edit' | translate">
				<mat-icon>edit</mat-icon>
			</button>
			<button matIconButton (click)="onClear()" [disabled]="!editting || realtime" [matTooltip]="'common.cancel' | translate">
				<mat-icon>clear</mat-icon>
			</button>
			<button matIconButton (click)="onSave()" [disabled]="!anyChange || realtime" [matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
		</div>
	</div>

	<div class="app-fxFlex app-oa-y">
		<div class="app-editor-content app-fxLayout app-view-edit">
			@if(mods) {
				@if(editting && !realtime){
					<pre class="app-xml-content app-mods-editing" #editingPre>
						<code class="app-mods-editing" (input)="checkChanged()" contenteditable="true" [highlightAuto]="mods.original"></code>
					</pre>
				}
				@if(!editting && !realtime){
					<pre class="app-xml-content" #originalPre>
						<code [highlightAuto]="mods.original"></code>
					</pre>
				}
			}
			@if(!mods) {<div>No XML</div>}
		</div>
	</div>
</div>
