.app-search-results {
  height: calc(100% - 50px);
  padding: 10px 20px;
  .actions {
    height: 60px;
    overflow: hidden;
    .model-filter {
      float: right;
      width: 250px;
    }
    .query-field-filter {
      float: right;
      margin-right: 10px;
      width: 200px;
    }
    .document-search {
      margin-left: 20px;
      width: calc(100% - 620px);
    }
  }
  .app-table {
    height: calc(100% - 60px);
  }
  .search-result-list {
    height: calc(100% - 60px);
    .app-header {
      flex: 1;
    }
    .sort-arrow {
      line-height: 54px;
      display: block;
      float: left;
      margin-right: 5px;
    }
    .result-label {
      flex: 1;
    }
    .result-model {
      width: 200px;
    }
    .result-owner {
      width: 200px;
    }
    .result-created {
      width: 180px;
    }
    .result-modified {
      width: 180px;
    }
    .result-export {
      width: 90px;
    }
    .result-actions {
      width: 125px;
      float: right;
      .app-action {
        color: #999;
        &:hover {
          color: #333;
        }
      }
    }
    .scrollable {
      height: calc(100% - 54px);
      overflow: auto;
    }

  }
}