<div class="breadcrumb-nav">
  <span>{{ 'search.title' | translate }}</span>
</div>

<div class="app-search-results">

  <div class="actions">


    <mat-form-field class="model-filter">
      <mat-select [placeholder]="'search.model' | translate" name="model" [(ngModel)]="model">
        <mat-option value="all">{{ 'search.all_models' | translate }}</mat-option>
        <mat-option *ngFor="let model of models" [value]="model">{{ "model." + model | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="query-field-filter">
      <mat-select [placeholder]="'search.field' | translate" [(ngModel)]="queryFiled">
        <mat-option value="queryTitle">{{ "search.fields.title" | translate }}</mat-option>
        <mat-option value="queryIdentifier">{{ "search.fields.identifier" | translate }}</mat-option>
        <mat-option value="queryCreator">{{ "search.fields.creator" | translate }}</mat-option>
        <mat-option value="owner">{{ "search.fields.owner" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <a mat-raised-button color="primary" (click)="reload()">
        <mat-icon style="margin-right:8px;">search</mat-icon>
        {{ 'search.search' | translate }}
    </a>
  
    <mat-form-field class="document-search">
      <input matInput placeholder="Hledat dokument" (keyup.enter)="reload()" [(ngModel)]="query">
    </mat-form-field>





  </div>



  <div class="app-table"  *ngIf="items">

  <div class="search-result-list">
    <div class="app-row app-header">
      <div class="result-label app-header-sortable" (click)="sortBy('alphabetical')">
        {{ 'search.name' | translate }}
        <mat-icon *ngIf="getSortIcon('alphabetical')" class="sort-arrow">{{ getSortIcon('alphabetical') }}</mat-icon>
      </div>
      <div class="result-model">{{ 'search.model' | translate }}</div>
      <div class="result-owner">{{ 'search.owner' | translate }}</div>
      <div class="result-created app-header-sortable" (click)="sortBy('lastCreated')">
        {{ 'search.created' | translate }}
        <mat-icon *ngIf="getSortIcon('lastCreated')" class="sort-arrow">{{ getSortIcon('lastCreated') }}</mat-icon>
      </div>
      <div class="result-modified app-header-sortable" (click)="sortBy('lastModified')">
        {{ 'search.modified' | translate }}
        <mat-icon *ngIf="getSortIcon('lastModified')" class="sort-arrow">{{ getSortIcon('lastModified') }}</mat-icon>
      </div>
      <div class="result-export">{{ 'search.export' | translate }}</div>
      <div class="result-actions"></div>
    </div>
    <div class="scrollable">
      <a *ngFor="let item of items" [routerLink]="['/document', item.pid]" class="app-row">
        <div class="result-label">{{ item.label }}</div>
        <div class="result-model">{{ "model." + item.model | translate }}</div>
        <div class="result-owner">{{ item.owner }}</div>
        <div class="result-created">{{ item.created | appDatetime }}</div>
        <div class="result-modified">{{ item.modified | appDatetime }}</div>
        <div class="result-export">{{ item.export == 1 ? "Ano" : "Ne" }}</div>

        <div class="result-actions">
          <button class="app-action" (click)="onUrnnbn(item); $event.preventDefault(); $event.stopPropagation()" mat-icon-button matTooltip="URN:NBN" matTooltipPosition="below">
            <mat-icon>code</mat-icon>
          </button>
          <button class="app-action" (click)="onExport(item); $event.preventDefault(); $event.stopPropagation()" mat-icon-button matTooltip="Exportovat" matTooltipPosition="below">
            <mat-icon>import_export</mat-icon>
          </button>
          <button class="app-action" (click)="onDelete(item); $event.preventDefault(); $event.stopPropagation()" mat-icon-button matTooltip="Smazat" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
        </div>


      </a>
    </div>
  </div>

  <div class="paginator-wrapper">
    <mat-paginator [length]="resultCount"
                  hidePageSize="true"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  (page)="onPageChanged($event)">
    </mat-paginator>
    </div>
</div>


</div>


<div class="app-loader" *ngIf="state=='loading'">
<mat-spinner [strokeWidth]="5" [diameter]="60" class="center-spinner">
</mat-spinner>
</div>