@import './src/sass/app-variables';
@import './src/sass/app-mixins';
@import './src/sass/app-global';

// new
.app-search-results {
  @extend .app-p-4;

  .app-formbar {
    .mat-form-field {
      &.app-owner,
      &.app-processor {
        $app-size: 120px;
        flex: 1 1 $app-size;
        max-width: $app-size;
        min-width: $app-size;
      }
    }
  }

  .mat-table {
    .mat-column-label {
      width: 25%;
    }

    .mat-column-isLocked {
      width: 15px;
    }
  }
}