.app-search-results {
  height: calc(100% - 50px);
  padding: 10px 20px;
  .actions {
    height: 50px;
    overflow: hidden;
    display: flex;
    .app-search {
      height: 32px;
      line-height: 32px;
      margin-top: 4px;
    }
    .model-filter {
      width: 160px;
    }
    .app-filter {
      font-size: 13px;
      margin-left: 10px;
    }
    .query-field-filter {
      width: 100px;
    }
    .owner-filter {
      width: 140px;
    }
    .organization-filter {
      width: 200px;
    }
    .document-search {
      margin-left: 10px;
      font-size: 13px;
      flex: 1;
    }
  }
  .app-table {
    height: calc(100% - 50px);
  }
  .search-result-list {
    height: calc(100% - 40px);
    .app-header {
      flex: 1;
    }
    .sort-arrow {
      line-height: 44px;
      display: block;
      float: left;
      margin-right: 5px;
    }
    .result-label {
      flex: 1;
    }
    .result-model {
      width: 140px;
    }
    .result-pid {
      width: 275px;
      // .result-value {
        font-size: 12px;
      // }
    }
    .result-owner {
      width: 125px;
    }
    .result-processor {
      width: 125px;
    }
    .result-organization {
      width: 200px;
    }
    .result-status {
      width: 140px;
    }
    .result-created {
      width: 140px;
    }
    .result-modified {
      width: 140px;
    }
    .result-export {
      width: 60px;
    }
    .result-actions {
      width: 125px;
      float: right;
      .app-action {
        color: #999;
        &:hover {
          color: #333;
        }
      }
    }
    .scrollable {
      height: calc(100% - 44px);
      overflow: auto;
    }

  }
}

.app-loader {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}