.mat-dialog-title {
  margin: 0 0 16px;
}
.mat-dialog-content {
  width:470px;
  min-height:70px;
  .app-profiles {
    display: block;
  }
  .app-message {
    margin: 8px 0 10px;
    font-size: 14px;
    color: #666;
  }

}