<h1 mat-dialog-title>{{ 'dialog.reloadDialog.title' | translate }}</h1>
<div mat-dialog-content>
  <mat-card class="app-alert app-warn app-mb-4">
    <mat-icon>warning</mat-icon>
    {{ 'dialog.reloadDialog.message' | translate }}
  </mat-card> 
  <mat-form-field class="app-w-100">
    <mat-select [placeholder]="'desc.profile' | translate" [(ngModel)]="selectedProfile" [disabled]="formDisabled()">
      <mat-option *ngFor="let profile of profiles" [value]="profile">{{ profile.label }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions cdkFocusRegionstart>
  <button mat-flat-button color="primary" [disabled]="formDisabled()" (click)="onContinue()">{{ 'button.continue' | translate }}</button>
  <button mat-stroked-button mat-dialog-close="close">{{ 'button.cancel' | translate }}</button>
</div>


