
<div class="app-editor-content-wrapper">

  <div class="app-editor-toolbar">
      <div class="app-label">Administrativní a technická metadata</div>
      <div class="app-actions-right">
      <button class="app-action" [class.app-disabled]="!atm || !atm.hasChanged()" (click)="onRevert()" [matTooltip]="'common.revert' | translate" mat-icon-button>
          <mat-icon>replay</mat-icon>
      </button>
      <div class="app-divider"></div>

      <button class="app-action" [class.app-disabled]="!atm || !atm.hasChanged()" matTooltip="{{ 'common.save' | translate }}" (click)="onSave()" mat-icon-button>
          <mat-icon>save</mat-icon>
      </button>
    </div>


    </div>  
      
    <div class="app-editor-content" *ngIf="state === 'success'">
      <div class="app-detail-key-value">PID: <strong>{{ atm.pid }}</strong></div>
      <div class="app-detail-key-value">Model: <strong>{{ "model." + atm.model | translate }}</strong></div>
      <div class="app-detail-key-value">Vlastník: <strong>{{ atm.owner }}</strong></div>
      <div class="app-detail-key-value">Vytvořeno: <strong>{{ atm.created | appDatetime }}</strong></div>
      <div class="app-detail-key-value">Změněno: <strong>{{ atm.modified | appDatetime }}</strong></div>
      <div class="app-detail-key-value">Soubor: <strong>{{ atm.filename }}</strong></div>
      <div class="app-detail-key-value">Export: <strong>{{ atm.exportResult }}</strong></div>
    
      <mat-form-field>
        <mat-select placeholder="Zařízení" name="device" [(value)]="atm.device">
            <mat-option [value]="'null'">Žádné zařízení</mat-option>
            <mat-option *ngFor="let device of devices" [value]="device.id">{{ device.label }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    
    <mat-spinner *ngIf="state === 'loading'"
              [strokeWidth]="5" 
              [diameter]="60"
              class="center-spinner">
    </mat-spinner>


  
  </div>  
    


