<div class="app-fxLayout app-column app-fill">
  <div class="app-fxLayout app-row app-center-v app-wrap app-toolbar app-view-comment">
    <div class="app-fxFlex">
      <app-editor-switcher class="app-fxLayout app-row app-center-v" (onChangeEditorType)="changeEditorType($event)" [panelType]="panelType()"></app-editor-switcher>
    </div>
    <div class="app-h-100">
      <button mat-icon-button (click)="onEdit()" [matTooltip]="'common.edit' | translate" [disabled]="editting">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onClear()" [matTooltip]="'common.cancel' | translate" [disabled]="!editting">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button (click)="onSave()" [matTooltip]="'common.save' | translate" [disabled]="!anyChange">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <div class="app-fxFlex app-oa-y">
    @if (state ==='loading') {
      <mat-progress-bar mode="indeterminate" class="app-progress-bar"></mat-progress-bar>
    }
    @if (state !=='loading') {
      <div class="app-fxLayout app-column app-fill app-view-edit">
        @if (editting) {
          <textarea [(ngModel)]="note.content" (input)="onChange()"></textarea>
        }
        @if (!editting) {
          <pre class="app-text-content">{{ note.original }}</pre>
        }
      </div>
    }
  </div>
</div>