.app-text-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 10px;
    font-size: 13px;
    color: var(--app-color-gray-7);
}

textarea {
    margin: 0px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: var(--app-color-lightnes);
    padding: 10px;
    font-size: 13px;
    color: var(--app-color-darknes);
}