<!-- <ng-container *ngIf="document.fields"> -->
<app-editor-title [field]="document.getField('titleInfo')"></app-editor-title>
<app-editor-author [field]="document.getField('name')"></app-editor-author>
<app-editor-publisher [field]="document.getField('originInfo')"></app-editor-publisher>
<app-editor-location [field]="document.getField('location')"></app-editor-location>
<app-editor-language [field]="document.getField('language')"></app-editor-language>
<app-editor-identifier [field]="document.getField('identifier')"></app-editor-identifier>
<app-editor-note [field]="document.getField('note')"></app-editor-note>


<button class="btn-update" (click)="save()" mat-raised-button color="primary">
    <span>Uložit</span>
</button>



<!-- </ng-container> -->