<div fxLayout="column" fxFlexFill>
  <h1 mat-dialog-title>{{ 'editor.children.markSequence' | translate }}
    <button mat-flat-button color="primary" (click)="markSequence()" [matTooltip]="'editor.children.markSequence' | translate">{{ 'editor.children.markSequence' | translate }}</button>
  </h1>
  
  <div mat-dialog-content fxFlex>
    <as-split direction="horizontal" [disabled]="false">
      <as-split-area [size]="40" (resized)="onResized($event, 'orig')" >
        <div fxLayout="column" fxFlexFill>
          <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-action">
            <div fxFlex>
              <div class="app-toolbar-label">
                <span class="app-text">{{ 'desc.selectTheTargets' | translate }}</span>
              </div>
            </div>
            <div>
              <button mat-icon-button *ngIf="data.viewModeOrig === 'icons'" (click)="zoomOut('orig')" [matTooltip]="'viewer.tooltip.zoomOut' | translate">
                <mat-icon>zoom_out</mat-icon>
              </button>
              <button mat-icon-button *ngIf="data.viewModeOrig === 'icons'" (click)="zoomIn('orig')" [matTooltip]="'viewer.tooltip.zoomIn' | translate">
                <mat-icon>zoom_in</mat-icon>
              </button>
              <button mat-icon-button [class.app-active]="data.viewModeOrig === 'list'" (click)="data.viewModeOrig = 'list'" [matTooltip]="'editor.children.view_list' | translate">
                <mat-icon>format_align_justify</mat-icon>
              </button>
              <button mat-icon-button [class.app-active]="data.viewModeOrig === 'grid'" (click)="data.viewModeOrig = 'grid'" [matTooltip]="'editor.children.view_grid' | translate">
                <mat-icon>apps</mat-icon>
              </button>
              <button mat-icon-button [class.app-active]="data.viewModeOrig === 'icons'" (click)="data.viewModeOrig = 'icons'" [matTooltip]="'editor.children.view_icons' | translate">
                <mat-icon>image</mat-icon>
              </button>
            </div>
          </div>

          <div fxFlex class="app-oa-y">
            <div class="app-editor-content">
              <div class="app-view-icon" *ngIf="data.viewModeOrig === 'icons'" #childrenIconList fxLayout="row wrap">
                <div *ngFor="let item of orig; let i = index" class="app-item-wrapper" (click)="select(dest, item, i, $event, 'dest')" 
                [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig" [fxFlex]="data.iconWidth['dest'] + '%'">
                  <div class="app-item">
                    <div class="app-item-thumb" [style.backgroundImage]="'url(' + thumb(item.pid) + ')'" [style.height]="data.iconHeight['dest'] + 'px'"></div>
                    <div class="app-item-label">{{ item.label + (data.shortLabels ? "" : (", " + ("page_type." + item.pageType | translate))) }}</div>
                  </div>
                </div>
              </div>

              <div class="app-view-grid" *ngIf="data.viewModeOrig == 'grid'" #childrenGridList fxLayout="row wrap">
                <div *ngFor="let item of orig; let i = index" (click)="select(dest, item, i, $event, 'dest')" class="app-item-wrapper" 
                [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig" [title]="item.label + ' (' + ('model.' + item.model | translate) + ')'" [fxFlex]="data.iconWidth['orig'] + '%'">
                  <div class="app-item">
                    <div class="app-item-label">
                      {{ data.shortLabels ? item.shortLabel : item.label }}<br />
                      ({{ (item.pageType ? "page_type." + item.pageType : "model." + item.model) | translate }})
                    </div>
                  </div>
                </div>
              </div>

              <table mat-table *ngIf="data.viewModeOrig == 'list'" [dataSource]="destTable" class="app-w-100" #table>
                <ng-container matColumnDef="pid">
                  <th mat-header-cell *matHeaderCellDef>{{'search.pid' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                </ng-container>

                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef> {{'search.name' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{data.shortLabels ? element.shortLabel : element.label}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="pageType">
                  <th mat-header-cell *matHeaderCellDef> {{'search.pageType' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.pageType}} </td>
                </ng-container>

                <ng-container matColumnDef="pageIndex">
                  <th mat-header-cell *matHeaderCellDef> {{'search.pageIndex' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.pageIndex}} </td>
                </ng-container>

                <ng-container matColumnDef="pageNumber">
                  <th mat-header-cell *matHeaderCellDef> {{'search.pageNumber' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.pageNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="model">
                  <th mat-header-cell *matHeaderCellDef> {{'search.model' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{ 'model.' + element.model | translate}} </td>
                </ng-container>

                <ng-container matColumnDef="owner">
                  <th mat-header-cell *matHeaderCellDef> {{'search.owner' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
                </ng-container>

                <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef> {{'search.created' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.created | date : 'dd.MM.yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="modified">
                  <th mat-header-cell *matHeaderCellDef> {{'search.modified' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.modified | date : 'dd.MM.yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> {{'search.status' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="data.displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let idx = index; columns: data.displayedColumns" 
                  [class.app-selected]="row.selected"  [class.app-selectedInOrig]="row.selectedInOrig" 
                  (click)="select(dest, row, idx, $event, 'dest')"></tr>
              </table>
            </div>
          </div>
        </div>
      </as-split-area>

      <as-split-area [size]="40" (resized)="onResized($event, 'dest')">
        <div fxLayout="column" fxFlexFill>
          <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-action">
            <div fxFlex>
              <div class="app-toolbar-label">
                <span class="app-text">{{ 'desc.selectTheTargets' | translate }}</span>
              </div>
            </div>
            <div>
              <button mat-icon-button *ngIf="data.viewModeDest === 'icons'" (click)="zoomOut('dest')" [matTooltip]="'viewer.tooltip.zoomOut' | translate">
                <mat-icon>zoom_out</mat-icon>
              </button>
              <button mat-icon-button *ngIf="data.viewModeDest === 'icons'" (click)="zoomIn('dest')" [matTooltip]="'viewer.tooltip.zoomIn' | translate">
                <mat-icon>zoom_in</mat-icon>
              </button>
              <button mat-icon-button [class.app-active]="data.viewModeDest === 'list'" (click)="data.viewModeDest = 'list'" [matTooltip]="'editor.children.view_list' | translate">
                <mat-icon>format_align_justify</mat-icon>
              </button>
              <button mat-icon-button [class.app-active]="data.viewModeDest === 'grid'" (click)="data.viewModeDest = 'grid'" [matTooltip]="'editor.children.view_grid' | translate">
                <mat-icon>apps</mat-icon>
              </button>
              <button mat-icon-button [class.app-active]="data.viewModeDest === 'icons'" (click)="data.viewModeDest = 'icons'" [matTooltip]="'editor.children.view_icons' | translate">
                <mat-icon>image</mat-icon>
              </button>
            </div>
          </div>

          <div fxFlex class="app-oa-y">
            <div class="app-editor-content">
              <div class="app-view-icon" *ngIf="data.viewModeDest == 'icons'" #childrenIconList fxLayout="row wrap">
                <div *ngFor="let item of dest; let i = index" class="app-item-wrapper" (click)="select(dest, item, i, $event, 'dest')" 
                [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig" [fxFlex]="data.iconWidth['dest'] + '%'">
                  <div class="app-item">
                    <div class="app-item-thumb" [style.backgroundImage]="'url(' + thumb(item.pid) + ')'" [style.height]="data.iconHeight['dest'] + 'px'"></div>
                    <div class="app-item-label">{{ item.label + (data.shortLabels ? "" : (", " + ("page_type." + item.pageType | translate))) }}</div>
                  </div>
                </div>
              </div>

              <div class="app-view-grid" *ngIf="data.viewModeDest == 'grid'" #childrenGridList fxLayout="row wrap">
                <div *ngFor="let item of dest; let i = index" (click)="select(dest, item, i, $event, 'dest')" class="app-item-wrapper" 
                [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig" [title]="item.label + ' (' + ('model.' + item.model | translate) + ')'" [fxFlex]="data.iconWidth['dest'] + '%'">
                  <div class="app-item">
                    <div class="app-item-label">
                      {{ data.shortLabels ? item.shortLabel : item.label }}<br />
                      ({{ (item.pageType ? "page_type." + item.pageType : "model." + item.model) | translate }})
                    </div>
                  </div>
                </div>
              </div>

              <table mat-table *ngIf="data.viewModeDest == 'list'" [dataSource]="destTable" class="app-w-100" #table>
                <ng-container matColumnDef="pid">
                  <th mat-header-cell *matHeaderCellDef>{{'search.pid' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                </ng-container>

                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef> {{'search.name' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{data.shortLabels ? element.shortLabel : element.label}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="pageType">
                  <th mat-header-cell *matHeaderCellDef> {{'search.pageType' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.pageType}} </td>
                </ng-container>

                <ng-container matColumnDef="pageIndex">
                  <th mat-header-cell *matHeaderCellDef> {{'search.pageIndex' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.pageIndex}} </td>
                </ng-container>

                <ng-container matColumnDef="pageNumber">
                  <th mat-header-cell *matHeaderCellDef> {{'search.pageNumber' | translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.pageNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="model">
                  <th mat-header-cell *matHeaderCellDef> {{'search.model' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{ 'model.' + element.model | translate}} </td>
                </ng-container>

                <ng-container matColumnDef="owner">
                  <th mat-header-cell *matHeaderCellDef> {{'search.owner' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
                </ng-container>

                <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef> {{'search.created' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.created | date : 'dd.MM.yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="modified">
                  <th mat-header-cell *matHeaderCellDef> {{'search.modified' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.modified | date : 'dd.MM.yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> {{'search.status' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="data.displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let idx = index; columns: data.displayedColumns" 
                  [class.app-selected]="row.selected" [class.app-selectedInOrig]="row.selectedInOrig" 
                  (click)="select(dest, row, idx, $event, 'dest')"></tr>
              </table>

            </div>
          </div>
        </div>
      </as-split-area>

      <as-split-area [size]="20" class="app-pl-4">
        <app-viewer *ngIf="lastSelectedItemPid" [pid]="lastSelectedItemPid" [hideToolbar]="true" ></app-viewer>
      </as-split-area>

      <!-- <as-split-area [size]="20" class="app-pl-4">
        <div class="app-mb-2">
          <strong>{{ 'desc.selectTheFieldToCopyTo' | translate }}</strong>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="pageType">{{ 'desc.editPageType' | translate }}</mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="pageIndex">{{ 'desc.editPageIndex' | translate }}</mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="pageNumber">{{ 'desc.editPageNumbers' | translate }}</mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="pagePosition">{{ 'desc.editPagePositions' | translate }}</mat-checkbox>
        </div>
      </as-split-area> -->
    </as-split>
  </div>
  <div mat-dialog-actions cdk-focus-start>

    <div>
      <mat-checkbox color="primary" [(ngModel)]="pageType">{{ 'desc.editPageType' | translate }}</mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="primary" [(ngModel)]="pageIndex">{{ 'desc.editPageIndex' | translate }}</mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="primary" [(ngModel)]="pageNumber">{{ 'desc.editPageNumbers' | translate }}</mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="primary" [(ngModel)]="pagePosition">{{ 'desc.editPagePositions' | translate }}</mat-checkbox>
    </div>

    <button mat-flat-button color="primary" (click)="save()" [matTooltip]="'button.save' | translate">{{ 'button.save' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="changed">{{ 'common.close' | translate }}</button>

  </div>
</div>