<div class="app-fxLayout app-column app-fill">
  <div mat-dialog-title class="app-fxLayout app-row app-gap-4 app-center-v app-pt-4 app-pb-4" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h2 class="app-mb-0">{{ 'desc.markRow' | translate }}</h2>
    <button matButton="filled" (click)="markSequence()">{{ 'button.markRow' | translate }}</button>
  </div>

  <mat-dialog-content class="app-maxh-100">
    <as-split direction="horizontal" [disabled]="false" class="app-border-wrapper">
      <as-split-area [size]="40" (resized)="onResized($event, 'orig')">
        <div class="app-fxLayout app-column app-fill">
          <div class="app-fxLayout app-row app-gap-4 app-center-v app-toolbar app-wrap app-pl-2">
            <div class="app-fxFlex">
              <div class="app-toolbar-label">
                <span class="app-text">{{ 'desc.selectOrigin' | translate }}</span>
              </div>
            </div>
            <div class="app-h-100">
              @if (data.viewModeOrig === 'icons') {
                <button mat-icon-button (click)="zoomOut('orig')" [matTooltip]="'button.zoomOut' | translate">
                  <mat-icon>zoom_out</mat-icon>
                </button>
              }
              @if (data.viewModeOrig === 'icons') {
                <button mat-icon-button (click)="zoomIn('orig')" [matTooltip]="'button.zoomIn' | translate">
                  <mat-icon>zoom_in</mat-icon>
                </button>
              }
              <button mat-icon-button [class.app-active]="data.viewModeOrig === 'list'" (click)="data.viewModeOrig = 'list'" [matTooltip]="'button.viewTable' | translate">
                <mat-icon>format_align_justify</mat-icon>
              </button>
              <!-- <button mat-icon-button [class.app-active]="data.viewModeOrig === 'grid'" (click)="data.viewModeOrig = 'grid'" [matTooltip]="'button.viewGrid' | translate">
              <mat-icon>apps</mat-icon>
            </button> -->
            <button mat-icon-button [class.app-active]="data.viewModeOrig === 'icons'" (click)="data.viewModeOrig = 'icons'" [matTooltip]="'button.viewPreviews' | translate">
              <mat-icon>apps</mat-icon>
            </button>
          </div>
        </div>

        <div class="app-oa-y app-fxFlex">
          <div class="app-editor-content">
            @if (data.viewModeOrig === 'icons') {
              <div class="app-fxLayout app-row app-wrap app-view-icon" #childrenIconList>
                @for(item of dest; let i = $index; track $index;) {
                <div class="app-item-wrapper" (click)="select(dest, item, i, $event, 'dest')"
                  [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig"
                  [ngClass]="{'app-repre': item.pageRepre === 'reprePage'}" 
                  [style]="'flex: 1 1 ' + data.iconWidth['dest'] + '%; max-width: ' + data.iconWidth['dest'] + '%; box-sizing: border-box;'">
                  <div class="app-item">
                    <div class="app-item-thumb" [style.backgroundImage]="'url(' + thumb(item.pid) + ')'"
                      [style.height]="data.iconHeight['dest'] + 'px'"></div>
                    <div class="app-item-label">
                      <div class="app-text app-h-100">
                        {{ item.label + (data.shortLabels ? "" : (", " + ("pageType." + item.pageType | translate))) }}
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            }

            @if (data.viewModeOrig == 'grid') {
              <div class="app-fxLayout app-row app-wrap app-view-grid" #childrenGridList>
                @for(item of dest; let i = $index; track $index;) {
                <div (click)="select(dest, item, i, $event, 'dest')" class="app-item-wrapper"
                  [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig"
                  [title]="item.label + ' (' + ('model.' + item.model | translate) + ')'"
                  [style]="'flex: 1 1 ' + data.iconWidth['orig'] + '%; max-width: ' + data.iconWidth['orig'] + '%; box-sizing: border-box;'">
                  <div class="app-item">
                    <div class="app-item-label">
                      {{ data.shortLabels ? item.shortLabel : item.label }}<br />
                      ({{ (item.pageType ? "pageType." + item.pageType : "model." + item.model) | translate }})
                    </div>
                  </div>
                </div>
                }
              </div>
            }

            @if (data.viewModeOrig == 'list') {
              <table mat-table [dataSource]="destTable" class="app-striped app-hover app-resize" #table>
                <ng-container matColumnDef="pid">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
                    (columnResized)="saveColumnsSizesOrigTable($event, 'pid')"
                    [style.width]="getColumnWidthOrigTable('pid')">{{ 'desc.pid' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{element.pid }}</td>
                </ng-container>
                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
                    (columnResized)="saveColumnsSizesOrigTable($event, 'label')"
                    [style.width]="getColumnWidthOrigTable('label')">{{ 'desc.name' | translate }}</th>
                  <td mat-cell *matCellDef="let element" class="app-selectedInOrig">{{ data.shortLabels ? element.shortLabel : element.label }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="filename">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
                    (columnResized)="saveColumnsSizesOrigTable($event, 'filename')"
                    [style.width]="getColumnWidthOrigTable('filename')">{{ 'desc.fileName' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.filename }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="pageType">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
                    (columnResized)="saveColumnsSizesOrigTable($event, 'pageType')"
                    [style.width]="getColumnWidthOrigTable('pageType')">{{ 'desc.pageType' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ "pageType." + element.pageType | translate }}</td>
                </ng-container>
                <ng-container matColumnDef="pageIndex">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
                    (columnResized)="saveColumnsSizesOrigTable($event, 'pageIndex')"
                    [style.width]="getColumnWidthOrigTable('pageIndex')">{{ 'desc.pageIndex' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.pageIndex }}</td>
                </ng-container>
                <ng-container matColumnDef="pageNumber">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
                    (columnResized)="saveColumnsSizesOrigTable($event, 'pageNumber')"
                    [style.width]="getColumnWidthOrigTable('pageNumber')">{{ 'desc.pageNumber' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.pageNumber }}</td>
                </ng-container>
                <ng-container matColumnDef="pagePosition">
                  <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesOrigTable($event, 'pagePosition')" [style.width]="getColumnWidthOrigTable('pagePosition')">{{ 'desc.pagePosition' | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.pagePosition }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let idx = index; columns: displayedColumns"
                  [class.app-selected]="row.selected"  [class.app-selectedInOrig]="row.selectedInOrig" [class.app-repre]="row.pageRepre === 'reprePage'"
                (click)="select(dest, row, idx, $event, 'dest')"></tr>
              </table>
            }
          </div>
        </div>
      </div>
    </as-split-area>

    <as-split-area [size]="40" (resized)="onResized($event, 'dest')">
      <div class="app-fxLayout app-column app-fill">
        <div class="app-fxLayout app-row app-center-v app-toolbar app-pl-2">
          <div class="app-fxFlex">
            <div class="app-toolbar-label">
              <span class="app-text">{{ 'desc.selectTheTarget' | translate }}</span>
            </div>
          </div>
          <div>
            @if (data.viewModeDest === 'icons') {
              <button mat-icon-button (click)="zoomOut('dest')" [matTooltip]="'button.zoomOut' | translate">
                <mat-icon>zoom_out</mat-icon>
              </button>
            }
            @if (data.viewModeDest === 'icons') {
              <button mat-icon-button (click)="zoomIn('dest')" [matTooltip]="'button.zoomIn' | translate">
                <mat-icon>zoom_in</mat-icon>
              </button>
            }
            <button mat-icon-button [class.app-active]="data.viewModeDest === 'list'" (click)="data.viewModeDest = 'list'" [matTooltip]="'button.viewTable' | translate">
              <mat-icon>format_align_justify</mat-icon>
            </button>
            <!-- <button mat-icon-button [class.app-active]="data.viewModeDest === 'grid'" (click)="data.viewModeDest = 'grid'" [matTooltip]="'button.viewGrid' | translate">
            <mat-icon>apps</mat-icon>
          </button> -->
          <button mat-icon-button [class.app-active]="data.viewModeDest === 'icons'" (click)="data.viewModeDest = 'icons'" [matTooltip]="'button.viewPreviews' | translate">
            <mat-icon>apps</mat-icon>
          </button>
        </div>
      </div>

      <div class="app-fxFlex app-oa-y">
        <div class="app-editor-content">
          @if (data.viewModeDest == 'icons') {
            <div class="app-fxLayout app-row app-wrap app-view-icon" #childrenIconList>
              @for(item of dest; let i = $index; track $index;) {
                <div class="app-item-wrapper" (click)="select(dest, item, i, $event, 'dest')"
                  [class.app-selected]="item.selected" 
                  [ngClass]="{'app-repre': item.pageRepre === 'reprePage'}" 
                  [class.app-selectedInOrig]="item.selectedInOrig" [style]="'flex: 1 1 ' + data.iconWidth['dest'] + '%; max-width: ' + data.iconWidth['dest'] + '%; box-sizing: border-box;'">
                  <div class="app-item">
                    <div class="app-item-thumb" [style.backgroundImage]="'url(' + thumb(item.pid) + ')'" [style.height]="data.iconHeight['dest'] + 'px'"></div>
                    <div class="app-item-label">
                      <div class="app-text app-h-100">
                        {{ item.label + (data.shortLabels ? "" : (", " + ("pageType." + item.pageType | translate))) }}
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }

          @if (data.viewModeDest == 'grid') {
            <div class="app-fxLayout app-row app-wrap app-view-grid" #childrenGridList>
              @for(item of dest; let i = $index; track $index;) {
                <div (click)="select(dest, item, i, $event, 'dest')" class="app-item-wrapper"
                  [class.app-selected]="item.selected" [class.app-selectedInOrig]="item.selectedInOrig" [title]="item.label + ' (' + ('model.' + item.model | translate) + ')'" [style]="'flex: 1 1 ' + data.iconWidth['dest'] + '%; max-width: ' + data.iconWidth['dest'] + '%; box-sizing: border-box;'">
                  <div class="app-item">
                    <div class="app-item-label">
                      {{ data.shortLabels ? item.shortLabel : item.label }}<br />
                      ({{ (item.pageType ? "pageType." + item.pageType : "model." + item.model) | translate }})
                    </div>
                  </div>
                </div>
              }
            </div>
          }

          @if (data.viewModeDest == 'list') {
            <table mat-table [dataSource]="destTable" class="app-striped app-hover app-resize" #table>
              <ng-container matColumnDef="pid">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'pid')" [style.width]="getColumnWidthDestTable('pid')">{{ 'desc.pid' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.pid }}</td>
              </ng-container>
              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'label')" [style.width]="getColumnWidthDestTable('label')">{{ 'desc.name' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ data.shortLabels ? element.shortLabel : element.label }}
                </td>
              </ng-container>
              <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'filename')" [style.width]="getColumnWidthDestTable('filename')">{{ 'desc.fileName' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.filename }}</td>
              </ng-container>
              <ng-container matColumnDef="pageType">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'pageType')" [style.width]="getColumnWidthDestTable('pageType')">{{ 'desc.pageType' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.pageType }}</td>
              </ng-container>
              <ng-container matColumnDef="pageIndex">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'pageIndex')" [style.width]="getColumnWidthDestTable('pageIndex')">{{ 'desc.pageIndex' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.pageIndex }}</td>
              </ng-container>
              <ng-container matColumnDef="pageNumber">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'pageNumber')" [style.width]="getColumnWidthDestTable('pageNumber')">{{ 'desc.pageNumber' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.pageNumber }}</td>
              </ng-container>
              <ng-container matColumnDef="pagePosition">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'pagePosition')" [style.width]="getColumnWidthDestTable('pagePosition')">{{ 'desc.pagePosition' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.pagePosition }}</td>
              </ng-container>
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'model')" [style.width]="getColumnWidthDestTable('model')">{{ 'desc.model' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ 'model.' + element.model | translate }}</td>
              </ng-container>
              <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'owner')" [style.width]="getColumnWidthDestTable('owner')">{{ 'desc.owner' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
              </ng-container>
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'created')" [style.width]="getColumnWidthDestTable('created')">{{ 'desc.created' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.created | date : 'dd.MM.yyyy' }}</td>
              </ng-container>
              <ng-container matColumnDef="modified">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'modified')" [style.width]="getColumnWidthDestTable('modified')">{{ 'desc.modified' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.modified | date : 'dd.MM.yyyy' }}</td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" (columnResized)="saveColumnsSizesDestTable($event, 'status')" [style.width]="getColumnWidthDestTable('status')">{{ 'desc.status' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="data.displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let idx = index; columns: data.displayedColumns"
                [class.app-selected]="row.selected" [class.app-selectedInOrig]="row.selectedInOrig" [class.app-repre]="row.pageRepre === 'reprePage'"
              (click)="select(dest, row, idx, $event, 'dest')"></tr>
            </table>
          }

        </div>
      </div>
    </div>
  </as-split-area>

  <as-split-area [size]="20">
    @if (lastSelectedItemPid) {
      <app-viewer class="app-fxLayout app-column app-fill" [imageInfo]="{pid: lastSelectedItemPid, dsid: 'FULL'}" [hideToolbar]="true" [idViewer]="'app-viewer-mark'"></app-viewer>
    }
  </as-split-area>
</as-split>
</mat-dialog-content>

<mat-dialog-actions class="app-fxLayout app-column app-gap-4 app-start-v">
  <div>
    <span class="app-label app-mr-4">{{ 'desc.edit' | translate }}:</span>
    <mat-checkbox color="primary" [(ngModel)]="pageType" name="pageType" class="app-mr-4">{{ 'desc.pageType' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="pageNumber" name="pageNumber" class="app-mr-4">{{ 'desc.pageNumber' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="pageIndex" name="pageIndex" class="app-mr-4">{{ 'desc.pageIndex' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="pagePosition" name="pagePosition" class="app-mr-4">{{ 'desc.pagePosition' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="reprePage" name="reprePage">{{ 'editor.page.genre' | translate }}</mat-checkbox>
  </div>
  <div>
    <button matButton="filled" (click)="save()" [matTooltip]="'button.save' | translate">{{ 'button.save' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="changed">{{ 'button.close' | translate }}</button>
  </div>
</mat-dialog-actions>
<!-- <div mat-dialog-actions cdkFocusRegionstart class="app-fxLayout app-column app-gap-4 app-jc-start" [align]="'start'">
  <div>
    <span class="app-label app-mr-4">{{ 'desc.edit' | translate }}:</span>
    <mat-checkbox color="primary" [(ngModel)]="pageType" name="pageType" class="app-mr-4">{{ 'desc.pageType' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="pageNumber" name="pageNumber" class="app-mr-4">{{ 'desc.pageNumber' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="pageIndex" name="pageIndex" class="app-mr-4">{{ 'desc.pageIndex' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="pagePosition" name="pagePosition" class="app-mr-4">{{ 'desc.pagePosition' | translate }}</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="reprePage" name="reprePage">{{ 'editor.page.genre' | translate }}</mat-checkbox>
  </div>
  <div>
    <button matButton="filled" (click)="save()" [matTooltip]="'button.save' | translate">{{ 'button.save' | translate }}</button>
    <button mat-flat-button [mat-dialog-close]="changed">{{ 'button.close' | translate }}</button>
  </div>
</div> -->