<div fxLayout="column" fxFlexFill>
	<div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
		<div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">PREMIS</span>
			</div>
		</div>
		<div>

			<button mat-icon-button [matTooltip]="'editor.toolbar.editor_premis' | translate"
				[class.app-active]="editorType === 'metadata'" (click)="editorType = 'metadata'">
				<span class="app-text-icon">P</span>
			</button>
			<button mat-icon-button [matTooltip]="'editor.toolbar.editor_premisXML' | translate"
				[class.app-active]="editorType === 'xml'" (click)="editorType = 'xml'">
				<mat-icon>code_blocks</mat-icon>
			</button>


			<button mat-icon-button (click)="onRefresh()" [disabled]="editting || realtime" (click)="onRefresh()"
				[matTooltip]="'editor.mods.refresh' | translate">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button (click)="onEdit()" [disabled]="editting || realtime" (click)="onEdit()"
				[matTooltip]="'common.edit' | translate">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button (click)="onClear()" [disabled]="!editting || realtime"
				[matTooltip]="'common.cancel' | translate">
				<mat-icon>clear</mat-icon>
			</button>
			<button mat-icon-button *ngIf="editorType === 'xml'" (click)="onSave()" [disabled]="!anyChange || realtime"
				[matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
			<button mat-icon-button *ngIf="editorType === 'metadata'" (click)="onSaveMetadata()"
				[matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
		</div>
	</div>

	<div fxFlex class="app-oa-y">
		<mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
		<div class="app-editor-content" *ngIf="state !=='loading' && editorType === 'xml'">
			<ng-container *ngIf="mods">
				<pre *ngIf="editting && !realtime" class="app-xml-content app-mods-editing"
					#editingPre><code class="app-mods-editing" (input)="checkChanged()" contenteditable="true" [highlight]="mods.original"></code></pre>
				<pre *ngIf="!editting && !realtime" class="app-xml-content"
					#originalPre><code [highlight]="mods.original"></code></pre>
			</ng-container>
			<div *ngIf="!mods">No PREMIS</div>
		</div>

		<div class="app-premis" *ngIf="state !=='loading' && editorType === 'metadata'">

			<div *ngIf="jsonPremis">
				<div class="app-editor-field" *ngFor="let amdSec of jsonPremis['mets:mets']['mets:amdSec']; let idx = index">
					<div class="app-card">
						<div *ngTemplateOutlet="headerTmpl; 
						context:{ data: {
							collapsable: true, 
							nested: true, 
							labelKey: 'amdSec',
							selector: '/mets:mets/mets:amdSec',
							help: 'TADY NAPOVEDA'
							},
							item: amdSec,
							idx: idx
						}"></div>
						<div class="app-card-content" [class.app-collapsed]="amdSec.collapsed">
							<mat-form-field>
								<input autocomplete="off" matInput [(ngModel)]="amdSec['$'].ID"
									[placeholder]="'premis.amdSecId' | translate">
							</mat-form-field>
							<div class="app-card" *ngFor="let techMD of amdSec['mets:techMD']; let idx = index">
								<div *ngTemplateOutlet="headerTmpl; 
							context:{ data: {
								collapsable: true, 
								nested: true, 
								labelKey: 'techMD',
								selector: '/mets:mets/mets:amdSec/mets:techMD',
								help: 'TADY NAPOVEDA pro techMD'
								},
								item: techMD,
							  idx: idx
							}"></div>
								<div class="app-card-content" [class.app-collapsed]="techMD.collapsed">
									<mat-form-field>
										<input autocomplete="off" matInput [(ngModel)]="techMD['$'].ID"
											[placeholder]="'premis.techMDId' | translate">
									</mat-form-field>
									<div *ngFor="let mdWrap of techMD['mets:mdWrap']">
										<div *ngFor="let xmlData of mdWrap['mets:xmlData']">
											<div *ngFor="let object of xmlData['premis:object']">

												<mat-form-field>
													<mat-select required [(ngModel)]="object['$']['xsi:type']" [placeholder]="'premis.objectType' | translate">
														<mat-option  [value]="'file'">
															{{ 'premis.objectTypeFile' | translate }}
														</mat-option>
														<mat-option  [value]="'representation'">
															{{ 'premis.objectTypeRepresentation' | translate }}
														</mat-option>
														<mat-option  [value]="'bitstream'">
															{{ 'premis.objectTypeBitstream' | translate }}
														</mat-option>
													</mat-select>
												</mat-form-field>

												<div *ngTemplateOutlet="fieldTmpl; 
									context:{ data: {
										collapsable: true, 
										nested: true, 
										access: 'M',
										labelKey: 'objectIdentifier',
										root: object['premis:objectIdentifier'],
										items:  createIfNotExists(object['premis:objectIdentifier'],  ['objectIdentifierType', 'objectIdentifierValue']),
									  fields: ['objectIdentifierType', 'objectIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											access: 'M',
											labelKey: 'preservationLevel',
											root: object['premis:preservationLevel'],
											fields: ['preservationLevelValue', 'preservationLevelRole', 'preservationLevelRationale', 'preservationLevelDateAssigned']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
											context:{ data: {
												collapsable: true, 
												nested: true, 
												labelKey: 'significantProperties',
												root: object['premis:significantProperties'],
												fields: ['significantPropertiesType', 'significantPropertiesValue', 'significantPropertiesExtension']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
									  context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'objectCharacteristics',
										access: 'M',
										root: object['premis:objectCharacteristics'],
										fields: ['compositionLevel', 'creatingApplication', 'fixity', 'format', 'size']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											labelKey: 'originalName',
											access: 'M',
											root: object['premis:originalName'],
											fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
											context:{ data: {
												collapsable: true, 
												nested: true, 
												labelKey: 'storage',
												root: object['premis:storage'],
												fields: ['compositionLevel']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
									 context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'signatureInformation',
										root: object['premis:signatureInformation'],
										fields: ['compositionLevel']}}"></div>

												<div
													*ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
										 collapsable: true, 
										 nested: true, 
										 labelKey: 'relationship',
										 access: 'M',
										 root: object['premis:relationship'],
										 fields: ['relatedEventIdentification', 'relatedObjectIdentification', 'relationshipType', 'relationshipSubType']}}">
												</div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
										 collapsable: true, 
										 nested: true, 
										 labelKey: 'linkingEventIdentifier',
										 access: 'M',
										 root: object['premis:linkingEventIdentifier'],
										 fields: ['linkingEventIdentifierType', 'linkingEventIdentifierValue']}}">
												</div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
										 collapsable: true, 
										 nested: true, 
										 labelKey: 'linkingRightsStatementIdentifier',
										 root: object['premis:linkingRightsStatementIdentifier'],
										 fields: ['compositionLevel']}}">
												</div>

											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="app-card" *ngFor="let digiprovMD of amdSec['mets:digiprovMD']; let idx = index; let last = last">
								<div *ngTemplateOutlet="headerTmpl; 
								context:{ data: {
									collapsable: true, 
									nested: true, 
									labelKey: 'digiprovMD'
									},
									item: digiprovMD,
							    idx: idx
								}"></div>
								<div class="app-card-content" [class.app-collapsed]="digiprovMD.collapsed">
									<mat-form-field>
										<input autocomplete="off" matInput [(ngModel)]="digiprovMD['$'].ID"
											[placeholder]="'premis.techMDId' | translate">
									</mat-form-field>
									<div *ngFor="let mdWrap of digiprovMD['mets:mdWrap']">
										<div *ngFor="let xmlData of mdWrap['mets:xmlData']">
											<div *ngFor="let event of xmlData['premis:event']">

												<div *ngTemplateOutlet="fieldTmpl; 
									context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'eventIdentifier',
										access: 'M',
										root: event['premis:eventIdentifier'],
									  fields: ['eventIdentifierType', 'eventIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											labelKey: 'eventType',
											access: 'M',
											root: event['premis:eventType'],
											fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
											context:{ data: {
												collapsable: true, 
												nested: true, 
												labelKey: 'eventDateTime',
												access: 'M',
												root: event['premis:eventDateTime'],
												fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
									  context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'eventDetail',
										access: 'M',
										root: event['premis:eventDetail'],
										fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											labelKey: 'eventOutcomeInformation',
											access: 'M',
											root: event['premis:eventOutcomeInformation'],
											fields: ['eventOutcome']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
											context:{ data: {
												collapsable: true, 
												nested: true, 
												labelKey: 'linkingAgentIdentifier',
												access: 'M',
												root: event['premis:linkingAgentIdentifier'],
												fields: ['linkingAgentIdentifierType', 'linkingAgentIdentifierValue', 'linkingAgentRole']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
									 context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'linkingObjectIdentifier',
										access: 'M',
										root: event['premis:linkingObjectIdentifier'],
										fields: ['linkingObjectIdentifierType', 'linkingObjectIdentifierValue']}}"></div>

											</div>


											<div *ngFor="let agent of xmlData['premis:agent']">

												<div *ngTemplateOutlet="fieldTmpl; 
									context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'agentIdentifier',
										access: 'M',
										root: agent['premis:agentIdentifier'],
									  fields: ['agentIdentifierType', 'agentIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											labelKey: 'agentType',
											access: 'M',
											root: agent['premis:agentType'],
											fields: ['_']}}"></div>

											<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											labelKey: 'agentName',
											access: 'M',
											root: agent['premis:agentName'],
											fields: ['_']}}"></div>

											<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											labelKey: 'agentNote',
											access: 'MA',
											root: agent['premis:agentNote'],
											fields: ['_']}}"></div>


											</div>

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div *ngIf="!jsonPremis">No PREMIS</div>
		</div>
	</div>
</div>

<ng-template #headerTmpl let-data="data" let-item="item" let-idx="idx">
	<div class="app-card-header">
		<span [matTooltip]="data.labelKey" class="app-card-title" [class.app-no-collapse]="!data.collapsable">{{
			'premis.' +
			data.labelKey | translate }} </span>
		<button matTooltip="{{ 'common.remove' | translate }}" (click)="removeItem(data.root, item, idx)" mat-icon-button>
			<mat-icon>delete</mat-icon>
		</button>
		<button matTooltip="{{ 'editor.info' | translate }}" (click)="openHelpDialog(data, item)" mat-icon-button>
			<mat-icon>help_outline</mat-icon>
		</button>
		<ng-container *ngIf="data.collapsable">
			<button class="app-collapse" *ngIf="item.collapsed" matTooltip="{{ 'common.expand' | translate }}"
				(click)="switchCollapsed(item)" mat-icon-button>
				<mat-icon>expand_more</mat-icon>
			</button>
			<button class="app-collapse" *ngIf="!item.collapsed" matTooltip="{{ 'common.collapse' | translate }}"
				(click)="switchCollapsed(item)" mat-icon-button>
				<mat-icon>expand_less</mat-icon>
			</button>
		</ng-container>
		<button matTooltip="{{ 'editor.duplicate_field' | translate }}" (click)="addAfterItem(data.root, item, idx)" mat-icon-button>
			<mat-icon>control_point_duplicate</mat-icon>
		</button>
		<!-- <ng-template [ngTemplateOutlet]="templateMenu" [ngTemplateOutletContext]="{ item: item  }"></ng-template> -->
	</div>
</ng-template>

<ng-template #fieldTmpl let-data="data" let-items="items">
	<div class="app-editor-field" [class.app-nested]="data.nested" *ngIf="data.root">
		<div class="app-card" *ngFor="let item of data.root; let idx = index" [class.app-required]="data.access === 'M'">
			<div *ngTemplateOutlet="headerTmpl; context:{ data: data, item: item, idx: idx }"></div>
			<div class="app-card-content" [class.app-collapsed]="data.collapsable && item.collapsed">
				<ng-container *ngFor="let field of data.fields">
					<mat-form-field *ngIf="field === '_' || item['premis:'+field]">
						<input *ngIf="field === '_'" autocomplete="off" matInput [(ngModel)]="item['_']" [required]="data.access === 'M'"
							name="data.labelKey" 
               #name="ngModel"
							[placeholder]="'premis.value' | translate">
						<input *ngIf="field !== '_' && item['premis:'+field]" autocomplete="off" matInput  [(ngModel)]="item['premis:'+field][0]._" [required]="data.access === 'M'"
							[placeholder]="'premis.' + field | translate">
					</mat-form-field>
				</ng-container>
			</div>

		</div>

	</div>
</ng-template>