<div fxLayout="column" fxFlexFill>
	<div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
		<div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">PREMIS</span>
			</div>
		</div>
		<div>

			<button mat-icon-button [matTooltip]="'editor.toolbar.editor_premis' | translate"
				[class.app-active]="editorType === 'metadata'" (click)="editorType = 'metadata'">
				<span class="app-text-icon">P</span>
			</button>
			<button mat-icon-button [matTooltip]="'editor.toolbar.editor_premisXML' | translate"
				[class.app-active]="editorType === 'xml'" (click)="editorType = 'xml'">
				<mat-icon>code_blocks</mat-icon>
			</button>


			<button mat-icon-button (click)="onRefresh()" [disabled]="editting || realtime" (click)="onRefresh()"
				[matTooltip]="'editor.mods.refresh' | translate">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button (click)="onEdit()" [disabled]="editting || realtime" (click)="onEdit()"
				[matTooltip]="'common.edit' | translate">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button (click)="onClear()" [disabled]="!editting || realtime"
				[matTooltip]="'common.cancel' | translate">
				<mat-icon>clear</mat-icon>
			</button>
			<button mat-icon-button *ngIf="editorType === 'xml'" (click)="onSave()" [disabled]="!anyChange || realtime"
				[matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
			<button mat-icon-button *ngIf="editorType === 'metadata'" (click)="onSaveMetadata()"
				[matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
		</div>
	</div>

	<div fxFlex class="app-oa-y">
		<mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
		<div class="app-editor-content" *ngIf="state !=='loading' && editorType === 'xml'">
			<ng-container *ngIf="mods">
				<pre *ngIf="editting && !realtime" class="app-xml-content app-mods-editing"
					#editingPre><code class="app-mods-editing" (input)="checkChanged()" contenteditable="true" [highlight]="mods.original"></code></pre>
				<pre *ngIf="!editting && !realtime" class="app-xml-content"
					#originalPre><code [highlight]="mods.original"></code></pre>
			</ng-container>
			<div *ngIf="!mods">No PREMIS</div>
		</div>

		<div *ngIf="state !=='loading' && editorType === 'metadata'">

			<ng-container *ngIf="jsonPremis">
				<div class="app-editor-field" *ngFor="let amdSec of jsonPremis['mets:mets']['mets:amdSec']; let idx = index">
						<!-- <div *ngTemplateOutlet="headerTmpl; 
						context:{ data: {
							collapsable: true, 
							nested: true, 
							labelKey: 'amdSec',
							selector: '/mets:mets/mets:amdSec'
							},
							item: amdSec,
							idx: idx
						}"></div> -->
							<!-- <mat-form-field>
								<input autocomplete="off" matInput [(ngModel)]="amdSec['$'].ID"
									[placeholder]="'premis.amdSecId' | translate">
							</mat-form-field> -->
							<div class="app-card" *ngFor="let techMD of amdSec['mets:techMD']; let idx = index">
								<div *ngTemplateOutlet="headerTmpl;  context:{ 
									data: {
									collapsable: true, 
									nested: true, 
									selector: '/mets:mets/mets:amdSec/mets:techMD',
									labelKey: 'techMD'
									},
									item: techMD,
									idx: idx}"></div>
								<div class="app-card-content" [class.app-collapsed]="techMD.collapsed">
									<mat-form-field>
										<input autocomplete="off" matInput [(ngModel)]="techMD['$'].ID"
											[placeholder]="'premis.techMDId' | translate">
									</mat-form-field>
									<div *ngFor="let mdWrap of techMD['mets:mdWrap']">
										<div *ngFor="let xmlData of mdWrap['mets:xmlData']">
											<div class="app-card" *ngFor="let object of xmlData['premis:object']">
												<div *ngTemplateOutlet="headerTmpl;  context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													selector: 'premis:object',
													help: ['Kořenový element pro premis objekt; použít vždy s atributem podle typu objektu.'],
													labelKey: 'object'
													},
													item: object,
													idx: idx}"></div>
												<div class="app-card-content" [class.app-collapsed]="object.collapsed">
												<mat-form-field>
													<mat-select required [(ngModel)]="object['$']['xsi:type']" [placeholder]="'premis.objectType' | translate">
														<mat-option  [value]="'file'">
															{{ 'premis.objectTypeFile' | translate }}
														</mat-option>
														<mat-option  [value]="'representation'">
															{{ 'premis.objectTypeRepresentation' | translate }}
														</mat-option>
														<mat-option  [value]="'bitstream'">
															{{ 'premis.objectTypeBitstream' | translate }}
														</mat-option>
													</mat-select>
												</mat-form-field>

												<div *ngTemplateOutlet="fieldTmpl;  context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													access: 'M',
													selector: 'premis:object/premis:objectIdentifier',
													help: ['Identifikátor k jednoznačnému odlišení objektu v určitém kontextu.<br/>',
																	' - <code>objectIdentifierType</code>: Popis kontextu, ve kterém je identifikátor unikátní, např. NDK, ANL nebo název repozitáře; nutno použít kontrolovaný slovník',
																	' - <code>objectIdentifierValue</code>: Vlastní hodnota identifikátoru, např. img0001-master, urn.nbn.cz123465 apod.'],
													labelKey: 'objectIdentifier',
													root: object['premis:objectIdentifier'],
													items:  createIfNotExists(object['premis:objectIdentifier'],  ['objectIdentifierType', 'objectIdentifierValue']),
													fields: ['objectIdentifierType', 'objectIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
										context:{ data: {
											collapsable: true, 
											nested: true, 
											access: 'M',
											selector: 'premis:object/premis:preservationLevel',
											help: ['údaje o úrovni ochrany souboru, která se na něj vztahuje; některé soubory nejsou tak důležité jako jiné, mají menší úroveň ochrany.<br/>',
											' - <code>preservationLevelValue</code>: hodnota úrovně ochrany, která je pro soubor relevantní, pro původní sken PS hodnota deleted, pro MC a XML hodnota preservation',
											' - <code>preservationLevelDateAssigned</code>: datum, kdy byla přiřazena hodnota úrovně ochrany, zápis v ISO 8601, na úroveň dne (DD-MM-RRRR)',
											' - <code>preservationLevelRole</code>: Role',
											' - <code>preservationLevelRationale</code>: Rationale'],
											labelKey: 'preservationLevel',
											root: object['premis:preservationLevel'],
											fields: ['preservationLevelValue', 'preservationLevelDateAssigned', 'preservationLevelRole', 'preservationLevelRationale']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
											context:{ data: {
												collapsable: true, 
												nested: true, 
											access: 'M',
											selector: 'premis:object/premis:significantProperties',
											help: ['Signifikantní vlastnosti.<br/>',
											' - <code>significantPropertiesType</code>: Typ',
											' - <code>significantPropertiesValue</code>: Hodnota',
											' - <code>significantPropertiesExtension</code>: Extension'],
												labelKey: 'significantProperties',
												root: object['premis:significantProperties'],
												fields: ['significantPropertiesType', 'significantPropertiesValue', 'significantPropertiesExtension']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; 
									  context:{ data: {
										collapsable: true, 
										nested: true, 
										labelKey: 'objectCharacteristics',
										access: 'M',
										selector: 'premis:object/premis:objectCharacteristics',
										help: ['Technické údaje o souboru.<br/>',
										' - <code>compositionLevel</code>: údaj o tom, zda je nutné digitální objekt rozbalit nebo dekodovat;	např. 0 (defaultně pro žádné zabalení nebo kodování); 1 pro jedno	zabalení a kodovani, podobně pak hodnota 2',
										' - <code>creatingApplication</code>: údaje o aplikaci, ve které byl popisovaný soubor vytvořen; nutno popsat skener, SW kde vzniklo ALTO XML/TXT, SW/kodek pro vytvoření JPEG2000 MC',
										' - <code>fixity</code>: údaje o kontrolním součtu',
										' - <code>format</code>: údaje o formátu souboru pro soubory ALTO XML je možné vytvořit element dvakrát, jednou popisuje formát XML, podruhé obsahuje informace o použitém standardu ALTO 2.0 (viz příklad 2)',
										' - <code>size</code>: údaje o velikosti souboru v bytech'],
										root: object['premis:objectCharacteristics'],
										fields: ['compositionLevel', 'creatingApplication', 'fixity', 'format', 'size']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl;  context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'originalName',
													access: 'M',
													selector: 'premis:object/premis:originalName',
													help: ['Původní jméno souboru , např. digibok_2007081301091_0011.jp2.'],
													root: object['premis:originalName'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl;  context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'storage',
													selector: 'premis:object/premis:storage',
													help: ['úložiště'],
													root: object['premis:storage'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'signatureInformation',
													root: object['premis:signatureInformation'],
													fields: ['_']}}"></div>

												<div
													*ngTemplateOutlet="fieldTmpl; context:{ 
														data: {
														collapsable: true, 
														nested: true, 
														labelKey: 'relationship',
														access: 'M',
															selector: 'premis:object/premis:relationship',
															help: ['vyjádření vztahu popisovaného souboru k jiným souborům a událostem (eventům)<br/>',
															' - <code>relationshipType</code>: typ vztahu, doporučené hodnoty: derivation= vztah kde objekt je výsledkem změny jiného objektu; structural= vztah mezi částmi objektu; tj. např. ALTO vytvořené z TIFFU bude mít vztah derivation, podobně jako JPEG2000 z TIFFu vytvořený;',
															' - <code>relationshipSubType</code>: upřesnění vztahu, doporučené hodnoty: created from; has source; is source of; has sibling; has part; is part of; has root; includes; is included in; apod.; tj. např. ALTO nebo JPEG2000 vytvořený z původního TIFFu budou mít vztah &quot;created from&quot;',
															' - <code>relatedEventIdentification</code>: identifikace s popisovaným souborem související události (eventu); seznam událostí viz PREMIS event 0-n',
															' - <code>relatedObjectIdentification</code>: identifikace souvisejícího souboru 1-n pro MC, XML pro vyjádření vztahu k původnímu objektu (skenu)'],
														root: object['premis:relationship'],
														fields: ['relationshipType', 'relationshipSubType', 'relatedEventIdentification', 'relatedObjectIdentification']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{
													 data: {
														collapsable: true, 
														nested: true, 
														labelKey: 'linkingEventIdentifier',
														access: 'M',
														selector: 'premis:object/premis:linkingEventIdentifier',
														help: ['identifikátor události týkající původního skenu PS; typy událostí mohou být např. vytvoření, smazání 0-n pro PS nutný link na události vytvoření (digitalizace) a jeho vymazání<br/>',
														' - <code>linkingEventIdentifierType</code>: typ identifikátoru události, např. UUID, NK_eventID, vlastní číslovací systém apod.',
														' - <code>linkingEventIdentifierValue</code>: hodnota identifikátoru, např. event_01; img0001-master-event001 apod.'],
														root: object['premis:linkingEventIdentifier'],
														fields: ['linkingEventIdentifierType', 'linkingEventIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													selector: 'premis:object/premis:linkingRightsStatementIdentifier',
													labelKey: 'linkingRightsStatementIdentifier',
													root: object['premis:linkingRightsStatementIdentifier'],
													fields: ['_']}}"></div>

											</div>
										</div>
										</div>

									</div>
								</div>
							</div>

							<div class="app-card" *ngFor="let digiprovMD of amdSec['mets:digiprovMD']; let idx = index; let last = last">
								<div *ngTemplateOutlet="headerTmpl; 
								context:{ data: {
									collapsable: true, 
									nested: true, 
									labelKey: 'digiprovMD'
									},
									item: digiprovMD,
							    idx: idx
								}"></div>
								<div class="app-card-content" [class.app-collapsed]="digiprovMD.collapsed">
									<mat-form-field>
										<input autocomplete="off" matInput [(ngModel)]="digiprovMD['$'].ID"
											[placeholder]="'premis.techMDId' | translate">
									</mat-form-field>
									<div *ngFor="let mdWrap of digiprovMD['mets:mdWrap']">
										<div *ngFor="let xmlData of mdWrap['mets:xmlData']">
											<div *ngFor="let event of xmlData['premis:event']">

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'eventIdentifier',
													access: 'M',
													selector: 'premis:event/premis:eventIdentifier',
													help: ['údaje o identifikátoru události v kontextu digitalizace nebo repozitáře<br/>',
													' - <code>eventIdentifierType</code>: typ identifikátoru, např. no.nb.evt; NK_eventID, UUID apod.',
													' - <code>eventIdentifierValue</code>: hodnota identifikátoru, např. EVT_001; event_019 apod.'],
													root: event['premis:eventIdentifier'],
													fields: ['eventIdentifierType', 'eventIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'eventType',
													access: 'M',
													selector: 'premis:event/premis:eventType',
													help: ['kategorizace události, nutno použít kontrolovaný slovník; typy událostí, které musí být zaznamenány: capture, migration, derivation, deletion <br/>'],
													root: event['premis:eventType'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'eventDateTime',
													access: 'M',
													selector: 'premis:event/premis:eventDateTime',
													help: ['datum a čas kdy byla událost provedena; nutno zapsat v ISO 8601 na úroveň vteřin<br/>'],
													root: event['premis:eventDateTime'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'eventDetail',
													access: 'M',
													selector: 'premis:event/premis:eventDetail',
													help: ['další údaje o události, doporučené hodnoty pro výše uvedené <eventType> následují za /:<br/>',
														' - capture/digitization – vznik prvního skenu',
														' - capture/XML_creation',
														' - capture/TXT_creation',
														' - migration/MC_creation',
														' - deletion/PS_deletion'],
													root: event['premis:eventDetail'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'eventOutcomeInformation',
													access: 'M',
													selector: 'premis:event/premis:eventOutcomeInformation',
													help: ['informace o výsledku události<br/>',
													' - <code>eventOutcome</code>: kategorizace výsledku události, např. slovy jako successful nebo failure, možno použít kódy – nutno používat kontrolovaný slovník nebo seznam kódů'],
													root: event['premis:eventOutcomeInformation'],
													fields: ['eventOutcome']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'linkingAgentIdentifier',
													access: 'M',
													selector: 'premis:event/premis:linkingAgentIdentifier',
													help: ['identifikace jednoho nebo více agentů spojených s událostí<br/>',
													' - <code>linkingAgentIdentifierType</code>: označení typu identifikátoru, např. NK_AgentID, UUID apod.',
													' - <code>linkingAgentIdentifierValue</code>: hodnota identifikátoru, např. agent_softwareName_5.2; agent_novakJ apod',
													' - <code>linkingAgentRole</code>: role agenta ve vztahu k události, např. software; SW component; operator; nutno používat kontrolovaný slovník'],
													root: event['premis:linkingAgentIdentifier'],
													fields: ['linkingAgentIdentifierType', 'linkingAgentIdentifierValue', 'linkingAgentRole']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'linkingObjectIdentifier',
													access: 'M',
													selector: 'premis:event/premis:linkingObjectIdentifier',
													help: ['informace o objektu/souboru spojeného s událostí, link na něj <br/>',
													' - <code>linkingObjectIdentifierType</code>: označení typu identifikátoru,např. hodnota &quot;file&quot;',
													' - <code>linkingObjectIdentifierValue</code>: hodnota identifikátoru, URN:NBN:cz-_0011#0001 aj'],
													root: event['premis:linkingObjectIdentifier'],
													fields: ['linkingObjectIdentifierType', 'linkingObjectIdentifierValue']}}"></div>

											</div>


											<div *ngFor="let agent of xmlData['premis:agent']">

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'agentIdentifier',
													access: 'M',
													selector: 'premis:agent/premis:agentIdentifier',
													help: ['popis identifikátoru, který jednoznačně označuje agenta v rámci jednoho kontextu (repozitář např.) <br/>',
													' - <code>agentIdentifierType</code>: označení typu identifikátoru, např. NK_AgentID, UUID apod.',
													' - <code>agentIdentifierValue</code>: hodnota identifikátoru, např. agent_softwareName_5.2; agent_novakJ apod'],
													root: agent['premis:agentIdentifier'],
													fields: ['agentIdentifierType', 'agentIdentifierValue']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'agentType',
													access: 'M',
													selector: 'premis:agent/premis:agentType',
													help: ['obecné označení agenta – pro osoby např. osoba, pro SW např. software apod. hodnoty: organization; person; software <br/>'],
													root: agent['premis:agentType'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'agentName',
													access: 'M',
													selector: 'premis:agent/premis:agentName',
													help: ['textové upřesnění agenta, např. přesný název SW, plné jméno osoby apod. - FixImage1.3; Jan Novák; CCS docWorks 6.2.1; <br/>'],
													root: agent['premis:agentName'],
													fields: ['_']}}"></div>

												<div *ngTemplateOutlet="fieldTmpl; context:{ 
													data: {
													collapsable: true, 
													nested: true, 
													labelKey: 'agentNote',
													access: 'MA',
													selector: 'premis:agent/premis:agentNote',
													help: ['použití pouze pokud je <agentType> Software a půjde o agenta souvisejícího s migrací původního souboru např. TIFF na JPEG2000 (creation/migration Event); bude obsahovat příkaz k výrobě JPEG2000 souboru v aplikaci Kakadu nebo OpenJpeg <br/>'],
													root: agent['premis:agentNote'],
													fields: ['_']}}"></div>

											</div>
										</div>
									</div>
								</div>
							</div>
				</div>

			</ng-container>
			<div *ngIf="!jsonPremis">No PREMIS</div>
		</div>
	</div>
</div>

<ng-template #headerTmpl let-data="data" let-item="item" let-idx="idx">
	<div class="app-card-header">
		<span [matTooltip]="data.labelKey" class="app-card-title" [class.app-no-collapse]="!data.collapsable">{{
			'premis.' +
			data.labelKey | translate }} </span>
		<button matTooltip="{{ 'common.remove' | translate }}" (click)="removeItem(data.root, item, idx)" mat-icon-button>
			<mat-icon>delete</mat-icon>
		</button>
		<button *ngIf="data.help" matTooltip="{{ 'editor.info' | translate }}" (click)="openHelpDialog(data, item)" mat-icon-button>
			<mat-icon>help_outline</mat-icon>
		</button>
		<ng-container *ngIf="data.collapsable">
			<button class="app-collapse" *ngIf="item.collapsed" matTooltip="{{ 'common.expand' | translate }}"
				(click)="switchCollapsed(item)" mat-icon-button>
				<mat-icon>expand_more</mat-icon>
			</button>
			<button class="app-collapse" *ngIf="!item.collapsed" matTooltip="{{ 'common.collapse' | translate }}"
				(click)="switchCollapsed(item)" mat-icon-button>
				<mat-icon>expand_less</mat-icon>
			</button>
		</ng-container>
		<button matTooltip="{{ 'editor.duplicate_field' | translate }}" (click)="addAfterItem(data.root, item, idx)" mat-icon-button>
			<mat-icon>control_point_duplicate</mat-icon>
		</button>
		<!-- <ng-template [ngTemplateOutlet]="templateMenu" [ngTemplateOutletContext]="{ item: item  }"></ng-template> -->
	</div>
</ng-template>

<ng-template #fieldTmpl let-data="data" let-items="items">
	<div class="app-editor-field" [class.app-nested]="data.nested" *ngIf="data.root">
		<div class="app-card" *ngFor="let item of data.root; let idx = index" [class.app-required]="data.access === 'M'">
			<div *ngTemplateOutlet="headerTmpl; context:{ data: data, item: item, idx: idx }"></div>
			<div class="app-card-content" [class.app-collapsed]="data.collapsable && item.collapsed">
				<ng-container *ngFor="let field of data.fields">
					<mat-form-field *ngIf="field === '_' || item['premis:'+field]">
						<input *ngIf="field === '_'" autocomplete="off" matInput [(ngModel)]="item['_']" [required]="data.access === 'M'"
							name="data.labelKey" 
              #name="ngModel"
							[placeholder]="'premis.value' | translate">
						<input *ngIf="field !== '_' && item['premis:'+field]" autocomplete="off" matInput  [(ngModel)]="item['premis:'+field][0]._" [required]="data.access === 'M'"
							[placeholder]="'premis.' + field | translate">
					</mat-form-field>
				</ng-container>
			</div>

		</div>

	</div>
</ng-template>