<div fxLayout="column" fxFlexFill>
	<div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
		<div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">PREMIS</span>
			</div>
		</div>
		<div>
			<!-- <ng-container *ngIf="item && layout.lastSelectedItemMetadata">
				<button mat-icon-button [class.app-active]="realtime" (click)="setRealtime(true)" [matTooltip]="'editor.mods.realtime_on' | translate" [matTooltipPosition]="toolbarTooltipPosition">
						<mat-icon>timer</mat-icon>
				</button>
				<button  mat-icon-button [class.app-active]="!realtime" (click)="setRealtime(false)" [matTooltip]="'editor.mods.realtime_off' | translate" [matTooltipPosition]="toolbarTooltipPosition">
						<mat-icon>timer_off</mat-icon>
				</button>
			</ng-container> -->

			<button mat-icon-button [matTooltip]="'editor.toolbar.editor_metadata' | translate"
				[class.app-active]="editorType === 'metadata'" (click)="editorType = 'metadata'">
				<span class="app-text-icon">M</span>
			</button>
			<button mat-icon-button [matTooltip]="'editor.toolbar.editor_mods' | translate"
				[class.app-active]="editorType === 'xml'" (click)="editorType = 'xml'">
				<mat-icon>code</mat-icon>
			</button>


			<button mat-icon-button (click)="onRefresh()" [disabled]="editting || realtime" (click)="onRefresh()"
				[matTooltip]="'editor.mods.refresh' | translate">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button (click)="onEdit()" [disabled]="editting || realtime" (click)="onEdit()"
				[matTooltip]="'common.edit' | translate">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button (click)="onClear()" [disabled]="!editting || realtime"
				[matTooltip]="'common.cancel' | translate">
				<mat-icon>clear</mat-icon>
			</button>
			<button mat-icon-button *ngIf="editorType === 'xml'" (click)="onSave()" [disabled]="!anyChange || realtime"
				[matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
			<button mat-icon-button *ngIf="editorType === 'metadata'" (click)="onSaveMetadata()"
				[matTooltip]="'button.save' | translate">
				<mat-icon>save</mat-icon>
			</button>
		</div>
	</div>
	<div fxFlex class="app-oa-y">
		<mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
		<div class="app-editor-content" *ngIf="state !=='loading' && editorType === 'xml'">
			<ng-container *ngIf="mods">
				<pre *ngIf="editting && !realtime" class="app-xml-content app-mods-editing"
					#editingPre><code class="app-mods-editing" (input)="checkChanged()" contenteditable="true" [highlight]="mods.original"></code></pre>
				<pre *ngIf="!editting && !realtime" class="app-xml-content"
					#originalPre><code [highlight]="mods.original"></code></pre>
				<!-- <pre *ngIf="!editting && realtime" class="app-xml-content"><code [highlight]="layout.lastSelectedItemMetadata.toMods()"></code></pre>  -->
			</ng-container>
			<div *ngIf="!mods">No PREMIS</div>
		</div>

		<div class="app-premis" *ngIf="state !=='loading' && editorType === 'metadata'">

			<div *ngIf="jsonPremis">
				<div *ngFor="let amdSec of jsonPremis.mets.amdSec">
					<input [(ngModel)]="amdSec['$'].ID" />
					<div *ngFor="let techMD of amdSec.techMD">
						<div>{{ techMD['$'].ID}}</div>
						<div *ngFor="let mdWrap of techMD.mdWrap">
							<input [(ngModel)]="mdWrap['$'].MDTYPE" />
							<div *ngFor="let xmlData of mdWrap.xmlData">
								<div *ngFor="let object of xmlData.object">

									<!-- <xs:element ref="objectIdentifier" maxOccurs="unbounded"/>
									<xs:element ref="preservationLevel" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="significantProperties" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="objectCharacteristics" maxOccurs="unbounded"/>
									<xs:element ref="originalName" minOccurs="0"/>
									<xs:element ref="storage" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="signatureInformation" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="relationship" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="linkingEventIdentifier" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="linkingRightsStatementIdentifier" minOccurs="0" maxOccurs="unbounded"/> -->


									<div>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectIdentifier[0].objectIdentifierType[0]._" 
											[placeholder]="'premis.objectIdentifierType' | translate">
										</mat-form-field>
										
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectIdentifier[0].objectIdentifierValue[0]._" 
											[placeholder]="'premis.objectIdentifierValue' | translate">
										</mat-form-field>
									</div>

									<div>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.preservationLevel[0].preservationLevelValue[0]._" 
											[placeholder]="'premis.preservationLevelValue' | translate">
										</mat-form-field>
									</div>

									<div *ngIf="object.significantProperties">
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.significantProperties[0].preservationLevelValue[0]._" 
											[placeholder]="'premis.significantProperties' | translate">
										</mat-form-field>
									</div>
									
									<div>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectCharacteristics[0].compositionLevel[0]._" 
											[placeholder]="'premis.compositionLevel' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectCharacteristics[0].creatingApplication[0]._" 
											[placeholder]="'premis.creatingApplication' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectCharacteristics[0].fixity[0]._" 
											[placeholder]="'premis.fixity' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectCharacteristics[0].format[0]._" 
											[placeholder]="'premis.format' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.objectCharacteristics[0].size[0]._" 
											[placeholder]="'premis.size' | translate">
										</mat-form-field>
									</div>

									<div *ngIf="object.originalName">
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.originalName._" 
											[placeholder]="'premis.originalName' | translate">
										</mat-form-field>
									</div>
									<div *ngIf="object.storage">
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.storage[0].compositionLevel[0]._" 
											[placeholder]="'premis.storage_compositionLevel' | translate">
										</mat-form-field>
									</div>

									<div *ngIf="object.signatureInformation">
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.signatureInformation[0].compositionLevel[0]._" 
											[placeholder]="'premis.signatureInformation_compositionLevel' | translate">
										</mat-form-field>
									</div>
									
									<div *ngIf="object.relationship">
										
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.relationship[0].relatedEventIdentification[0]._" 
											[placeholder]="'premis.relatedEventIdentification' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.relationship[0].relatedObjectIdentification[0]._" 
											[placeholder]="'premis.relatedObjectIdentification' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.relationship[0].relationshipType[0]._" 
											[placeholder]="'premis.relationshipType' | translate">
										</mat-form-field>
										<mat-form-field >
											<input autocomplete="off" matInput
											[(ngModel)]="object.relationship[0].relationshipSubType[0]._" 
											[placeholder]="'premis.relationshipSubType' | translate">
										</mat-form-field>
									</div>

									<div *ngIf="object.linkingEventIdentifier">
										<div >linkingEventIdentifierType: {{ object.linkingEventIdentifier[0].linkingEventIdentifierType[0]._}}</div>
										<div >linkingEventIdentifierValue: {{ object.linkingEventIdentifier[0].linkingEventIdentifierValue[0]._}}</div>
									</div>

									<div *ngIf="object.linkingRightsStatementIdentifier">{{ object.linkingRightsStatementIdentifier[0].compositionLevel[0]._ }}</div>
								</div>
							</div>
						</div>

					</div>

					<div *ngFor="let digiprovMD of amdSec.digiprovMD; let last = last">
						<div>{{ digiprovMD['$'].ID}}</div>
						<div *ngFor="let mdWrap of digiprovMD.mdWrap">
							<input [(ngModel)]="mdWrap['$'].MDTYPE" />
						</div>
						<div *ngIf="last" (click)="addDigiprovMD(digiprovMD)">+</div>
					</div>
				</div>
			</div>
			<div *ngIf="!jsonPremis">No PREMIS</div>
		</div>
	</div>
</div>

<ng-template #fieldImpl let-data="data">
	<div class="app-editor-field" [class.app-nested]="data.nested" [class.app-usages]="true">

		<div class="app-card" *ngFor="let item of data.children; last as last; first as first; let idx = index"
			[class.app-required]="item.isRequired()" [class.app-warning]="item.validationWarning && !item.isValid()">
			<div class="app-card-header">
				<span [matTooltip]="data.labelKey" class="app-card-title" [class.app-no-collapse]="!data.collapsable">{{ 'mods.' +
					data.labelKey | translate }} </span>
				<button matTooltip="{{ 'common.remove' | translate }}" (click)="removeItem(item)" mat-icon-button>
					<mat-icon>delete</mat-icon>
				</button>
				<button matTooltip="{{ 'editor.info' | translate }}" (click)="openHelpDialog(item)" mat-icon-button>
					<mat-icon>help_outline</mat-icon>
				</button>
				<button [disabled]="last" matTooltip="{{ 'common.move_down' | translate }}" (click)="moveDown(item, idx)"
					mat-icon-button>
					<mat-icon>arrow_drop_down</mat-icon>
				</button>
				<button [disabled]="first" matTooltip="{{ 'common.move_up' | translate }}" (click)="moveUp(item, idx)"
					mat-icon-button>
					<mat-icon>arrow_drop_up</mat-icon>
				</button>
				<ng-container *ngIf="data.collapsable">
					<button class="app-collapse" *ngIf="item.collapsed" matTooltip="{{ 'common.expand' | translate }}"
						(click)="item.switchCollapsed()" mat-icon-button>
						<mat-icon>expand_more</mat-icon>
					</button>
					<button class="app-collapse" *ngIf="!item.collapsed" matTooltip="{{ 'common.collapse' | translate }}"
						(click)="item.switchCollapsed()" mat-icon-button>
						<mat-icon>expand_less</mat-icon>
					</button>
				</ng-container>
				<button matTooltip="{{ 'editor.add_field' | translate }}" (click)="addAfterItem(item)" mat-icon-button>
					<mat-icon>add</mat-icon>
				</button>
				<!-- <ng-template [ngTemplateOutlet]="templateMenu" [ngTemplateOutletContext]="{ item: item  }"></ng-template> -->
			</div>
			<div class="app-card-content" [class.app-collapsed]="data.collapsable && item.collapsed">
				<!-- <ng-template [ngTemplateOutlet]="templateContent" [ngTemplateOutletContext]="{ item: item  }"></ng-template> -->
			</div>

		</div>

	</div>
</ng-template>