<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>

    <app-editor-field *ngIf="item.available('part')" [field]="item.parts" [nested]='true'>
      <ng-template let-part="item" #templateContent>
        <app-field-dropdown field="type" [item]="part" [(value)]='part.attrs["type"]'></app-field-dropdown>
        <app-field-text field="caption" [item]="part" [(value)]="part.caption['_']"></app-field-text>
        <app-editor-field *ngIf="part.available('extent')" [field]="part.extents" [nested]='true'>
          <ng-template let-extent="item" #templateContent>
            <app-field-text field="start" [item]="extent" [(value)]="extent.start['_']"></app-field-text>
            <app-field-text field="end" [item]="extent" [(value)]="extent.end['_']"></app-field-text>
          </ng-template>
        </app-editor-field>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.available('titleInfo')" [field]="item.titleInfos" [nested]='true'>
      <ng-template let-titleInfo="item" #templateContent>
        <app-field-dropdown field="type" [item]="titleInfo" [(value)]='titleInfo.attrs["type"]'></app-field-dropdown>
        <app-field-codebook field="lang" [item]="titleInfo" [options]="codebook.languages" [(value)]="titleInfo.attrs['lang']"></app-field-codebook>
        <app-field-text field="nonSort" [item]="titleInfo" [(value)]="titleInfo.nonSort['_']"></app-field-text>
        <app-field-text field="title" [item]="titleInfo" [(value)]="titleInfo.title['_']"></app-field-text>
        <app-field-text field="subTitle" [item]="titleInfo" [(value)]="titleInfo.subTitle['_']"></app-field-text>
        <app-field-text field="partName" [item]="titleInfo" [(value)]="titleInfo.partName['_']"></app-field-text>
        <app-field-text field="partNumber" [item]="titleInfo" [(value)]="titleInfo.partNumber['_']"></app-field-text>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.available('name')" [field]="item.names" [nested]='true'>
      <ng-template let-name="item" #templateContent>
        <app-field-dropdown field="type" [item]="name" [(value)]='name.attrs["type"]'></app-field-dropdown>
        <app-field-text field="name" [item]="name" [(value)]="name.name['_']"></app-field-text>
        <app-field-text field="given" [item]="name" [(value)]="name.given['_']"></app-field-text>
        <app-field-text field="family" [item]="name" [(value)]="name.family['_']"></app-field-text>
        <app-field-text field="date" [item]="name" [(value)]="name.date['_']"></app-field-text>
        <app-field-text field="termsOfAddress" [item]="name" [(value)]="name.termsOfAddress['_']"></app-field-text>
        <app-field-text field="nameIdentifier" [item]="name" [(value)]="name.nameIdentifier['_']"></app-field-text>
        <app-field-text field="etal" [item]="name" [(value)]="name.etal['_']"></app-field-text>
        <app-field-text field="affiliation" [item]="name" [(value)]='name.affiliation["_"]'></app-field-text>

        <app-editor-field *ngIf="name.roles" [field]="name.roles" class="app-roles" [nested]='true'>
          <ng-template let-role="name" #templateContent>
            <mat-select class="app-no-placeholder" [(ngModel)]='role.role["_"]'>
              <mat-option *ngFor="let role of roles" [value]="role.code">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </ng-template>
        </app-editor-field>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.available('originInfo')" [field]="item.originInfos" [nested]='true'>
      <ng-template let-originInfo="item" #templateContent>
        <app-field-dropdown field="eventType" [item]="originInfo" [(value)]='originInfo.attrs["eventType"]'></app-field-dropdown>
        <app-field-dropdown field="issuance" [item]="originInfo" [(value)]='originInfo.issuance["_"]'></app-field-dropdown>
        <app-field-text field="publisher" [item]="originInfo" [(value)]="originInfo.publisher['_']"></app-field-text>
        <app-field-text field="place" [item]="originInfo" [(value)]="originInfo.place['_']"></app-field-text>
        <app-field-text field="dateIssued" [item]="originInfo" [(value)]="originInfo.dateIssued['_']"></app-field-text>
        <app-field-dropdown field="qualifier" [item]="originInfo" [(value)]='originInfo.dateIssued["$"]["qualifier"]'></app-field-dropdown>
        <app-field-dropdown field="encoding" [item]="originInfo" [(value)]='originInfo.dateIssued["$"]["encoding"]'></app-field-dropdown>
        <app-field-dropdown field="point" [item]="originInfo" [(value)]='originInfo.dateIssued["$"]["point"]'></app-field-dropdown>
        <app-field-text field="dateCreated" [item]="originInfo" [(value)]="originInfo.dateCreated['_']"></app-field-text>
        <app-field-text field="dateOther" [item]="originInfo" [(value)]="originInfo.dateOther['_']"></app-field-text>
        <app-field-text field="copyrightDate" [item]="originInfo" [(value)]="originInfo.copyrightDate['_']"></app-field-text>
        <app-field-text field="edition" [item]="originInfo" [(value)]="originInfo.edition['_']"></app-field-text>

        <app-editor-field *ngIf="originInfo.available('frequency')" [field]="originInfo.frequencies" [nested]='true'>
          <ng-template let-frequency="originInfo" #templateContent>
            <app-autocomplete field="authority" [item]="frequency" [(value)]='frequency.attrs["authority"]'></app-autocomplete>
            <app-field-text field="value" [item]="frequency" [(value)]="frequency.modsElement['_']"></app-field-text>
          </ng-template>
        </app-editor-field>
      </ng-template>
    </app-editor-field>

  </ng-template>
</app-editor-field>

