<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar app-view-description">
    <div fxFlex>
			<div class="app-toolbar-label">
				<span class="app-text">{{ 'editor.song.title' | translate }}</span>
			</div>
		</div>
		<div>
      <button mat-icon-button (click)="onRevert()" [disabled]="!audioPage || !hasChanged()"  [matTooltip]="'button.refresh' | translate">
        <mat-icon>replay</mat-icon>
      </button>
      <button  mat-icon-button (click)="onSave()" [disabled]="!audioPage || !hasChanged()" [matTooltip]="'button.save' | translate" >
        <mat-icon>save</mat-icon>
      </button>
		</div>
  </div>
  <div fxFlex class="app-oa-y">
    <mat-progress-bar mode="indeterminate" *ngIf="state ==='loading' || state ==='saving'" class="app-progress-bar"></mat-progress-bar>
    <div class="app-editor-container" *ngIf="state !=='loading'">
      <div class="app-form-wrapper app-top-level">
        <div class="app-gap-fixer"></div>
        <div class="app-form">
          <div class="app-form-content">
            <mat-form-field class="app-field-col" *ngIf="config.showPageIndex" [class.app-invalid]="!audioPage.index">
              <span class="app-usage" [class.app-help-off]="true">M</span>
              <input (focusout)="removeFocus()" (keyup.enter)="onSaveFrom('pageIndex')" autocomplete="off" matInput [placeholder]="'editor.song.index' | translate" [(ngModel)]="audioPage.index" #pageIndex>
            </mat-form-field>
            <mat-form-field class="app-field-col">
              <span class="app-usage" [class.app-help-off]="true">O</span>
              <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" autocomplete="off" matInput [(ngModel)]='audioPage.note' [placeholder]="'editor.song.note' | translate"></textarea>
            </mat-form-field>

            <div class="app-form-wrapper" *ngIf="config.showPageIdentifiers">
              <div class="app-gap-fixer"></div>
              <div class="app-form" *ngFor="let identifier of audioPage.identifiers; index as index; last as last; first as first;">
                <div class="app-form-header" fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex>
                    <span class="app-form-title app-pl-2">{{ 'editor.song.identifier' | translate }}</span>
                  </div>
                  <div>
                    <button [matTooltip]="'editor.song.add_identifier' | translate" (click)="audioPage.addIdentifierAfter(index)" mat-icon-button>
                      <mat-icon>add</mat-icon>
                    </button>
                    <button [disabled]="first" [matTooltip]="'common.move_up' | translate" (click)="audioPage.moveIdentifierUp(index)" mat-icon-button>
                      <mat-icon>arrow_drop_up</mat-icon>
                    </button>
                    <button [disabled]="last" [matTooltip]="'common.move_down' | translate" (click)="audioPage.moveIdentifierDown(index)" mat-icon-button>
                      <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <button [matTooltip]="'common.remove' | translate" (click)="audioPage.removeIdentifier(index)" mat-icon-button>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="app-form-content">
                  <mat-form-field class="app-field-col">
                    <mat-select [(ngModel)]='identifier.type' [placeholder]="'editor.identifier.type' | translate">
                      <mat-option *ngFor="let identifier of codebook.identifiers" [value]="identifier.code">{{ identifier.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="app-field-col">
                    <input autocomplete="off" matInput [(ngModel)]='identifier.value' [placeholder]="'editor.identifier.title' | translate">
                  </mat-form-field>
                </div>
              </div>
              <div class="app-gap-fixer"></div>
            </div>
          </div>
        </div>
        <div class="app-gap-fixer"></div>
      </div>
    </div>
  </div>
</div>