<mat-progress-bar mode="indeterminate" *ngIf="state ==='saving'" class="app-progress-bar"></mat-progress-bar>
<h1 mat-dialog-title>{{ 'dialog.newPassword.title' | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field class="app-w-100">
    <input type="password" autocomplete="off" matInput [placeholder]="'desc.newPassword' | translate" [(ngModel)]="password1">
  </mat-form-field>
  <mat-form-field class="app-w-100">
    <input type="password" autocomplete="off" matInput [placeholder]="'desc.passwordConfirmation' | translate" [(ngModel)]="password2">
  </mat-form-field>
  <mat-card *ngIf="error" class="app-alert app-warn">
    <mat-icon>warning</mat-icon>
    {{ 'dialog.newPassword.alert.error' | translate }}
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onUpdate()" [disabled]="!validate()" >{{ 'button.save' | translate }}</button>
  <button mat-flat-button mat-dialog-close="close" >{{ 'button.cancel' | translate }}</button>
</div>