<h1 mat-dialog-title>{{ 'settings.profile.new_password.title' | translate }}</h1>

<div mat-dialog-content style="width: 75vw; max-width:500px;">
  <mat-form-field >
    <input type="password" autocomplete="off" matInput [placeholder]="'settings.profile.new_password.password' | translate" [(ngModel)]="password1">
  </mat-form-field>
  <mat-form-field >
    <input type="password" autocomplete="off" matInput [placeholder]="'settings.profile.new_password.password_confirmation' | translate" [(ngModel)]="password2">
  </mat-form-field>
  <div class="app-failure" *ngIf="error">{{ error | translate }}</div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onUpdate()" [disabled]="!validate()" >{{ 'common.save' | translate }}</button>
  <button mat-raised-button color="default" mat-dialog-close="close" >{{ 'common.cancel' | translate }}</button>
  <mat-spinner *ngIf="state=='saving'"
    style="margin-left: auto"
    [strokeWidth]="3" 
    [diameter]="30">
  </mat-spinner>
</div>