<app-editor-field [field]="field" [title]="'editor.chronicle.note.title'">
  <ng-template let-item="item" #templateContent>
    
    <mat-form-field class="app-full-width">
      <mat-select [(ngModel)]='item.attrs["type"]' placeholder="{{ 'editor.note.type' | translate }}">
        <mat-option *ngFor="let type of types" [value]="type.code">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="app-full-width">
      <textarea 
      cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"
      autocomplete="off" matInput [(ngModel)]='item.modsElement["_"]' placeholder="{{ 'editor.chronicle.note.title' | translate }}"></textarea>
    </mat-form-field>

  </ng-template>
</app-editor-field>
  