// --- ROOT ---

@import 'sass/app-variables.scss';
@import "sass/app-mixins";
@import 'sass/app-global.scss';
@import 'sass/app-mat-override.scss';
@import 'sass/app-layout.scss';


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-track {
  background: $app-scrollbar-track-bg;
}
 
::-webkit-scrollbar-thumb {
  background: $app-scrollbar-thumb-bg; 
}




.center-spinner {
  position: absolute !important;
  top: 50%;
  left: calc(50% - 30px);
}

.app-card {
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  background: #fff;
  padding: 16px;
  .app-card-title {
    color: #61718c;
    font-size: 18px;
    margin-bottom: 16px;
  }
  .app-card-content {
    overflow: hidden;
    .warn-message {
      color: $app-color-warn;
      margin: 5px 0 10px 0;

    }
    mat-form-field {
      width: 100%;
    }
    mat-checkbox {
      display: block;
    }
  }
  .app-card-actions {
    mat-spinner {
      float: right;
      margin-top: 5px;
    }

  }
}

.app-table {
  margin: 0;
  background: $table-color-bg;
  padding: 0;
  // -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  // box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  .app-row {
    border-bottom-color: rgba(0,0,0,.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 20px;
    display: flex;
    height: 40px;
    line-height: 40px;
    color: $table-color-fg;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;
    &.app-pointer {
      cursor: pointer;
    }
    &:hover {
      background: $app-color-item-hover;
    }
    &.app-header {
      // color: rgba(0,0,0,.63);
      font-size: 12px;
      height: 44px;
      line-height: 44px;
      &:hover {
        background: $table-color-bg;
      }
      .app-header-sortable {
        cursor: pointer;
      }
    }
    &.app-selected {
      background: $app-color-item-selected;
      border-bottom-color: #ffffff2e;
    }

    &.active {
      background: $table-color-bg-active;
      &:hover {
        background: $table-color-bg-hover;
      }
    }
    // &.error {
    //   background: #ffdada;
    //   &:hover {
    //     background: #f1babc;
    //   }
    // }  
    // &.warning {
    //   background: #ffd295;
    //   &:hover {
    //     background: #f1c283;
    //   }
    // }  
    input.app-input {
      height: 25px;
      padding: 5px;
      width: 100px;
      outline: none;
      font-size: 13px;
      border: 1px solid #888;
      height: 26px;
      margin-top: 11px;
      &:focus {
        border-color: $app-color-primary;
      }
      &.active {
        background: $app-color-primary;
        color: #fff;
      }
      &.error {
        color: #fff;
        background: $app-color-warn;
      }
      &.warning {
        color: #fff;
        background: #ef900f;
      }
    }
  }
  .app-actions {
    padding: 16px;
  }
  .app-paginator {
    border-top: 1px solid #e0e0e0;
  }
}

.mat-paginator-container {
  min-height: 40px !important;
}

.app-warn-message {
  color: white;
  line-height: 36px;
  background: $app-color-warn;
  padding: 8px 21px;
  border-radius: 25px;
}

.app-warn-text {
  color: $app-color-warn;
}

.app-editor-wrapper {
  .app-content {
    .app-editor-content-wrapper {
      height: 100%;
      position: relative;
      .app-editor-toolbar {
        background: $app-color-primary;
        min-height: 34px;
        padding: 0 6px;
        // overflow: hidden;
        // overflow: overlay;
        .app-label {
          line-height: 34px;
          margin-left: 8px;
          color: #ddd;
          float: left;
          font-size: 15px;
        }
        .app-actions-right {
          float: right;
          .app-multibuttons {
            float: left;
            position: relative;
            .app-floating-menu {
              display: none;
              &:hover {
                display: block
              }
              background-color: #466aa5;
              width: 42px;
              // height: 72px;
              position: absolute;
              left: -3px;
              top: 32px;
              z-index: 99;
              border-right: 1px solid #385585;
              border-left: 1px solid #385585;
              border-bottom: 1px solid #385585;
              .app-action {
                float: none;
                margin: 0px 5px;
              }
              .app-divider {
                background: #385585;
                width: 40px;
                margin: 2px 0px;
                height: 1px;
              }
            }
            &:hover {
              .app-floating-menu {
                display: block
              }
            }
          }
        }
        .app-action {
          color: #fff;
          display: block;
          line-height: 30px;
          height: 30px;
          float: left;
          width: 30px;
          margin: 1px 3px;
          &.app-inactive {
            color: #ffffff57;
          }
          &.app-disabled {
            color: #fff3;
            cursor: default;
          }
          .mat-icon {
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            width: 20px;
          }
        }
        .app-divider {
          display: block;
          float: left;
          height: 30px;
          background: #385585;
          width: 1px;
          margin: 2px;
        }
      }
      .app-editor-content {
        height: calc(100% - 34px);
      }
    }
  }
}


.mat-select-panel {
  background: $app-color-lightnes;
  .mat-option {
    &.mat-selected {
      // // background: rgba(255, 255, 255, 0.12);
      // background: rgba(0, 0, 0, 0.3);
      // color: #ffffff !important;
    }
  }
}

.mat-menu-panel {
  background: $app-color-lightnes;
}


.mat-dialog-actions {
  margin-bottom: -16px !important;
}

// .mat-select-underline {
//   background-color: rgba(255, 255, 255, 0.2) !important;
// }

mat-form-field textarea.mat-input-element {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}




.as-split-gutter {
  &:hover {
    background-color: #b9b9b9 !important;
  }
}



.mat-select-panel {
  max-height: 450px !important;
}














.app-editor-field {
  &.app-nested {
    margin: -4px 4px 4px 0;
    clear: both;
  }
  // :host ::ng-deep {
  //   mat-tab-group mat-tab-body-wrapper {
  //     height: 100%;
  //     overflow: auto;
  //   }
  //   mat-tab-group {
  //     height: 100%;
  //     overflow: hidden;
  //   }
  // }

  &.app-usages {
    mat-form-field {
      .app-usage {
        position: absolute;
        top: -13px;
        right: 0;
        color: #456aa5;
        font-size: 10px;
        cursor: help;
        &.app-help-off {
          cursor: text;
          user-select: none;
        }
      }
      &.app-invalid {
        .app-usage {
          color: #f44336;
        }
        .mat-form-field-label {
          color: #f44336 !important;
        }
      }
    }
  }

  overflow: hidden;
  padding: 2px;
  .app-card {
    box-shadow: none;
    background: #ffffff;
    margin: 3px;
    border: 1px solid #555;
    padding: 0;
    .app-card-header {
      background: #fff;
      height: 40px;
      border-bottom: 1px solid #ebebeb;
      .app-card-title {
        color: #333;
        line-height: 40px;
        font-size: 16px;
        &.app-no-collapse {
          margin-left: 16px;
        }
      }
      button {
        float: right;
        color: #888;
        &:hover {
          color: #222;
        }
        &.app-collapse {
          float: left;
        }
        &.mat-primary {
          color: $app-color-primary;
        }
        &[disabled] {
          color: #cecece !important;
        }
        mat-icon {
          font-size: 22px;
          width: 22px;
          height: 22px;
          line-height: 22px;
        }
      }
      .app-header-divider {
        height: calc(100% - 10px);
        float: right;
        margin: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        width: 1px;
        background: #dddddd;
      }
      .app-header-text {
        float: right;
        line-height: 40px;
        color: #656565;
        font-size: 13px;
        display: block;
        margin-right: 6px;
      }
    }
    .app-card-content {
      padding-top: 15px;
      padding-left: 8px;
      &.app-collapsed {
        display: none;
      }
      mat-form-field {
        font-size: 15px;
      }
    }
    &.app-warning {
      border-color: #f65144;
      &> .app-card-header > .app-card-title {
        color: #f65144;
      }
    }
  }
  .app-btn-add {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  // mat-form-field, app-field-text, app-field-codebook, app-field-dropdown, app-autocomplete {
    .app-field-col {
      display: block;
      float: left;
      padding-right: 8px;
      padding-left: 8px;
      width: 100%;
      &.app-field-col-1 {
        width: 100%;
      }
      &.app-field-col-2 {
        width: 50%;
      }
      &.app-field-col-3 {
        width: 33.33%;
      }
      &.app-field-col-4 {
        width: 25%;
      }
    }


    // &.app-full-width {
    //   width: 100%;
    //   // margin-top: -5px;
    // }
    // &.app-half-left {
    //   width: calc(50% - 8px);
    // }
    // &.app-half-right {
    //   width: calc(50% - 8px);
    //   margin-left: 16px;
    // }
    // &.app-third-1 {
    //   width: calc(33.3333333% - 11px);
    // }
    // &.app-third-2 {
    //   width: calc(33.3333333% - 11px);
    //   margin-left: 16px;
    // }
    // &.app-third-3 {
    //   width: calc(33.3333333% - 11px);
    //   margin-left: 16px;
    // }
  // }


    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #999;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      margin-bottom: -4px;
      font-size: 15px;
    }
    .mat-form-field input {
      // color: #eee;
      color: #000
    }
    .mat-form-field-infix {
      border-top: 7px solid transparent;
    }
    .mat-form-field-underline {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
    .mat-select.app-no-placeholder {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 15px;
      .mat-select-value {
        height: 30px;
        line-height: 30px;
      }
    }
  


  .app-label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }
}

a, button {
  &.cdk-program-focused {
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

.mat-tooltip-panel {
  .mat-tooltip {
    margin: 10px !important;
    font-size: 12px !important;
  }
}

.app-snackbar-success .mat-simple-snackbar-action {
  color: green;
}

/* .app-snackbar-error .mat-simple-snackbar {
  font-weight: bolder;
  padding: 24px;
  font-size: 1.5em;
} */


/* .app-snackbar-error .mat-simple-snackbar-action {
  color: black;
} */

/* .app-snackbar-error.mat-snack-bar-container {
  max-width: 90% !important;
  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  margin-bottom: 1rem !important; 
  padding: 10px !important; // spacing between the text and boundary
  background-color: $app-color-warn;
  color: white;
} */

.app-alert-error {
  color:  $app-color-warn;
}

app-new-metadata-dialog .app-editor-field .app-required {
  border-color: #2309bb !important;
}