@use "angular-material-css-vars" as mat-css-vars;
@use 'scss/app-variables';
@use 'scss/app-layout';
@use 'scss/app-flex-layout';
@use 'scss/app-global';
@use 'scss/app-mat-override';
@use 'scss/app-form';
@include mat-css-vars.init-material-css-vars();

@import 'highlight.js/styles/atom-one-light.css';