
@import 'highlight.js/styles/atom-one-light.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-disabled {
    pointer-events: none;
    opacity: .4;
}

.app-inactive {
    opacity: .4;
}

.app-selected {
    background-color: rgb(147, 160, 232) !important;
}
