// --- GLOBAL ---

@use "app-mixins";

@include app-mixins.setGap();

// states
.app-disabled {
  pointer-events: none;
  opacity: .4;
}

.app-inactive {
  opacity: .4;
}

// cleaners
.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-cursor-pointer {
  cursor: default;
}

.app-clean-shadow {
  box-shadow: none !important;
}

.app-clean-max-height {
  max-height: inherit !important;
}

.app-dn {
  display: none !important;
}

.app-d-contents {
  display: contents;
}

.app-vh {
  visibility: hidden;
}

// common
.app-cursor-pointer {
  cursor: pointer;
}
  
.app-oh {
  overflow: hidden;
}

.app-oa-y {
  overflow-y: auto !important;
}

.app-oa-x {
  overflow-x: auto !important;
}

.app-ws-pw {
  white-space: pre-wrap;
}

.app-w-100 {
  width: 100% !important;
}

.app-h-100 {
  height: 100% !important;
}

.app-maxh-100 {
  max-height: 100% !important;
}

.app-text-left {
  text-align: left !important;
}

.app-text-right {
  text-align: right !important;
}

.app-text-center {
  text-align: center;
}

.app-text-lowercase {
  text-transform: lowercase;
}

.app-va-middle {
  vertical-align: middle;
}

.app-va-top {
  vertical-align: top;
}

.app-va-bottom {
  vertical-align: bottom;
}

.app-va-text-botttom {
  vertical-align: text-bottom;
}

.app-va-sub {
  vertical-align: sub;
}

.app-m-auto {
  margin: auto;
}

.app-pipe {
  margin: 0 8px 0 8px;
  border-left: 1px solid var(--app-color-gray-4);
}

.app-border-wrapper {
  border: 1px solid var(--app-default-border-color);
}

// breadcrumbbar
.app-breadcrumbsbar {
  min-height: var(--app-breadcrumbsbar-height);
  background-color: var(--app-toolbar-bg-color);
  color: var(--app-toolbar-color);
  border-bottom: 1px solid var(--app-toolbar-border-color);
  padding: 0 16px;

  .mat-mdc-button-base {
    @extend .app-h-100, .app-clean-radius;;

    &.app-active {
      border-bottom: 2px solid var(--app-color-primary);
    }
  }

  .mat-mdc-icon-button {
    &.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: var(--app-breadcrumbsbar-height);
      width: var(--mdc-icon-button-state-layer-size);
      height: var(--mdc-icon-button-state-layer-size);
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .mat-mdc-button-persistent-ripple {
      @extend .app-clean-radius;
    }
  }

  .app-inner {
    @extend .app-h-100;

    &.app-view-border-right,
    app-search &,
    app-settings & {
      border-right: 1px solid var(--app-toolbar-border-color);
    }

    .mat-icon {
      //@extend .app-mr-1;
      @include app-mixins.setIcon(20, $position: sub);
    }

    .app-separator {
      @extend .app-ml-2, .app-mr-2;
      opacity: .5;
    }

    .app-last {
      opacity: .6;
    }

    .app-text-cutter {
      max-width: 300px;
    }
  }
}

// toolbar
.app-toolbar {
  min-height: var(--app-toolbar-height);
  background-color: var(--app-toolbar-bg-color);
  color: var(--app-toolbar-color);
  border-bottom: 1px solid var(--app-toolbar-border-color);

  .mat-mdc-button-base {
    @extend .app-clean-radius;

    &.app-active {
      background-color: var(--app-toolbar-button-bg-active);
    }

    &:not(.mat-primary, .mat-mdc-button-disabled) {
      color: var(--app-toolbar-color) !important;
    }
    
    .mat-icon {
      @include app-mixins.setIcon(20);
    }
  }

  .mat-mdc-icon-button {
    &.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: 34px;
      width: var(--mdc-icon-button-state-layer-size);
      height: var(--mdc-icon-button-state-layer-size);
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
    }

    .mat-mdc-button-persistent-ripple {
      @extend .app-clean-radius;
    }

    .app-text-icon {
      font-size: 18px;
    }
  }
}


// form bar
.app-formbar {
  .mat-mdc-form-field {
    &.app-model,
    &.app-organization {
      width: 260px;
    }

    &.app-owner,
    &.app-processor {
      width: 180px;
    }
  }
}


// editor content
.app-editor-content {
  &:focus {
    outline: none !important;
  }

  // common behavior
  .mat-table,
  .app-view-grid,
  .app-view-icon {
    ::selection {
      background: transparent;
    }

    ::-moz-selection {
      background: transparent;
    }
  }

  .app-view-icon {
    padding: 2px 0;

    .app-item-wrapper {
      @extend .app-cursor-pointer;
      padding: 2px;

      .app-item {
        @extend .app-h-100;
        background-color: var(--app-color-gray-2);
        border: 1px solid var(--app-default-border-color);

        .app-item-thumb {
          //background-size: cover;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: var(--app-color-gray-2);
          background-position-x: center;
          background-position-y: center; 
        }

        .app-item-label {
          @extend .app-text-center, .app-p-1;

          .app-text {
            line-height: normal;
            max-height: 32px;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
          }
        }
      }

      &.app-selected {
        .app-item {
          background-color: var(--app-color-item-selected);

          .app-item-thumb {
            opacity: .6;
          }
        }
      }

      &.app-invalid {
        .app-item {
          background-color: rgba(var(--app-color-item-invalid-no-rgb), .1);

          .app-item-label {
            .mat-icon {
              @include app-mixins.setIcon(20, var(--app-color-item-invalid), sub);
            }
          }
        }
      }

      &.app-repre {
        .app-item {
          position: relative;
          
          .app-item-thumb {
             &::after {
               content: '';
               width: 0px;
               height: 0px;
               border-style: solid;
               border-width: 15px 15px 0 0;
               border-color: var(--app-color-gray-6) transparent transparent transparent;
               transform: rotate(0deg);
               left: 0;
               top: 0;
               position: absolute;
             }
           }

           .app-item-label {
            font-weight: 700;
           }
        }
      }
    }
  }
}


