// --- FORM ---

@use "app-mixins";

.app-form-display-el {
  z-index: 10;

  &.app-scrolling {
    box-shadow: 0px 17px 16px -15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 17px 16px -15px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 17px 16px -15px rgba(0,0,0,0.4);
  }

  .mat-mdc-form-field {
    .mat-mdc-form-field-bottom-align {
      --mat-form-field-subscript-text-line-height: 0;
      height: 0;

      &::before {
        height: 0;
      }
    }
  }
}

.app-editor-container {
  background-color: var(--app-form-bg-color);

  .app-gap-fixer {
    height: var(--app-form-gap);
  }

  .app-form-wrapper {
    &.app-top-level {
      & > .app-form {
        // set form highlighting only if it's enabled in settings / profile
        .app-form-highlighting & {
          -webkit-box-shadow: 0px 2px 10px 0px rgba(202, 202, 202);
          -moz-box-shadow: 0px 2px 10px 0px rgba(202, 202, 202);
          box-shadow: 0px 2px 10px 0px rgb(202, 202, 202);
          border-color: var(--app-form-border-color-top-level);
          border-width: 2px;
        }

        & > .app-form-header {
          .app-form-title {
            font-weight: var(--app-form-title-weight);
          }
        }
      }
    }

    .app-form {
      background-color: var(--app-color-lightnes);
      border: 1px solid var(--app-form-border-color);
      //margin: 0 var(--app-form-gap); 
      margin: 0 4px;

      .app-form-header {
        height: var(--app-form-header-height);
        border-bottom: 1px solid var(--app-form-border-color);
        align-items: center;

        .app-form-title {
          margin-right: 4px;
        }

        .mat-mdc-icon-button {
          &.mat-mdc-button-base {
            --mat-icon-button-state-layer-size: var(--app-form-header-height);
            width: var(--mat-icon-button-state-layer-size);
            height: var(--mat-icon-button-state-layer-size);
            padding: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 !important;
          }

          &:not(.mat-primary) {
            color: var(--app-form-header-button-color);
          }

          .mat-icon {
            @include app-mixins.setIcon(20);
          }

          .mat-mdc-button-persistent-ripple {
            border-radius: 0 !important;
          }
        }

        .app-marker {
          font-size: 10px;
          color: var(--app-color-primary);
        }
      }

      .app-form-content {
        padding: var(--app-form-gap) 4px 0 4px; // old var(--app-form-gap) 0 0 0;
        overflow: hidden;

        &.app-expanded {
          display: block;
        }

        &.app-collapsed {
          display: none;
        }

        .mat-mdc-form-field {
          width: 100%;

          &.app-field-col {
            padding: 0 4px; // old 0 8px;

            &.app-field-col-2 {
              width: 50%;
            }

            &.app-field-col-3 {
              width: 33.3333%;
            }

            &.app-field-col-4 {
              width: 25%;
            }
          }

          .mat-mdc-form-field-icon-suffix {
            align-self: baseline;

            .mat-mdc-icon-button {
              &.mat-mdc-button-base {
                --mat-icon-button-state-layer-size: 16px; // puvodne 14px - fix issue #768
                padding: 0;

                .app-text-icon {
                  font-size: 14px;
                }
              }
            }
          }

          .mat-mdc-form-field-bottom-align {
            --mat-form-field-subscript-text-line-height: 0;
            height: var(--app-form-gap);

            &::before {
              height: 0;
            }
          }

          .app-usage {
            position: absolute;
            top: 0;
            right: -3px;
            color: var(--app-color-primary);
            font-size: 10px;
            cursor: help;
            z-index: 1062;
            background: var(--app-color-lightnes);
            padding: 0 4px;
            line-height: 12px;
            font-weight: 500;

            .app-form-view-outline & {
              top: -6px;
            }

            &.app-suffix-exist {
              right: -25px;

              .app-form-view-outline & {
                right: -21px;
              }
            }
          }

          .app-slide-toogle {
            position: absolute;
            right: 0;
            bottom: 4px;

            .app-form-view-outline & {
              right: -8px;
            }
          }
        }
      }
    }
  }
}

