// --- GLOBAL ---

@use "app-mixins";

@include app-mixins.setGap();

// states
.app-disabled {
  pointer-events: none;
  opacity: .4;
}

.app-inactive {
  opacity: .4;
}

.app-selected {
  background-color: var(--app-selected-row-color) !important;
}

// cleaners
.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-cursor-pointer {
  cursor: default;
}

.app-clean-shadow {
  box-shadow: none !important;
}

.app-clean-max-height {
  max-height: inherit !important;
}

.app-dn {
  display: none !important;
}

.app-d-contents {
  display: contents;
}

.app-vh {
  visibility: hidden;
}

// common
.app-cursor-pointer {
  cursor: pointer;
}
  
.app-oh {
  overflow: hidden;
}

.app-oa-y {
  overflow-y: auto !important;
}

.app-oa-x {
  overflow-x: auto !important;
}

.app-ws-pw {
  white-space: pre-wrap;
}

.app-w-100 {
  width: 100% !important;
}

.app-h-100 {
  height: 100% !important;
}

.app-maxh-100 {
  max-height: 100% !important;
}

.app-text-left {
  text-align: left !important;
}

.app-text-right {
  text-align: right !important;
}

.app-text-center {
  text-align: center;
}

.app-text-lowercase {
  text-transform: lowercase;
}

.app-va-middle {
  vertical-align: middle;
}

.app-va-top {
  vertical-align: top;
}

.app-va-bottom {
  vertical-align: bottom;
}

.app-va-text-botttom {
  vertical-align: text-bottom;
}

.app-va-sub {
  vertical-align: sub;
}

.app-m-auto {
  margin: auto;
}

.app-pipe {
  margin: 0 8px 0 8px;
  border-left: 1px solid var(--app-gray-4);
}

.app-border-wrapper {
  border: 1px solid var(--app-default-border-color);
}

// toolbar
.app-toolbar {
  min-height: var(--app-toolbar-height);
  background-color: var(--app-toolbar-bg-color);
  color: var(--app-toolbar-color);

  .mat-mdc-button-base {
    @extend .app-clean-radius;
    color: var(--app-toolbar-color) !important;

    .mat-icon {
      @include app-mixins.setIcon(20);
    }
  }

  .mat-mdc-icon-button {
    .mat-mdc-button-persistent-ripple {
      @extend .app-clean-radius;
    }
  }

  &.app-view-breadcrumbs {
    min-height: var(--app-toolbar-view-breadcrumbs);
    border-bottom: 1px solid var(--app-toolbar-border-color);
    padding: 0 16px;

    .mat-mdc-button-base {
      @extend .app-h-100;

      &.app-active {
        border-bottom: 2px solid var(--app-color-primary);
      }
    }

    .app-inner {
      @extend .app-h-100, .app-pr-4;
  
      &.app-view-border-right,
      app-search &,
      app-settings & {
        border-right: 1px solid var(--app-toolbar-border-color);
      }
  
      .mat-icon {
        @extend .app-mr-1;
        @include app-mixins.setIcon(20, $position: sub);
      }
  
      .app-separator {
        @extend .app-ml-2, .app-mr-2;
        opacity: .5;
      }
  
      .app-last {
        opacity: .6;
      }
  
      .app-text-cutter {
        max-width: 300px;
      }
    }
  }
}


