// --- MATERIAL OVERRIDE ---

@use "app-mixins";

// card
.mat-mdc-card {
  &.app-alert {
    @include app-mixins.setAlertCard();
    border-width: 1px;
    border-style: solid;
    border-color: var(--app-gray-3);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

    .mat-icon {
      @include app-mixins.setIcon(18);
      flex: 1 1 26px;
      box-sizing: border-box;
      max-width: 26px;
      min-width: 26px;
    }

    .app-text {
      word-break: break-all;
    }
  }

  .mat-mdc-card-actions {
    padding: 0 16px 16px 16px;
  }
}

// paginator
.mat-mdc-paginator {
  .app-toolbar & {
    background-color: transparent;
  }

  .app-oa-y & {
    position: sticky;
    bottom: 0;
  }
}