<app-editor-field [field]="field">
  <ng-template let-item="item" #templateMenu>
    <button matTooltip="{{ 'editor.author.' + (item.isPrimary() ? 'unset_primary' : 'set_primary') | translate }}" [color]="item.isPrimary() ? 'primary' : ''" (click)="item.switchPrimary()" mat-icon-button>
      <mat-icon>{{ item.isPrimary() ? 'star' : 'star_outline' }}</mat-icon>
    </button>
    <button (click)="onLoadFromCatalog(item)" [matTooltip]="'editor.metadata.catalog' | translate" mat-icon-button>
      <mat-icon>local_library</mat-icon>
    </button>
    <span class="app-pipe"></span>
  </ng-template>

  <ng-template let-item="item" #templateContent>
    <app-field-dropdown field="type" [item]="item" [(value)]='item.attrs["type"]'></app-field-dropdown>
    <app-editor-field *ngIf="item.available['namePart']" [field]="item.nameParts" [nested]='true'>
      <ng-template let-namePart="item" #templateContent>
        <app-field-dropdown field="type" [item]="namePart" [(value)]='namePart.attrs["type"]'></app-field-dropdown>
        <app-field-text field="value" [item]="namePart" [(value)]='namePart.modsElement["_"]'></app-field-text>
      </ng-template>
    </app-editor-field>
    <app-field-text field="nameIdentifier" [item]="item" [(value)]="item.nameIdentifier['_']"></app-field-text>
    <app-field-text field="nameIdentifierOrcId" [item]="item" [(value)]="item.nameIdentifierOrcId['_']"></app-field-text>
    <app-field-text field="etal" [item]="item" [(value)]="item.etal['_']"></app-field-text>
    <app-field-text field="affiliation" [item]="item" [(value)]='item.affiliation["_"]'></app-field-text>
    <app-editor-field *ngIf="item.available['displayForm']" [field]="item.displayForms" [nested]='true'>
      <ng-template let-displayForm="item" #templateContent>
        <app-field-text field="value" [item]="displayForm" [(value)]='displayForm.modsElement["_"]'></app-field-text>
      </ng-template>
    </app-editor-field>
    <app-editor-field *ngIf="item.available['description']" [field]="item.descriptions" [nested]='true'>
      <ng-template let-description="item" #templateContent>
        <app-field-text field="value" [item]="description" [(value)]='description.modsElement["_"]'></app-field-text>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.roles" [field]="item.roles" class="app-roles" [nested]='true'>
      <ng-template let-role="item" #templateContent>
        <mat-select class="app-no-placeholder" [(ngModel)]='role.role["_"]' [formControl]="role.controls['roles']">
          <mat-option *ngFor="let role of roles" [value]="role.code">
             {{ role.name }} ({{ role.code }})
          </mat-option>
        </mat-select>
      </ng-template>
    </app-editor-field>

  </ng-template>
</app-editor-field>



