<app-editor-field [field]="field">
  
  <ng-template let-item="item" #templateMenu>
      <div class="app-header-divider"></div>

      <button (click)="onLoadFromCatalog(item)" [matTooltip]="'editor.metadata.catalog' | translate" mat-icon-button>
        <mat-icon>local_library</mat-icon>
      </button>

      <button [disabled]="!item.canSplitName()" matTooltip="{{ 'editor.author.split_btn' | translate }}" (click)="item.splitName()" mat-icon-button>
        <mat-icon>play_for_work</mat-icon>
      </button>

      <button matTooltip="{{ 'editor.author.' + (item.isPrimary() ? 'unset_primary' : 'set_primary') | translate }}" [color]="item.isPrimary() ? 'primary' : ''" (click)="item.switchPrimary()" mat-icon-button>
        <mat-icon>{{ item.isPrimary() ? 'star' : 'star_outline' }}</mat-icon>
      </button>

      <ng-container *ngIf="item.nameIdentifier">
        <div class="app-header-divider"></div>
        <div class="app-header-text">{{ item.nameIdentifier }}</div>
      </ng-container>
  </ng-template>

  <ng-template let-item="item" #templateContent>

    <app-field-text class="app-full-width" field="name" [item]="item" [(value)]="item.name['_']" ></app-field-text>
    <app-field-text class="app-half-left" field="given" [item]="item" [(value)]="item.given['_']" ></app-field-text>
    <app-field-text class="app-half-right" field="family" [item]="item" [(value)]="item.family['_']" ></app-field-text>
    <app-field-text class="app-half-left" field="date" [item]="item" [(value)]="item.date['_']" ></app-field-text>
    <app-field-dropdown class="app-half-right" field="type" [item]="item" [(value)]='item.attrs["type"]'></app-field-dropdown>
    
    <app-editor-field *ngIf="item.roles" [field]="item.roles" class="app-roles" [nested]='true'>
      <ng-template let-role="item" #templateContent>
        <mat-select class="app-no-placeholder" [(ngModel)]='role.role["_"]'>
          <mat-option *ngFor="let role of roles" [value]="role.code">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </ng-template>
    </app-editor-field>

  </ng-template>
</app-editor-field>

    

