/* 

.name-wrapper {
  height: 57px;
  .full-name {
    width: calc(100% - 40px);
    display: block;
  }
  .btn-split-name {
    float: right;
    width: 40px;
  }
}
::ng-deep.app-card .app-roles {
  .app-card-content {
    padding: 5px 5px 0 10px!important;
    margin-bottom: -10px !important;
  }
} */
