<h1 mat-dialog-title>{{ 'dialog.changeModel.title' | translate }}</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="8px">
    <button *ngFor="let dest of data.dest" mat-flat-button color="primary" (click)="change(dest)">{{ 'dialog.changeModel.action' | translate: {value1: 'model.model:' +  dest.originmodel | translate, value2: 'model.model:' +  dest.model | translate} }}</button>
  </div>
</div>
<div mat-dialog-actions cdkFocusRegionstart>
  <button mat-stroked-button mat-dialog-close="close">{{ 'button.close' | translate }}</button>
</div>
