<div class="app-editor-content-wrapper">

    <div class="app-editor-toolbar">
        <div class="app-label">Obrázek</div>
        <div class="app-actions-right">

            <button class="app-action" [class.app-inactive]="!positionLock" matTooltip="{{ 'viewer.tooltip.' + (positionLock ? 'unlock' : 'lock') | translate }}" (click)="onSwitchLock()" mat-icon-button>
                <mat-icon>lock</mat-icon>
            </button>

            <div class="app-divider"></div>

            <button class="app-action" (click)="zoomIn()" [matTooltip]="'viewer.tooltip.zoomIn' | translate" mat-icon-button>
                <mat-icon>zoom_in</mat-icon>
            </button>
            <button class="app-action" (click)="zoomOut()" [matTooltip]="'viewer.tooltip.zoomOut' | translate" mat-icon-button>
                <mat-icon>zoom_out</mat-icon>
            </button>    
            <button class="app-action" (click)="fitToScreen()" [matTooltip]="'viewer.tooltip.fitToScreen' | translate" mat-icon-button>
                <mat-icon>crop_square</mat-icon>
            </button>   
            <button class="app-action" (click)="rotateRight()" [matTooltip]="'viewer.tooltip.rotateRight' | translate" mat-icon-button>
                <mat-icon>rotate_right</mat-icon>
            </button>   
            <button *ngIf="fullscreenAvailable && !fullscreenEnabled()" class="app-action" (click)="enterFullscreen()" [matTooltip]="'viewer.tooltip.enterFullscreen' | translate" mat-icon-button>
                <mat-icon>fullscreen</mat-icon>
            </button>   
            <button *ngIf="fullscreenAvailable && fullscreenEnabled()" class="app-action" (click)="exitFullscreen()" [matTooltip]="'viewer.tooltip.exitFullscreen' | translate" mat-icon-button>
                <mat-icon>fullscreen_exit</mat-icon>
            </button>      
        </div>
    </div>  
      
    <div class="app-editor-content">
        <div id="app-viewer" class="app-viewer-wrapper" (resized)="onResized($event)"></div>
    </div>

    <mat-spinner *ngIf="state === 'loading'"
        [strokeWidth]="5" 
        [diameter]="60"
        class="center-spinner">
    </mat-spinner>


</div>

