<div id="app-viewer" class="app-viewer-wrapper" (mousemove)="onMouseMove()">

    <div class="app-view-controls-wrapper" [class.hide-on-inactivity]="hideOnInactivity">
        <div class="app-view-controls">
            <mat-icon (click)="zoomIn()" [matTooltip]="'viewer.tooltip.zoomIn' | translate">zoom_in</mat-icon>
            <mat-icon (click)="zoomOut()" [matTooltip]="'viewer.tooltip.zoomOut' | translate">zoom_out</mat-icon>
            <mat-icon (click)="fitToScreen()" [matTooltip]="'viewer.tooltip.fitToScreen' | translate">crop_square</mat-icon>
            <mat-icon (click)="rotateRight()"[matTooltip]="'viewer.tooltip.rotateRight' | translate">rotate_right</mat-icon>
            <mat-icon *ngIf="fullscreenAvailable && !fullscreenEnabled()" (click)="enterFullscreen()" [matTooltip]="'viewer.tooltip.enterFullscreen' | translate">fullscreen</mat-icon>
            <mat-icon *ngIf="fullscreenAvailable && fullscreenEnabled()" (click)="exitFullscreen()" [matTooltip]="'viewer.tooltip.exitFullscreen' | translate">fullscreen_exit</mat-icon>
        </div>
      </div>
</div>


<mat-spinner *ngIf="state === 'loading'"
          [strokeWidth]="5" 
          [diameter]="60"
          class="center-spinner">
</mat-spinner>