<mat-progress-bar mode="indeterminate" *ngIf="!layout.ready" class="app-progress-bar"></mat-progress-bar>
<div fxLayout="column" fxFlexFill *ngIf="layout.ready">
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/rdflow">{{ 'navbar.workflow' | translate }}</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-h-100">
      <button mat-icon-button [matTooltip]="'navbar.layout' | translate" (click)="showLayoutAdmin()">
        <mat-icon>dashboard</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex class="app-oh app-p-2" fxLayout="column">
    <div class="app-border-wrapper app-h-100">
      <as-split direction="horizontal">
        <as-split-area [size]="40">
          <as-split direction="vertical">
            <as-split-area>
              <div fxLayout="column" fxFlexFill>
                <div class="app-toolbar">
                  <button (click)="getWorkflow()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button mat-button [matMenuTriggerFor]="subjob_menu">{{ "rdflow.create_new_subjob" | translate }}</button>
                  <mat-menu #subjob_menu="matMenu">
                    <button mat-menu-item (click)="createSubJob('a')">prvni</button>
                    <button mat-menu-item (click)="createSubJob('b')">druhy</button>
                  </mat-menu>
                  <button (click)="createJob()" mat-button>{{'rdflow.create_new' | translate }}</button>
                  <button mat-button [matMenuTriggerFor]="object_menu">{{ "rdflow.create_new_object" | translate }}</button>
                  <mat-menu #object_menu="matMenu">
                    <button mat-menu-item (click)="createNewObject('a')">prvni</button>
                    <button mat-menu-item (click)="createNewObject('b')">druhy</button>
                  </mat-menu>
                </div>
                <div class="app-oa-y">
                  <table mat-table [dataSource]="jobs" matSort matSortActive="created" matSortDisableClear matSortDirection="desc" class="app-striped app-hover">
                    <ng-container matColumnDef="taskUsername">
                      <th mat-header-cell *matHeaderCellDef>{{ 'desc.completedTheTask' | translate }}</th>
                      <td mat-cell *matCellDef="let row">{{row.taskUsername}}</td>
                    </ng-container>
                    <ng-container matColumnDef="label">
                      <th mat-header-cell *matHeaderCellDef>{{ 'desc.name' | translate }}</th>
                      <td mat-cell *matCellDef="let row">{{row.label}}</td>
                    </ng-container>   
                    <tr mat-header-row *matHeaderRowDef="workFlowColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: workFlowColumns;" (click)="selectJob(row)"></tr>
                  </table>
                </div>
              </div>            
            </as-split-area>
            <as-split-area>
              <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
                <mat-card *ngIf="subJobs.length === 0" class="app-alert app-info"><mat-icon>info</mat-icon>{{ 'alert.info.noItemsToDisplay' | translate }}</mat-card>
              </div>
              <div class="app-oa-y">
                <table *ngIf="subJobs.length > 0" mat-table [dataSource]="subJobs" matSort matSortActive="created" matSortDisableClear matSortDirection="desc" class="app-striped app-hover">
                  <ng-container matColumnDef="taskUsername">
                    <th mat-header-cell *matHeaderCellDef>{{ 'desc.completedTheTask' | translate }}</th>
                    <td mat-cell *matCellDef="let row">{{row.taskUsername}}</td>
                  </ng-container>
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>{{ 'desc.name' | translate }}</th>
                    <td mat-cell *matCellDef="let row">{{row.label}}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="workFlowColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: workFlowColumns;" (click)="selectJob(row)"></tr>
                </table>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area [size]="60">
          <as-split direction="vertical">
            <as-split-area [size]="30">
              <div fxLayout="column" fxFlexFill>
                <div class="app-toolbar" >
                  <button (click)="getDetail()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                  <button (click)="saveDetail()" mat-button>{{'common.save' | translate }}</button>
                </div>
                <div class="app-oa-y app-p-2">
                  <ng-container *ngIf="selectedJob">
                    <mat-form-field class="app-w-100">
                      <input autocomplete="off" matInput [placeholder]="'rdflow.label' | translate" [(ngModel)]="selectedJob.label">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <mat-form-field fxFlex>
                        <mat-select [(ngModel)]="selectedJob.state" [placeholder]="'rdflow.scanner' | translate">
                          <mat-option *ngFor="let o of states" [value]="o.code">{{o.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <mat-select [(ngModel)]="selectedJob.priority" [placeholder]="'rdflow.scanner' | translate">
                          <mat-option *ngFor="let o of priorities" [value]="o.code">{{o.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <input autocomplete="off" matInput [placeholder]="'rdflow.profileName' | translate" [(ngModel)]="selectedJob.profileName" readonly>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <mat-form-field fxFlex>
                        <input autocomplete="off" matInput [placeholder]="'rdflow.ownerId' | translate" [(ngModel)]="selectedJob.ownerId" readonly>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <input autocomplete="off" matInput [placeholder]="'rdflow.financed' | translate" [(ngModel)]="selectedJob.financed">
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <input autocomplete="off" matInput [placeholder]="'rdflow.id' | translate" [(ngModel)]="selectedJob.id" readonly>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <mat-form-field fxFlex>
                        <input matInput [placeholder]="'rdflow.created' | translate" [value]="selectedJob.created | date : 'dd.MM.yyyy HH:mm'" readonly>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <input autocomplete="off" matInput [placeholder]="'rdflow.modified' | translate" [value]="selectedJob.modified | date : 'dd.MM.yyyy HH:mm'" readonly>
                      </mat-form-field>
                    </div>
                  </ng-container>
                </div>
              </div>
            </as-split-area>
            <as-split-area [size]="40">
              <!-- Tasks list -->
              
              <div class="app-detail" *ngIf="selectedProfile">
    
                <table mat-table [dataSource]="tasks" class="example-table"
                    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                    
                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef>Ukol</th>
                  <td mat-cell *matCellDef="let row">{{row.profileLabel}}</td>
                </ng-container>
                
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef>Uzivatel</th>
                  <td mat-cell *matCellDef="let row">{{row.ownerName}}</td>
                </ng-container>
                
                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef>Stav</th>
                  <td mat-cell *matCellDef="let row">{{row.state}}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: taskColumns;" (dblclick)="openTask(row.id)"></tr>
              </table>
    
    
              </div>
            </as-split-area>
            <as-split-area >
              <div class="app-detail" *ngIf="material">
                <!-- <ul>
                  <li *ngFor="let m of material">
                    {{ m.profileLabel }}
                  </li>
                </ul> -->
    
                <mat-card *ngFor="let m of material">
                  <div>
                    <button mat-button (click)="m.details = !m.details">{{m.details ? '-' : '+'}}</button><span>{{ m.profileLabel }}</span><span>{{m.ownerName}}</span><span>{{m.state}}</span>
                  </div>
                  <ng-container *ngIf="m.details">
                  
                  <app-material-edit [material]="m"></app-material-edit>
    
                </ng-container>
                </mat-card>
    
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>

  