<mat-progress-bar mode="indeterminate" *ngIf="!layout.ready" class="app-progress-bar"></mat-progress-bar>
<div fxLayout="column" fxFlexFill *ngIf="layout.ready">
  <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <a routerLink="/rdflow">{{ 'navbar.workflow' | translate }}</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="app-h-100">
      <button mat-icon-button [matTooltip]="'navbar.layout' | translate" (click)="showLayoutAdmin()">
        <mat-icon>dashboard</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex class="app-oh app-p-4" fxLayout="column">
    <div class="app-border-wrapper app-h-100">
      <as-split direction="horizontal">
        <as-split-area [size]="40">
          <as-split direction="vertical">
            <as-split-area>
              <!-- List of workflow items -->
              <div class="app-toolbar-old" >
                <button (click)="getWorkflow()" mat-button>{{'common.refresh' | translate }}</button>
                <button (click)="createWorkflow()" mat-button>{{'workflow.create_new' | translate }}</button>
              </div>
    
              <table mat-table [dataSource]="jobs"
                    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                    
                <ng-container matColumnDef="taskUsername">
                  <th mat-header-cell *matHeaderCellDef>taskUsername</th>
                  <td mat-cell *matCellDef="let row">{{row.taskUsername}}</td>
                </ng-container>
    
                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef>Label</th>
                  <td mat-cell *matCellDef="let row">{{row.label}}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="workFlowColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: workFlowColumns;" (click)="selectJob(row)"></tr>
              </table>
    
    
            </as-split-area>
            <as-split-area>
              <span *ngIf="subJobs.length === 0">Žádné položky k zobrazení</span>
              <table *ngIf="subJobs.length > 0" mat-table [dataSource]="subJobs"
                    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                    
                <ng-container matColumnDef="taskUsername">
                  <th mat-header-cell *matHeaderCellDef>taskUsername</th>
                  <td mat-cell *matCellDef="let row">{{row.taskUsername}}</td>
                </ng-container>
    
                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef>Label</th>
                  <td mat-cell *matCellDef="let row">{{row.label}}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="workFlowColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: workFlowColumns;" (click)="selectJob(row)"></tr>
              </table>

            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area [size]="60">
          <as-split direction="vertical">
            <as-split-area [size]="30">
              <!-- Detail of selected item -->
              <div class="app-toolbar-old" >
                <button (click)="getDetail()" mat-button>{{'common.refresh' | translate }}</button>
                <button (click)="saveDetail()" mat-button>{{'common.save' | translate }}</button>
              </div>
              <div class="app-detail" *ngIf="selectedJob">
                <div>
                  <mat-form-field>
                    <input autocomplete="off" matInput [placeholder]="'workflow.label' | translate"
                      [(ngModel)]="selectedJob.label">
                  </mat-form-field>
                </div>
    
                <div>
                  <mat-form-field>
                  <mat-select [(ngModel)]="selectedJob.state" [placeholder]="'workflow.scanner' | translate">
                    <mat-option *ngFor="let o of states" [value]="o.code">{{o.value}}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  
                  <mat-form-field>
                  <mat-select [(ngModel)]="selectedJob.priority" [placeholder]="'workflow.scanner' | translate">
                    <mat-option *ngFor="let o of priorities" [value]="o.code">{{o.value}}</mat-option>
                  </mat-select>
                  </mat-form-field>
    
                  <mat-form-field>
                    <input autocomplete="off" matInput [placeholder]="'workflow.profileName' | translate"
                      [(ngModel)]="selectedJob.profileName" readonly>
                  </mat-form-field>
    
                </div>
    
                <div>
    
                  <mat-form-field>
                    <input autocomplete="off" matInput [placeholder]="'workflow.ownerId' | translate"
                      [(ngModel)]="selectedJob.ownerId" readonly>
                  </mat-form-field>
    
                  <mat-form-field>
                    <input autocomplete="off" matInput [placeholder]="'workflow.financed' | translate"
                      [(ngModel)]="selectedJob.financed">
                  </mat-form-field>
    
                  <mat-form-field>
                    <input autocomplete="off" matInput [placeholder]="'workflow.id' | translate"
                      [(ngModel)]="selectedJob.id" readonly>
                  </mat-form-field>
    
                </div>
    
                <div>
    
                  <mat-form-field>
                    <input matInput [placeholder]="'workflow.created' | translate" 
                      [value]="selectedJob.created | date : 'dd.MM.yyyy HH:mm'" readonly>
                  </mat-form-field>
    
                  <mat-form-field>
                    <input autocomplete="off" matInput [placeholder]="'workflow.modified' | translate"
                      [value]="selectedJob.modified | date : 'dd.MM.yyyy HH:mm'" readonly>
                  </mat-form-field>
                </div>
              </div>
    
    
            </as-split-area>
            <as-split-area [size]="40">
              <!-- Tasks list -->
              
              <div class="app-detail" *ngIf="selectedProfile">
    
                <table mat-table [dataSource]="tasks" class="example-table"
                    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                    
                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef>Ukol</th>
                  <td mat-cell *matCellDef="let row">{{row.profileLabel}}</td>
                </ng-container>
                
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef>Uzivatel</th>
                  <td mat-cell *matCellDef="let row">{{row.ownerName}}</td>
                </ng-container>
                
                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef>Stav</th>
                  <td mat-cell *matCellDef="let row">{{row.state}}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: taskColumns;" (dblclick)="openTask(row.id)"></tr>
              </table>
    
    
              </div>
            </as-split-area>
            <as-split-area >
              <div class="app-detail" *ngIf="material">
                <!-- <ul>
                  <li *ngFor="let m of material">
                    {{ m.profileLabel }}
                  </li>
                </ul> -->
    
                <mat-card *ngFor="let m of material">
                  <div>
                    <button (click)="m.details = !m.details">{{m.details ? '-' : '+'}}</button><span>{{ m.profileLabel }}</span><span>{{m.ownerName}}</span><span>{{m.state}}</span>
                  </div>
                  <ng-container *ngIf="m.details">
                  
                  <app-material-edit [material]="m"></app-material-edit>
    
                </ng-container>
                </mat-card>
    
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>

  