<button (click)="onExport(true)" mat-button>{{ 'button.export' | translate }}</button>
<button (click)="onUrnnbn(true)" mat-button>URN:NBN</button>
<button (click)="onDeleteItem()" *ngIf="!forTree()" mat-button>{{ 'button.delete' | translate }}</button>
<button (click)="onDeleteFromTree()" *ngIf="forTree()" mat-button>{{ 'button.delete' | translate }}</button>
<button (click)="onCopyItem(selectedTreeItem())" *ngIf="canCopy(selectedTreeItem())" [disabled]="totalSelectedTree() > 1" mat-button>{{ 'button.copy' | translate }}</button>
<button (click)="onLock(true)" *ngIf="!selectedItem()?.isLocked && (auth.user.lockObjectFunction || auth.isSuperAdmin())" [disabled]="totalSelected() > 1" mat-button>{{ 'button.lockIt' | translate }}</button>
<button (click)="onLock(false)" *ngIf="selectedItem()?.isLocked && (auth.user.unlockObjectFunction || auth.isSuperAdmin())" [disabled]="totalSelected() > 1" mat-button>{{ 'button.unlock' | translate }}</button>
<button (click)="onRestore()" *ngIf="selectedItem()?.state === 'fedora-system:def/model#Deleted' || selectedItem()?.state === 'Deactive'" [disabled]="totalSelected() > 1" mat-button>{{ 'button.restoreTheObject' | translate }}</button>
<button [disabled]="totalSelected() > 1" mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menuMore="matMenu">
	<button mat-menu-item (click)="showFoxml()">FOXML</button>
	<button mat-menu-item *ngIf="canChangeModel()" (click)="changeModel()">{{ 'button.conversionsOfModels' | translate }}</button>
	<button mat-menu-item (click)="updateObjects()">{{ 'button.updateAllObjects' | translate }}</button>
	<button mat-menu-item (click)="reindex()" *ngIf="isAkubra && auth.isSuperAdmin()">{{ 'button.toIndex' | translate }}</button>
	<button mat-menu-item (click)="showConvertDialog()" *ngIf="auth.user.changeModelFunction || auth.isSuperAdmin()">{{ 'button.convertPages' | translate }}</button>
	<button mat-menu-item (click)="czidlo()" *ngIf="auth.user.czidloFunction || auth.isSuperAdmin()">{{ 'button.czidloFunction' | translate }}</button>
	<button mat-menu-item (click)="updateInSource()" *ngIf="config.updateInSource && (auth.user.importToCatalogFunction || auth.isSuperAdmin()) && canUpdateInSource()">{{ 'button.updateInSource' | translate }}</button>
	<button mat-menu-item (click)="validateObject()">{{ 'button.validateObject' | translate }}</button>
</mat-menu> 