<button (click)="onExport()" [disabled]="!canExport()" mat-button>{{ 'button.export' | translate }}</button>
<button (click)="onUrnnbn(true)" mat-button>URN:NBN</button>
@if (!forTree()) {
  <button (click)="onDeleteItem()" mat-button>{{ 'button.delete' | translate }}</button>
}
@if (forTree()) {
  <button (click)="onDeleteFromTree()" mat-button>{{ 'button.delete' | translate }}</button>
}
@if (canCopy(selectedTreeItem())) {
  <button (click)="onCopyItem(selectedTreeItem())" [disabled]="totalSelectedTree() > 1" mat-button>{{ 'button.copy' | translate }}</button>
}
@if (!selectedItem()?.isLocked && (auth.user.lockObjectFunction)) {
  <button (click)="onLock(true)" [disabled]="totalSelected() > 1" mat-button>{{ 'button.lockIt' | translate }}</button>
}
@if (selectedItem()?.isLocked && (auth.user.unlockObjectFunction)) {
  <button (click)="onLock(false)" [disabled]="totalSelected() > 1" mat-button>{{ 'button.unlock' | translate }}</button>
}
@if (selectedItem()?.state === 'fedora-system:def/model#Deleted' || selectedItem()?.state === 'Deactive') {
  <button (click)="onRestore()" [disabled]="totalSelected() > 1" mat-button>{{ 'button.restoreTheObject' | translate }}</button>
}
<button [disabled]="totalSelected() > 1" mat-icon-button [matMenuTriggerFor]="menuMore" [matTooltip]="'button.more' | translate"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menuMore="matMenu">
  <button mat-menu-item (click)="showFoxml()">FOXML</button>
  @if (canChangeModel()) {
    <button mat-menu-item (click)="changeModel()">{{ 'button.conversionsOfModels' | translate }}</button>
  }
  <button mat-menu-item (click)="updateObjects()">{{ 'button.updateAllObjects' | translate }}</button>

  @if (auth.user.changePagesFunction) {
    <button mat-menu-item (click)="showConvertDialog()">{{ 'button.convertPages' | translate }}</button>
  }
  @if (auth.user.czidloFunction) {
    <button mat-menu-item (click)="czidlo()">{{ 'button.czidloFunction' | translate }}</button>
  }
  @if (config.updateInSource && (auth.user.importToCatalogFunction) && canUpdateInSource()) {
    <button mat-menu-item (click)="updateInSource()">{{ 'button.updateInSource' | translate }}</button>
  }
  <button mat-menu-item (click)="validateObject()">{{ 'button.validateObject' | translate }}</button>
</mat-menu>
