<app-editor-field [field]="field">
  <ng-template let-item="item" #templateContent>
    <app-field-dropdown field="type" [item]="item" [(value)]='item.attrs["type"]'></app-field-dropdown>

    <app-editor-field *ngIf="item.available['detail']" [field]="item.details" [nested]='true'>
      <ng-template let-detail="item" #templateContent>
        <app-field-text field="type" [item]="detail" [(value)]='detail.attrs["type"]'></app-field-text>
        <app-field-text field="level" [item]="detail" [(value)]='detail.attrs["level"]'></app-field-text>
        <app-field-text field="number" [item]="detail" [(value)]="detail.number['_']"></app-field-text>
        <app-field-text field="caption" [item]="detail" [(value)]="detail.caption['_']"></app-field-text>
      </ng-template>
    </app-editor-field>

    <app-editor-field *ngIf="item.available['extent']" [field]="item.extents" [nested]='true'>
      <ng-template let-extent="item" #templateContent>
        <app-field-text field="start" [item]="extent" [(value)]="extent.start['_']"></app-field-text>
        <app-field-text field="end" [item]="extent" [(value)]="extent.end['_']"></app-field-text>
      </ng-template>
    </app-editor-field>


  </ng-template>
</app-editor-field>
