<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" class="app-toolbar app-view-action">
    <div fxFlex>
      <button mat-icon-button (click)="layout.setShouldRefresh(false)" [matTooltip]="'history.refresh' | translate" >
        <mat-icon>sync</mat-icon>
      </button>
      <button mat-icon-button [class.app-active]="viewMode === 'list'" (click)="changeViewMode('list')" [matTooltip]="'editor.children.view_list' | translate" >
        <mat-icon>format_align_justify</mat-icon>
      </button>
      <button mat-icon-button [class.app-active]="viewMode === 'grid'" (click)="changeViewMode('grid')" [matTooltip]="'editor.children.view_grid' | translate" >
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button *ngIf="pageChildren" [class.app-active]="viewMode === 'icons'" (click)="changeViewMode('icons')" [matTooltip]="'editor.children.view_icons' | translate" >
        <mat-icon>image</mat-icon>
      </button>
      <button mat-icon-button [class.app-active]="shortLabels" (click)="switchUseShortLabel()" [matTooltip]="'editor.children.short_labels_' + (shortLabels ? 'on' : 'off') | translate" >
        <mat-icon>short_text</mat-icon>
      </button>
      <button mat-icon-button (click)="selectAll()" [matTooltip]="'editor.children.select_all' | translate" >
        <mat-icon>check_box</mat-icon>
      </button>
      <button mat-icon-button  (click)="validateChildren()" [matTooltip]="'editor.children.validate' | translate" >
        <mat-icon>fact_check</mat-icon>
      </button>
      <button mat-icon-button *ngIf="pageChildren" (click)="onReindexChildren()" [matTooltip]="'editor.children.reindex' | translate" >
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <button mat-icon-button *ngIf="auth.user.changeModelFunction || auth.isSuperAdmin()" (click)="showConvertDialog()" [matTooltip]="'editor.children.convertPages' | translate" >
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!isRepo" (click)="markSequence()" [matTooltip]="'editor.children.markSequence' | translate" >
        <mat-icon>dynamic_feed</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button *ngIf="isRepo && canAddChildren()" (click)="onCreateNewObject()" [matTooltip]="'editor.children.add_new' | translate" >
        <mat-icon>add</mat-icon>
      </button>        
      <button mat-icon-button (click)="onMove()" [matTooltip]="'editor.children.move' | translate" >
        <mat-icon>reply</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isRepo" (click)="onRelocateOutside()" [matTooltip]="'editor.children.relocate_label' | translate" >
        <mat-icon>forward</mat-icon>
      </button>
      <ng-container *ngIf="viewMode === 'list'">
        <button mat-icon-button [matMenuTriggerFor]="columns_menu" [matTooltip]="'editor.children.select_columns' | translate" >
          <mat-icon>rule</mat-icon>
        </button>
        <mat-menu #columns_menu="matMenu">
          <div *ngFor="let column of selectedColumns" mat-menu-item>
            <mat-checkbox name="column.field" [(ngModel)]="column.selected" (change)="setSelectedColumns()">{{ 'search.' + column.field | translate }}</mat-checkbox>
          </div>
        </mat-menu>
      </ng-container>
      <button mat-icon-button (click)="onDelete()" [matTooltip]="'editor.children.delete' | translate" >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onSave()" [disabled]="!hasChanges" [matTooltip]="'button.save' | translate" >
        <mat-icon>save</mat-icon>
      </button>  
      <button *ngIf="!isRepo" mat-flat-button color="primary" (click)="ingest()">{{ 'button.continue' | translate }}</button>
    </div>

    <div *ngIf="isRepo">
      <button matTooltip="{{ 'editor.toolbar.nav_prev' | translate }}" (click)="goToPrevious()" [disabled]="!layout.previousItem" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button matTooltip="{{ 'editor.toolbar.nav_up' | translate }}" (click)="goToParent()" [disabled]="!layout.parent" mat-icon-button>
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button matTooltip="{{ 'editor.toolbar.nav_next' | translate }}" (click)="goToNext()" [disabled]="!layout.nextItem" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    
  </div>

  <div fxFlex class="app-oa-y">
    <mat-progress-bar mode="indeterminate" *ngIf="state ==='loading'" class="app-progress-bar"></mat-progress-bar>
    <div class="app-editor-content" #childrenWrapper tabindex="0" (keyup)="keyup($event)" (resized)="onResized($event)" *ngIf="state !=='loading'">
      <div class="app-view-grid" *ngIf="viewMode == 'grid'" #childrenGridList (mousedown)="mousedown($event)"  (mouseup)="mouseup($event)" fxLayout="row wrap">
        <div *ngFor="let item of layout.items; let i = index" (click)="rowClick(item, i, $event)" (dblclick)="open(item)" class="app-item-wrapper" draggable="true" (dragenter)="dragenter($event)" (dragstart)="dragstart(item,i,$event)" (dragover)="dragover($event)" (dragend)="dragend($event)" (mousedown)="mousedown($event)" [class.app-selected]="item.selected" [title]="item.label + ' (' + ('model.' + item.model | translate) + ')'" [fxFlex]="iconWidth + '%'">
          <div class="app-item">
            <div class="app-item-label">
              <mat-icon *ngIf="item.invalid">warning</mat-icon>
              {{ shortLabels ? item.shortLabel : item.label }}<br />
              ({{ (item.pageType ? "page_type." + item.pageType : "model." + item.model) | translate }})
            </div>
          </div>
        </div>
      </div>

      <div class="app-view-icon" *ngIf="viewMode == 'icons'" #childrenIconList [class.app-multiple-selection]="layout.getNumOfSelected() > 1" (mousedown)="mousedown($event)" (mouseup)="mouseup($event)" fxLayout="row wrap">
        <div *ngFor="let item of layout.items; let i = index" class="app-item-wrapper" (click)="rowClick(item, i, $event)" (dblclick)="open(item)" draggable="true" (dragenter)="dragenter($event)" (dragstart)="dragstart(item, i, $event)" (dragend)="dragend($event)" (dragover)="dragover($event)" (mousedown)="mousedown($event)" [class.app-selected]="item.selected" [fxFlex]="iconWidth + '%'"><!--[style.height]="iconHeight + 'px'"-->
          <div class="app-item">
            <div class="app-item-thumb" [style.backgroundImage]="'url(' + thumb(item.pid) + ')'" [style.height]="iconHeight + 'px'"></div>
            <div class="app-item-label" *ngIf="isRepo">
              <mat-icon *ngIf="item.invalid">warning</mat-icon>
              {{ shortLabels ? item.shortLabel : item.label }}<br />
              ({{ (item.pageType ? "page_type." + item.pageType : "model." + item.model) | translate }})
            </div>
            <div class="app-item-label" *ngIf="!isRepo">
              <mat-icon *ngIf="item.invalid">warning</mat-icon>
              {{ item.label + (shortLabels ? "" : (", " + ("page_type." + item.pageType | translate))) }}
            </div>
          </div>
        </div>
      </div>

      <table mat-table *ngIf="viewMode == 'list'" [dataSource]="layout.items" class="app-w-100" #table>

        <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef>{{'search.pid' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
        </ng-container>

        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> {{'search.name' | translate}}</th>
          <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.invalid">warning</mat-icon>{{shortLabels ? element.shortLabel : element.label}} </td>
        </ng-container>

        <ng-container matColumnDef="pageType">
          <th mat-header-cell *matHeaderCellDef> {{'search.pageType' | translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.pageType}} </td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> {{'search.model' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{ 'model.' + element.model | translate}} </td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef> {{'search.owner' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef> {{'search.created' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.created | date : 'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef> {{'search.modified' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.modified | date : 'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> {{'search.status' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let idx = index; columns: displayedColumns" [class.app-selected]="row.selected" 
            (click)="rowClick(row, idx, $event)"  (dblclick)="open(row)"  (mousedown)="mousedown($event)" (mouseup)="mouseup($event)"
            draggable="true" (dragenter)="dragenter($event)" (dragstart)="dragstart(row, idx, $event)" (dragover)="dragover($event)"
            (dragend)="dragend($event)"
            ></tr>
      </table>
    </div>
  </div>
</div>