<div class="app-editor-content-wrapper" (click)="obtainFocus()">

<div class="app-editor-toolbar">

  <button class="app-action" 
    matTooltip="{{ 'history.refresh' | translate }}" (click)="layout.setShouldRefresh()" mat-icon-button>
    <mat-icon>sync</mat-icon>
  </button>

  <div class="app-divider"></div>

  <button class="app-action" [class.app-inactive]="viewMode != 'list'"
    matTooltip="{{ 'editor.children.view_list' | translate }}" (click)="changeViewMode('list')" mat-icon-button>
    <mat-icon>format_align_justify</mat-icon>
  </button>

  <button class="app-action" [class.app-inactive]="viewMode != 'grid'"
    matTooltip="{{ 'editor.children.view_grid' | translate }}" (click)="changeViewMode('grid')" mat-icon-button>
    <mat-icon>apps</mat-icon>
  </button>

  <button *ngIf="pageChildren" class="app-action" [class.app-inactive]="viewMode != 'icons'"
    matTooltip="{{ 'editor.children.view_icons' | translate }}" (click)="changeViewMode('icons')" mat-icon-button>
    <mat-icon>image</mat-icon>
  </button>

  <div class="app-divider"></div>

  <button class="app-action" [class.app-inactive]="!shortLabels"
    matTooltip="{{ 'editor.children.short_labels_' + (shortLabels ? 'on' : 'off') | translate }}"
    (click)="switchUseShortLabel()" mat-icon-button>
    <mat-icon>short_text</mat-icon>
  </button>
  <div class="app-divider"></div>

  <button class="app-action" matTooltip="{{ 'editor.children.select_all' | translate }}"
    (click)="repo.selectAll()" mat-icon-button>
    <mat-icon>check_box</mat-icon>
  </button>
  <div class="app-divider"></div>
  <button class="app-action" *ngIf="pageChildren" matTooltip="{{ 'editor.children.validate' | translate }}" (click)="validateChildren()"
    mat-icon-button>
    <mat-icon>fact_check</mat-icon>
  </button>
  <button class="app-action" *ngIf="pageChildren" matTooltip="{{ 'editor.children.reindex' | translate }}" (click)="onReindexChildren()"
    mat-icon-button>
    <mat-icon>format_list_numbered</mat-icon>
  </button>
  <button class="app-action" matTooltip="{{ 'editor.children.convertPages' | translate }}" *ngIf="auth.user.changeModelFunction || auth.isSuperAdmin()" (click)="showConvertDialog()" mat-icon-button>
    <mat-icon>swap_horiz</mat-icon>
  </button>

  <div class="app-actions-right">
    <ng-container *ngIf="isRepo">
      <button class="app-action" matTooltip="{{ 'editor.children.add_new' | translate }}" *ngIf="canAddChildren()"
        (click)="onCreateNewObject()" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <div class="app-divider"></div>
    </ng-container>
    
      <button class="app-action" matTooltip="{{ 'editor.children.move' | translate }}"
        (click)="onMove()" mat-icon-button>
        <mat-icon>reply</mat-icon>
      </button>
      <div class="app-divider"></div>
      <button class="app-action" *ngIf="isRepo"
        matTooltip="{{ 'editor.children.relocate_label' | translate }}" (click)="onRelocateOutside()"
        mat-icon-button>
        <mat-icon>forward</mat-icon>
      </button>


    <ng-container *ngIf="viewMode === 'list'">
      <div class="app-divider"></div>
      <button [matMenuTriggerFor]="columns_menu" class="app-action"
        matTooltip="{{ 'editor.children.select_columns' | translate }}"  mat-icon-button>
        <mat-icon>rule</mat-icon>
      </button>

      <mat-menu #columns_menu="matMenu">
        <div *ngFor="let column of selectedColumns" mat-menu-item>
          <mat-checkbox name="column.field" [(ngModel)]="column.selected" (change)="setSelectedColumns()">{{
            'search.' + column.field | translate }}</mat-checkbox>
        </div>
      </mat-menu>
    </ng-container>

    <div class="app-divider"></div>
    <button class="app-action" matTooltip="{{ 'editor.children.delete' | translate }}" (click)="onDelete()"
      mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <div class="app-divider"></div>
    <button class="app-action" [class.app-disabled]="!hasChanges" matTooltip="{{ 'common.save' | translate }}"
      (click)="onSave()" mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>

  </div>

</div>

<div class="app-editor-content app-children-editor-content" #childrenWrapper tabindex="0" (keyup)="keyup($event)"
    (resized)="onResized($event)">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>

  <ng-container matColumnDef="pid">
    <th mat-header-cell *matHeaderCellDef>{{'search.pid' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef> {{'search.name' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> {{'search.model' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{ 'model.' + element.model | translate}} </td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef> {{'search.owner' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> {{'search.created' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.created | date : 'dd.MM.yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="modified">
    <th mat-header-cell *matHeaderCellDef> {{'search.modified' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.modified | date : 'dd.MM.yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> {{'search.status' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let idx = index; columns: displayedColumns" [class.selected]="row.selected" 
      (click)="rowClick(row, idx, $event)"  (dblclick)="open(row)"
      draggable="true" (dragenter)="dragenter($event)" (dragstart)="dragstart(row, idx, $event)" (dragover)="dragover($event)"
      (dragend)="dragend($event)"
      ></tr>
</table>

</div>
</div>