<mat-progress-bar mode="indeterminate" *ngIf="!layout.ready" class="app-progress-bar"></mat-progress-bar>
<div fxLayout="column" fxFlexFill *ngIf="layout.ready">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbsbar">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="app-breadcrumbs">
            <a routerLink="/"><mat-icon>home</mat-icon></a>
            <span class="app-separator">/</span>
            <a routerLink="/rdflow">{{ 'navbar.workflow' | translate }}</a>
            <span class="app-separator">/</span>
            <span class="app-last">{{ 'desc.task' | translate }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="app-h-100">
            <!-- <button mat-icon-button [matTooltip]="'navbar.layout' | translate" (click)="showLayoutAdmin()">
        <mat-icon>dashboard</mat-icon>
      </button> -->
        </div>
    </div>
    <div fxFlex class="app-oh app-p-4" fxLayout="column">
        <div class="app-border-wrapper app-h-100">
            <as-split direction="horizontal">
                <as-split-area [size]="40">
                    <div fxLayout="column" fxFlexFill>
                        <div class="app-toolbar" *ngIf="!id">
                          <button (click)="getTasks()" mat-icon-button [matTooltip]="'button.refresh' | translate"><mat-icon>sync</mat-icon></button>
                        </div>
                        <div class="app-oa-y">
                          <table mat-table [dataSource]="tasks" class="app-striped app-hover" matSort 
                          [matSortActive]="tasksSortField" [matSortDirection]="tasksSortDir" (matSortChange)="sortTasksTable($event)">
                          
                            <ng-container matColumnDef="profileLabel-filter">
                              <th mat-header-cell *matHeaderCellDef>
                                    <mat-select [(ngModel)]="profileNameFilter" (ngModelChange)="filter('profileNameFilter', profileNameFilter)">
                                        <mat-option [value]="''"> </mat-option>
                                        <mat-option *ngFor="let s of profileNames" [value]="s.title">{{ s.title }}</mat-option>
                                      </mat-select> 
                                <!-- <input type="text" id="profileLabelFilter" [(ngModel)]="profileLabelFilter" (change)="filter('profileLabel', profileLabelFilter)" /> -->
                              </th>
                            </ng-container>   
                            <ng-container matColumnDef="profileLabel">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'rdflow.task' | translate }}</th>
                              <td mat-cell *matCellDef="let row">{{row.profileLabel}}</td>
                            </ng-container>   
                          
                            <ng-container matColumnDef="state-filter">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-select [(ngModel)]="stateFilter" (ngModelChange)="filter('stateFilter', stateFilter)">
                                        <mat-option [value]="''"> </mat-option>
                                        <mat-option *ngFor="let s of states" [value]="s">{{ s }}</mat-option>
                                      </mat-select> 
                                  <!-- <input type="text" id="stateFilter" [(ngModel)]="profileLabelFilter" (change)="filter('state', profileLabelFilter)" /> -->
                                </th>
                              </ng-container>   
                            <ng-container matColumnDef="state">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.state' | translate }}</th>
                              <td mat-cell *matCellDef="let row">{{row.state}}</td>
                            </ng-container>
                          
                            <ng-container matColumnDef="ownerName-filter">
                              <th mat-header-cell *matHeaderCellDef>
                                <mat-select [(ngModel)]="ownerNameFilter" (ngModelChange)="filter('ownerNameFilter', ownerNameFilter)">
                                    <mat-option [value]="''"> </mat-option>
                                    <mat-option *ngFor="let s of users" [value]="s.name">{{ s.name }}</mat-option>
                                  </mat-select> 
                                <!-- <input type="text" id="ownerNameFilter" [(ngModel)]="ownerNameFilter" (change)="filter('ownerName', ownerNameFilter)" /> -->
                              </th>
                            </ng-container>   
                            <ng-container matColumnDef="ownerName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.user' | translate }}</th>
                              <td mat-cell *matCellDef="let row">{{row.ownerName}}</td>
                            </ng-container>
                          
                            <ng-container matColumnDef="barcode-filter">
                              <th mat-header-cell *matHeaderCellDef>
                                <input type="text" id="barcodeFilter" [(ngModel)]="barcodeFilter" (change)="filter('barcode', barcodeFilter)" />
                              </th>
                            </ng-container>   
                            <ng-container matColumnDef="barcode">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.barcode' | translate }}</th>
                              <td mat-cell *matCellDef="let row">{{row.barcode}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="filterTasksColumns; sticky: true"></tr>
                            <tr mat-header-row *matHeaderRowDef="tasksColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: tasksColumns;" (click)="selectTask(row)"></tr>
                          </table>
                        </div>
                      </div>  


                </as-split-area>
                <as-split-area [size]="60">

                    <as-split direction="vertical">
                        <as-split-area>
                            <div class="app-toolbar-old" *ngIf="task">
                                <button (click)="getTask(task.id)" mat-button>{{'common.refresh' | translate }}</button>
                                <button [routerLink]="['../jobs', task.jobId]" mat-button>{{'workflow.job' | translate }}</button>
                                <button (click)="saveTask()" mat-button>{{'common.save' | translate }}</button>
                            </div>
                            <div class="app-detail" *ngIf="task">
                                <h3>{{ task.jobLabel }}</h3>
                                <div>
                                    <mat-form-field>
                                        <mat-label>{{ 'rdflow.label' | translate }}</mat-label>
                                        <input autocomplete="off" matInput [title]="task.profileHint"
                                            [(ngModel)]="task.profileLabel">
                                    </mat-form-field>
                                </div>
                                <!-- <div>
                                    <mat-form-field>
                                        <mat-label>{{ 'rdflow.scanner' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="scanner" [placeholder]="'rdflow.scanner' | translate">
                                            <mat-option *ngFor="let o of scanners"
                                                [value]="o.code">{{o.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>{{ 'rdflow.imageColor' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="imageColor"
                                            [placeholder]="'rdflow.imageColor' | translate">
                                            <mat-option *ngFor="let o of imageColors"
                                                [value]="o.code">{{o.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>{{ 'rdflow.dpi' | translate }}</mat-label>
                                        <mat-select [(ngModel)]="dpi" [placeholder]="'rdflow.dpi' | translate">
                                            <mat-option *ngFor="let o of dpis" [value]="o.code">{{o.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                                <div>
                                    <ng-container *ngFor="let param of parameters">
                                        <ng-container [ngSwitch]="param.displayType">
                                            
                                            <mat-form-field *ngSwitchCase="'TEXT'">
                                                <mat-label>{{ param.profileLabel }}</mat-label>
                                                <input matInput  [(ngModel)]="param.value">
                                            </mat-form-field>

                                            <mat-checkbox *ngSwitchCase="'CHECKBOX'" color="primary"
                                                [(ngModel)]="param.value">{{ param.profileHint}}</mat-checkbox>

                                            <mat-form-field *ngSwitchCase="'COMBOBOX'">
                                                <mat-label>{{ param.profileLabel }}</mat-label>
                                                <mat-select [(ngModel)]="param.value"
                                                    [placeholder]="param.profileLabel">
                                                    <mat-option *ngFor="let o of getValueMap(param.valueMapId)"
                                                        [value]="o.code">{{o.value}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <span *ngSwitchDefault>{{param.displayType}}</span>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </as-split-area>
                        <as-split-area>
                            <div fxLayout="column" fxFlexFill>
                                <div class="app-oa-y">
                                    <table mat-table [dataSource]="material" multiTemplateDataRows
                                        class="app-expanded app-hover">
                                        <ng-container matColumnDef="{{column}}"
                                            *ngFor="let column of materialColumnsToDisplay">
                                            <th mat-header-cell *matHeaderCellDef>{{ 'dynamic.rdFlow.' + column |
                                                translate }}</th>
                                            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="expand">
                                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                            <td mat-cell *matCellDef="let element" class="app-text-right">
                                                <a
                                                    (click)="(materialExpandedElement = materialExpandedElement === element ? null : element); $event.stopPropagation()">
                                                    <mat-icon
                                                        *ngIf="materialExpandedElement !== element">keyboard_arrow_down</mat-icon>
                                                    <mat-icon
                                                        *ngIf="materialExpandedElement === element">keyboard_arrow_up</mat-icon>
                                                </a>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="expandedDetail">
                                            <td mat-cell *matCellDef="let element"
                                                [attr.colspan]="materialColumnsToDisplayWithExpand.length">
                                                <div class="app-detail"
                                                    [@detailExpand]="element == materialExpandedElement ? 'expanded' : 'collapsed'">
                                                    <div class="app-pt-2 app-pb-2">
                                                        <app-material-edit [material]="element"></app-material-edit>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row
                                            *matHeaderRowDef="materialColumnsToDisplayWithExpand; sticky: true"></tr>
                                        <tr mat-row
                                            *matRowDef="let element; columns: materialColumnsToDisplayWithExpand;"
                                            [class.app-row-expanded-parent]="materialExpandedElement === element"
                                            (click)="materialExpandedElement = materialExpandedElement === element ? null : element">
                                        </tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                            class="app-row-detail"
                                            [class.app-row-expanded]="materialExpandedElement === row"></tr>
                                    </table>
                                </div>
                            </div>
                        </as-split-area>
                    </as-split>
                </as-split-area>
            </as-split>
        </div>
    </div>
</div>